Buscar SI y SO corregidos por Outliers para Iniciar la corrección por Disponibilidad

In [1]:
import os
import pandas as pd
from datetime import datetime
import glob
import numpy as np
import locale

locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

usuario = os.path.expanduser('~')
fecha_actual = datetime.now().strftime('%Y-%m')

ruta_base = os.path.join(usuario, 'derco chile repuestos spa', 'Planificación y abastecimiento - Documentos', 'Planificación y Compras Anastasia', 'Carga Historia de Venta')
carpeta_año_mes = glob.glob(os.path.join(ruta_base, f'{fecha_actual}*'))
if carpeta_año_mes:
    ruta_afm = os.path.join(carpeta_año_mes[0], 'AFM')
    ruta_sell_in = os.path.join(ruta_afm, 'SELL IN')
    archivos_sell_in = glob.glob(os.path.join(ruta_sell_in, '*Sell_In*.csv'))
    if archivos_sell_in:
        archivo_sell_in = archivos_sell_in[0]
        df_sell_in = pd.read_csv(archivo_sell_in, delimiter=';', decimal=',')
        
    else:
        print("No se encontró el archivo Sell_In.")

    ruta_sell_out = os.path.join(ruta_afm, 'SELL OUT')
    archivos_sell_out = glob.glob(os.path.join(ruta_sell_out, '*Sell_Out*.csv'))
    if archivos_sell_out:
        archivo_sell_out = archivos_sell_out[0]
        df_sell_out = pd.read_csv(archivo_sell_out, delimiter=';', decimal=',')
      
    else:
        print("No se encontró el archivo Sell_Out.")
else:
    print("No se encontró la carpeta del año y mes actual.")

In [2]:
archivo_sell_out

'C:\\Users\\etorres.DERCOPARTS\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-12 Ciclo Jan-25\\AFM\\SELL OUT\\12.2024 Sell_Out November-24 Corregido.csv'

In [3]:
archivo_sell_in

'C:\\Users\\etorres.DERCOPARTS\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-12 Ciclo Jan-25\\AFM\\SELL IN\\12.2024 Sell_In November-24 Corregido.csv'

In [4]:
ruta_sell_in

'C:\\Users\\etorres.DERCOPARTS\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-12 Ciclo Jan-25\\AFM\\SELL IN'

In [5]:
carpeta_año_mes

['C:\\Users\\etorres.DERCOPARTS\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-12 Ciclo Jan-25']

In [6]:
df_sell_in.columns

Index(['Ultimo Eslabón', 'Canal 3', '01-01-2018', '01-02-2018', '01-03-2018',
       '01-04-2018', '01-05-2018', '01-06-2018', '01-07-2018', '01-08-2018',
       ...
       '01-02-2024.1', '01-03-2024.1', '01-04-2024.1', '01-05-2024.1',
       '01-06-2024.1', '01-07-2024.1', '01-08-2024.1', '01-09-2024.1',
       '01-10-2024.1', '01-11-2024.1'],
      dtype='object', length=189)

In [7]:
df_sell_out.columns

Index(['Ultimo Eslabón', 'Canal 3', '2018-01-01 00:00:00',
       '2018-02-01 00:00:00', '2018-03-01 00:00:00', '2018-04-01 00:00:00',
       '2018-05-01 00:00:00', '2018-06-01 00:00:00', '2018-07-01 00:00:00',
       '2018-08-01 00:00:00',
       ...
       '2024-02-01 00:00:00.1', '2024-03-01 00:00:00.1',
       '2024-04-01 00:00:00.1', '2024-05-01 00:00:00.1',
       '2024-06-01 00:00:00.1', '2024-07-01 00:00:00.1',
       '2024-08-01 00:00:00.1', '2024-09-01 00:00:00.1',
       '2024-10-01 00:00:00.1', '2024-11-01 00:00:00.1'],
      dtype='object', length=189)

In [8]:
columnas_a_eliminar = ['PERCENTIL', 'Clustering', 'ADI', 'CV2', 'MEDIANA', 'PROM_CV2', 
                      'Desv_CV2', 'LIM SUP MED', 'LIM INF FINAL', 'LIM INF ANT', 'LIM INF MEDIANA']

df_sell_in = df_sell_in.drop(columns=columnas_a_eliminar)
df_sell_out = df_sell_out.drop(columns=columnas_a_eliminar)

In [9]:
suma_sell_in = df_sell_in.iloc[:, -2].sum()
suma_sell_out = df_sell_out.iloc[:, -2].sum()
suma_total = suma_sell_in + suma_sell_out
suma_sell_in, suma_sell_out, suma_total

(104987.66666666667, 626479.8333333333, 731467.4999999999)

In [10]:
df_sell_in.dtypes

Ultimo Eslabón      int64
Canal 3            object
01-01-2018        float64
01-02-2018        float64
01-03-2018        float64
                   ...
01-06-2024.1      float64
01-07-2024.1      float64
01-08-2024.1      float64
01-09-2024.1      float64
01-10-2024.1      float64
Length: 176, dtype: object

In [10]:
df_sell_in['SI/SO'] = 'SI'
df_sell_out['SI/SO'] = 'SO'
df_sell_in.shape

(13733, 179)

In [11]:
df_sell_out.shape

(42373, 179)

In [12]:
a = 47548 + 37051
a

84599

In [13]:
columnas = df_sell_out.columns.tolist()
for columna in columnas:
    print(columna)

Ultimo Eslabón
Canal 3
2018-01-01 00:00:00
2018-02-01 00:00:00
2018-03-01 00:00:00
2018-04-01 00:00:00
2018-05-01 00:00:00
2018-06-01 00:00:00
2018-07-01 00:00:00
2018-08-01 00:00:00
2018-09-01 00:00:00
2018-10-01 00:00:00
2018-11-01 00:00:00
2018-12-01 00:00:00
2019-01-01 00:00:00
2019-02-01 00:00:00
2019-03-01 00:00:00
2019-04-01 00:00:00
2019-05-01 00:00:00
2019-06-01 00:00:00
2019-07-01 00:00:00
2019-08-01 00:00:00
2019-09-01 00:00:00
2019-10-01 00:00:00
2019-11-01 00:00:00
2019-12-01 00:00:00
2020-01-01 00:00:00
2020-02-01 00:00:00
2020-03-01 00:00:00
2020-04-01 00:00:00
2020-05-01 00:00:00
2020-06-01 00:00:00
2020-07-01 00:00:00
2020-08-01 00:00:00
2020-09-01 00:00:00
2020-10-01 00:00:00
2020-11-01 00:00:00
2020-12-01 00:00:00
2021-01-01 00:00:00
2021-02-01 00:00:00
2021-03-01 00:00:00
2021-04-01 00:00:00
2021-05-01 00:00:00
2021-06-01 00:00:00
2021-07-01 00:00:00
2021-08-01 00:00:00
2021-09-01 00:00:00
2021-10-01 00:00:00
2021-11-01 00:00:00
2021-12-01 00:00:00
2022-01-01 00:00:00
2022-02-01 00:00:00
2022-03-01 00:00:00
2022-04-01 00:00:00
2022-05-01 00:00:00
2022-06-01 00:00:00
2022-07-01 00:00:00
2022-08-01 00:00:00
2022-09-01 00:00:00
2022-10-01 00:00:00
2022-11-01 00:00:00
2022-12-01 00:00:00
2023-01-01 00:00:00
2023-02-01 00:00:00
2023-03-01 00:00:00
2023-04-01 00:00:00
2023-05-01 00:00:00
2023-06-01 00:00:00
2023-07-01 00:00:00
2023-08-01 00:00:00
2023-09-01 00:00:00
2023-10-01 00:00:00
2023-11-01 00:00:00
2023-12-01 00:00:00
2024-01-01 00:00:00
2024-02-01 00:00:00
2024-03-01 00:00:00
2024-04-01 00:00:00
2024-05-01 00:00:00
2024-06-01 00:00:00
2024-07-01 00:00:00
2024-08-01 00:00:00
2024-09-01 00:00:00
2024-10-01 00:00:00
2024-11-01 00:00:00
Clasificación
PROMEDIO
DESV EST
Z
LIM SUP
LIM INF
FRECUENCIA
Outliers SUP
Outliers INF
Suma Outliers
2018-01-01 00:00:00.1
2018-02-01 00:00:00.1
2018-03-01 00:00:00.1
2018-04-01 00:00:00.1
2018-05-01 00:00:00.1
2018-06-01 00:00:00.1
2018-07-01 00:00:00.1
2018-08-01 00:00:00.1
2018-09-01 00:00:00.1
2018-10-01 00:00:00.1
2018-11-01 00:00:00.1
2018-12-01 00:00:00.1
2019-01-01 00:00:00.1
2019-02-01 00:00:00.1
2019-03-01 00:00:00.1
2019-04-01 00:00:00.1
2019-05-01 00:00:00.1
2019-06-01 00:00:00.1
2019-07-01 00:00:00.1
2019-08-01 00:00:00.1
2019-09-01 00:00:00.1
2019-10-01 00:00:00.1
2019-11-01 00:00:00.1
2019-12-01 00:00:00.1
2020-01-01 00:00:00.1
2020-02-01 00:00:00.1
2020-03-01 00:00:00.1
2020-04-01 00:00:00.1
2020-05-01 00:00:00.1
2020-06-01 00:00:00.1
2020-07-01 00:00:00.1
2020-08-01 00:00:00.1
2020-09-01 00:00:00.1
2020-10-01 00:00:00.1
2020-11-01 00:00:00.1
2020-12-01 00:00:00.1
2021-01-01 00:00:00.1
2021-02-01 00:00:00.1
2021-03-01 00:00:00.1
2021-04-01 00:00:00.1
2021-05-01 00:00:00.1
2021-06-01 00:00:00.1
2021-07-01 00:00:00.1
2021-08-01 00:00:00.1
2021-09-01 00:00:00.1
2021-10-01 00:00:00.1
2021-11-01 00:00:00.1
2021-12-01 00:00:00.1
2022-01-01 00:00:00.1
2022-02-01 00:00:00.1
2022-03-01 00:00:00.1
2022-04-01 00:00:00.1
2022-05-01 00:00:00.1
2022-06-01 00:00:00.1
2022-07-01 00:00:00.1
2022-08-01 00:00:00.1
2022-09-01 00:00:00.1
2022-10-01 00:00:00.1
2022-11-01 00:00:00.1
2022-12-01 00:00:00.1
2023-01-01 00:00:00.1
2023-02-01 00:00:00.1
2023-03-01 00:00:00.1
2023-04-01 00:00:00.1
2023-05-01 00:00:00.1
2023-06-01 00:00:00.1
2023-07-01 00:00:00.1
2023-08-01 00:00:00.1
2023-09-01 00:00:00.1
2023-10-01 00:00:00.1
2023-11-01 00:00:00.1
2023-12-01 00:00:00.1
2024-01-01 00:00:00.1
2024-02-01 00:00:00.1
2024-03-01 00:00:00.1
2024-04-01 00:00:00.1
2024-05-01 00:00:00.1
2024-06-01 00:00:00.1
2024-07-01 00:00:00.1
2024-08-01 00:00:00.1
2024-09-01 00:00:00.1
2024-10-01 00:00:00.1
2024-11-01 00:00:00.1
SI/SO

In [14]:
cols = df_sell_out.columns.tolist()
cols.append(cols.pop(cols.index('Ultimo Eslabón')))
cols.append(cols.pop(cols.index('Canal 3')))
df_sell_out = df_sell_out[cols]
df_sell_out = df_sell_out.loc[:, 'Suma Outliers':]
cols = df_sell_out.columns.tolist()
cols.insert(0, cols.pop(cols.index('Ultimo Eslabón')))
cols.insert(1, cols.pop(cols.index('Canal 3')))
df_sell_out = df_sell_out[cols]
df_sell_out = df_sell_out.drop(columns=['Suma Outliers'])

In [16]:
columnas = df_sell_out.columns.tolist()
columnas[75:85]

['2024-02-01 00:00:00.1',
 '2024-03-01 00:00:00.1',
 '2024-04-01 00:00:00.1',
 '2024-05-01 00:00:00.1',
 '2024-06-01 00:00:00.1',
 '2024-07-01 00:00:00.1',
 '2024-08-01 00:00:00.1',
 '2024-09-01 00:00:00.1',
 '2024-10-01 00:00:00.1',
 '2024-11-01 00:00:00.1']

In [17]:
cols = df_sell_in.columns.tolist()
cols.append(cols.pop(cols.index('Ultimo Eslabón')))
cols.append(cols.pop(cols.index('Canal 3')))
df_sell_in = df_sell_in[cols]
df_sell_in = df_sell_in.loc[:, 'Suma Outliers':]
cols = df_sell_in.columns.tolist()
cols.insert(0, cols.pop(cols.index('Ultimo Eslabón')))
cols.insert(1, cols.pop(cols.index('Canal 3')))
df_sell_in = df_sell_in[cols]
df_sell_in = df_sell_in.drop(columns=['Suma Outliers'])

In [18]:
columnas = df_sell_in.columns.tolist()
columnas[75:79]

['01-02-2024.1', '01-03-2024.1', '01-04-2024.1', '01-05-2024.1']

Juntando SI y SO (pd.concat)

In [19]:
df_sell_in.columns = df_sell_out.columns
df_concat = pd.concat([df_sell_in, df_sell_out])
suma_concat = df_concat.iloc[:, -2].sum()
suma_concat

721529.1646666666

In [20]:
df_concat['ALERTA'] = 'Fin_Correc_Outliers'

In [21]:
df_concat.shape

(56106, 87)

In [22]:
df_concat.shape

(56106, 87)

In [23]:
usuario = os.getlogin()
ruta = r"C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Ventas\Stock Historico Query.xlsx"
df_stock = pd.read_excel(ruta, sheet_name='Stock Query')

In [24]:
x=df_stock['Fecha'].unique()
x

<DatetimeArray>
['2022-03-01 00:00:00', '2022-04-01 00:00:00', '2022-05-01 00:00:00',
 '2022-06-01 00:00:00', '2022-07-01 00:00:00', '2022-08-01 00:00:00',
 '2022-09-01 00:00:00', '2022-10-01 00:00:00', '2022-11-01 00:00:00',
 '2022-12-01 00:00:00', '2023-01-01 00:00:00', '2023-02-01 00:00:00',
 '2023-03-01 00:00:00', '2023-04-01 00:00:00', '2023-05-01 00:00:00',
 '2023-06-01 00:00:00', '2023-07-01 00:00:00', '2023-08-01 00:00:00',
 '2023-09-01 00:00:00', '2023-10-01 00:00:00', '2023-11-01 00:00:00',
 '2023-12-01 00:00:00', '2024-01-01 00:00:00', '2024-02-01 00:00:00',
 '2024-03-01 00:00:00', '2024-04-01 00:00:00', '2024-05-01 00:00:00',
 '2024-06-01 00:00:00', '2024-07-01 00:00:00', '2024-08-01 00:00:00',
 '2024-09-01 00:00:00', '2024-10-01 00:00:00', '2024-11-01 00:00:00']
Length: 33, dtype: datetime64[ns]

SAKANDO EL MES ACTUAL DE STOCK PARA CORREGIR

In [25]:
# # Filtra el DataFrame para excluir las filas de julio de 2024
# df_stock_filtrado = df_stock[~((df_stock['Fecha'].dt.month == 7) & (df_stock['Fecha'].dt.year == 2024))]
# df_stock = df_stock_filtrado
# df_stock

In [26]:
df_stock['Ultimo Eslabón']=df_stock['Ultimo Eslabón'].astype(str)
df_stock.dtypes

Ultimo Eslabón            object
Fecha             datetime64[ns]
Stock                    float64
dtype: object

In [27]:
sumastock=df_stock['Stock'].sum()
sumastock

162724722.6666667

In [28]:
df_stock.columns

Index(['Ultimo Eslabón', 'Fecha', 'Stock'], dtype='object')

In [29]:
df_siso = df_concat 
df_siso['Ultimo Eslabón']=df_siso['Ultimo Eslabón'].astype(str)
df_siso.head(1)

,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00.1,2018-02-01 00:00:00.1,2018-03-01 00:00:00.1,2018-04-01 00:00:00.1,2018-05-01 00:00:00.1,2018-06-01 00:00:00.1,2018-07-01 00:00:00.1,2018-08-01 00:00:00.1,...,2024-04-01 00:00:00.1,2024-05-01 00:00:00.1,2024-06-01 00:00:00.1,2024-07-01 00:00:00.1,2024-08-01 00:00:00.1,2024-09-01 00:00:00.1,2024-10-01 00:00:00.1,2024-11-01 00:00:00.1,SI/SO,ALERTA
0,1000078,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SI,Fin_Correc_Outliers

Agregar columna Total suma 18 meses anterior a columna SI/SO y ALERTA.

In [30]:
columnas_sumar = df_siso.columns[-20:-2]
df_siso['Total'] = df_siso[columnas_sumar].sum(axis=1)

Crea "Venta Sku" la cual lleva el Total de Venta del Ultimo Eslabón.

In [31]:
df_siso['Venta Sku'] = df_siso.groupby('Ultimo Eslabón')['Total'].transform('sum')

agrega columna "%" la cual trae columna "Total" dividida en columna "Venta Sku" si el resultado es distinto de 0, deja ese valor sino 1.

In [32]:
df_siso['%'] = df_siso.apply(lambda row: row['Total'] / row['Venta Sku'] if row['Venta Sku'] != 0 else 1, axis=1)

In [33]:
df_stock.head()

  Ultimo Eslabón      Fecha  Stock
0         131353 2022-03-01    3.0
1        1068904 2022-03-01    3.0
2        1068903 2022-03-01    9.0
3         131355 2022-03-01    3.0
4         131350 2022-03-01    1.0

In [34]:
suma_stock = df_stock[df_stock['Fecha'] == '2024-01-01']['Stock'].sum()
suma_stock

3363358.883333334

Eliminar este bloque de borrar la fecha de mayo del stock, es solo para hacer el ejemplo de la corrección Mayo Ciclo Junio, donde solo se debería tener el stock de Abril.

In [35]:
# df_stock = df_stock[~df_stock['Fecha'].astype(str).str.contains('2024-05-01')]

In [36]:
df_stock['Fecha'] = pd.to_datetime(df_stock['Fecha'])
ultimas_24_fechas = df_stock['Fecha'].drop_duplicates().nlargest(24)
df_stock = df_stock[df_stock['Fecha'].isin(ultimas_24_fechas)]

In [37]:
unique_dates_count = df_stock['Fecha'].nunique()
print("Cantidad de valores únicos en la columna Fecha:", unique_dates_count)
valores_unicos = ultimas_24_fechas.sort_values(ascending=False).tolist()
print("Valores únicos de las últimas 24 fechas:", valores_unicos)

Cantidad de valores únicos en la columna Fecha: 24
Valores únicos de las últimas 24 fechas: [Timestamp('2024-11-01 00:00:00'), Timestamp('2024-10-01 00:00:00'), Timestamp('2024-09-01 00:00:00'), Timestamp('2024-08-01 00:00:00'), Timestamp('2024-07-01 00:00:00'), Timestamp('2024-06-01 00:00:00'), Timestamp('2024-05-01 00:00:00'), Timestamp('2024-04-01 00:00:00'), Timestamp('2024-03-01 00:00:00'), Timestamp('2024-02-01 00:00:00'), Timestamp('2024-01-01 00:00:00'), Timestamp('2023-12-01 00:00:00'), Timestamp('2023-11-01 00:00:00'), Timestamp('2023-10-01 00:00:00'), Timestamp('2023-09-01 00:00:00'), Timestamp('2023-08-01 00:00:00'), Timestamp('2023-07-01 00:00:00'), Timestamp('2023-06-01 00:00:00'), Timestamp('2023-05-01 00:00:00'), Timestamp('2023-04-01 00:00:00'), Timestamp('2023-03-01 00:00:00'), Timestamp('2023-02-01 00:00:00'), Timestamp('2023-01-01 00:00:00'), Timestamp('2022-12-01 00:00:00')]

Cruzar Stock y multiplicar por el "%"

In [38]:
df_stock_pivot = df_stock.pivot(index='Ultimo Eslabón', columns='Fecha', values='Stock').reset_index()
df_stock_pivot.columns = df_stock_pivot.columns.map(str)
df_stock_pivot.columns = ['Ultimo Eslabón'] + [str(col)[:10] + '_stock' for col in df_stock_pivot.columns[1:]]
df_siso_combined = df_siso.merge(df_stock_pivot, on='Ultimo Eslabón', how='left')
df_siso_combined = df_siso_combined.fillna(0)

for column in df_stock_pivot.columns[1:]:
    df_siso_combined[column] = df_siso_combined[column] * df_siso_combined['%']

In [39]:
columnas = df_siso_combined.columns.tolist()
for columna in columnas:
    print(columna)

Ultimo Eslabón
Canal 3
2018-01-01 00:00:00.1
2018-02-01 00:00:00.1
2018-03-01 00:00:00.1
2018-04-01 00:00:00.1
2018-05-01 00:00:00.1
2018-06-01 00:00:00.1
2018-07-01 00:00:00.1
2018-08-01 00:00:00.1
2018-09-01 00:00:00.1
2018-10-01 00:00:00.1
2018-11-01 00:00:00.1
2018-12-01 00:00:00.1
2019-01-01 00:00:00.1
2019-02-01 00:00:00.1
2019-03-01 00:00:00.1
2019-04-01 00:00:00.1
2019-05-01 00:00:00.1
2019-06-01 00:00:00.1
2019-07-01 00:00:00.1
2019-08-01 00:00:00.1
2019-09-01 00:00:00.1
2019-10-01 00:00:00.1
2019-11-01 00:00:00.1
2019-12-01 00:00:00.1
2020-01-01 00:00:00.1
2020-02-01 00:00:00.1
2020-03-01 00:00:00.1
2020-04-01 00:00:00.1
2020-05-01 00:00:00.1
2020-06-01 00:00:00.1
2020-07-01 00:00:00.1
2020-08-01 00:00:00.1
2020-09-01 00:00:00.1
2020-10-01 00:00:00.1
2020-11-01 00:00:00.1
2020-12-01 00:00:00.1
2021-01-01 00:00:00.1
2021-02-01 00:00:00.1
2021-03-01 00:00:00.1
2021-04-01 00:00:00.1
2021-05-01 00:00:00.1
2021-06-01 00:00:00.1
2021-07-01 00:00:00.1
2021-08-01 00:00:00.1
2021-09-01 00:00:00.1
2021-10-01 00:00:00.1
2021-11-01 00:00:00.1
2021-12-01 00:00:00.1
2022-01-01 00:00:00.1
2022-02-01 00:00:00.1
2022-03-01 00:00:00.1
2022-04-01 00:00:00.1
2022-05-01 00:00:00.1
2022-06-01 00:00:00.1
2022-07-01 00:00:00.1
2022-08-01 00:00:00.1
2022-09-01 00:00:00.1
2022-10-01 00:00:00.1
2022-11-01 00:00:00.1
2022-12-01 00:00:00.1
2023-01-01 00:00:00.1
2023-02-01 00:00:00.1
2023-03-01 00:00:00.1
2023-04-01 00:00:00.1
2023-05-01 00:00:00.1
2023-06-01 00:00:00.1
2023-07-01 00:00:00.1
2023-08-01 00:00:00.1
2023-09-01 00:00:00.1
2023-10-01 00:00:00.1
2023-11-01 00:00:00.1
2023-12-01 00:00:00.1
2024-01-01 00:00:00.1
2024-02-01 00:00:00.1
2024-03-01 00:00:00.1
2024-04-01 00:00:00.1
2024-05-01 00:00:00.1
2024-06-01 00:00:00.1
2024-07-01 00:00:00.1
2024-08-01 00:00:00.1
2024-09-01 00:00:00.1
2024-10-01 00:00:00.1
2024-11-01 00:00:00.1
SI/SO
ALERTA
Total
Venta Sku
%
2022-12-01_stock
2023-01-01_stock
2023-02-01_stock
2023-03-01_stock
2023-04-01_stock
2023-05-01_stock
2023-06-01_stock
2023-07-01_stock
2023-08-01_stock
2023-09-01_stock
2023-10-01_stock
2023-11-01_stock
2023-12-01_stock
2024-01-01_stock
2024-02-01_stock
2024-03-01_stock
2024-04-01_stock
2024-05-01_stock
2024-06-01_stock
2024-07-01_stock
2024-08-01_stock
2024-09-01_stock
2024-10-01_stock
2024-11-01_stock

In [40]:
col_start = df_siso_combined.columns.get_loc('Canal 3') + 1
col_end = df_siso_combined.columns.get_loc('SI/SO')
num_columns = col_end - col_start

df_siso_combined['ALERTA 2'] = 'Fin_Cruce_Stock'

cols_to_copy = df_siso_combined.columns[col_start:col_end]
new_column_names = [col[:10] + '_Correc_Outliers' for col in cols_to_copy]
new_columns = df_siso_combined[cols_to_copy].copy()
new_columns.columns = new_column_names

df_siso_combined = pd.concat([df_siso_combined, new_columns], axis=1)

In [41]:
# Añadir la columna 'ALERTA 3' con el dato 'INI_CORRECCIÓN_DISPO'
df_siso_combined['ALERTA 3'] = 'INI_CORRECCIÓN_DISPO'

# Seleccionar las columnas que terminan en _stock y _Correc_Outliers
stock_cols = [col for col in df_siso_combined.columns if col.endswith('_stock')]
correc_outliers_cols = [col for col in df_siso_combined.columns if col.endswith('_Correc_Outliers')]

# Determinar el rango de columnas para el cálculo del promedio (18 columnas antes de 'SI/SO')
index_siso = df_siso_combined.columns.get_loc('SI/SO')
cols_promedio = df_siso_combined.columns[index_siso-18:index_siso]

# Calcular el promedio una sola vez para todas las filas
promedios = df_siso_combined[cols_promedio].mean(axis=1)

# Mostrar las columnas utilizadas para el promedio
print("Columnas utilizadas para el promedio:", cols_promedio)

Columnas utilizadas para el promedio: Index(['2023-06-01 00:00:00.1', '2023-07-01 00:00:00.1',
       '2023-08-01 00:00:00.1', '2023-09-01 00:00:00.1',
       '2023-10-01 00:00:00.1', '2023-11-01 00:00:00.1',
       '2023-12-01 00:00:00.1', '2024-01-01 00:00:00.1',
       '2024-02-01 00:00:00.1', '2024-03-01 00:00:00.1',
       '2024-04-01 00:00:00.1', '2024-05-01 00:00:00.1',
       '2024-06-01 00:00:00.1', '2024-07-01 00:00:00.1',
       '2024-08-01 00:00:00.1', '2024-09-01 00:00:00.1',
       '2024-10-01 00:00:00.1', '2024-11-01 00:00:00.1'],
      dtype='object')

In [42]:
# Iterar sobre cada par de columnas _stock y _Correc_Outliers
result_cols = []
for stock_col in stock_cols:
    # Encontrar la columna correspondiente de _Correc_Outliers
    correc_outliers_col = stock_col.replace('_stock', '_Correc_Outliers')
    
    if correc_outliers_col in correc_outliers_cols:
        # Crear una nueva columna con el resultado de la fórmula
        nueva_columna = stock_col.replace('_stock', '_result')
        result_cols.append(nueva_columna)
        df_siso_combined[nueva_columna] = df_siso_combined.apply(
            lambda row: promedios[row.name] if row[stock_col] < promedios[row.name] and row[correc_outliers_col] < promedios[row.name] else row[correc_outliers_col],
            axis=1
        )

# Mostrar las columnas creadas con _result
print("Columnas creadas con _result:", result_cols)

# Mostrar las columnas iteradas
print("Columnas iteradas para _stock:", stock_cols)
print("Columnas iteradas para _Correc_Outliers:", correc_outliers_cols)

# Eliminar las últimas 24 columnas que contienen _Correc_Outliers
cols_to_drop = [col for col in df_siso_combined.columns if col.endswith('_Correc_Outliers')][-24:]
df_siso_combined.drop(columns=cols_to_drop, inplace=True)

# Mostrar las columnas eliminadas
print("Columnas eliminadas:", cols_to_drop)

Columnas creadas con _result: ['2022-12-01_result', '2023-01-01_result', '2023-02-01_result', '2023-03-01_result', '2023-04-01_result', '2023-05-01_result', '2023-06-01_result', '2023-07-01_result', '2023-08-01_result', '2023-09-01_result', '2023-10-01_result', '2023-11-01_result', '2023-12-01_result', '2024-01-01_result', '2024-02-01_result', '2024-03-01_result', '2024-04-01_result', '2024-05-01_result', '2024-06-01_result', '2024-07-01_result', '2024-08-01_result', '2024-09-01_result', '2024-10-01_result', '2024-11-01_result']
Columnas iteradas para _stock: ['2022-12-01_stock', '2023-01-01_stock', '2023-02-01_stock', '2023-03-01_stock', '2023-04-01_stock', '2023-05-01_stock', '2023-06-01_stock', '2023-07-01_stock', '2023-08-01_stock', '2023-09-01_stock', '2023-10-01_stock', '2023-11-01_stock', '2023-12-01_stock', '2024-01-01_stock', '2024-02-01_stock', '2024-03-01_stock', '2024-04-01_stock', '2024-05-01_stock', '2024-06-01_stock', '2024-07-01_stock', '2024-08-01_stock', '2024-09-01_stock', '2024-10-01_stock', '2024-11-01_stock']
Columnas iteradas para _Correc_Outliers: ['2018-01-01_Correc_Outliers', '2018-02-01_Correc_Outliers', '2018-03-01_Correc_Outliers', '2018-04-01_Correc_Outliers', '2018-05-01_Correc_Outliers', '2018-06-01_Correc_Outliers', '2018-07-01_Correc_Outliers', '2018-08-01_Correc_Outliers', '2018-09-01_Correc_Outliers', '2018-10-01_Correc_Outliers', '2018-11-01_Correc_Outliers', '2018-12-01_Correc_Outliers', '2019-01-01_Correc_Outliers', '2019-02-01_Correc_Outliers', '2019-03-01_Correc_Outliers', '2019-04-01_Correc_Outliers', '2019-05-01_Correc_Outliers', '2019-06-01_Correc_Outliers', '2019-07-01_Correc_Outliers', '2019-08-01_Correc_Outliers', '2019-09-01_Correc_Outliers', '2019-10-01_Correc_Outliers', '2019-11-01_Correc_Outliers', '2019-12-01_Correc_Outliers', '2020-01-01_Correc_Outliers', '2020-02-01_Correc_Outliers', '2020-03-01_Correc_Outliers', '2020-04-01_Correc_Outliers', '2020-05-01_Correc_Outliers', '2020-06-01_Correc_Outliers', '2020-07-01_Correc_Outliers', '2020-08-01_Correc_Outliers', '2020-09-01_Correc_Outliers', '2020-10-01_Correc_Outliers', '2020-11-01_Correc_Outliers', '2020-12-01_Correc_Outliers', '2021-01-01_Correc_Outliers', '2021-02-01_Correc_Outliers', '2021-03-01_Correc_Outliers', '2021-04-01_Correc_Outliers', '2021-05-01_Correc_Outliers', '2021-06-01_Correc_Outliers', '2021-07-01_Correc_Outliers', '2021-08-01_Correc_Outliers', '2021-09-01_Correc_Outliers', '2021-10-01_Correc_Outliers', '2021-11-01_Correc_Outliers', '2021-12-01_Correc_Outliers', '2022-01-01_Correc_Outliers', '2022-02-01_Correc_Outliers', '2022-03-01_Correc_Outliers', '2022-04-01_Correc_Outliers', '2022-05-01_Correc_Outliers', '2022-06-01_Correc_Outliers', '2022-07-01_Correc_Outliers', '2022-08-01_Correc_Outliers', '2022-09-01_Correc_Outliers', '2022-10-01_Correc_Outliers', '2022-11-01_Correc_Outliers', '2022-12-01_Correc_Outliers', '2023-01-01_Correc_Outliers', '2023-02-01_Correc_Outliers', '2023-03-01_Correc_Outliers', '2023-04-01_Correc_Outliers', '2023-05-01_Correc_Outliers', '2023-06-01_Correc_Outliers', '2023-07-01_Correc_Outliers', '2023-08-01_Correc_Outliers', '2023-09-01_Correc_Outliers', '2023-10-01_Correc_Outliers', '2023-11-01_Correc_Outliers', '2023-12-01_Correc_Outliers', '2024-01-01_Correc_Outliers', '2024-02-01_Correc_Outliers', '2024-03-01_Correc_Outliers', '2024-04-01_Correc_Outliers', '2024-05-01_Correc_Outliers', '2024-06-01_Correc_Outliers', '2024-07-01_Correc_Outliers', '2024-08-01_Correc_Outliers', '2024-09-01_Correc_Outliers', '2024-10-01_Correc_Outliers', '2024-11-01_Correc_Outliers']
Columnas eliminadas: ['2022-12-01_Correc_Outliers', '2023-01-01_Correc_Outliers', '2023-02-01_Correc_Outliers', '2023-03-01_Correc_Outliers', '2023-04-01_Correc_Outliers', '2023-05-01_Correc_Outliers', '2023-06-01_Correc_Outliers', '2023-07-01_Correc_Outliers', '2023-08-01_Correc_Outliers', '2023-09-01_Correc_Outliers', '2023-10-01_Correc_Outliers', '2023-11-01_Correc_Outliers', '2023-12-01_Correc_Outliers', '2024-01-01_Correc_Outliers', '2024-02-01_Correc_Outliers', '2024-03-01_Correc_Outliers', '2024-04-01_Correc_Outliers', '2024-05-01_Correc_Outliers', '2024-06-01_Correc_Outliers', '2024-07-01_Correc_Outliers', '2024-08-01_Correc_Outliers', '2024-09-01_Correc_Outliers', '2024-10-01_Correc_Outliers', '2024-11-01_Correc_Outliers']

In [43]:
import pandas as pd

# Suponiendo que tienes el DataFrame original antes de eliminar las columnas
df_original = df_siso_combined.copy()

# Aquí va tu código de procesamiento y eliminación de columnas
# ...

# Lista de columnas después de eliminar
columnas_despues = df_siso_combined.columns.tolist()

# Lista de columnas antes de eliminar
columnas_antes = df_original.columns.tolist()

# Columnas eliminadas
columnas_eliminadas = [col for col in columnas_antes if col not in columnas_despues]

# Columnas que quedaron
columnas_quedaron = [col for col in columnas_despues if col in columnas_antes]

# Mostrar las columnas eliminadas y las que quedaron
print("Columnas eliminadas:")
print(columnas_eliminadas)

print("\nColumnas que quedaron:")
print(columnas_quedaron)

Columnas eliminadas:
[]

Columnas que quedaron:
['Ultimo Eslabón', 'Canal 3', '2018-01-01 00:00:00.1', '2018-02-01 00:00:00.1', '2018-03-01 00:00:00.1', '2018-04-01 00:00:00.1', '2018-05-01 00:00:00.1', '2018-06-01 00:00:00.1', '2018-07-01 00:00:00.1', '2018-08-01 00:00:00.1', '2018-09-01 00:00:00.1', '2018-10-01 00:00:00.1', '2018-11-01 00:00:00.1', '2018-12-01 00:00:00.1', '2019-01-01 00:00:00.1', '2019-02-01 00:00:00.1', '2019-03-01 00:00:00.1', '2019-04-01 00:00:00.1', '2019-05-01 00:00:00.1', '2019-06-01 00:00:00.1', '2019-07-01 00:00:00.1', '2019-08-01 00:00:00.1', '2019-09-01 00:00:00.1', '2019-10-01 00:00:00.1', '2019-11-01 00:00:00.1', '2019-12-01 00:00:00.1', '2020-01-01 00:00:00.1', '2020-02-01 00:00:00.1', '2020-03-01 00:00:00.1', '2020-04-01 00:00:00.1', '2020-05-01 00:00:00.1', '2020-06-01 00:00:00.1', '2020-07-01 00:00:00.1', '2020-08-01 00:00:00.1', '2020-09-01 00:00:00.1', '2020-10-01 00:00:00.1', '2020-11-01 00:00:00.1', '2020-12-01 00:00:00.1', '2021-01-01 00:00:00.1', '2021-02-01 00:00:00.1', '2021-03-01 00:00:00.1', '2021-04-01 00:00:00.1', '2021-05-01 00:00:00.1', '2021-06-01 00:00:00.1', '2021-07-01 00:00:00.1', '2021-08-01 00:00:00.1', '2021-09-01 00:00:00.1', '2021-10-01 00:00:00.1', '2021-11-01 00:00:00.1', '2021-12-01 00:00:00.1', '2022-01-01 00:00:00.1', '2022-02-01 00:00:00.1', '2022-03-01 00:00:00.1', '2022-04-01 00:00:00.1', '2022-05-01 00:00:00.1', '2022-06-01 00:00:00.1', '2022-07-01 00:00:00.1', '2022-08-01 00:00:00.1', '2022-09-01 00:00:00.1', '2022-10-01 00:00:00.1', '2022-11-01 00:00:00.1', '2022-12-01 00:00:00.1', '2023-01-01 00:00:00.1', '2023-02-01 00:00:00.1', '2023-03-01 00:00:00.1', '2023-04-01 00:00:00.1', '2023-05-01 00:00:00.1', '2023-06-01 00:00:00.1', '2023-07-01 00:00:00.1', '2023-08-01 00:00:00.1', '2023-09-01 00:00:00.1', '2023-10-01 00:00:00.1', '2023-11-01 00:00:00.1', '2023-12-01 00:00:00.1', '2024-01-01 00:00:00.1', '2024-02-01 00:00:00.1', '2024-03-01 00:00:00.1', '2024-04-01 00:00:00.1', '2024-05-01 00:00:00.1', '2024-06-01 00:00:00.1', '2024-07-01 00:00:00.1', '2024-08-01 00:00:00.1', '2024-09-01 00:00:00.1', '2024-10-01 00:00:00.1', '2024-11-01 00:00:00.1', 'SI/SO', 'ALERTA', 'Total', 'Venta Sku', '%', '2022-12-01_stock', '2023-01-01_stock', '2023-02-01_stock', '2023-03-01_stock', '2023-04-01_stock', '2023-05-01_stock', '2023-06-01_stock', '2023-07-01_stock', '2023-08-01_stock', '2023-09-01_stock', '2023-10-01_stock', '2023-11-01_stock', '2023-12-01_stock', '2024-01-01_stock', '2024-02-01_stock', '2024-03-01_stock', '2024-04-01_stock', '2024-05-01_stock', '2024-06-01_stock', '2024-07-01_stock', '2024-08-01_stock', '2024-09-01_stock', '2024-10-01_stock', '2024-11-01_stock', 'ALERTA 2', '2018-01-01_Correc_Outliers', '2018-02-01_Correc_Outliers', '2018-03-01_Correc_Outliers', '2018-04-01_Correc_Outliers', '2018-05-01_Correc_Outliers', '2018-06-01_Correc_Outliers', '2018-07-01_Correc_Outliers', '2018-08-01_Correc_Outliers', '2018-09-01_Correc_Outliers', '2018-10-01_Correc_Outliers', '2018-11-01_Correc_Outliers', '2018-12-01_Correc_Outliers', '2019-01-01_Correc_Outliers', '2019-02-01_Correc_Outliers', '2019-03-01_Correc_Outliers', '2019-04-01_Correc_Outliers', '2019-05-01_Correc_Outliers', '2019-06-01_Correc_Outliers', '2019-07-01_Correc_Outliers', '2019-08-01_Correc_Outliers', '2019-09-01_Correc_Outliers', '2019-10-01_Correc_Outliers', '2019-11-01_Correc_Outliers', '2019-12-01_Correc_Outliers', '2020-01-01_Correc_Outliers', '2020-02-01_Correc_Outliers', '2020-03-01_Correc_Outliers', '2020-04-01_Correc_Outliers', '2020-05-01_Correc_Outliers', '2020-06-01_Correc_Outliers', '2020-07-01_Correc_Outliers', '2020-08-01_Correc_Outliers', '2020-09-01_Correc_Outliers', '2020-10-01_Correc_Outliers', '2020-11-01_Correc_Outliers', '2020-12-01_Correc_Outliers', '2021-01-01_Correc_Outliers', '2021-02-01_Correc_Outliers', '2021-03-01_Correc_Outliers', '2021-04-01_Correc_Outliers', '2021-05-01_Correc_Outliers', '2021-06-01_Correc_Outliers', '2021-07-01_Correc_Outliers', '2021-08-01_Correc_Outliers', '2021-09-01_Correc_Outliers', '2021-10-01_Correc_Outliers', '2021-11-01_Correc_Outliers', '2021-12-01_Correc_Outliers', '2022-01-01_Correc_Outliers', '2022-02-01_Correc_Outliers', '2022-03-01_Correc_Outliers', '2022-04-01_Correc_Outliers', '2022-05-01_Correc_Outliers', '2022-06-01_Correc_Outliers', '2022-07-01_Correc_Outliers', '2022-08-01_Correc_Outliers', '2022-09-01_Correc_Outliers', '2022-10-01_Correc_Outliers', '2022-11-01_Correc_Outliers', 'ALERTA 3', '2022-12-01_result', '2023-01-01_result', '2023-02-01_result', '2023-03-01_result', '2023-04-01_result', '2023-05-01_result', '2023-06-01_result', '2023-07-01_result', '2023-08-01_result', '2023-09-01_result', '2023-10-01_result', '2023-11-01_result', '2023-12-01_result', '2024-01-01_result', '2024-02-01_result', '2024-03-01_result', '2024-04-01_result', '2024-05-01_result', '2024-06-01_result', '2024-07-01_result', '2024-08-01_result', '2024-09-01_result', '2024-10-01_result', '2024-11-01_result']

YYYY-MM Correccion Disponibilidad MM-YY

Guarda en CSV con rutas que detectan fechas

In [44]:
import os
import pandas as pd
from datetime import datetime, timedelta

meses_espanol_abreviado = {1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Ago', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dic'}
meses_espanol_completo = {1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'}

usuario = os.getlogin()
fecha_actual = datetime.now()
fecha_siguiente = fecha_actual + timedelta(days=30)
fecha_anterior = fecha_actual - timedelta(days=30)

mes_siguiente = fecha_siguiente.month
mes_anterior = fecha_anterior.month

anio_mes_guardar = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
nombre_archivo = fecha_actual.strftime(f"%Y.%m Correccion Disponibilidad {meses_espanol_completo[mes_anterior]}-%y")

ruta_guardar_csv = f"C:\\Users\\{usuario}.dercoparts\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_guardar}\\AFM\\Correccion Dispo\\Python_Correcion\\{nombre_archivo}.csv"

os.makedirs(os.path.dirname(ruta_guardar_csv), exist_ok=True)
df_siso_combined.to_csv(ruta_guardar_csv, sep=';', decimal=',', index=False)

In [45]:
ruta_guardar_csv

'C:\\Users\\etorres.dercoparts\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-12 Ciclo Ene-24\\AFM\\Correccion Dispo\\Python_Correcion\\2024.12 Correccion Disponibilidad Noviembre-24.csv'

Guarda en PARQUET con rutas que detectan fechas

In [46]:
import os
import pandas as pd
from datetime import datetime, timedelta

meses_espanol_abreviado = {1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Ago', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dic'}
meses_espanol_completo = {1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'}

usuario = os.getlogin()
fecha_actual = datetime.now()
fecha_siguiente = fecha_actual + timedelta(days=30)
fecha_anterior = fecha_actual - timedelta(days=30)

mes_siguiente = fecha_siguiente.month
mes_anterior = fecha_anterior.month

anio_mes_guardar = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
nombre_archivo = fecha_actual.strftime(f"%Y.%m Correccion Disponibilidad {meses_espanol_completo[mes_anterior]}-%y")

ruta_guardar = f"C:\\Users\\{usuario}.dercoparts\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_guardar}\\AFM\\Correccion Dispo\\Python_Correcion\\{nombre_archivo}.parquet"

os.makedirs(os.path.dirname(ruta_guardar), exist_ok=True)
df_siso_combined.to_parquet(ruta_guardar, index=False)

In [47]:
columnas = df_siso_combined.columns.tolist()
columnas[50:80]

['2022-01-01 00:00:00.1',
 '2022-02-01 00:00:00.1',
 '2022-03-01 00:00:00.1',
 '2022-04-01 00:00:00.1',
 '2022-05-01 00:00:00.1',
 '2022-06-01 00:00:00.1',
 '2022-07-01 00:00:00.1',
 '2022-08-01 00:00:00.1',
 '2022-09-01 00:00:00.1',
 '2022-10-01 00:00:00.1',
 '2022-11-01 00:00:00.1',
 '2022-12-01 00:00:00.1',
 '2023-01-01 00:00:00.1',
 '2023-02-01 00:00:00.1',
 '2023-03-01 00:00:00.1',
 '2023-04-01 00:00:00.1',
 '2023-05-01 00:00:00.1',
 '2023-06-01 00:00:00.1',
 '2023-07-01 00:00:00.1',
 '2023-08-01 00:00:00.1',
 '2023-09-01 00:00:00.1',
 '2023-10-01 00:00:00.1',
 '2023-11-01 00:00:00.1',
 '2023-12-01 00:00:00.1',
 '2024-01-01 00:00:00.1',
 '2024-02-01 00:00:00.1',
 '2024-03-01 00:00:00.1',
 '2024-04-01 00:00:00.1',
 '2024-05-01 00:00:00.1',
 '2024-06-01 00:00:00.1']

Incio formato ANASTASIA DESDE PARQUET

In [48]:
import os
import pandas as pd
from datetime import datetime, timedelta

meses_espanol_abreviado = {1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Ago', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dic'}
meses_espanol_completo = {1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'}

usuario = os.getlogin()
fecha_actual = datetime.now()
fecha_siguiente = fecha_actual + timedelta(days=30)
fecha_anterior = fecha_actual - timedelta(days=30)

mes_siguiente = fecha_siguiente.month
mes_anterior = fecha_anterior.month

anio_mes_leer = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
nombre_archivo = fecha_actual.strftime(f"%Y.%m Correccion Disponibilidad {meses_espanol_completo[mes_anterior]}-%y")

ruta_leer = f"C:\\Users\\{usuario}.dercoparts\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_leer}\\AFM\\Correccion Dispo\\Python_Correcion\\{nombre_archivo}.parquet"

df_siso_combined = pd.read_parquet(ruta_leer)

In [49]:
ruta_leer

'C:\\Users\\etorres.dercoparts\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-12 Ciclo Ene-24\\AFM\\Correccion Dispo\\Python_Correcion\\2024.12 Correccion Disponibilidad Noviembre-24.parquet'

Inicio formato ANASTASIA DESDE CSV

In [50]:
# import os
# import pandas as pd
# from datetime import datetime, timedelta

# meses_espanol_abreviado = {1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Ago', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dic'}
# meses_espanol_completo = {1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'}

# usuario = os.getlogin()
# fecha_actual = datetime.now()
# fecha_siguiente = fecha_actual + timedelta(days=30)
# fecha_anterior = fecha_actual - timedelta(days=30)

# mes_siguiente = fecha_siguiente.month
# mes_anterior = fecha_anterior.month

# anio_mes_leer = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
# nombre_archivo = fecha_actual.strftime(f"%Y.%m Correccion Disponibilidad {meses_espanol_completo[mes_anterior]}-%y")

# ruta_leer_csv = f"C:\\Users\\{usuario}\\Inchcape\\Planificación y abastecimiento AFM - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_leer}\\AFM\\Correccion Dispo\\{nombre_archivo}.csv"

# df_siso_combined = pd.read_csv(ruta_leer_csv, sep=';', decimal=',')

In [51]:
df_siso_combined.dtypes

Ultimo Eslabón            object
Canal 3                   object
2018-01-01 00:00:00.1    float64
2018-02-01 00:00:00.1    float64
2018-03-01 00:00:00.1    float64
                          ...
2024-07-01_result        float64
2024-08-01_result        float64
2024-09-01_result        float64
2024-10-01_result        float64
2024-11-01_result        float64
Length: 199, dtype: object

Achicar DF solo a las columnas corregidas por Disponibilidad para dar Formato Anastasia

In [52]:
import pandas as pd

alerta2_index = df_siso_combined.columns.get_loc('ALERTA 2')
selected_columns = df_siso_combined.columns[:2].tolist() + df_siso_combined.columns[alerta2_index+1:].tolist()
df_filtered = df_siso_combined.loc[:, selected_columns]

if 'ALERTA 3' in df_filtered.columns:
    df_filtered = df_filtered.drop(columns=['ALERTA 3'])

In [79]:
df_melted = pd.melt(df_filtered, id_vars=df_filtered.columns[:2], var_name='Fecha', value_name='Venta')
df_melted['Fecha'] = df_melted['Fecha'].str.replace('_Correc_Outliers', '').str.replace('_result', '')

In [80]:
df_melted

        Ultimo Eslabón        Canal 3       Fecha     Venta
0              1000078   CL MAYORISTA  2018-01-01  0.000000
1              1000144   CL MAYORISTA  2018-01-01  0.000000
2              1000147      CL CES 01  2018-01-01  0.000000
3              1000147   CL MAYORISTA  2018-01-01  0.000000
4              1000148      CL CES 01  2018-01-01  0.000000
...                ...            ...         ...       ...
4656793         750809  CL AUTOPLANET  2024-11-01  0.000000
4656794         750816  CL AGROPLANET  2024-11-01  0.000000
4656795         750816  CL AUTOPLANET  2024-11-01  0.000000
4656796         752466  CL AGROPLANET  2024-11-01  2.620370
4656797         752466  CL AUTOPLANET  2024-11-01  0.080247

[4656798 rows x 4 columns]

In [81]:
suma = df_melted['Venta'].sum()
suma

78103908.92678393

In [82]:
df_melted['ID transacción'] = ['TR' + str(i) for i in range(1, len(df_melted) + 1)]
df_melted['idSKU_R3'] = ['SKU' + str(i) for i in range(1, len(df_melted) + 1)]
cols = df_melted.columns.tolist()
cols.insert(cols.index('Fecha') + 1, cols.pop(cols.index('ID transacción')))
cols.insert(cols.index('Fecha') + 2, cols.pop(cols.index('idSKU_R3')))
df_melted = df_melted[cols]
df_melted.rename(columns={'Ultimo Eslabón': 'idSKU'}, inplace=True)
df_melted.rename(columns={'Canal 3': 'Canal'}, inplace=True)
df_melted.rename(columns={'Venta': 'Cantidad'}, inplace=True)
df_melted['Unidad Medida'] = 'UN'
df_melted['Pais'] = 'CL'
df_melted['valor_trn'] = 0

condiciones = [
    df_melted['Canal'].isin(['CL WALMART', 'CL EASY', 'CL SMU', 'CL TOTTUS', 'CL SODIMAC','CL AUTOPLANET', 'CL AGROPLANET']),
    df_melted['Canal'].isin(['CL MAYORISTA', 'CL CES 01']),
    df_melted['Canal'] == 'CL RETAIL'
]


resultados = ['SO', 'SI', 'SO']
df_melted['Tipo_Venta'] = np.select(condiciones, resultados, default=np.nan)
#REDONDEAR CANTIDAD
df_melted['Cantidad'] = df_melted['Cantidad'].round()

Se pierden unidades al redondear

In [83]:
sumax = df_melted['Cantidad'].sum()
sumax

78084840.0

In [84]:
cols = ['Fecha', 'ID transacción', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn', 'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta']
df_melted = df_melted[cols]

df_melted

,Fecha,ID transacción,idSKU,idSKU_R3,Cantidad,valor_trn,Canal,Unidad Medida,Pais,Tipo_Venta
0,2018-01-01,TR1,1000078,SKU1,0.0,0,CL MAYORISTA,UN,CL,SI
1,2018-01-01,TR2,1000144,SKU2,0.0,0,CL MAYORISTA,UN,CL,SI
2,2018-01-01,TR3,1000147,SKU3,0.0,0,CL CES 01,UN,CL,SI
3,2018-01-01,TR4,1000147,SKU4,0.0,0,CL MAYORISTA,UN,CL,SI
4,2018-01-01,TR5,1000148,SKU5,0.0,0,CL CES 01,UN,CL,SI
...,...,...,...,...,...,...,...,...,...,...
4656793,2024-11-01,TR4656794,750809,SKU4656794,0.0,0,CL AUTOPLANET,UN,CL,SO
4656794,2024-11-01,TR4656795,750816,SKU4656795,0.0,0,CL AGROPLANET,UN,CL,SO
4656795,2024-11-01,TR4656796,750816,SKU4656796,0.0,0,CL AUTOPLANET,UN,CL,SO
4656796,2024-11-01,TR4656797,752466,SKU4656797,3.0,0,CL AGROPLANET,UN,CL,SO
4656797,2024-11-01,TR4656798,752466,SKU4656798,0.0,0,CL AUTOPLANET,UN,CL,SO

In [85]:
print(df_melted['Fecha'].unique())
print(df_melted['Fecha'].nunique())
print(df_melted['Cantidad'].sum())
print(df_melted['Canal'].unique())

['2018-01-01' '2018-02-01' '2018-03-01' '2018-04-01' '2018-05-01'
 '2018-06-01' '2018-07-01' '2018-08-01' '2018-09-01' '2018-10-01'
 '2018-11-01' '2018-12-01' '2019-01-01' '2019-02-01' '2019-03-01'
 '2019-04-01' '2019-05-01' '2019-06-01' '2019-07-01' '2019-08-01'
 '2019-09-01' '2019-10-01' '2019-11-01' '2019-12-01' '2020-01-01'
 '2020-02-01' '2020-03-01' '2020-04-01' '2020-05-01' '2020-06-01'
 '2020-07-01' '2020-08-01' '2020-09-01' '2020-10-01' '2020-11-01'
 '2020-12-01' '2021-01-01' '2021-02-01' '2021-03-01' '2021-04-01'
 '2021-05-01' '2021-06-01' '2021-07-01' '2021-08-01' '2021-09-01'
 '2021-10-01' '2021-11-01' '2021-12-01' '2022-01-01' '2022-02-01'
 '2022-03-01' '2022-04-01' '2022-05-01' '2022-06-01' '2022-07-01'
 '2022-08-01' '2022-09-01' '2022-10-01' '2022-11-01' '2022-12-01'
 '2023-01-01' '2023-02-01' '2023-03-01' '2023-04-01' '2023-05-01'
 '2023-06-01' '2023-07-01' '2023-08-01' '2023-09-01' '2023-10-01'
 '2023-11-01' '2023-12-01' '2024-01-01' '2024-02-01' '2024-03-01'
 '2024-04-01' '2024-05-01' '2024-06-01' '2024-07-01' '2024-08-01'
 '2024-09-01' '2024-10-01' '2024-11-01']
83
78084840.0
['CL MAYORISTA' 'CL CES 01' 'CL AUTOPLANET' 'CL AGROPLANET' 'CL EASY'
 'CL WALMART' 'CL SMU' 'CL TOTTUS' 'CL SODIMAC']

In [86]:
df_melted

,Fecha,ID transacción,idSKU,idSKU_R3,Cantidad,valor_trn,Canal,Unidad Medida,Pais,Tipo_Venta
0,2018-01-01,TR1,1000078,SKU1,0.0,0,CL MAYORISTA,UN,CL,SI
1,2018-01-01,TR2,1000144,SKU2,0.0,0,CL MAYORISTA,UN,CL,SI
2,2018-01-01,TR3,1000147,SKU3,0.0,0,CL CES 01,UN,CL,SI
3,2018-01-01,TR4,1000147,SKU4,0.0,0,CL MAYORISTA,UN,CL,SI
4,2018-01-01,TR5,1000148,SKU5,0.0,0,CL CES 01,UN,CL,SI
...,...,...,...,...,...,...,...,...,...,...
4656793,2024-11-01,TR4656794,750809,SKU4656794,0.0,0,CL AUTOPLANET,UN,CL,SO
4656794,2024-11-01,TR4656795,750816,SKU4656795,0.0,0,CL AGROPLANET,UN,CL,SO
4656795,2024-11-01,TR4656796,750816,SKU4656796,0.0,0,CL AUTOPLANET,UN,CL,SO
4656796,2024-11-01,TR4656797,752466,SKU4656797,3.0,0,CL AGROPLANET,UN,CL,SO
4656797,2024-11-01,TR4656798,752466,SKU4656798,0.0,0,CL AUTOPLANET,UN,CL,SO

_________________________________________________________

In [87]:
df_melted.columns

Index(['Fecha', 'ID transacción', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn',
       'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta'],
      dtype='object')

División de DF's para tener uno por Tipo De Venta

In [88]:
df_melted.rename(columns={'ID transacción': 'ID transaccion'}, inplace=True)
df_si = df_melted[df_melted['Tipo_Venta']== 'SI'].copy()
df_so = df_melted[df_melted['Tipo_Venta'] == 'SO'].copy()
df_si_so = df_melted

In [89]:
df_siso.columns

Index(['Ultimo Eslabón', 'Canal 3', '2018-01-01 00:00:00.1',
       '2018-02-01 00:00:00.1', '2018-03-01 00:00:00.1',
       '2018-04-01 00:00:00.1', '2018-05-01 00:00:00.1',
       '2018-06-01 00:00:00.1', '2018-07-01 00:00:00.1',
       '2018-08-01 00:00:00.1', '2018-09-01 00:00:00.1',
       '2018-10-01 00:00:00.1', '2018-11-01 00:00:00.1',
       '2018-12-01 00:00:00.1', '2019-01-01 00:00:00.1',
       '2019-02-01 00:00:00.1', '2019-03-01 00:00:00.1',
       '2019-04-01 00:00:00.1', '2019-05-01 00:00:00.1',
       '2019-06-01 00:00:00.1', '2019-07-01 00:00:00.1',
       '2019-08-01 00:00:00.1', '2019-09-01 00:00:00.1',
       '2019-10-01 00:00:00.1', '2019-11-01 00:00:00.1',
       '2019-12-01 00:00:00.1', '2020-01-01 00:00:00.1',
       '2020-02-01 00:00:00.1', '2020-03-01 00:00:00.1',
       '2020-04-01 00:00:00.1', '2020-05-01 00:00:00.1',
       '2020-06-01 00:00:00.1', '2020-07-01 00:00:00.1',
       '2020-08-01 00:00:00.1', '2020-09-01 00:00:00.1',
       '2020-10-01 00:00:00.1', '2020-11-01 00:00:00.1',
       '2020-12-01 00:00:00.1', '2021-01-01 00:00:00.1',
       '2021-02-01 00:00:00.1', '2021-03-01 00:00:00.1',
       '2021-04-01 00:00:00.1', '2021-05-01 00:00:00.1',
       '2021-06-01 00:00:00.1', '2021-07-01 00:00:00.1',
       '2021-08-01 00:00:00.1', '2021-09-01 00:00:00.1',
       '2021-10-01 00:00:00.1', '2021-11-01 00:00:00.1',
       '2021-12-01 00:00:00.1', '2022-01-01 00:00:00.1',
       '2022-02-01 00:00:00.1', '2022-03-01 00:00:00.1',
       '2022-04-01 00:00:00.1', '2022-05-01 00:00:00.1',
       '2022-06-01 00:00:00.1', '2022-07-01 00:00:00.1',
       '2022-08-01 00:00:00.1', '2022-09-01 00:00:00.1',
       '2022-10-01 00:00:00.1', '2022-11-01 00:00:00.1',
       '2022-12-01 00:00:00.1', '2023-01-01 00:00:00.1',
       '2023-02-01 00:00:00.1', '2023-03-01 00:00:00.1',
       '2023-04-01 00:00:00.1', '2023-05-01 00:00:00.1',
       '2023-06-01 00:00:00.1', '2023-07-01 00:00:00.1',
       '2023-08-01 00:00:00.1', '2023-09-01 00:00:00.1',
       '2023-10-01 00:00:00.1', '2023-11-01 00:00:00.1',
       '2023-12-01 00:00:00.1', '2024-01-01 00:00:00.1',
       '2024-02-01 00:00:00.1', '2024-03-01 00:00:00.1',
       '2024-04-01 00:00:00.1', '2024-05-01 00:00:00.1',
       '2024-06-01 00:00:00.1', '2024-07-01 00:00:00.1',
       '2024-08-01 00:00:00.1', '2024-09-01 00:00:00.1',
       '2024-10-01 00:00:00.1', '2024-11-01 00:00:00.1', 'SI/SO', 'ALERTA',
       'Total', 'Venta Sku', '%'],
      dtype='object')

In [90]:
df_si = df_si[['Fecha', 'ID transaccion', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn', 'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta']]
df_so = df_so[['Fecha', 'ID transaccion', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn', 'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta']]
df_si_so = df_si_so[['Fecha', 'ID transaccion', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn', 'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta']]

In [91]:
df_si_so.columns

Index(['Fecha', 'ID transaccion', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn',
       'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta'],
      dtype='object')

In [92]:
df_si_so['Cantidad'] = df_si_so['Cantidad'].astype(str).str.replace('.0', '', regex=False)

In [93]:
df_si_so['idSKU'] = df_si_so['idSKU'].astype(str)

In [94]:
df_si_so.dtypes

Fecha             object
ID transaccion    object
idSKU             object
idSKU_R3          object
Cantidad          object
valor_trn          int64
Canal             object
Unidad Medida     object
Pais              object
Tipo_Venta        object
dtype: object

In [95]:
ers = df_si_so[df_si_so['Fecha'] == "2023-08-01"]
ers

,Fecha,ID transaccion,idSKU,idSKU_R3,Cantidad,valor_trn,Canal,Unidad Medida,Pais,Tipo_Venta
3759102,2023-08-01,TR3759103,1000078,SKU3759103,0,0,CL MAYORISTA,UN,CL,SI
3759103,2023-08-01,TR3759104,1000144,SKU3759104,0,0,CL MAYORISTA,UN,CL,SI
3759104,2023-08-01,TR3759105,1000147,SKU3759105,0,0,CL CES 01,UN,CL,SI
3759105,2023-08-01,TR3759106,1000147,SKU3759106,0,0,CL MAYORISTA,UN,CL,SI
3759106,2023-08-01,TR3759107,1000148,SKU3759107,0,0,CL CES 01,UN,CL,SI
...,...,...,...,...,...,...,...,...,...,...
3815203,2023-08-01,TR3815204,750809,SKU3815204,0,0,CL AUTOPLANET,UN,CL,SO
3815204,2023-08-01,TR3815205,750816,SKU3815205,1,0,CL AGROPLANET,UN,CL,SO
3815205,2023-08-01,TR3815206,750816,SKU3815206,0,0,CL AUTOPLANET,UN,CL,SO
3815206,2023-08-01,TR3815207,752466,SKU3815207,2,0,CL AGROPLANET,UN,CL,SO
3815207,2023-08-01,TR3815208,752466,SKU3815208,0,0,CL AUTOPLANET,UN,CL,SO

In [96]:
# df_si_so['Fecha'] = pd.to_datetime(df_si_so['Fecha'], dayfirst=True, errors='coerce')

# df_si_so[['Día', 'Mes', 'Año']] = df_si_so['Fecha'].str.split('-', expand=True)
# df_si_so['Fecha'] = df_si_so['Año'] + '-' + df_si_so['Mes'] + '-' + df_si_so['Día']
# df_si_so = df_si_so.drop(columns=['Día', 'Mes', 'Año'])

In [97]:
# df_si_so['Fecha'] = df_si_so['Fecha'].dt.strftime('%Y-%m-%d')

In [98]:
# df_si_so['Cantidad'].astype(int)

In [99]:
df_si_so.dtypes

Fecha             object
ID transaccion    object
idSKU             object
idSKU_R3          object
Cantidad          object
valor_trn          int64
Canal             object
Unidad Medida     object
Pais              object
Tipo_Venta        object
dtype: object

In [100]:
df_si_so['Cantidad'] = pd.to_numeric(df_si_so['Cantidad'], errors='coerce')
df_si_so= df_si_so[df_si_so['Cantidad'] > 0].copy()
df_si_so.shape

(1131238, 10)

In [101]:
df_si_so

,Fecha,ID transaccion,idSKU,idSKU_R3,Cantidad,valor_trn,Canal,Unidad Medida,Pais,Tipo_Venta
146,2018-01-01,TR147,1004078,SKU147,2,0,CL MAYORISTA,UN,CL,SI
162,2018-01-01,TR163,1004224,SKU163,140,0,CL MAYORISTA,UN,CL,SI
164,2018-01-01,TR165,1004226,SKU165,2,0,CL MAYORISTA,UN,CL,SI
166,2018-01-01,TR167,1004227,SKU167,5,0,CL MAYORISTA,UN,CL,SI
176,2018-01-01,TR177,1004237,SKU177,3,0,CL MAYORISTA,UN,CL,SI
...,...,...,...,...,...,...,...,...,...,...
4656776,2024-11-01,TR4656777,744722,SKU4656777,1,0,CL AGROPLANET,UN,CL,SO
4656786,2024-11-01,TR4656787,750791,SKU4656787,3,0,CL AGROPLANET,UN,CL,SO
4656788,2024-11-01,TR4656789,750797,SKU4656789,1,0,CL AGROPLANET,UN,CL,SO
4656790,2024-11-01,TR4656791,750803,SKU4656791,2,0,CL AGROPLANET,UN,CL,SO
4656796,2024-11-01,TR4656797,752466,SKU4656797,3,0,CL AGROPLANET,UN,CL,SO

In [102]:
import pandas as pd

# Suponiendo que ya tienes tu DataFrame df_si_so cargado
# Ejemplo: df_si_so = pd.read_csv('ruta_al_archivo.csv')

# Resetear el índice del DataFrame
df_si_so.reset_index(drop=True, inplace=True)

# Crear los nuevos valores incrementales para 'idSKU_R3' e 'ID transaccion'
df_si_so['idSKU_R3'] = 'SKU' + (df_si_so.index + 1).astype(str)
df_si_so['ID transaccion'] = 'TR' + (df_si_so.index + 1).astype(str)

# Mostrar el DataFrame modificado
print(df_si_so)

# Guardar el DataFrame si es necesario
# df_si_so.to_csv('ruta_al_archivo_actualizado.csv', index=False)

              Fecha ID transaccion    idSKU    idSKU_R3  Cantidad  valor_trn  \
0        2018-01-01            TR1  1004078        SKU1         2          0
1        2018-01-01            TR2  1004224        SKU2       140          0
2        2018-01-01            TR3  1004226        SKU3         2          0
3        2018-01-01            TR4  1004227        SKU4         5          0
4        2018-01-01            TR5  1004237        SKU5         3          0
...             ...            ...      ...         ...       ...        ...
1131233  2024-11-01      TR1131234   744722  SKU1131234         1          0
1131234  2024-11-01      TR1131235   750791  SKU1131235         3          0
1131235  2024-11-01      TR1131236   750797  SKU1131236         1          0
1131236  2024-11-01      TR1131237   750803  SKU1131237         2          0
1131237  2024-11-01      TR1131238   752466  SKU1131238         3          0

                 Canal Unidad Medida Pais Tipo_Venta
0         CL MAYORISTA            UN   CL         SI
1         CL MAYORISTA            UN   CL         SI
2         CL MAYORISTA            UN   CL         SI
3         CL MAYORISTA            UN   CL         SI
4         CL MAYORISTA            UN   CL         SI
...                ...           ...  ...        ...
1131233  CL AGROPLANET            UN   CL         SO
1131234  CL AGROPLANET            UN   CL         SO
1131235  CL AGROPLANET            UN   CL         SO
1131236  CL AGROPLANET            UN   CL         SO
1131237  CL AGROPLANET            UN   CL         SO

[1131238 rows x 10 columns]

In [103]:
anio_mes_leer = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
nombre_archivosi = fecha_actual.strftime(f"SI Ciclo {meses_espanol_abreviado[mes_siguiente]}-%Y")
nombre_archivoso = fecha_actual.strftime(f"SO Ciclo {meses_espanol_abreviado[mes_siguiente]}-%Y")
nombre_archivosi_so = fecha_actual.strftime(f"SI_SO Ciclo {meses_espanol_abreviado[mes_siguiente]}-%Y")
anio_mes_guardar = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
ruta_guardar_csvsi = f"C:\\Users\\{usuario}.dercoparts\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_guardar}\\AFM\\Correccion Dispo\\Python_Correcion\\{nombre_archivosi}2.csv"
ruta_guardar_csvso = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_guardar}\\AFM\\Correccion Dispo\\Python_Correcion\\{nombre_archivoso}2.csv"
ruta_guardar_csvsi_so = f"C:\\Users\\{usuario}.dercoparts\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_guardar}\\AFM\\Correccion Dispo\\Python_Correcion\\{nombre_archivosi_so}22e.csv"
os.makedirs(os.path.dirname(ruta_guardar_csvsi), exist_ok=True)
df_si_so.to_csv(ruta_guardar_csvsi_so, sep=',', index=False, encoding='utf-8')

# os.makedirs(os.path.dirname(ruta_guardar_csvso), exist_ok=True)
# df_so.to_csv(ruta_guardar_csvso, sep=',', index=False, encoding='utf-8')

In [104]:
ruta_guardar_csvso

'C:\\Users\\etorres\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-12 Ciclo Ene-24\\AFM\\Correccion Dispo\\Python_Correcion\\SO Ciclo Ene-20242.csv'