In [1]:
import os
from datetime import datetime
import pandas as pd

usuario = os.getlogin()

ruta_manual = os.path.join(
    os.path.expanduser('~'),
    'DERCO CHILE REPUESTOS SpA',
    'Planificación y abastecimiento - Documentos',
    'Planificación y Compras AFM',
    'S&OP Demanda',
    'Codigos Demanda',
    'Parquets',
    'Historia_Sell_Out.parquet'
)

two_months_ago = (datetime.now() - pd.DateOffset(months=2)).strftime('%Y-%m')

ruta_automatica = os.path.join(
    os.path.expanduser('~'),
    'DERCO CHILE REPUESTOS SpA',
    'Planificación y abastecimiento - Documentos',
    'Planificación y Compras AFM',
    'S&OP Demanda',
    'Codigos Demanda',
    'Parquets',
    f'Historia_Sell_Out ({two_months_ago}).parquet'
)

sellout_concat = pd.read_parquet(ruta_automatica)

print(sellout_concat.shape)
print(sellout_concat.dtypes)
# (1349525, 11) SHAPE
# Canal                     object
# Material                  object
# Venta UMB                float64
# Mes               datetime64[ns]
# SI/SO                     object
# Ultimo Eslabón            object
# Tipo                      object
# Fuente                    object
# Canal 2                   object
# Canal 3                   object
# Canal 2                   object
# dtype: object

(1400061, 10)
Mes               datetime64[ns]
Material                  object
Canal                     object
Venta UMB                float64
Fuente                    object
Ultimo Eslabón            object
Tipo                      object
Canal 2                   object
Nombre Sector             object
Canal 3                   object
dtype: object

In [2]:
sellout_concat

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
...,...,...,...,...,...,...,...,...,...,...
1400056,2024-08-01,638773,Retail,2.0,Sell Out RTL Ago-24,638772,None,Retail,Suzuki,CL RETAIL
1400057,2024-08-01,645539,Retail,1.0,Sell Out RTL Ago-24,645539,None,Retail,Suzuki,CL RETAIL
1400058,2024-08-01,646167,Retail,2.0,Sell Out RTL Ago-24,1070275,None,Retail,Renault,CL RETAIL
1400059,2024-08-01,654150,Retail,2.0,Sell Out RTL Ago-24,654150,None,Retail,Suzuki,CL RETAIL
1400060,2024-08-01,656348,Retail,2.0,Sell Out RTL Ago-24,656348,None,Retail,Suzuki,CL RETAIL

Historia Terminada, agregando SellOUT GT y luego Sellout

In [3]:
import os
import pandas as pd
import datetime as datetime
# Obtener el año y mes actual en el formato YYYY y MM
fecha_actual = pd.Timestamp.now()
año_actual = fecha_actual.year
mes_actual = fecha_actual.strftime("%m")

# Construir la ruta completa al directorio que contiene los archivos
ruta_base_usuario = os.path.expanduser("~")
ruta_directorio_base = os.path.join(ruta_base_usuario, "DERCO CHILE REPUESTOS SpA", "Planificación y abastecimiento - Documentos", "Planificación y Compras Ventas", "Venta Historica Mensual")
ruta_directorio = os.path.join(ruta_directorio_base, str(año_actual), f"{año_actual}-{mes_actual}")

# Verificar si el directorio existe
if os.path.exists(ruta_directorio):
    archivo_selloutGT = None
    for archivoGT in os.listdir(ruta_directorio):
        if "Sell Out" in archivoGT and "GT" in archivoGT:
            archivo_selloutGT = archivoGT
            break

    if archivo_selloutGT:
        ruta_archivo_selloutGT = os.path.join(ruta_directorio, archivo_selloutGT)
        try:
            # Leer el archivo de Excel desde la tercera fila como encabezado
            selloutGT = pd.read_excel(ruta_archivo_selloutGT, sheet_name="Sell Out GT", header=2)
            print("Se leyó el archivo de Sell Out:", ruta_archivo_selloutGT)
        except Exception as e:
            print("Error al leer el archivo de Excel:", e)
    else:
        print("No se encontró ningún archivo con 'Sell Out' en su nombre.")
else:
    print(f"El directorio {ruta_directorio} no existe.")

Se leyó el archivo de Sell Out: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Ventas\Venta Historica Mensual\2024\2024-10\2024.10 Sell Out GT Histórico Sept-24.xlsx

In [4]:
sumaconcat = sellout_concat['Venta UMB'].sum()
sumaconcat
#58.554.466
#61703156.08033333 oct

61703156.08033333

In [5]:
selloutGT.head(1)

,Material S4,Cliente,SO Nov-22,SO Dic-22,SO Ene-23,SO Feb-23,SO Mar-23,SO Abr-23,SO May-23,SO JUN-23,...,SO ENE-24,SO FEB-24,SO MAR-24,SO ABR-24,SO MAY-24,SO JUN-24,SO JUL-24,SO AGO-24,SO SEPT-24,ID
0,1001562,Walmart,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,1001562Walmart

In [6]:
# Asumiendo que selloutGT ya ha sido leído correctamente en el DataFrame

# Reordenar las columnas para que la penúltima, última, primera y segunda sean las únicas que permanezcan
columnas_a_mantener = [selloutGT.columns[-2], selloutGT.columns[-1], selloutGT.columns[0], selloutGT.columns[1]]
selloutGT1 = selloutGT[columnas_a_mantener]
selloutGT1.head(1)

   SO SEPT-24              ID Material S4  Cliente
0           0  1001562Walmart     1001562  Walmart

In [7]:
# Renombrar la primera columna a 'Venta' y convertirla a tipo int
selloutGT1 = selloutGT1.rename(columns={selloutGT1.columns[0]: 'Venta'})
selloutGT1.loc[:, 'Venta'] = selloutGT1['Venta'].astype(int)

# Filtrar solo los valores mayores a 0
selloutGT1 = selloutGT1[selloutGT1['Venta'] > 0].copy()

# Mostrar una muestra del DataFrame y la suma de la columna 'Venta'
muestra = selloutGT1.head(1)  # Muestra de los primeros 5 registros
suma_ventas = selloutGT1['Venta'].sum()

print("Muestra del DataFrame:")
print(muestra)
print(f"\nSuma de la columna 'Venta': {suma_ventas}")

Muestra del DataFrame:
   Venta           ID Material S4 Cliente
5    207  1004224Easy     1004224    Easy

Suma de la columna 'Venta': 136282

In [8]:
selloutGT1 = selloutGT1[~selloutGT1['Material S4'].str.contains('Total', case=False, na=False)]
# Mostrar el DataFrame resultante
suma_ventas = selloutGT1['Venta'].sum()

print("Muestra del DataFrame:")
print(muestra)
print(f"\nSuma de la columna 'Venta': {suma_ventas}")

Muestra del DataFrame:
   Venta           ID Material S4 Cliente
5    207  1004224Easy     1004224    Easy

Suma de la columna 'Venta': 68141

In [9]:
selloutGT1.shape

(269, 4)

In [10]:
import pandas as pd
from datetime import datetime, timedelta
# Agregar las nuevas columnas utilizando .loc para evitar SettingWithCopyWarning
selloutGT1.loc[:, 'Fuente'] = 'Sell Out MB51 - SISO'
selloutGT1.loc[:, 'SI/SO'] = 'SO'

# Calcular el primer día del mes anterior
primer_dia_mes_anterior = (fecha_actual.replace(day=1) - timedelta(days=1)).replace(day=1)

# Crear una columna 'Mes' con el formato especificado
selloutGT1.loc[:, 'Mes'] = primer_dia_mes_anterior.strftime('%Y-%m-%d')
selloutGT1.head(1)

,Venta,ID,Material S4,Cliente,Fuente,SI/SO,Mes
5,207,1004224Easy,1004224,Easy,Sell Out MB51 - SISO,SO,2024-09-01

In [11]:
selloutGT1.dtypes

Venta           int64
ID             object
Material S4    object
Cliente        object
Fuente         object
SI/SO          object
Mes            object
dtype: object

In [12]:
sellout_concat.tail(1)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1400060,2024-08-01,656348,Retail,2.0,Sell Out RTL Ago-24,656348,None,Retail,Suzuki,CL RETAIL

In [13]:
v1 = selloutGT1['Venta'].sum()
v1

68141

In [14]:
sellout_concat.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3'],
      dtype='object')

In [15]:
selloutGT1.columns

Index(['Venta', 'ID', 'Material S4', 'Cliente', 'Fuente', 'SI/SO', 'Mes'], dtype='object')

In [16]:
v1 = sellout_concat['Venta UMB'].sum()
v1

61703156.08033333

In [17]:

selloutGT1.rename(columns={'Material S4': 'Material', 'Venta': 'Venta UMB', 'Cliente': 'Canal'}, inplace=True)

# Seleccionar todas las columnas de selloutGT1 que coincidan con las de sellout_concat
columnas_comunes = [col for col in selloutGT1.columns if col in sellout_concat.columns]
selloutGT1 = selloutGT1[columnas_comunes]

In [18]:
columnas_comunes

['Venta UMB', 'Material', 'Canal', 'Fuente', 'Mes']

In [19]:

suma_ventas = sellout_concat['Venta UMB'].sum()

# Mostrar el DataFrame resultante y la suma de la columna 'Venta UMB'
print("DataFrame concatenado:")
print(sellout_concat.head(1))
print(f"\nSuma de la columna 'Venta UMB': {suma_ventas}")

DataFrame concatenado:
         Mes Material Canal  Venta UMB                Fuente Ultimo Eslabón  \
0 2021-06-01  1000147    AP       52.0  Sell Out MB51 - SISO        1000147

  Tipo Canal 2 Nombre Sector    Canal 3
0  ACC  Retail           ACC  CL RETAIL

Suma de la columna 'Venta UMB': 61703156.08033333

In [20]:
v3 = sellout_concat['Venta UMB'].sum()
v3
#58624420.08033333
#59807395.08033334

61703156.08033333

In [21]:
sellout_concat.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [22]:
sellout_concat.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1400059,2024-08-01,654150,Retail,2.0,Sell Out RTL Ago-24,654150,None,Retail,Suzuki,CL RETAIL
1400060,2024-08-01,656348,Retail,2.0,Sell Out RTL Ago-24,656348,None,Retail,Suzuki,CL RETAIL

leer solo sellout

In [23]:
# Obtener el año y mes actual en el formato YYYY y MM
fecha_actual = pd.Timestamp.now()
año_actual = fecha_actual.year
mes_actual = fecha_actual.strftime("%m")

# Construir la ruta completa al directorio que contiene los archivos
ruta_base_usuario = os.path.expanduser("~")
ruta_directorio_base = os.path.join(ruta_base_usuario, "DERCO CHILE REPUESTOS SpA", "Planificación y abastecimiento - Documentos", "Planificación y Compras Ventas", "Venta Historica Mensual")
ruta_directorio = os.path.join(ruta_directorio_base, str(año_actual), f"{año_actual}-{mes_actual}")
archivo_sellout = None
for archivo in os.listdir(ruta_directorio):
    if "Sell Out" in archivo and "GT" not in archivo:
        archivo_sellout = archivo
        break

if archivo_sellout:
    ruta_archivo_sellout = os.path.join(ruta_directorio, archivo_sellout)
    sellout = pd.read_excel(ruta_archivo_sellout, sheet_name="Sheet1")  # Leer la hoja "Sheet1"
    print("Se leyó el archivo de Sell Out:", ruta_archivo_sellout)
else:
    print("No se encontró ningún archivo con 'Sell Out' en su nombre.")

Se leyó el archivo de Sell Out: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Ventas\Venta Historica Mensual\2024\2024-10\2024.10 Sell Out MB51 RTL Septiembre S4.xlsx

In [24]:
sellout.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Ce.', 'Material',
       'Texto breve de material', 'CMv', 'Doc.mat.', 'Fe.contab.',
       '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.', 'Cantidad', 'Ctd.en',
       'Ctd.UMPP', 'Pedido', 'Txt clase-mov.', 'UMP', 'UMB', 'UMP.1',
       'Cliente', 'Ult.Eslabón', 'Nombre Sector', 'Sector_MU', 'Canal', 'Tipo',
       'Forecast AFM', 'Forecast OEM', 'Venta UMB', 'Semana', 'Canal 2', 'ID'],
      dtype='object')

In [25]:
sellout.shape

(355205, 32)

In [26]:
sellin = sellout

In [27]:
sellin.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Ce.', 'Material',
       'Texto breve de material', 'CMv', 'Doc.mat.', 'Fe.contab.',
       '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.', 'Cantidad', 'Ctd.en',
       'Ctd.UMPP', 'Pedido', 'Txt clase-mov.', 'UMP', 'UMB', 'UMP.1',
       'Cliente', 'Ult.Eslabón', 'Nombre Sector', 'Sector_MU', 'Canal', 'Tipo',
       'Forecast AFM', 'Forecast OEM', 'Venta UMB', 'Semana', 'Canal 2', 'ID'],
      dtype='object')

Achicar Sellin & SellOut

In [28]:
# sellout = sellout[['Ce.', 'Material', 'Texto breve de material', 'Fe.contab.', 'Cliente', 'Ult.EslabÃ³n', 'Nombre Sector', 'Canal', 'Tipo', 'Forecast AFM', 'Venta UMB', 'Semana ISO', 'Canal 2', 'ID']]
sellin = sellin[['Ce.', 'Material', 'Texto breve de material', 'Fe.contab.', 'Cliente', 'Ult.Eslabón', 'Nombre Sector', 'Canal', 'Tipo', 'Forecast AFM', 'Venta UMB', 'Semana', 'Canal 2', 'ID']]

In [29]:
# sellin_filtrado = sellin[sellin['Venta UMB'] >= 0]
# sellin_filtrado.head(10)

In [30]:
df_sellin=sellin

In [31]:
df_sellin = df_sellin.copy()
df_sellin.rename(columns={'Ult.EslabÃ³n': 'Ult.Eslabón'}, inplace=True)

In [32]:
df_sellin.columns

Index(['Ce.', 'Material', 'Texto breve de material', 'Fe.contab.', 'Cliente',
       'Ult.Eslabón', 'Nombre Sector', 'Canal', 'Tipo', 'Forecast AFM',
       'Venta UMB', 'Semana', 'Canal 2', 'ID'],
      dtype='object')

Esto hay que cambiarlo ya que el sellin semanal ya viene con Nuevo Canal como columna y el mensual igual debería

In [33]:
df_sellin = df_sellin.copy()
# df_sellin.rename(columns={'Canal 2': 'Nuevo Canal'}, inplace=True)

EVALUAR SI SE MODIFICA Y SE SACA EL FORECAST AFM = SI YA QUE MAS ADELANTES NOS QUEDAMOS CON LOS CANALES"

In [34]:
sellin.head(1)

,Ce.,Material,Texto breve de material,Fe.contab.,Cliente,Ult.Eslabón,Nombre Sector,Canal,Tipo,Forecast AFM,Venta UMB,Semana,Canal 2,ID
0,0478,100481,HUAIPE HILACHA COLOR 1KG,01.09.2024,TI0478,100481,ACC,Retail,AFM,SI,1,35,CL RETAIL,100481CL RETAIL

In [35]:
last_column = sellin.columns[-4]

# Calcular la suma de la última columna
sum_last_column = sellin[last_column].sum()

# Mostrar la suma
print(f"La suma de la última columna ({last_column}) es: {sum_last_column}")

La suma de la última columna (Venta UMB) es: 539730

In [36]:
sum_last_column

539730

In [37]:
# df_sellin_filtered = df_sellin[df_sellin['Forecast AFM'].str.lower() == 'si']
df_sellin_filtered = df_sellin


# EVALUAR SI SE MODIFICA ESTA PARTE!!!!!!!!!!!!!!!!

In [38]:
df_sellin_filtered.shape

(355205, 14)

In [39]:
df_sellin_filtered.head(100)

,Ce.,Material,Texto breve de material,Fe.contab.,Cliente,Ult.Eslabón,Nombre Sector,Canal,Tipo,Forecast AFM,Venta UMB,Semana,Canal 2,ID
0,0478,100481,HUAIPE HILACHA COLOR 1KG,01.09.2024,TI0478,100481,ACC,Retail,AFM,SI,1,35,CL RETAIL,100481CL RETAIL
1,0412,100483,W818/8 F.AC.MANN,01.09.2024,TI0412,100483,RALT,Retail,AFM,SI,1,35,CL RETAIL,100483CL RETAIL
2,0444,100492,W818/4 F.AC.MANN,01.09.2024,TI0444,100492,RALT,Retail,AFM,SI,1,35,CL RETAIL,100492CL RETAIL
3,0454,100504,HU711/51X F.AC.MANN,01.09.2024,TI0454,100504,RALT,Retail,AFM,SI,1,35,CL RETAIL,100504CL RETAIL
4,0428,101066,FILTRO.COMB MANN FILTER WK613,01.09.2024,TI0428,101066,RALT,Retail,AFM,SI,1,35,CL RETAIL,101066CL RETAIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,0415,110447,BAT DGP MF55457 55AH 420CCA,01.09.2024,TI0415,110447,BAT,Retail,AFM,SI,2,35,CL RETAIL,110447CL RETAIL
96,0416,110447,BAT DGP MF55457 55AH 420CCA,01.09.2024,TI0416,110447,BAT,Retail,AFM,SI,1,35,CL RETAIL,110447CL RETAIL
97,0424,110447,BAT DGP MF55457 55AH 420CCA,01.09.2024,TI0424,110447,BAT,Retail,AFM,SI,3,35,CL RETAIL,110447CL RETAIL
98,0426,110447,BAT DGP MF55457 55AH 420CCA,01.09.2024,TI0426,110447,BAT,Retail,AFM,SI,2,35,CL RETAIL,110447CL RETAIL
99,0427,110447,BAT DGP MF55457 55AH 420CCA,01.09.2024,TI0427,110447,BAT,Retail,AFM,SI,-1,35,CL RETAIL,110447CL RETAIL

In [40]:
df_sellin_filtered['Material'] = df_sellin_filtered['Material'].astype(str).str.replace('.0', '', regex=False)

In [41]:
td_sellin = df_sellin_filtered.groupby(['Material', 'Canal'])['Venta UMB'].sum().reset_index()
# Asegurarse de que la columna 'Venta' es numérica

td_sellin.head(1)

  Material   Canal  Venta UMB
0  1000147  Retail         56

In [42]:
td_sellin.dtypes

Material     object
Canal        object
Venta UMB     int64
dtype: object

In [43]:
td_sellin['Material'] = td_sellin['Material'].astype(str)
td_sellin['Venta UMB'] = td_sellin['Venta UMB'].astype(int)

In [44]:
td_sellin=td_sellin.copy()

In [45]:
td_sellin['Venta UMB'] = pd.to_numeric(td_sellin['Venta UMB'], errors='coerce')

In [46]:
td_sellin.dtypes

Material     object
Canal        object
Venta UMB     int32
dtype: object

In [47]:
td_filtered = td_sellin.loc[td_sellin['Venta UMB'] > 0]

In [48]:
td_sellin=td_filtered

In [49]:
td_sellin.shape

(9103, 3)

In [50]:
last_column = td_sellin.columns[-1]

# Calcular la suma de la última columna
sum_last_column = td_sellin[last_column].sum()

# Mostrar la suma
print(f"La suma de la última columna ({last_column}) es: {sum_last_column}")

La suma de la última columna (Venta UMB) es: 541292

CORREGIR PARA QUE LA USE CUALQUIER USUARIO

In [51]:
td_sellin.columns

Index(['Material', 'Canal', 'Venta UMB'], dtype='object')

In [52]:
valores_unicos_nuevo_canal = td_sellin['Canal'].unique()
print("Valores únicos en la columna 'Canal':")
print(valores_unicos_nuevo_canal)

Valores únicos en la columna 'Canal':
['Retail']

EVALUAR SI SE SACA ESTE BLOQUE

In [53]:
# valores_deseados = ['CES 01', 'Mayorista']
# td_sellin = td_sellin[td_sellin['Nuevo Canal'].isin(valores_deseados)]
td_sellin.head(2)
#evaluar si sacar este bloque!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

  Material   Canal  Venta UMB
0  1000147  Retail         56
1  1000148  Retail        102

Sellout_concat es la historia en Parquet, y le cambiamos el nombre a df_combinado para seguir con el código

In [54]:
df_combinado = sellout_concat

In [55]:
df_combinado.shape

(1400061, 10)

In [56]:
canal_mapping = {
    'AP': 'Retail',
    'Sergo': 'Retail',
    'Easy': 'Easy',
    'TOTTUS': 'TOTTUS',
    'Walmart': 'Walmart',
    'Sodimac': 'Sodimac',
    'SMU': 'SMU',
    'Retail': 'Retail'
}

# Aplicar el mapeo a la columna Canal 2
df_combinado['Canal 2'] = df_combinado['Canal'].map(canal_mapping)

In [57]:
valores_unicos_nuevo_canal = df_combinado['Canal 2'].unique()
print("Valores únicos en la columna 'Nuevo Canal':")
print(valores_unicos_nuevo_canal)

Valores únicos en la columna 'Nuevo Canal':
['Retail' 'Sodimac' 'Easy' 'Walmart' 'SMU' 'TOTTUS']

In [58]:
td_sellin.shape

(9103, 3)

In [59]:
suma_venta_umb = td_sellin['Venta UMB'].sum()
print("La suma de la columna 'venta_umb' es:", suma_venta_umb)
# La suma de la columna 'venta_umb' es: 86635289 es: 569188

La suma de la columna 'venta_umb' es: 541292

In [60]:
df_combinado.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3'],
      dtype='object')

In [61]:
df_combinado.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [62]:
df_combinado.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1400059,2024-08-01,654150,Retail,2.0,Sell Out RTL Ago-24,654150,None,Retail,Suzuki,CL RETAIL
1400060,2024-08-01,656348,Retail,2.0,Sell Out RTL Ago-24,656348,None,Retail,Suzuki,CL RETAIL

Buscar Cod_Actual del año y mes actual EN EXCEL

Buscar Cod_Actual del año y mes actual EN CSV

In [63]:
import glob
import os
import pandas as pd
from datetime import datetime

# Obtener el directorio del usuario
user_dir = os.path.expanduser("~")
user_name = os.getlogin()
now = datetime.now()
year_month = now.strftime('%Y-%m')

# Construir la ruta base utilizando el directorio del usuario
base_path = os.path.join(user_dir, 'DERCO CHILE REPUESTOS SpA', 'Planificación y abastecimiento - Documentos', 
                         'Planificación y Compras Maestros', str(now.year), year_month, 'MaestrosCSV')

# Patrón de búsqueda para los archivos
pattern = os.path.join(base_path, '*COD_ACTUAL*.csv')

# Obtener la lista de archivos que coinciden con el patrón, excluyendo los que contienen 'R3'
files = [f for f in glob.glob(pattern) if 'R3' not in os.path.basename(f)]

if not files:
    raise FileNotFoundError("No se encontraron archivos.")

# Encontrar el archivo más reciente basado en la fecha de modificación
latest_file = max(files, key=os.path.getmtime)

# Leer el archivo CSV
df = pd.read_csv(latest_file, delimiter=';', decimal=',', low_memory=False, dtype=str)
print(f"Archivo leído: {latest_file}")

# Seleccionar las columnas y renombrar
eslabon = df[['Nro_pieza_fabricante_1', 'Cod_Actual_1']].copy()
eslabon.rename(columns={'Nro_pieza_fabricante_1': 'Material'}, inplace=True)

# Mostrar las primeras filas del DataFrame resultante
print(eslabon.head(2))

Archivo leído: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Maestros\2024\2024-10\MaestrosCSV\COD_ACTUAL_S4_20241001.csv
  Material Cod_Actual_1
0   102288       582655
1   501216       582655

In [64]:
eslabon['Material'] = eslabon['Material'].astype(str)
td_sellin['Material'] = td_sellin['Material'].astype(str)

In [65]:
# td_sellin = pd.merge(td_sellin, eslabon, on='Material', how='left')
# # Si hay valores que no coinciden, rellenarlos con el valor original de "Material"
# td_sellin['Cod_Actual_1'].fillna(td_sellin['Material'], inplace=True)

In [66]:
# # Dropear la columna "Material" original
# td_sellin.drop('Material', axis=1, inplace=True)

In [67]:
# # Renombrar la columna resultante como "Material"
# td_sellin.rename(columns={'Cod_Actual_1': 'Material'}, inplace=True)
# td_sellin.head(2)

In [68]:
td_sellin.shape

(9103, 3)

In [69]:
td_sellin.head(1)

  Material   Canal  Venta UMB
0  1000147  Retail         56

In [70]:
td_sellin['Material'] = td_sellin['Material'].astype(str).str.replace('.0', '', regex=False)

In [71]:
td_sellin = td_sellin.groupby(['Material', 'Canal']).agg({'Venta UMB': 'sum'}).reset_index()

In [72]:
td_sellin.head(1)

  Material   Canal  Venta UMB
0  1000147  Retail         56

In [73]:
td_sellin.shape

(9103, 3)

Agregando Sellin AÑO/MES ACTUAL a la historia y poniendo que tipo de venta es

In [74]:
df_combinado.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1400059,2024-08-01,654150,Retail,2.0,Sell Out RTL Ago-24,654150,None,Retail,Suzuki,CL RETAIL
1400060,2024-08-01,656348,Retail,2.0,Sell Out RTL Ago-24,656348,None,Retail,Suzuki,CL RETAIL

In [75]:
td_sellin.head(2)

  Material   Canal  Venta UMB
0  1000147  Retail         56
1  1000148  Retail        102

In [76]:
df_combinado.shape

(1400061, 10)

In [77]:
from datetime import datetime, timedelta

# Diccionario de meses abreviados en español
meses_abreviados = {
    1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun',
    7: 'Jul', 8: 'Ago', 9: 'Sept', 10: 'Oct', 11: 'Nov', 12: 'Dic'
}

nuevas_filas = td_sellin.copy()


# Obtener las fechas relevantes
fecha_actual = datetime.now().replace(day=1)  # Primer día del mes actual
fecha_mes_anterior = fecha_actual - timedelta(days=1)  # Retrocede un día para llegar al mes anterior
fecha_mes_anterior = fecha_mes_anterior.replace(day=1)  # Primer día del mes anterior

# Formatear fechas para columnas específicas
fecha_mes_anterior_str = fecha_mes_anterior.strftime('%d-%m-%Y')
mes_numero = fecha_mes_anterior.month  # Obtiene el número del mes anterior
mes_abreviado = meses_abreviados[mes_numero]  # Usa el diccionario para obtener la abreviatura en español
ano_actual_yy = fecha_mes_anterior.strftime('%y')  # Año actual en formato YY


# Añadir la columna 'Fuente' con el formato requerido
nuevas_filas['Fuente'] = f"Sell Out RTL {mes_abreviado}-{ano_actual_yy}"

# Asegurar que todas las columnas de df_combinado estén en nuevas_filas
for col in df_combinado.columns:
    if col not in nuevas_filas:
        nuevas_filas[col] = None  # Añade columnas faltantes como None o un valor por defecto

In [78]:
df_combinado.tail(10)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1400051,2024-08-01,538395,Retail,5.0,Sell Out RTL Ago-24,538395,None,Retail,Suzuki,CL RETAIL
1400052,2024-08-01,550060,Retail,1.0,Sell Out RTL Ago-24,550060,None,Retail,Suzuki,CL RETAIL
1400053,2024-08-01,550991,Retail,1.0,Sell Out RTL Ago-24,550991,None,Retail,JAC Cars,CL RETAIL
1400054,2024-08-01,556685,Retail,4.0,Sell Out RTL Ago-24,556685,None,Retail,Suzuki,CL RETAIL
1400055,2024-08-01,557013,Retail,4.0,Sell Out RTL Ago-24,557013,None,Retail,JAC Truck,CL RETAIL
1400056,2024-08-01,638773,Retail,2.0,Sell Out RTL Ago-24,638772,None,Retail,Suzuki,CL RETAIL
1400057,2024-08-01,645539,Retail,1.0,Sell Out RTL Ago-24,645539,None,Retail,Suzuki,CL RETAIL
1400058,2024-08-01,646167,Retail,2.0,Sell Out RTL Ago-24,1070275,None,Retail,Renault,CL RETAIL
1400059,2024-08-01,654150,Retail,2.0,Sell Out RTL Ago-24,654150,None,Retail,Suzuki,CL RETAIL
1400060,2024-08-01,656348,Retail,2.0,Sell Out RTL Ago-24,656348,None,Retail,Suzuki,CL RETAIL

In [79]:
nuevas_filas.head(1)

,Material,Canal,Venta UMB,Fuente,Mes,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,1000147,Retail,56,Sell Out RTL Sept-24,None,None,None,None,None,None

In [80]:
nuevas_filas.shape

(9103, 10)

In [81]:
sumafilas=nuevas_filas['Venta UMB'].sum()
sumafilas

541292

In [82]:
df_combinado.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3'],
      dtype='object')

In [83]:
nuevas_filas.columns

Index(['Material', 'Canal', 'Venta UMB', 'Fuente', 'Mes', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3'],
      dtype='object')

In [84]:
# Reordenar las columnas de nuevas_filas para que coincidan con df_combinado
nuevas_filas = nuevas_filas[['Canal', 'Material', 'Venta UMB', 'Mes', 'Ultimo Eslabón',
                             'Tipo', 'Fuente', 'Canal 2', 'Canal 3']]

In [85]:
nuevas_filas.head(2)

,Canal,Material,Venta UMB,Mes,Ultimo Eslabón,Tipo,Fuente,Canal 2,Canal 3
0,Retail,1000147,56,None,None,None,Sell Out RTL Sept-24,None,None
1,Retail,1000148,102,None,None,None,Sell Out RTL Sept-24,None,None

In [86]:
import pandas as pd
from datetime import datetime, timedelta
nuevas_filas['SI/SO'] = 'SO'
nuevas_filas['Canal'] = 'Retail'
nuevas_filas['Canal 2'] = 'Retail'


primer_dia_mes_anterior = (fecha_actual.replace(day=1) - timedelta(days=1)).replace(day=1)

# Crear una columna 'Mes' con el formato especificado
nuevas_filas['Mes'] = primer_dia_mes_anterior.strftime('%Y-%m-%d')
nuevas_filas.head(1)

,Canal,Material,Venta UMB,Mes,Ultimo Eslabón,Tipo,Fuente,Canal 2,Canal 3,SI/SO
0,Retail,1000147,56,2024-09-01,None,None,Sell Out RTL Sept-24,Retail,None,SO

In [87]:
sumanf=nuevas_filas['Venta UMB'].sum()
sumanf

541292

In [88]:
sumadca2=df_combinado['Venta UMB'].sum()
sumadca2

61703156.08033333

In [89]:
nuevas_filas.shape

(9103, 10)

In [90]:
df_combinado.shape

(1400061, 10)

In [91]:
sumadfcombinado = df_combinado['Venta UMB'].sum()
sumadfcombinado

61703156.08033333

In [92]:
# Concatenar el DataFrame original con las nuevas filas
df_combinado_actualizado2 = pd.concat([df_combinado, nuevas_filas], ignore_index=True)

In [93]:
sumadfcombinado = df_combinado_actualizado2['Venta UMB'].sum()
sumadfcombinado

62244448.08033333

In [94]:
df_combinado_actualizado2.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
1409162,2024-09-01,750797,Retail,3.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO
1409163,2024-09-01,752466,Retail,1.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO

In [95]:
df_combinado_actualizado2['Material'] = df_combinado_actualizado2['Material'].astype(str).str.replace('.0', '', regex=False)

In [96]:
df_combinado_actualizado2

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01 00:00:00,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
1,2021-05-01 00:00:00,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
2,2021-04-01 00:00:00,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
3,2021-03-01 00:00:00,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
4,2021-02-01 00:00:00,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1409159,2024-09-01,746561,Retail,4.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO
1409160,2024-09-01,750405,Retail,23.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO
1409161,2024-09-01,750791,Retail,5.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO
1409162,2024-09-01,750797,Retail,3.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO
1409163,2024-09-01,752466,Retail,1.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO

In [97]:
df_combinado_actualizado2['Material'] = df_combinado_actualizado2['Material'].astype(str)
ax = df_combinado_actualizado2['Mes'].unique()
ax

array([Timestamp('2021-06-01 00:00:00'), Timestamp('2021-05-01 00:00:00'),
       Timestamp('2021-04-01 00:00:00'), Timestamp('2021-03-01 00:00:00'),
       Timestamp('2021-02-01 00:00:00'), Timestamp('2021-01-01 00:00:00'),
       Timestamp('2020-12-01 00:00:00'), Timestamp('2020-11-01 00:00:00'),
       Timestamp('2020-10-01 00:00:00'), Timestamp('2020-08-01 00:00:00'),
       Timestamp('2020-07-01 00:00:00'), Timestamp('2020-06-01 00:00:00'),
       Timestamp('2020-05-01 00:00:00'), Timestamp('2020-04-01 00:00:00'),
       Timestamp('2020-03-01 00:00:00'), Timestamp('2020-02-01 00:00:00'),
       Timestamp('2020-01-01 00:00:00'), Timestamp('2020-09-01 00:00:00'),
       Timestamp('2021-08-01 00:00:00'), Timestamp('2021-07-01 00:00:00'),
       Timestamp('2021-09-01 00:00:00'), Timestamp('2021-10-01 00:00:00'),
       Timestamp('2021-11-01 00:00:00'), Timestamp('2021-12-01 00:00:00'),
       Timestamp('2022-01-01 00:00:00'), Timestamp('2022-02-01 00:00:00'),
       Timestamp('2022-03-01 00:00:00'), Timestamp('2022-04-01 00:00:00'),
       Timestamp('2022-05-01 00:00:00'), Timestamp('2022-06-01 00:00:00'),
       Timestamp('2022-07-01 00:00:00'), Timestamp('2022-08-01 00:00:00'),
       Timestamp('2022-09-01 00:00:00'), Timestamp('2022-10-01 00:00:00'),
       Timestamp('2022-11-01 00:00:00'), Timestamp('2022-12-01 00:00:00'),
       Timestamp('2023-01-01 00:00:00'), Timestamp('2023-02-01 00:00:00'),
       Timestamp('2023-03-01 00:00:00'), Timestamp('2023-04-01 00:00:00'),
       Timestamp('2023-05-01 00:00:00'), Timestamp('2023-06-01 00:00:00'),
       Timestamp('2023-07-01 00:00:00'), Timestamp('2023-08-01 00:00:00'),
       Timestamp('2023-09-01 00:00:00'), Timestamp('2023-10-01 00:00:00'),
       Timestamp('2023-11-01 00:00:00'), Timestamp('2023-12-01 00:00:00'),
       Timestamp('2024-01-01 00:00:00'), Timestamp('2024-02-01 00:00:00'),
       Timestamp('2024-03-01 00:00:00'), Timestamp('2024-04-01 00:00:00'),
       Timestamp('2024-05-01 00:00:00'), Timestamp('2024-06-01 00:00:00'),
       Timestamp('2024-07-01 00:00:00'), Timestamp('2024-08-01 00:00:00'),
       Timestamp('2019-09-01 00:00:00'), Timestamp('2019-07-01 00:00:00'),
       Timestamp('2019-08-01 00:00:00'), Timestamp('2019-10-01 00:00:00'),
       Timestamp('2019-11-01 00:00:00'), Timestamp('2019-12-01 00:00:00'),
       Timestamp('2019-04-01 00:00:00'), Timestamp('2019-05-01 00:00:00'),
       Timestamp('2019-06-01 00:00:00'), Timestamp('2018-04-01 00:00:00'),
       Timestamp('2018-01-01 00:00:00'), Timestamp('2018-02-01 00:00:00'),
       Timestamp('2018-05-01 00:00:00'), Timestamp('2018-06-01 00:00:00'),
       Timestamp('2018-07-01 00:00:00'), Timestamp('2019-02-01 00:00:00'),
       Timestamp('2018-03-01 00:00:00'), Timestamp('2018-08-01 00:00:00'),
       Timestamp('2018-09-01 00:00:00'), Timestamp('2018-10-01 00:00:00'),
       Timestamp('2018-12-01 00:00:00'), Timestamp('2019-03-01 00:00:00'),
       Timestamp('2018-11-01 00:00:00'), Timestamp('2019-01-01 00:00:00'),
       '2024-09-01'], dtype=object)

In [98]:
# Asegurarse de que la columna 'Mes' sea del tipo datetime
df_combinado_actualizado2['Mes'] = pd.to_datetime(df_combinado_actualizado2['Mes'])

# Contar las filas que tienen 'Mes' igual a "2024-04-01"
lineas_con_mes_abril = df_combinado_actualizado2[df_combinado_actualizado2['Mes'] == "2024-04-01"].shape[0]

lineas_con_mes_abril

10813

In [99]:
# Contar las filas que contienen "Abr-24" en la columna 'Fuente'
lineas_con_abr_24 = df_combinado_actualizado2[df_combinado_actualizado2['Fuente'].str.contains("Abr-24", na=False)].shape[0]

lineas_con_abr_24

0

In [100]:
sumadca23=df_combinado_actualizado2['Venta UMB'].sum()
sumadca23

62244448.08033333

In [101]:

# df_filtrado = df_combinado_actualizado2[df_combinado_actualizado2['Fuente'] == 'Sell In Abr-24']

# # Verificar si hay filas filtradas
# if not df_filtrado.empty:
#     # Guardar el DataFrame filtrado en un archivo CSV
#     ruta_archivo = r'C:\Users\etorres\Desktop\df_filtrado.csv'
#     df_filtrado.to_csv(ruta_archivo, sep=';', decimal=',', index=False)
#     print(f"Se ha guardado el DataFrame filtrado en '{ruta_archivo}'")
# else:
#     print("No hay filas que cumplan con el criterio de filtrado.")

In [102]:
df_combinado_actualizado2.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
1409162,2024-09-01,750797,Retail,3.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO
1409163,2024-09-01,752466,Retail,1.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO

In [103]:
df_combinado_actualizado2

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1409159,2024-09-01,746561,Retail,4.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO
1409160,2024-09-01,750405,Retail,23.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO
1409161,2024-09-01,750791,Retail,5.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO
1409162,2024-09-01,750797,Retail,3.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO
1409163,2024-09-01,752466,Retail,1.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO

PONIENDOLE EL CANAL 3 CORREPSONDIENTE

In [104]:
df_combinado_actualizado2.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
1409162,2024-09-01,750797,Retail,3.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO
1409163,2024-09-01,752466,Retail,1.0,Sell Out RTL Sept-24,None,None,Retail,NaN,None,SO

In [105]:
# merged_df2 = pd.merge(totalsellin, canales, left_on='Canal', right_on='Nuevo Canal', how='left')
# totalsellin['Nuevo Canal'] = merged_df2['Canal SAP']

In [106]:
# Asegurar que todos los valores en la columna 'Mes' de df_combinado_actualizado2 sean del tipo datetime
df_combinado_actualizado2['Mes'] = pd.to_datetime(df_combinado_actualizado2['Mes'], errors='coerce')

# Obtener los valores únicos de la columna 'Mes'
valores_unicos_actualizado2 = df_combinado_actualizado2['Mes'].unique()

# Imprimir los valores únicos de la columna 'Mes'
print(valores_unicos_actualizado2)

<DatetimeArray>
['2021-06-01 00:00:00', '2021-05-01 00:00:00', '2021-04-01 00:00:00',
 '2021-03-01 00:00:00', '2021-02-01 00:00:00', '2021-01-01 00:00:00',
 '2020-12-01 00:00:00', '2020-11-01 00:00:00', '2020-10-01 00:00:00',
 '2020-08-01 00:00:00', '2020-07-01 00:00:00', '2020-06-01 00:00:00',
 '2020-05-01 00:00:00', '2020-04-01 00:00:00', '2020-03-01 00:00:00',
 '2020-02-01 00:00:00', '2020-01-01 00:00:00', '2020-09-01 00:00:00',
 '2021-08-01 00:00:00', '2021-07-01 00:00:00', '2021-09-01 00:00:00',
 '2021-10-01 00:00:00', '2021-11-01 00:00:00', '2021-12-01 00:00:00',
 '2022-01-01 00:00:00', '2022-02-01 00:00:00', '2022-03-01 00:00:00',
 '2022-04-01 00:00:00', '2022-05-01 00:00:00', '2022-06-01 00:00:00',
 '2022-07-01 00:00:00', '2022-08-01 00:00:00', '2022-09-01 00:00:00',
 '2022-10-01 00:00:00', '2022-11-01 00:00:00', '2022-12-01 00:00:00',
 '2023-01-01 00:00:00', '2023-02-01 00:00:00', '2023-03-01 00:00:00',
 '2023-04-01 00:00:00', '2023-05-01 00:00:00', '2023-06-01 00:00:00',
 '2023-07-01 00:00:00', '2023-08-01 00:00:00', '2023-09-01 00:00:00',
 '2023-10-01 00:00:00', '2023-11-01 00:00:00', '2023-12-01 00:00:00',
 '2024-01-01 00:00:00', '2024-02-01 00:00:00', '2024-03-01 00:00:00',
 '2024-04-01 00:00:00', '2024-05-01 00:00:00', '2024-06-01 00:00:00',
 '2024-07-01 00:00:00', '2024-08-01 00:00:00', '2019-09-01 00:00:00',
 '2019-07-01 00:00:00', '2019-08-01 00:00:00', '2019-10-01 00:00:00',
 '2019-11-01 00:00:00', '2019-12-01 00:00:00', '2019-04-01 00:00:00',
 '2019-05-01 00:00:00', '2019-06-01 00:00:00', '2018-04-01 00:00:00',
 '2018-01-01 00:00:00', '2018-02-01 00:00:00', '2018-05-01 00:00:00',
 '2018-06-01 00:00:00', '2018-07-01 00:00:00', '2019-02-01 00:00:00',
 '2018-03-01 00:00:00', '2018-08-01 00:00:00', '2018-09-01 00:00:00',
 '2018-10-01 00:00:00', '2018-12-01 00:00:00', '2019-03-01 00:00:00',
 '2018-11-01 00:00:00', '2019-01-01 00:00:00', '2024-09-01 00:00:00']
Length: 81, dtype: datetime64[ns]

In [107]:
# df_combinado_actualizado2.tail(2)

Eliminar y Cruzar ultimo eslabón

In [108]:
consolidado = df_combinado_actualizado2

In [109]:
consolidado.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3', 'SI/SO'],
      dtype='object')

In [110]:
# eslabon.columns

In [111]:
consolidado.head(1)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN

Eliminar cruce de UE para ponerlo despues de GT

In [112]:
consolidado['Ultimo Eslabón'] = None
merged_df = pd.merge(consolidado, eslabon, on='Material', how='left')
merged_df['Ultimo Eslabón'] = merged_df['Cod_Actual_1'].fillna(merged_df['Material'])
merged_df = merged_df[consolidado.columns]

In [113]:
merged_df.shape

(1409164, 11)

In [114]:
totalsellin = merged_df
merged_df.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3', 'SI/SO'],
      dtype='object')

Validar descargando un CSV con el año especifico en este caso el 2024 para ver si el sellin que se agregó está correcto

In [115]:
# filtered_totalsellin = totalsellin[totalsellin['Año/Mes natural'].astype(str).str.contains(r'\b2024\b', case=False, regex=True)]

# # Definir la ruta de guardado
# path = r"C:\Users\Etorres\Desktop\Codigos Demanda\Corrección VTA\totalsellin_2024.csv"

# # Guardar el DataFrame filtrado como CSV en la ruta especificada, con punto y coma como separador y coma para los decimales
# filtered_totalsellin.to_csv(path, sep=';', decimal=',', index=False)

# # Imprimir mensaje de confirmación
# print("Archivo CSV guardado con éxito en:", path)

------------------------------------

In [116]:
totalsellin.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3', 'SI/SO'],
      dtype='object')

In [117]:
totalsellin.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
1409162,2024-09-01,750797,Retail,3.0,Sell Out RTL Sept-24,750797,None,Retail,NaN,None,SO
1409163,2024-09-01,752466,Retail,1.0,Sell Out RTL Sept-24,752466,None,Retail,NaN,None,SO

In [118]:
totalsellin.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3', 'SI/SO'],
      dtype='object')

cruzar gt

In [119]:
asd=selloutGT1['Venta UMB'].sum()
asd

68141

In [120]:
selloutGT1.columns

Index(['Venta UMB', 'Material', 'Canal', 'Fuente', 'Mes'], dtype='object')

In [121]:
selloutGT1.head(1)

   Venta UMB Material Canal                Fuente         Mes
5        207  1004224  Easy  Sell Out MB51 - SISO  2024-09-01

In [122]:
selloutGT1['Mes'] = pd.to_datetime(selloutGT1['Mes'])

In [123]:
totalsellin.head(1)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN

CONCATENACION

In [124]:
import pandas as pd

# Supongamos que ya tienes tus DataFrames `totalsellin` y `selloutGT1`

# Realizamos la concatenación
concatenated_df = pd.concat([totalsellin, selloutGT1], ignore_index=True)
concatenated_df

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1409428,2024-09-01,124236,Sodimac,248.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1409429,2024-09-01,1143391,Walmart,392.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1409430,2024-09-01,360795,Easy,1.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1409431,2024-09-01,360795,Walmart,29.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1409432,2024-09-01,360783,Easy,4.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN

In [125]:
totalsellin = concatenated_df.copy()
totalsellin

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1409428,2024-09-01,124236,Sodimac,248.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1409429,2024-09-01,1143391,Walmart,392.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1409430,2024-09-01,360795,Easy,1.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1409431,2024-09-01,360795,Walmart,29.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1409432,2024-09-01,360783,Easy,4.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN

ENCONTRAR Y LEER MARA EN LOS PROXIMOS BLOQUES PARA LUEGO CRUZAR LOS SECTORES, Y ADEMAS EN ESTA PARTE CRUZAMOS LA MAESTRA CANALES PARA SABER LOS CANALES ANASTASIA

In [126]:
import os
from datetime import datetime

# Obtener el directorio del usuario
usuario_dir = os.path.expanduser("~")

# Obtener el año y mes actuales
año_actual = datetime.now().year
mes_actual = datetime.now().strftime('%m')

# Construir la ruta de archivo
ruta = os.path.join(
    usuario_dir,
    "DERCO CHILE REPUESTOS SpA",
    "Planificación y abastecimiento - Documentos",
    "Planificación y Compras Maestros",
    str(año_actual),
    f"{año_actual}-{mes_actual}",
    "MaestrosCSV"
)

# Inicializar variables
archivo_mara = None
fecha_modificacion = None

# Imprimir la ruta para verificar
print(f"La ruta construida es: {ruta}")

La ruta construida es: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Maestros\2024\2024-10\MaestrosCSV

In [127]:
ruta

'C:\\Users\\etorres.DERCOPARTS\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\2024\\2024-10\\MaestrosCSV'

LEER MARA NE EXCEL

In [128]:
# for archivo in os.listdir(ruta):
#     if 'MARA' in archivo and 'S4' in archivo and archivo.endswith('.xlsx'):
#         ruta_completa = os.path.join(ruta, archivo)
#         modificacion_actual = os.path.getmtime(ruta_completa)
#         if fecha_modificacion is None or modificacion_actual > fecha_modificacion:
#             archivo_mara = ruta_completa
#             fecha_modificacion = modificacion_actual
# if archivo_mara:
#     dfmara = pd.read_excel(archivo_mara)
#     print("Archivo cargado correctamente.")
# else:
#     print("No se encontró un archivo que contenga 'MARA' y 'S4' en su nombre.")

leer mara en CSV

In [129]:
for archivo in os.listdir(ruta):
    if 'MARA' in archivo and 'S4' in archivo and archivo.endswith('.csv'):
        ruta_completa = os.path.join(ruta, archivo)
        modificacion_actual = os.path.getmtime(ruta_completa)
        if fecha_modificacion is None or modificacion_actual > fecha_modificacion:
            archivo_mara = ruta_completa
            fecha_modificacion = modificacion_actual
if archivo_mara:
    dfmara = pd.read_csv(archivo_mara, delimiter=';', decimal=',', low_memory=False, dtype=str)
    print("Archivo cargado correctamente.")
else:
    print("No se encontró un archivo que contenga 'MARA' y 'S4' en su nombre.")

Archivo cargado correctamente.

In [130]:
dfmara

,Material_S4,Material_dsc,Tipo_material,Grupo_articulos,Material_R3,UM_base,Sector_MU,Nombre Sector,Tipo_material_mu,Part_number,...,Jquia_prod_MU,Jquia_prod,Art_familia,Art_subfamilia,Art_categoria,Art_subcategoria,GpoArt_grupo,L,GpoArt_subcategoria,GpoArt_partype
0,165571,"CABLE MINI AUDIO EXTREME 3,5MM 6FT AZUL",ZART,10101001,50901,UN,48,ACC,ZREP,[#]50901,...,3E+16,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
1,672246,CODIGO MALO,ZART,10101001,CODIGO MALO 672246,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672246,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
2,672252,CODIGO MALO,ZART,10101001,CODIGO MALO 672252,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672252,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
3,672253,CODIGO MALO,ZART,10101001,CODIGO MALO 672253,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672253,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
4,672543,CODIGO MALO,ZART,10101001,CODIGO MALO 672543,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672543,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451590,4000191,ALIANZA GASCO,ZSEV,SERVICIOS,ALIANZA_GASCO,UN,SV,Sin Info,NaN,[#]ALIANZA_GASCO,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIOS DE VENTA,GIF CARD,NaN,NaN,NaN,NaN
451591,4000192,VENTA MERCADOLIBRE,ZSEV,SERVICIOS,VENTA_MERCADOLIBRE,UN,SV,Sin Info,NaN,[#]VENTA_MERCADOLIBRE,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIOS DE VENTA,GIF CARD,NaN,NaN,NaN,NaN
451592,4000163,INSTALACION DE PLUMILLAS TIENDAS,ZSEV,SERVICIOS,INST_PLUM_TIENDA,UN,0,Sector Comun,NaN,[#]INST_PLUM_TIENDA,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIO TALLER,INSTALACION DE PLUMILLAS,NaN,NaN,NaN,NaN
451593,4000164,INSTALACION DE AMPOLLETAS TIENDAS,ZSEV,SERVICIOS,INST_AMP_TIENDA,UN,SV,Sin Info,NaN,[#]INST_AMP_TIENDA,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIO TALLER,INSTALACION DE AMPOLLETAS,NaN,NaN,NaN,NaN
451594,4000140,AJUSTE POR PROMOCION,ZSEV,SERVICIOS,AJUSTEPORPROMOCION,UN,0,Sector Comun,ZSEV,[#]432170,...,432170,NaN,INSUMOS Y SERVICIOS,INSUMOS,INSUMOS VARIOS,INSUMOS VARIOS,NaN,NaN,NaN,NaN

In [131]:
# dfmara = dfmara.rename(columns={'Nombre_Sector': 'Nombre Sector'})
dfmara['Material_S4'] = dfmara['Material_S4'].astype(str)
mara_reducido = dfmara[['Material_S4', 'Nombre Sector', 'Sector_MU']]

In [132]:
mara_reducido.columns

Index(['Material_S4', 'Nombre Sector', 'Sector_MU'], dtype='object')

In [133]:
totalsellin.head(1)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN

In [134]:

import pandas as pd

# Suponiendo que el DataFrame se llama merged_df1 y ya está cargado
fecha_objetivo = '2024-08-01'
suma_venta_umb = totalsellin[totalsellin['Mes'] == fecha_objetivo]['Venta UMB'].sum()

print(suma_venta_umb)

634656.0

REPASAR UE antes de Cruzar Mara

In [135]:
eslabon

      Material Cod_Actual_1
0       102288       582655
1       501216       582655
2       582655       582655
3       167639       580659
4       580659       580659
...        ...          ...
93412  1171603      1171603
93413   120398      1171609
93414  1171609      1171609
93415  1006570      1171610
93416  1171610      1171610

[93417 rows x 2 columns]

In [136]:
totalsellin = totalsellin.drop(columns=['Ultimo Eslabón'])
totalsellin = totalsellin.merge(eslabon, on='Material', how='left')
totalsellin['Cod_Actual_1'] = totalsellin['Cod_Actual_1'].fillna(totalsellin['Material'])
totalsellin = totalsellin.rename(columns={'Cod_Actual_1': 'Ultimo Eslabón'})
totalsellin.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO,Ultimo Eslabón
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,ACC,Retail,ACC,CL RETAIL,NaN,1000147
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,ACC,Retail,ACC,CL RETAIL,NaN,1000147

In [137]:
totalsellin.drop('Nombre Sector', axis=1, inplace=True)

In [138]:
totalsellin.shape

(1409433, 10)

In [139]:
totalsellin['Ultimo Eslabón'] = totalsellin['Ultimo Eslabón'].astype(str)
mara_reducido.loc[:, 'Material_S4'] = mara_reducido['Material_S4'].astype(str)

In [140]:
dfmara

,Material_S4,Material_dsc,Tipo_material,Grupo_articulos,Material_R3,UM_base,Sector_MU,Nombre Sector,Tipo_material_mu,Part_number,...,Jquia_prod_MU,Jquia_prod,Art_familia,Art_subfamilia,Art_categoria,Art_subcategoria,GpoArt_grupo,L,GpoArt_subcategoria,GpoArt_partype
0,165571,"CABLE MINI AUDIO EXTREME 3,5MM 6FT AZUL",ZART,10101001,50901,UN,48,ACC,ZREP,[#]50901,...,3E+16,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
1,672246,CODIGO MALO,ZART,10101001,CODIGO MALO 672246,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672246,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
2,672252,CODIGO MALO,ZART,10101001,CODIGO MALO 672252,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672252,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
3,672253,CODIGO MALO,ZART,10101001,CODIGO MALO 672253,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672253,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
4,672543,CODIGO MALO,ZART,10101001,CODIGO MALO 672543,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672543,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451590,4000191,ALIANZA GASCO,ZSEV,SERVICIOS,ALIANZA_GASCO,UN,SV,Sin Info,NaN,[#]ALIANZA_GASCO,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIOS DE VENTA,GIF CARD,NaN,NaN,NaN,NaN
451591,4000192,VENTA MERCADOLIBRE,ZSEV,SERVICIOS,VENTA_MERCADOLIBRE,UN,SV,Sin Info,NaN,[#]VENTA_MERCADOLIBRE,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIOS DE VENTA,GIF CARD,NaN,NaN,NaN,NaN
451592,4000163,INSTALACION DE PLUMILLAS TIENDAS,ZSEV,SERVICIOS,INST_PLUM_TIENDA,UN,0,Sector Comun,NaN,[#]INST_PLUM_TIENDA,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIO TALLER,INSTALACION DE PLUMILLAS,NaN,NaN,NaN,NaN
451593,4000164,INSTALACION DE AMPOLLETAS TIENDAS,ZSEV,SERVICIOS,INST_AMP_TIENDA,UN,SV,Sin Info,NaN,[#]INST_AMP_TIENDA,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIO TALLER,INSTALACION DE AMPOLLETAS,NaN,NaN,NaN,NaN
451594,4000140,AJUSTE POR PROMOCION,ZSEV,SERVICIOS,AJUSTEPORPROMOCION,UN,0,Sector Comun,ZSEV,[#]432170,...,432170,NaN,INSUMOS Y SERVICIOS,INSUMOS,INSUMOS VARIOS,INSUMOS VARIOS,NaN,NaN,NaN,NaN

In [141]:
import pandas as pd

# Suponiendo que el DataFrame se llama merged_df1 y ya está cargado
fecha_objetivo = '2024-08-01'
suma_venta_umb = totalsellin[totalsellin['Mes'] == fecha_objetivo]['Venta UMB'].sum()

print(suma_venta_umb)

634656.0

In [142]:
totalsellin

,Mes,Material,Canal,Venta UMB,Fuente,Tipo,Canal 2,Canal 3,SI/SO,Ultimo Eslabón
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,ACC,Retail,CL RETAIL,NaN,1000147
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,ACC,Retail,CL RETAIL,NaN,1000147
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,ACC,Retail,CL RETAIL,NaN,1000147
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,ACC,Retail,CL RETAIL,NaN,1000147
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,ACC,Retail,CL RETAIL,NaN,1000147
...,...,...,...,...,...,...,...,...,...,...
1409428,2024-09-01,124236,Sodimac,248.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,124236
1409429,2024-09-01,1143391,Walmart,392.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,1143391
1409430,2024-09-01,360795,Easy,1.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,360795
1409431,2024-09-01,360795,Walmart,29.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,360795
1409432,2024-09-01,360783,Easy,4.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,360783

In [143]:
mara_reducido.head(1)

  Material_S4 Nombre Sector Sector_MU
0      165571           ACC        48

In [144]:
merged_df4 = pd.merge(totalsellin, mara_reducido, left_on='Ultimo Eslabón', right_on='Material_S4')

In [145]:
merged_df4
import pandas as pd

# Suponiendo que el DataFrame se llama merged_df1 y ya está cargado
fecha_objetivo = '2024-08-01'
suma_venta_umb = merged_df4[merged_df4['Mes'] == fecha_objetivo]['Venta UMB'].sum()

print(suma_venta_umb)

634656.0

In [146]:
merged_df4.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Tipo,Canal 2,Canal 3,SI/SO,Ultimo Eslabón,Material_S4,Nombre Sector,Sector_MU
1409431,2024-09-01,117196,Retail,1.0,Sell Out RTL Sept-24,None,Retail,None,SO,117196,117196,ACC,48
1409432,2024-09-01,170794,Retail,1.0,Sell Out RTL Sept-24,None,Retail,None,SO,170794,170794,RALT,29

In [147]:
merged_df4
import pandas as pd

# Suponiendo que el DataFrame se llama merged_df1 y ya está cargado
fecha_objetivo = '2024-08-01'
suma_venta_umb = merged_df4[merged_df4['Mes'] == fecha_objetivo]['Venta UMB'].sum()

print(suma_venta_umb)

634656.0

ACA PODRÍA GUARDAR LA HISTORIA ----------------------------

In [148]:
final_df = merged_df4[['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón', 'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3']]
final_df.head(1)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [149]:
# Inicializar 'Canal 3' con None para borrar cualquier valor existente
final_df.loc[:, 'Canal 3'] = None

# Definir el diccionario de mapeo incluyendo las nuevas condiciones
mapa_canal_3 = {
    'AP': 'CL RETAIL',
    'Sergo': 'CL RETAIL',
    'Easy': 'CL EASY',
    'SMU': 'CL SMU',
    'TOTTUS': 'CL TOTTUS',
    'Walmart': 'CL WALMART',
    'Sodimac': 'CL SODIMAC',
    'Retail': 'CL RETAIL',
    'RETAIL': 'CL RETAIL'
}

# Asignar valores a 'Canal 3' usando el diccionario de mapeo
final_df.loc[:, 'Canal 3'] = final_df['Canal'].map(mapa_canal_3).fillna(final_df['Canal 3'])

# Imprimir las primeras filas del DataFrame actualizado para verificar los cambios
final_df.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [150]:
# Contar las filas con NaN en la columna 'Canal 3'
filas_con_nan = final_df['Canal 3'].isna().sum()

# Imprimir el resultado
print(f"Hay {filas_con_nan} filas con NaN en la columna 'Canal 3'.")

Hay 0 filas con NaN en la columna 'Canal 3'.

In [151]:
# Filtrar las filas donde 'Canal 3' es NaN
filas_con_nan_en_canal_3 = final_df[final_df['Canal 3'].isna()]

# Obtener los valores únicos en la columna 'Canal' para estas filas
valores_unicos_canal = filas_con_nan_en_canal_3['Canal'].unique()

# Imprimir los valores únicos
print("Valores únicos en la columna 'Canal' cuando 'Canal 3' es NaN:")
print(valores_unicos_canal)

Valores únicos en la columna 'Canal' cuando 'Canal 3' es NaN:
[]

In [152]:
canalesf = final_df['Canal'].unique()
canalesf

array(['AP', 'Retail', 'Sergo', 'Sodimac', 'Easy', 'Walmart', 'SMU',
       'TOTTUS'], dtype=object)

In [153]:
final_df.shape

(1409433, 10)

In [154]:
final_df.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1409431,2024-09-01,117196,Retail,1.0,Sell Out RTL Sept-24,117196,None,Retail,ACC,CL RETAIL
1409432,2024-09-01,170794,Retail,1.0,Sell Out RTL Sept-24,170794,None,Retail,RALT,CL RETAIL

In [155]:
sectores = final_df['Nombre Sector'].unique()
canalesf = final_df['Canal 3'].unique()
sectores

array(['ACC', 'BAT', 'NEU', 'Suzuki', 'Mazda', 'RALT', 'LUB', 'Renault',
       'JAC Cars', 'RMAQ', 'AXS', 'Changan', 'Great Wall', 'Sector Comun',
       'JAC Truck', 'Samsung', 'Implemento Agrícola', 'Geely', '0',
       'Otras Marcas', 'Valtra', 'Still', 'Landini', 'Hangcha', 'JCB'],
      dtype=object)

In [156]:
final_df

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
...,...,...,...,...,...,...,...,...,...,...
1409428,2024-09-01,1171874,Retail,4.0,Sell Out RTL Sept-24,1171874,None,Retail,ACC,CL RETAIL
1409429,2024-09-01,1171878,Retail,3.0,Sell Out RTL Sept-24,1171878,None,Retail,ACC,CL RETAIL
1409430,2024-09-01,1171881,Retail,8.0,Sell Out RTL Sept-24,1171881,None,Retail,ACC,CL RETAIL
1409431,2024-09-01,117196,Retail,1.0,Sell Out RTL Sept-24,117196,None,Retail,ACC,CL RETAIL
1409432,2024-09-01,170794,Retail,1.0,Sell Out RTL Sept-24,170794,None,Retail,RALT,CL RETAIL

AHORA EVALUAR SI GUARDAR NUEVO PARQUET

In [157]:
final_df['Nombre Sector'] = final_df['Nombre Sector'].astype(str)
# mara_reducido.loc[:, 'Material_S4'] = mara_reducido['Material_S4'].astype(str)
final_df.dtypes

C:\Users\etorres.DERCOPARTS\AppData\Local\Temp\ipykernel_33148\358599988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Nombre Sector'] = final_df['Nombre Sector'].astype(str)

Mes               datetime64[ns]
Material                  object
Canal                     object
Venta UMB                float64
Fuente                    object
Ultimo Eslabón            object
Tipo                      object
Canal 2                   object
Nombre Sector             object
Canal 3                   object
dtype: object

In [158]:
import pandas as pd
import os
from datetime import datetime, timedelta

# Obtener el directorio del usuario
usuario_dir = os.path.expanduser("~")

# Obtener la fecha de hoy
hoy = datetime.today()

# Obtener el primer día del mes actual
primer_dia_mes_actual = hoy.replace(day=1)

# Obtener el último día del mes pasado
mes_pasado = primer_dia_mes_actual - timedelta(days=1)
mes_pasado_str = mes_pasado.strftime("%Y-%m")

# Construir la ruta de archivo
ruta = os.path.join(
    usuario_dir,
    "DERCO CHILE REPUESTOS SpA",
    "Planificación y abastecimiento - Documentos",
    "Planificación y Compras AFM",
    "S&OP Demanda",
    "Codigos Demanda",
    "Parquets",
    f"Historia_Sell_Out ({mes_pasado_str}).parquet"
)

# Guardar el DataFrame en formato Parquet
final_df.to_parquet(ruta)

# Imprimir la ruta para verificar
print(f"El archivo se ha guardado en: {ruta}")

El archivo se ha guardado en: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Parquets\Historia_Sell_Out (2024-09).parquet

In [159]:
canalesf

array(['CL RETAIL', 'CL SODIMAC', 'CL EASY', 'CL WALMART', 'CL SMU',
       'CL TOTTUS'], dtype=object)

In [160]:
final_df.shape

(1409433, 10)

In [161]:
final_df.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [162]:

sectores_deseados = ['ACC', 'BAT', 'NEU', 'LUB', 'RALT', 'RMAQ']

final_df = final_df.loc[
       (final_df['Nombre Sector'].isin(sectores_deseados))
]
final_df.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [163]:
final_df.shape

(1392166, 10)

In [164]:
import pandas as pd

# Suponiendo que el DataFrame se llama merged_df1 y ya está cargado
fecha_objetivo = '2024-08-01'
suma_venta_umb = final_df[final_df['Mes'] == fecha_objetivo]['Venta UMB'].sum()

print(suma_venta_umb)

630185.0

Descargar el 2024 en csv para validar si va todo OK

In [165]:
final_df.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3'],
      dtype='object')

In [166]:
eslabon

      Material Cod_Actual_1
0       102288       582655
1       501216       582655
2       582655       582655
3       167639       580659
4       580659       580659
...        ...          ...
93412  1171603      1171603
93413   120398      1171609
93414  1171609      1171609
93415  1006570      1171610
93416  1171610      1171610

[93417 rows x 2 columns]

Repasar Ult Eslabon

In [167]:
final_df = final_df.drop(columns=['Ultimo Eslabón'])
final_df = final_df.merge(eslabon, on='Material', how='left')
final_df['Cod_Actual_1'] = final_df['Cod_Actual_1'].fillna(final_df['Material'])
final_df = final_df.rename(columns={'Cod_Actual_1': 'Ultimo Eslabón'})
final_df.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Tipo,Canal 2,Nombre Sector,Canal 3,Ultimo Eslabón
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,ACC,Retail,ACC,CL RETAIL,1000147
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,ACC,Retail,ACC,CL RETAIL,1000147

Trabajamos con UE

In [168]:
sellinreducido = final_df[['Mes', 'Ultimo Eslabón', 'Canal 3', 'Venta UMB']]

In [169]:
sellinreducido.dtypes

Mes               datetime64[ns]
Ultimo Eslabón            object
Canal 3                   object
Venta UMB                float64
dtype: object

In [170]:
import pandas as pd

# Suponiendo que el DataFrame se llama merged_df1 y ya está cargado
fecha_objetivo = '2024-08-01'
suma_venta_umb = sellinreducido[sellinreducido['Mes'] == fecha_objetivo]['Venta UMB'].sum()

print(suma_venta_umb)

630185.0

In [171]:
# Crear una copia del DataFrame original
sellinreducido_ = sellinreducido.copy()

# Renombrar una columna para claridad
sellinreducido_.rename(columns={'Mes': 'Fecha'}, inplace=True)

In [172]:
sellinreducido_

             Fecha Ultimo Eslabón    Canal 3  Venta UMB
0       2021-06-01        1000147  CL RETAIL       52.0
1       2021-05-01        1000147  CL RETAIL       40.0
2       2021-04-01        1000147  CL RETAIL       18.0
3       2021-03-01        1000147  CL RETAIL       34.0
4       2021-02-01        1000147  CL RETAIL       41.0
...            ...            ...        ...        ...
1392161 2024-09-01        1171874  CL RETAIL        4.0
1392162 2024-09-01        1171878  CL RETAIL        3.0
1392163 2024-09-01        1171881  CL RETAIL        8.0
1392164 2024-09-01         117196  CL RETAIL        1.0
1392165 2024-09-01         170794  CL RETAIL        1.0

[1392166 rows x 4 columns]

In [173]:
# Asegurarse de que la columna 'Venta' es numérica
sellinreducido_['Venta UMB'] = pd.to_numeric(sellinreducido_['Venta UMB'], errors='coerce')

In [174]:
merged_df.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3', 'SI/SO'],
      dtype='object')

BORRAR EL RENAME DESPUES Y EL SEGUNDO Q VIENE IGUAL

In [175]:
sellinreducido_.rename(columns={'Ultimo Eslabón': 'Material'}, inplace=True)

In [176]:
eslabon.columns

Index(['Material', 'Cod_Actual_1'], dtype='object')

In [177]:
sellinreducido_.shape

(1392166, 4)

REVISAAA

In [178]:
merged_df1=sellinreducido_

In [179]:
merged_df1.head(2)

       Fecha Material    Canal 3  Venta UMB
0 2021-06-01  1000147  CL RETAIL       52.0
1 2021-05-01  1000147  CL RETAIL       40.0

In [180]:
import pandas as pd

# Suponiendo que el DataFrame se llama merged_df1 y ya está cargado
fecha_objetivo = '2024-08-01'
suma_venta_umb = merged_df1[merged_df1['Fecha'] == fecha_objetivo]['Venta UMB'].sum()

print(suma_venta_umb)

630185.0

In [181]:
sellinreducido1=merged_df1

In [182]:
sellinreducido1.shape

(1392166, 4)

In [183]:
sellinreducido1.rename(columns={'Material': 'Ultimo Eslabón'}, inplace=True)

In [184]:
# Crear un pivot table
pivot_df = sellinreducido1.pivot_table(index=['Ultimo Eslabón', 'Canal 3'], 
                                       columns='Fecha', values='Venta UMB', 
                                       aggfunc='sum').reset_index()

In [185]:
pivot_df.shape

(87152, 83)


Reemplazar los NaN por 0 y los valores negativos por 0

In [186]:
pivot_df.fillna(0, inplace=True)

In [187]:
pivot_df.head(2)

Fecha,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00,2024-08-01 00:00:00,2024-09-01 00:00:00
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [188]:
import pandas as pd

cols = pivot_df.columns.drop(['Ultimo Eslabón', 'Canal 3'])  # Excluye las columnas de índices

# Asegurarse de que los valores son numéricos
pivot_df[cols] = pivot_df[cols].apply(pd.to_numeric, errors='coerce')

# Reemplaza los NaNs por 0 si es necesario
pivot_df[cols] = pivot_df[cols].fillna(0)

# Ahora aplica clip para establecer los valores menores a 0 como 0
pivot_df[cols] = pivot_df[cols].clip(lower=0)
pivot_df.head(2)

Fecha,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00,2024-08-01 00:00:00,2024-09-01 00:00:00
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [189]:
pivot_df.head()

Fecha,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00,2024-08-01 00:00:00,2024-09-01 00:00:00
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000147,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,46.0,45.0,51.0,64.0,36.0,28.0,30.0,30.0,46.0,56.0
3,1000148,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,67.0,120.0,76.0,75.0,64.0,37.0,73.0,82.0,70.0,102.0
4,1000149,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,104.0,172.0,125.0,168.0,188.0,159.0,170.0,178.0,170.0,202.0

In [190]:
pivot_df.shape

(87152, 83)

In [191]:
pivot_df.dtypes

Fecha
Ultimo Eslabón          object
Canal 3                 object
2018-01-01 00:00:00    float64
2018-02-01 00:00:00    float64
2018-03-01 00:00:00    float64
                        ...
2024-05-01 00:00:00    float64
2024-06-01 00:00:00    float64
2024-07-01 00:00:00    float64
2024-08-01 00:00:00    float64
2024-09-01 00:00:00    float64
Length: 83, dtype: object

In [192]:
pivot_df.columns

Index([   'Ultimo Eslabón',           'Canal 3', 2018-01-01 00:00:00,
       2018-02-01 00:00:00, 2018-03-01 00:00:00, 2018-04-01 00:00:00,
       2018-05-01 00:00:00, 2018-06-01 00:00:00, 2018-07-01 00:00:00,
       2018-08-01 00:00:00, 2018-09-01 00:00:00, 2018-10-01 00:00:00,
       2018-11-01 00:00:00, 2018-12-01 00:00:00, 2019-01-01 00:00:00,
       2019-02-01 00:00:00, 2019-03-01 00:00:00, 2019-04-01 00:00:00,
       2019-05-01 00:00:00, 2019-06-01 00:00:00, 2019-07-01 00:00:00,
       2019-08-01 00:00:00, 2019-09-01 00:00:00, 2019-10-01 00:00:00,
       2019-11-01 00:00:00, 2019-12-01 00:00:00, 2020-01-01 00:00:00,
       2020-02-01 00:00:00, 2020-03-01 00:00:00, 2020-04-01 00:00:00,
       2020-05-01 00:00:00, 2020-06-01 00:00:00, 2020-07-01 00:00:00,
       2020-08-01 00:00:00, 2020-09-01 00:00:00, 2020-10-01 00:00:00,
       2020-11-01 00:00:00, 2020-12-01 00:00:00, 2021-01-01 00:00:00,
       2021-02-01 00:00:00, 2021-03-01 00:00:00, 2021-04-01 00:00:00,
       2021-05-01 00:00:00, 2021-06-01 00:00:00, 2021-07-01 00:00:00,
       2021-08-01 00:00:00, 2021-09-01 00:00:00, 2021-10-01 00:00:00,
       2021-11-01 00:00:00, 2021-12-01 00:00:00, 2022-01-01 00:00:00,
       2022-02-01 00:00:00, 2022-03-01 00:00:00, 2022-04-01 00:00:00,
       2022-05-01 00:00:00, 2022-06-01 00:00:00, 2022-07-01 00:00:00,
       2022-08-01 00:00:00, 2022-09-01 00:00:00, 2022-10-01 00:00:00,
       2022-11-01 00:00:00, 2022-12-01 00:00:00, 2023-01-01 00:00:00,
       2023-02-01 00:00:00, 2023-03-01 00:00:00, 2023-04-01 00:00:00,
       2023-05-01 00:00:00, 2023-06-01 00:00:00, 2023-07-01 00:00:00,
       2023-08-01 00:00:00, 2023-09-01 00:00:00, 2023-10-01 00:00:00,
       2023-11-01 00:00:00, 2023-12-01 00:00:00, 2024-01-01 00:00:00,
       2024-02-01 00:00:00, 2024-03-01 00:00:00, 2024-04-01 00:00:00,
       2024-05-01 00:00:00, 2024-06-01 00:00:00, 2024-07-01 00:00:00,
       2024-08-01 00:00:00, 2024-09-01 00:00:00],
      dtype='object', name='Fecha')

Guardar como CSV

In [193]:
import os
import pandas as pd
from datetime import datetime

# Columnas que no son fechas
non_date_cols = ['Ultimo Eslabón', 'Canal 3']

# Extraer columnas que son fechas
date_cols = [col for col in pivot_df.columns if col not in non_date_cols]

# Convertir las columnas de fecha a tipo datetime para poder ordenarlas
date_cols_sorted = sorted(date_cols, key=lambda x: pd.to_datetime(x, format='mixed'))

# Crear un nuevo orden de columnas
new_order = non_date_cols + date_cols_sorted

# Reordenar el DataFrame
pivot_df = pivot_df[new_order]

# Filtrar las columnas que no contienen los años 2015, 2016 o 2017
columns_to_keep = [col for col in pivot_df.columns if not any(year in str(col) for year in ['2015', '2016', '2017'])]
pivot_df = pivot_df[columns_to_keep]

# Obtener el directorio del usuario
user_dir = os.path.expanduser('~')

# Obtener la fecha actual y formatear las partes necesarias
now = datetime.now()
current_year = now.strftime('%Y')
current_month = now.strftime('%m')
previous_month = (now.replace(day=1) - pd.DateOffset(months=1)).strftime('%B-%y')
cycle_month = (now + pd.DateOffset(months=1)).strftime('%b-%y')

# Construir la ruta base
base_path = os.path.join(user_dir, 'DERCO CHILE REPUESTOS SpA', 'Planificación y abastecimiento - Documentos', 
                         'Planificación y Compras Anastasia', 'Carga Historia de Venta', 
                         f'{current_year}-{current_month} Ciclo {cycle_month}', 'AFM', 'SELL OUT')
os.makedirs(base_path, exist_ok=True)

# Construir las rutas de los archivos CSV y Excel
csv_path = os.path.join(base_path, f'{current_month}.{current_year} Sell_Out {previous_month} Corregido.csv')
excel_path = os.path.join(base_path, f'{current_month}.{current_year} Sell_Out {previous_month} Corregido.xlsx')

# Guardar el DataFrame en formato CSV
# pivot_df.to_csv(csv_path, index=False)

# # Guardar el DataFrame en formato Excel
# pivot_df.to_excel(excel_path, index=False)

print("Archivos guardados correctamente en:", base_path)

Archivos guardados correctamente en: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Anastasia\Carga Historia de Venta\2024-10 Ciclo Nov-24\AFM\SELL OUT

In [194]:
pivot_df.columns

Index([   'Ultimo Eslabón',           'Canal 3', 2018-01-01 00:00:00,
       2018-02-01 00:00:00, 2018-03-01 00:00:00, 2018-04-01 00:00:00,
       2018-05-01 00:00:00, 2018-06-01 00:00:00, 2018-07-01 00:00:00,
       2018-08-01 00:00:00, 2018-09-01 00:00:00, 2018-10-01 00:00:00,
       2018-11-01 00:00:00, 2018-12-01 00:00:00, 2019-01-01 00:00:00,
       2019-02-01 00:00:00, 2019-03-01 00:00:00, 2019-04-01 00:00:00,
       2019-05-01 00:00:00, 2019-06-01 00:00:00, 2019-07-01 00:00:00,
       2019-08-01 00:00:00, 2019-09-01 00:00:00, 2019-10-01 00:00:00,
       2019-11-01 00:00:00, 2019-12-01 00:00:00, 2020-01-01 00:00:00,
       2020-02-01 00:00:00, 2020-03-01 00:00:00, 2020-04-01 00:00:00,
       2020-05-01 00:00:00, 2020-06-01 00:00:00, 2020-07-01 00:00:00,
       2020-08-01 00:00:00, 2020-09-01 00:00:00, 2020-10-01 00:00:00,
       2020-11-01 00:00:00, 2020-12-01 00:00:00, 2021-01-01 00:00:00,
       2021-02-01 00:00:00, 2021-03-01 00:00:00, 2021-04-01 00:00:00,
       2021-05-01 00:00:00, 2021-06-01 00:00:00, 2021-07-01 00:00:00,
       2021-08-01 00:00:00, 2021-09-01 00:00:00, 2021-10-01 00:00:00,
       2021-11-01 00:00:00, 2021-12-01 00:00:00, 2022-01-01 00:00:00,
       2022-02-01 00:00:00, 2022-03-01 00:00:00, 2022-04-01 00:00:00,
       2022-05-01 00:00:00, 2022-06-01 00:00:00, 2022-07-01 00:00:00,
       2022-08-01 00:00:00, 2022-09-01 00:00:00, 2022-10-01 00:00:00,
       2022-11-01 00:00:00, 2022-12-01 00:00:00, 2023-01-01 00:00:00,
       2023-02-01 00:00:00, 2023-03-01 00:00:00, 2023-04-01 00:00:00,
       2023-05-01 00:00:00, 2023-06-01 00:00:00, 2023-07-01 00:00:00,
       2023-08-01 00:00:00, 2023-09-01 00:00:00, 2023-10-01 00:00:00,
       2023-11-01 00:00:00, 2023-12-01 00:00:00, 2024-01-01 00:00:00,
       2024-02-01 00:00:00, 2024-03-01 00:00:00, 2024-04-01 00:00:00,
       2024-05-01 00:00:00, 2024-06-01 00:00:00, 2024-07-01 00:00:00,
       2024-08-01 00:00:00, 2024-09-01 00:00:00],
      dtype='object', name='Fecha')

{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}

In [195]:
# Crear la columna con la suma de las filas excluyendo 'Ultimo Eslabón' y 'Canal 3'
pivot_df['Suma'] = pivot_df.drop(columns=['Ultimo Eslabón', 'Canal 3']).sum(axis=1)

# Filtrar filas donde la suma es diferente de 0
pivot_df = pivot_df[pivot_df['Suma'] != 0]

# Eliminar la columna 'Suma'
pivot_df = pivot_df.drop(columns=['Suma'])

# Mostrar el DataFrame resultante
pivot_df.head()

Fecha,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00,2024-08-01 00:00:00,2024-09-01 00:00:00
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000147,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,46.0,45.0,51.0,64.0,36.0,28.0,30.0,30.0,46.0,56.0
3,1000148,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,67.0,120.0,76.0,75.0,64.0,37.0,73.0,82.0,70.0,102.0
4,1000149,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,104.0,172.0,125.0,168.0,188.0,159.0,170.0,178.0,170.0,202.0

In [196]:
pivot_df.shape

(48001, 83)

In [197]:
# Identificar la penúltima columna
penultima_columna = pivot_df.columns[-1]

# Calcular la suma de la penúltima columna
suma_penultima_columna = pivot_df[penultima_columna].sum()
suma_penultima_columna

607997.0

In [198]:
pivot_df.shape

(48001, 83)

A CSV

In [199]:
# pivot_df.to_csv(csv_path, sep=';', decimal=',', index=False)
# print(f"Archivo CSV guardado en: {csv_path}")

A EXCEL

In [200]:
# pivot_df.to_excel(excel_path, index=False)
# print(f"Archivo Excel guardado en: {excel_path}")

agregar las columnas "Clasificación", "PROMEDIO", "DESV EST", "Z", "LIM SUP", "LIM INF", "FRECUENCIA", "Outliers SUP", "Outliers INF" y "Suma Outliers"

In [201]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [202]:
# Bloque 1: Creación de nuevas columnas
nuevas_columnas = ['Clasificación', 'PROMEDIO', 'DESV EST', 'Z', 'LIM SUP', 'LIM INF', 'FRECUENCIA', 
                   'Outliers SUP', 'Outliers INF', 'Suma Outliers', 'PERCENTIL', 'Clustering', 'ADI', 
                   'CV2', 'MEDIANA', 'PROM_CV2', 'Desv_CV2', 'LIM SUP MED', 'LIM INF FINAL', 
                   'LIM INF ANT', 'LIM INF MEDIANA']

new_columns_df = pd.DataFrame(index=pivot_df.index, columns=[col for col in nuevas_columnas if col not in pivot_df.columns])
pivot_df = pd.concat([pivot_df, new_columns_df], axis=1)

In [203]:
# Bloque 2: Cálculo del promedio
index_clasificacion = pivot_df.columns.get_loc('Clasificación')
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]
pivot_df['PROMEDIO'] = pivot_df[columnas_conteo].mean(axis=1)
promedio_sum = pivot_df['PROMEDIO'].sum()
print(f"Suma de PROMEDIO: {promedio_sum}")

Suma de PROMEDIO: 671581.2777777778

In [204]:
# Bloque 3: Cálculo del ADI (Average Demand Interval)
num_cols = 24
col_pos = pivot_df.columns.get_loc('Clasificación')
cols_for_adi = pivot_df.iloc[:, col_pos - num_cols:col_pos]
pivot_df['ADI'] = np.where(cols_for_adi.gt(0).sum(axis=1) > 0, 
                           24 / cols_for_adi.gt(0).sum(axis=1), 0)
adi_count = pivot_df['ADI'].count()
print(f"Total de registros en ADI: {adi_count}")
adi_sum = pivot_df['ADI'].sum()
print(f"Suma de ADI: {adi_sum}")

Total de registros en ADI: 48001
Suma de ADI: 236856.43018882224

In [205]:
# Bloque 4: Cálculo del promedio CV2 (Coefficient of Variation squared)
cols_for_avg = pivot_df.iloc[:, col_pos - num_cols:col_pos]
pivot_df['PROM_CV2'] = cols_for_avg.replace(0, np.nan).mean(axis=1)
prom_cv2_sum = pivot_df['PROM_CV2'].sum()
print(f"Suma de PROM_CV2: {prom_cv2_sum}")

Suma de PROM_CV2: 788785.9159958931

In [206]:
# Bloque 5: Cálculo de la desviación estándar CV2
cols_for_std = pivot_df.iloc[:, col_pos - num_cols:col_pos]
pivot_df['Desv_CV2'] = cols_for_std.replace(0, np.nan).std(axis=1)
desv_cv2_sum = pivot_df['Desv_CV2'].sum()
print(f"Suma de Desv_CV2: {desv_cv2_sum}")

Suma de Desv_CV2: 441893.0469181087

In [207]:
# Bloque 6: Cálculo de la mediana
num_cols_median = 18
cols_for_median = pivot_df.iloc[:, col_pos - num_cols_median:col_pos]
pivot_df['MEDIANA'] = cols_for_median.median(axis=1)
mediana_sum = pivot_df['MEDIANA'].sum()
print(f"Suma de MEDIANA: {mediana_sum}")

Suma de MEDIANA: 605321.5

In [208]:
# Bloque 7: Cálculo del CV2 (Coefficient of Variation squared)
pivot_df['CV2'] = np.where(pivot_df['PROM_CV2'].fillna(0) != 0, 
                           (pivot_df['Desv_CV2'].fillna(0) / pivot_df['PROM_CV2'].fillna(0))**2, 0)
pivot_df['CV2'] = pivot_df['CV2'].fillna(0)
cv2_sum = pivot_df['CV2'].sum()
print(f"Suma de CV2: {cv2_sum}")

Suma de CV2: 10873.676342889088

In [209]:
# Bloque 8: Clustering basado en ADI y CV2
pivot_df['Clustering'] = np.where((pivot_df['ADI'] < 1.32) & (pivot_df['CV2'] < 0.49), "SMOOTH",
                         np.where((pivot_df['ADI'] >= 1.32) & (pivot_df['CV2'] < 0.49), "INTERMITTENT",
                         np.where((pivot_df['ADI'] < 1.32) & (pivot_df['CV2'] >= 0.49), "ERRATIC",
                         np.where((pivot_df['ADI'] >= 1.32) & (pivot_df['CV2'] >= 0.49), "LUMPY", 0))))
clustering_counts = pivot_df['Clustering'].value_counts()
print("Cantidad de registros por Clustering:")
print(clustering_counts)

Cantidad de registros por Clustering:
Clustering
SMOOTH          24971
INTERMITTENT    16535
LUMPY            4413
ERRATIC          2082
Name: count, dtype: int64

In [210]:
import numpy as np

pivot_df['PERCENTIL'] = pivot_df.apply(lambda row: 
                                       np.percentile(row.iloc[58:82].values, 
                                                     10, 
                                                     method='weibull')  # Usamos 'method' en lugar de 'interpolation'
                                       if row['Clustering'] in ['ERRATIC', 'LUMPY'] 
                                       else np.percentile(row.iloc[58:82], 
                                                         10, 
                                                         method='linear'), 
                                       axis=1)

In [211]:
columnas_usadas = pivot_df.columns[58:82]
print(columnas_usadas)

Index([2022-09-01 00:00:00, 2022-10-01 00:00:00, 2022-11-01 00:00:00,
       2022-12-01 00:00:00, 2023-01-01 00:00:00, 2023-02-01 00:00:00,
       2023-03-01 00:00:00, 2023-04-01 00:00:00, 2023-05-01 00:00:00,
       2023-06-01 00:00:00, 2023-07-01 00:00:00, 2023-08-01 00:00:00,
       2023-09-01 00:00:00, 2023-10-01 00:00:00, 2023-11-01 00:00:00,
       2023-12-01 00:00:00, 2024-01-01 00:00:00, 2024-02-01 00:00:00,
       2024-03-01 00:00:00, 2024-04-01 00:00:00, 2024-05-01 00:00:00,
       2024-06-01 00:00:00, 2024-07-01 00:00:00, 2024-08-01 00:00:00],
      dtype='object')

In [212]:
ae=pivot_df['PERCENTIL'].sum()
ae

307747.60000000003

In [213]:
# Bloque para identificar la primera y la última columna utilizadas en el cálculo del percentil
num_cols_percentil = 24
col_pos = pivot_df.columns.get_loc('Clasificación')

# Columnas utilizadas para el cálculo del percentil
cols_for_percentil = pivot_df.iloc[:, col_pos - num_cols_percentil:col_pos]

# Obtener la primera y última columna
primera_columna = cols_for_percentil.columns[0]
ultima_columna = cols_for_percentil.columns[-1]

print(f"Primera columna utilizada para el cálculo del percentil: {primera_columna}")
print(f"Última columna utilizada para el cálculo del percentil: {ultima_columna}")

Primera columna utilizada para el cálculo del percentil: 2022-10-01 00:00:00
Última columna utilizada para el cálculo del percentil: 2024-09-01 00:00:00

In [214]:
pivot_df.head(2)

,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,Clustering,ADI,CV2,MEDIANA,PROM_CV2,Desv_CV2,LIM SUP MED,LIM INF FINAL,LIM INF ANT,LIM INF MEDIANA
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,INTERMITTENT,24.0,0.000000,0.0,1.000,NaN,NaN,NaN,NaN,NaN
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,LUMPY,1.5,1.482836,1.0,22.625,27.550862,NaN,NaN,NaN,NaN

In [215]:
# Obtener las 24 columnas antes de 'Clasificación'
num_cols = 24
col_pos = pivot_df.columns.get_loc('Clasificación')

# Seleccionar las 24 columnas anteriores a 'Clasificación'
cols_for_percentil = pivot_df.columns[col_pos - num_cols:col_pos]

# Imprimir las columnas seleccionadas
print("Las 24 columnas antes de 'Clasificación' son:")
print(cols_for_percentil)

Las 24 columnas antes de 'Clasificación' son:
Index([2022-10-01 00:00:00, 2022-11-01 00:00:00, 2022-12-01 00:00:00,
       2023-01-01 00:00:00, 2023-02-01 00:00:00, 2023-03-01 00:00:00,
       2023-04-01 00:00:00, 2023-05-01 00:00:00, 2023-06-01 00:00:00,
       2023-07-01 00:00:00, 2023-08-01 00:00:00, 2023-09-01 00:00:00,
       2023-10-01 00:00:00, 2023-11-01 00:00:00, 2023-12-01 00:00:00,
       2024-01-01 00:00:00, 2024-02-01 00:00:00, 2024-03-01 00:00:00,
       2024-04-01 00:00:00, 2024-05-01 00:00:00, 2024-06-01 00:00:00,
       2024-07-01 00:00:00, 2024-08-01 00:00:00, 2024-09-01 00:00:00],
      dtype='object')

In [216]:
# Calcular la suma de la columna PERCENTIL
suma_percentil = pivot_df['Clustering'].unique()

# Mostrar la suma calculada
print(f"La suma de la columna PERCENTIL es: {suma_percentil}")

La suma de la columna PERCENTIL es: ['INTERMITTENT' 'LUMPY' 'SMOOTH' 'ERRATIC']

FRECUENCIA

In [217]:
# Obtener el índice de la columna 'Clasificación'
index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-24:index_clasificacion]

# Contar cuántas veces los valores en las columnas especificadas son mayores a 0
pivot_df['FRECUENCIA'] = (pivot_df[columnas_conteo] > 0).sum(axis=1)

PROMEDIO

'DESV EST'

In [218]:
# Obtener el índice de la columna 'Clasificación'
index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-24:index_clasificacion]

# Calcular la desviación estándar de los valores en las columnas especificadas
pivot_df['DESV EST'] = pivot_df[columnas_conteo].std(ddof=1, axis=1)

In [219]:
def clasificar_frecuencia(frecuencia):
    if frecuencia == 0:
        return "Sin Venta"
    elif 0 < frecuencia <= 6:
        return "Muy Baja"
    elif 6 < frecuencia <= 9:
        return "Baja"
    elif 9 < frecuencia <= 13:
        return "Media"
    elif 13 < frecuencia <= 18:
        return "Alta"
    elif 18 < frecuencia <= 24:
        return "Muy Alta"

pivot_df['Clasificación'] = pivot_df['FRECUENCIA'].apply(clasificar_frecuencia)

In [220]:
ae=pivot_df['Clasificación'].unique()
ae

array(['Muy Baja', 'Alta', 'Muy Alta', 'Sin Venta', 'Baja', 'Media'],
      dtype=object)

Z

In [221]:

# Definir la función personalizada
def calcular_z(clasificacion):
    if clasificacion == "Muy Alta":
        return 1.96
    elif clasificacion == "Alta":
        return 1.28
    elif clasificacion in ["Baja", "Muy Baja"]:
        return 0.67
    else:
        return 0.84

# Aplicar la función a la columna 'Clasificación' y crear una nueva columna 'Z'
pivot_df['Z'] = pivot_df['Clasificación'].apply(calcular_z)

LIM SUP

In [222]:

# Calcular la columna LIM SUP
pivot_df['LIM SUP'] = pivot_df['PROMEDIO'] + pivot_df['Z'] * pivot_df['DESV EST']

LIM INF

In [223]:
def calcular_lim_inf(row):
    promedio = row['PROMEDIO']
    z = row['Z']
    desv_est = row['DESV EST']
    percentil = row['PERCENTIL']
    
    resultado = promedio - z * desv_est
    return max(resultado, percentil)

pivot_df['LIM INF'] = pivot_df.apply(calcular_lim_inf, axis=1)

OUT SUP

In [224]:

index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]

# Definir la función personalizada para calcular Outliers SUP
def calcular_outliers_sup(row):
    lim_sup = row['LIM SUP']
    return (row[columnas_conteo] > lim_sup).sum()

# Aplicar la función a cada fila del DataFrame y crear una nueva columna 'Outliers SUP'
pivot_df['Outliers SUP'] = pivot_df.apply(calcular_outliers_sup, axis=1)

lim inf

In [225]:
# Obtener el índice de la columna 'Clasificación'
index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]

# Definir la función personalizada para calcular Outliers INF
def calcular_outliers_inf(row):
    lim_inf = row['LIM INF']
    return (row[columnas_conteo] < lim_inf).sum()

# Aplicar la función a cada fila del DataFrame y crear una nueva columna 'Outliers INF'
pivot_df['Outliers INF'] = pivot_df.apply(calcular_outliers_inf, axis=1)

SUM OUTLIERS

In [226]:
pivot_df['Suma Outliers'] = pivot_df['Outliers INF'] + pivot_df['Outliers SUP']

COPIAR LAS VENTAS ALFINAL

In [227]:
# # Encontrar la posición de la columna "Clasificación"
# clasificacion_index = pivot_df.columns.get_loc("Clasificación")

# # Seleccionar todas las columnas antes de "Clasificación" excepto "idSKU" y "Canal"
# columns_to_copy = [col for col in pivot_df.columns[:clasificacion_index] if col not in ["idSKU", "Canal"]]

# # Copiar las columnas seleccionadas al final
# for col in columns_to_copy:
#     pivot_df[f'{col}_copy'] = pivot_df[col]

# pivot_df

clasificacion_index = pivot_df.columns.get_loc("Clasificación")
columns_to_copy = [col for col in pivot_df.columns[:clasificacion_index] if col not in ["idSKU", "Canal"]]
copied_columns = pivot_df[columns_to_copy].copy()
copied_columns.columns = [f'{col}_copy' for col in copied_columns.columns]
pivot_df = pd.concat([pivot_df, copied_columns], axis=1)
pivot_df

,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-12-01 00:00:00_copy,2024-01-01 00:00:00_copy,2024-02-01 00:00:00_copy,2024-03-01 00:00:00_copy,2024-04-01 00:00:00_copy,2024-05-01 00:00:00_copy,2024-06-01 00:00:00_copy,2024-07-01 00:00:00_copy,2024-08-01 00:00:00_copy,2024-09-01 00:00:00_copy
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1000147,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,46.0,45.0,51.0,64.0,36.0,28.0,30.0,30.0,46.0,56.0
3,1000148,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,67.0,120.0,76.0,75.0,64.0,37.0,73.0,82.0,70.0,102.0
4,1000149,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,104.0,172.0,125.0,168.0,188.0,159.0,170.0,178.0,170.0,202.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87146,750797,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,1.0,3.0,2.0,1.0,1.0,3.0
87147,750803,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,3.0,0.0,3.0,5.0,1.0,1.0,12.0,4.0,0.0
87148,750809,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0
87149,750816,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,0.0,0.0,2.0,0.0,0.0,4.0,7.0,0.0
87151,752466,CL RETAIL,7.0,1.0,2.0,1.0,11.0,1.0,1.0,9.0,...,3.0,0.0,1.0,3.0,3.0,3.0,10.0,4.0,2.0,1.0

CORREGIR OUTLIERS PARA LAS ULTIMAS 18 COLUMNAS

In [228]:
# Obtener los nombres de las últimas 18 columnas
last_18_columns = pivot_df.columns[-18:]

# Aplicar las condiciones a las últimas 18 columnas
for col in last_18_columns:
    pivot_df[col] = pivot_df.apply(
        lambda row: row['PROMEDIO'] if row[col] > row['LIM SUP'] or row[col] < row['LIM INF'] else row[col],
        axis=1
    )

# Mostrar el DataFrame resultante
pivot_df.head(2)

,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-12-01 00:00:00_copy,2024-01-01 00:00:00_copy,2024-02-01 00:00:00_copy,2024-03-01 00:00:00_copy,2024-04-01 00:00:00_copy,2024-05-01 00:00:00_copy,2024-06-01 00:00:00_copy,2024-07-01 00:00:00_copy,2024-08-01 00:00:00_copy,2024-09-01 00:00:00_copy
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.055556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,1.000000,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [229]:
last_column = pivot_df.columns[-1]

# Calcular la suma de la última columna
sum_last_column = pivot_df[last_column].sum()

# Mostrar la suma
print(f"La suma de la última columna ({last_column}) es: {sum_last_column}")

La suma de la última columna (2024-09-01 00:00:00_copy) es: 635134.0555555555

In [230]:
# pivot_df.to_csv(csv_path, sep=';', decimal=',', index=False)
# print(f"Archivo CSV guardado en: {csv_path}")

In [231]:
pivot_df.tail(10)

,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-12-01 00:00:00_copy,2024-01-01 00:00:00_copy,2024-02-01 00:00:00_copy,2024-03-01 00:00:00_copy,2024-04-01 00:00:00_copy,2024-05-01 00:00:00_copy,2024-06-01 00:00:00_copy,2024-07-01 00:00:00_copy,2024-08-01 00:00:00_copy,2024-09-01 00:00:00_copy
87136,750324,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.000000,0.000000,0.0,1.0,0.555556,1.000000,0.000000,1.000000,0.000000
87139,750403,CL RETAIL,2.0,6.0,4.0,8.0,0.0,4.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
87142,750406,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
87143,750406,CL SODIMAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000
87145,750791,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,6.000000,2.000000,1.0,3.0,1.000000,0.000000,5.888889,0.000000,5.000000
87146,750797,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.000000,0.000000,1.0,1.0,0.888889,2.000000,1.000000,1.000000,0.888889
87147,750803,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,3.000000,3.055556,3.0,5.0,1.000000,1.000000,3.055556,4.000000,3.055556
87148,750809,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.000000,0.000000,0.0,0.0,0.000000,1.000000,3.000000,0.000000,0.000000
87149,750816,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.000000,0.000000,0.0,2.0,0.000000,0.000000,4.000000,1.833333,0.000000
87151,752466,CL RETAIL,7.0,1.0,2.0,1.0,11.0,1.0,1.0,9.0,...,3.0,3.166667,1.000000,3.0,3.0,3.000000,3.166667,4.000000,2.000000,1.000000

In [232]:
index_suma_outliers = pivot_df.columns.get_loc("Suma Outliers")

# Detectar y eliminar columnas que empiezan con "Ul" o "Ca" después de "Suma Outliers"
cols_to_drop = [col for col in pivot_df.columns[index_suma_outliers+1:] if col.startswith("Ul") or col.startswith("Ca")]
pivot_df.drop(columns=cols_to_drop, inplace=True)

# Renombrar columnas que terminan en "_copy" adyacentes a "Suma Outliers"
new_columns = pivot_df.columns.tolist()
for i in range(index_suma_outliers + 1, len(new_columns)):
    if new_columns[i].endswith("_copy"):
        new_columns[i] = new_columns[i].replace("_copy", "")

pivot_df.columns = new_columns

# Mostrar el DataFrame modificado
pivot_df.head(1)

,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00,2024-08-01 00:00:00,2024-09-01 00:00:00
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.055556,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [233]:
pivot_df.shape

(48001, 185)

In [234]:
pivot_df.to_csv(csv_path, sep=';', decimal=',', index=False)
print(f"Archivo CSV guardado en: {csv_path}")
pivot_df.to_excel(excel_path, index=False)
print(f"Archivo Excel guardado en: {excel_path}")

Archivo CSV guardado en: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Anastasia\Carga Historia de Venta\2024-10 Ciclo Nov-24\AFM\SELL OUT\10.2024 Sell_Out September-24 Corregido.csv
Archivo Excel guardado en: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Anastasia\Carga Historia de Venta\2024-10 Ciclo Nov-24\AFM\SELL OUT\10.2024 Sell_Out September-24 Corregido.xlsx

GUARDAR NUEVA HISTORIA

In [235]:
# import os
# import datetime

# # Obtener el usuario automáticamente
# user = os.getlogin()

# # Definir la ruta base y agregar la fecha actual
# ruta_base = f"C:\\Users\\{user}\\Inchcape\\Planificación y abastecimiento AFM - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta"
# fecha_actual = datetime.datetime.now().strftime("%Y-%m-%d")
# nombre_archivo = f"Historia_Sell_In"

# # Definir las rutas completas para cada formato
# ruta_csv = os.path.join(ruta_base, f"{nombre_archivo}.csv")
# ruta_parquet = os.path.join(ruta_base, f"{nombre_archivo}.parquet")
# ruta_feather = os.path.join(ruta_base, f"{nombre_archivo}.feather")

# # Guardar el DataFrame en cada formato
## df_combinado_actualizado2.to_csv(ruta_csv, sep=';', decimal=',', index=False)
# df_combinado_actualizado2.to_parquet(ruta_parquet)
## df_combinado_actualizado2.to_feather(ruta_feather)