Buscar SI y SO corregidos por Outliers para Iniciar la corrección por Disponibilidad

In [30]:
import os
import pandas as pd
from datetime import datetime
import glob
import numpy as np
import locale

locale.setlocale(locale.LC_TIME, 'es_ES.UTF-8')

usuario = os.path.expanduser('~')
fecha_actual = datetime.now().strftime('%Y-%m')

ruta_base = os.path.join(usuario, 'derco chile repuestos spa', 'Planificación y abastecimiento - Documentos', 'Planificación y Compras Anastasia', 'Carga Historia de Venta')
carpeta_año_mes = glob.glob(os.path.join(ruta_base, f'{fecha_actual}*'))
if carpeta_año_mes:
    ruta_afm = os.path.join(carpeta_año_mes[0], 'AFM')
    ruta_sell_in = os.path.join(ruta_afm, 'SELL IN')
    archivos_sell_in = glob.glob(os.path.join(ruta_sell_in, '*Sell_In*.csv'))
    if archivos_sell_in:
        archivo_sell_in = archivos_sell_in[0]
        df_sell_in = pd.read_csv(archivo_sell_in, delimiter=';', decimal=',')
        
    else:
        print("No se encontró el archivo Sell_In.")

    ruta_sell_out = os.path.join(ruta_afm, 'SELL OUT')
    archivos_sell_out = glob.glob(os.path.join(ruta_sell_out, '*Sell_Out*.csv'))
    if archivos_sell_out:
        archivo_sell_out = archivos_sell_out[0]
        df_sell_out = pd.read_csv(archivo_sell_out, delimiter=';', decimal=',')
      
    else:
        print("No se encontró el archivo Sell_Out.")
else:
    print("No se encontró la carpeta del año y mes actual.")

In [31]:
archivo_sell_out

'C:\\Users\\etorres.DERCOPARTS\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-08 Ciclo Sep-24\\AFM\\SELL OUT\\08.2024 Sell_Out July-24 Corregido_CLUSTER.csv'

In [32]:
archivo_sell_in

'C:\\Users\\etorres.DERCOPARTS\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-08 Ciclo Sep-24\\AFM\\SELL IN\\08.2024 Sell_In July-24 Corregido_CLUSTER.csv'

In [33]:
ruta_sell_in

'C:\\Users\\etorres.DERCOPARTS\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-08 Ciclo Sep-24\\AFM\\SELL IN'

In [34]:
carpeta_año_mes

['C:\\Users\\etorres.DERCOPARTS\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-08 Ciclo Sep-24']

In [35]:
df_sell_in.dtypes

Ultimo Eslabón      int64
Canal 3            object
01-01-2018          int64
01-02-2018          int64
01-03-2018          int64
                   ...
01-03-2024.1      float64
01-04-2024.1      float64
01-05-2024.1      float64
01-06-2024.1      float64
01-07-2024.1      float64
Length: 170, dtype: object

In [36]:
df_sell_out.dtypes

Ultimo Eslabón         int64
Canal 3               object
01-01-2018 0:00      float64
01-02-2018 0:00      float64
01-03-2018 0:00      float64
                      ...
01-03-2024 0:00.1    float64
01-04-2024 0:00.1    float64
01-05-2024 0:00.1    float64
01-06-2024 0:00.1    float64
01-07-2024 0:00.1    float64
Length: 170, dtype: object

In [37]:
df_sell_out.dtypes

Ultimo Eslabón         int64
Canal 3               object
01-01-2018 0:00      float64
01-02-2018 0:00      float64
01-03-2018 0:00      float64
                      ...
01-03-2024 0:00.1    float64
01-04-2024 0:00.1    float64
01-05-2024 0:00.1    float64
01-06-2024 0:00.1    float64
01-07-2024 0:00.1    float64
Length: 170, dtype: object

In [38]:
suma_sell_in = df_sell_in.iloc[:, -2].sum()
suma_sell_out = df_sell_out.iloc[:, -2].sum()
suma_total = suma_sell_in + suma_sell_out
suma_sell_in, suma_sell_out, suma_total

(82999.722222192, 656688.555555096, 739688.277777288)

In [39]:
df_sell_in.dtypes

Ultimo Eslabón      int64
Canal 3            object
01-01-2018          int64
01-02-2018          int64
01-03-2018          int64
                   ...
01-03-2024.1      float64
01-04-2024.1      float64
01-05-2024.1      float64
01-06-2024.1      float64
01-07-2024.1      float64
Length: 170, dtype: object

In [40]:
df_sell_in['SI/SO'] = 'SI'
df_sell_out['SI/SO'] = 'SO'
df_sell_in.shape

(13647, 171)

In [41]:
df_sell_out.shape

(47771, 171)

In [42]:
a = 47548 + 37051
a

84599

In [43]:
columnas = df_sell_out.columns.tolist()
for columna in columnas:
    print(columna)

Ultimo Eslabón
Canal 3
01-01-2018 0:00
01-02-2018 0:00
01-03-2018 0:00
01-04-2018 0:00
01-05-2018 0:00
01-06-2018 0:00
01-07-2018 0:00
01-08-2018 0:00
01-09-2018 0:00
01-10-2018 0:00
01-11-2018 0:00
01-12-2018 0:00
01-01-2019 0:00
01-02-2019 0:00
01-03-2019 0:00
01-04-2019 0:00
01-05-2019 0:00
01-06-2019 0:00
01-07-2019 0:00
01-08-2019 0:00
01-09-2019 0:00
01-10-2019 0:00
01-11-2019 0:00
01-12-2019 0:00
01-01-2020 0:00
01-02-2020 0:00
01-03-2020 0:00
01-04-2020 0:00
01-05-2020 0:00
01-06-2020 0:00
01-07-2020 0:00
01-08-2020 0:00
01-09-2020 0:00
01-10-2020 0:00
01-11-2020 0:00
01-12-2020 0:00
01-01-2021 0:00
01-02-2021 0:00
01-03-2021 0:00
01-04-2021 0:00
01-05-2021 0:00
01-06-2021 0:00
01-07-2021 0:00
01-08-2021 0:00
01-09-2021 0:00
01-10-2021 0:00
01-11-2021 0:00
01-12-2021 0:00
01-01-2022 0:00
01-02-2022 0:00
01-03-2022 0:00
01-04-2022 0:00
01-05-2022 0:00
01-06-2022 0:00
01-07-2022 0:00
01-08-2022 0:00
01-09-2022 0:00
01-10-2022 0:00
01-11-2022 0:00
01-12-2022 0:00
01-01-2023 0:00
01-02-2023 0:00
01-03-2023 0:00
01-04-2023 0:00
01-05-2023 0:00
01-06-2023 0:00
01-07-2023 0:00
01-08-2023 0:00
01-09-2023 0:00
01-10-2023 0:00
01-11-2023 0:00
01-12-2023 0:00
01-01-2024 0:00
01-02-2024 0:00
01-03-2024 0:00
01-04-2024 0:00
01-05-2024 0:00
01-06-2024 0:00
01-07-2024 0:00
Clasificación
PROMEDIO
DESV EST
Z
LIM SUP
LIM INF
FRECUENCIA
Outliers SUP
Outliers INF
Suma Outliers
01-01-2018 0:00.1
01-02-2018 0:00.1
01-03-2018 0:00.1
01-04-2018 0:00.1
01-05-2018 0:00.1
01-06-2018 0:00.1
01-07-2018 0:00.1
01-08-2018 0:00.1
01-09-2018 0:00.1
01-10-2018 0:00.1
01-11-2018 0:00.1
01-12-2018 0:00.1
01-01-2019 0:00.1
01-02-2019 0:00.1
01-03-2019 0:00.1
01-04-2019 0:00.1
01-05-2019 0:00.1
01-06-2019 0:00.1
01-07-2019 0:00.1
01-08-2019 0:00.1
01-09-2019 0:00.1
01-10-2019 0:00.1
01-11-2019 0:00.1
01-12-2019 0:00.1
01-01-2020 0:00.1
01-02-2020 0:00.1
01-03-2020 0:00.1
01-04-2020 0:00.1
01-05-2020 0:00.1
01-06-2020 0:00.1
01-07-2020 0:00.1
01-08-2020 0:00.1
01-09-2020 0:00.1
01-10-2020 0:00.1
01-11-2020 0:00.1
01-12-2020 0:00.1
01-01-2021 0:00.1
01-02-2021 0:00.1
01-03-2021 0:00.1
01-04-2021 0:00.1
01-05-2021 0:00.1
01-06-2021 0:00.1
01-07-2021 0:00.1
01-08-2021 0:00.1
01-09-2021 0:00.1
01-10-2021 0:00.1
01-11-2021 0:00.1
01-12-2021 0:00.1
01-01-2022 0:00.1
01-02-2022 0:00.1
01-03-2022 0:00.1
01-04-2022 0:00.1
01-05-2022 0:00.1
01-06-2022 0:00.1
01-07-2022 0:00.1
01-08-2022 0:00.1
01-09-2022 0:00.1
01-10-2022 0:00.1
01-11-2022 0:00.1
01-12-2022 0:00.1
01-01-2023 0:00.1
01-02-2023 0:00.1
01-03-2023 0:00.1
01-04-2023 0:00.1
01-05-2023 0:00.1
01-06-2023 0:00.1
01-07-2023 0:00.1
01-08-2023 0:00.1
01-09-2023 0:00.1
01-10-2023 0:00.1
01-11-2023 0:00.1
01-12-2023 0:00.1
01-01-2024 0:00.1
01-02-2024 0:00.1
01-03-2024 0:00.1
01-04-2024 0:00.1
01-05-2024 0:00.1
01-06-2024 0:00.1
01-07-2024 0:00.1
SI/SO

In [44]:
cols = df_sell_out.columns.tolist()
cols.append(cols.pop(cols.index('Ultimo Eslabón')))
cols.append(cols.pop(cols.index('Canal 3')))
df_sell_out = df_sell_out[cols]
df_sell_out = df_sell_out.loc[:, 'Suma Outliers':]
cols = df_sell_out.columns.tolist()
cols.insert(0, cols.pop(cols.index('Ultimo Eslabón')))
cols.insert(1, cols.pop(cols.index('Canal 3')))
df_sell_out = df_sell_out[cols]
df_sell_out = df_sell_out.drop(columns=['Suma Outliers'])

In [45]:
columnas = df_sell_out.columns.tolist()
columnas[75:81]

['01-02-2024 0:00.1',
 '01-03-2024 0:00.1',
 '01-04-2024 0:00.1',
 '01-05-2024 0:00.1',
 '01-06-2024 0:00.1',
 '01-07-2024 0:00.1']

In [46]:
cols = df_sell_in.columns.tolist()
cols.append(cols.pop(cols.index('Ultimo Eslabón')))
cols.append(cols.pop(cols.index('Canal 3')))
df_sell_in = df_sell_in[cols]
df_sell_in = df_sell_in.loc[:, 'Suma Outliers':]
cols = df_sell_in.columns.tolist()
cols.insert(0, cols.pop(cols.index('Ultimo Eslabón')))
cols.insert(1, cols.pop(cols.index('Canal 3')))
df_sell_in = df_sell_in[cols]
df_sell_in = df_sell_in.drop(columns=['Suma Outliers'])

In [47]:
columnas = df_sell_in.columns.tolist()
columnas[75:79]

['01-02-2024.1', '01-03-2024.1', '01-04-2024.1', '01-05-2024.1']

Juntando SI y SO (pd.concat)

In [48]:
df_sell_in.columns = df_sell_out.columns
df_concat = pd.concat([df_sell_in, df_sell_out])
suma_concat = df_concat.iloc[:, -2].sum()
suma_concat

741876.166668586

In [49]:
df_concat['ALERTA'] = 'Fin_Correc_Outliers'

In [50]:
df_concat.shape

(61418, 83)

In [51]:
df_concat.shape

(61418, 83)

In [52]:
usuario = os.getlogin()
ruta = r"C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Ventas\Stock Historico Query2.xlsx"
df_stock = pd.read_excel(ruta, sheet_name='Stock Query')

In [53]:
x=df_stock['Fecha'].unique()
x

<DatetimeArray>
['2022-03-01 00:00:00', '2022-04-01 00:00:00', '2022-05-01 00:00:00',
 '2022-06-01 00:00:00', '2022-07-01 00:00:00', '2022-08-01 00:00:00',
 '2022-09-01 00:00:00', '2022-10-01 00:00:00', '2022-11-01 00:00:00',
 '2022-12-01 00:00:00', '2023-01-01 00:00:00', '2023-02-01 00:00:00',
 '2023-03-01 00:00:00', '2023-04-01 00:00:00', '2023-05-01 00:00:00',
 '2023-06-01 00:00:00', '2023-07-01 00:00:00', '2023-08-01 00:00:00',
 '2023-09-01 00:00:00', '2023-10-01 00:00:00', '2023-11-01 00:00:00',
 '2023-12-01 00:00:00', '2024-01-01 00:00:00', '2024-02-01 00:00:00',
 '2024-03-01 00:00:00', '2024-04-01 00:00:00', '2024-05-01 00:00:00',
 '2024-06-01 00:00:00', '2024-07-01 00:00:00']
Length: 29, dtype: datetime64[ns]

SAKANDO EL MES ACTUAL DE STOCK PARA CORREGIR

In [54]:
# # Filtra el DataFrame para excluir las filas de julio de 2024
# df_stock_filtrado = df_stock[~((df_stock['Fecha'].dt.month == 7) & (df_stock['Fecha'].dt.year == 2024))]
# df_stock = df_stock_filtrado
# df_stock

In [55]:
df_stock['Ultimo Eslabón']=df_stock['Ultimo Eslabón'].astype(str)
df_stock.dtypes

Ultimo Eslabón            object
Fecha             datetime64[ns]
Stock                    float64
dtype: object

In [56]:
sumastock=df_stock['Stock'].sum()
sumastock

149990058.64999998

In [57]:
df_stock.columns

Index(['Ultimo Eslabón', 'Fecha', 'Stock'], dtype='object')

In [58]:
df_siso = df_concat 
df_siso['Ultimo Eslabón']=df_siso['Ultimo Eslabón'].astype(str)
df_siso.head(1)

,Ultimo Eslabón,Canal 3,01-01-2018 0:00.1,01-02-2018 0:00.1,01-03-2018 0:00.1,01-04-2018 0:00.1,01-05-2018 0:00.1,01-06-2018 0:00.1,01-07-2018 0:00.1,01-08-2018 0:00.1,...,01-12-2023 0:00.1,01-01-2024 0:00.1,01-02-2024 0:00.1,01-03-2024 0:00.1,01-04-2024 0:00.1,01-05-2024 0:00.1,01-06-2024 0:00.1,01-07-2024 0:00.1,SI/SO,ALERTA
0,1000078,CL MAYORISTA,0.0,0.0,0.0,0.0,0.0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,SI,Fin_Correc_Outliers

Agregar columna Total suma 18 meses anterior a columna SI/SO y ALERTA.

In [59]:
columnas_sumar = df_siso.columns[-20:-2]
df_siso['Total'] = df_siso[columnas_sumar].sum(axis=1)

In [60]:
columnas_sumar

Index(['01-02-2023 0:00.1', '01-03-2023 0:00.1', '01-04-2023 0:00.1',
       '01-05-2023 0:00.1', '01-06-2023 0:00.1', '01-07-2023 0:00.1',
       '01-08-2023 0:00.1', '01-09-2023 0:00.1', '01-10-2023 0:00.1',
       '01-11-2023 0:00.1', '01-12-2023 0:00.1', '01-01-2024 0:00.1',
       '01-02-2024 0:00.1', '01-03-2024 0:00.1', '01-04-2024 0:00.1',
       '01-05-2024 0:00.1', '01-06-2024 0:00.1', '01-07-2024 0:00.1'],
      dtype='object')

Crea "Venta Sku" la cual lleva el Total de Venta del Ultimo Eslabón.

In [61]:
df_siso['Venta Sku'] = df_siso.groupby('Ultimo Eslabón')['Total'].transform('sum')

agrega columna "%" la cual trae columna "Total" dividida en columna "Venta Sku" si el resultado es distinto de 0, deja ese valor sino 1.

In [62]:
df_siso['%'] = df_siso.apply(lambda row: row['Total'] / row['Venta Sku'] if row['Venta Sku'] != 0 else 1, axis=1)

In [63]:
df_stock.head()

  Ultimo Eslabón      Fecha  Stock
0        1114922 2022-03-01    1.0
1         152949 2022-03-01   44.0
2         121475 2022-03-01  211.0
3        1046392 2022-03-01   12.0
4         152951 2022-03-01   13.0

In [64]:
df_stock.dtypes

Ultimo Eslabón            object
Fecha             datetime64[ns]
Stock                    float64
dtype: object

In [65]:
suma_stock = df_stock[df_stock['Fecha'] == '2024-07-01']['Stock'].sum()
suma_stock

3388869.883333334

Eliminar este bloque de borrar la fecha de mayo del stock, es solo para hacer el ejemplo de la corrección Mayo Ciclo Junio, donde solo se debería tener el stock de Abril.

In [66]:
# df_stock = df_stock[~df_stock['Fecha'].astype(str).str.contains('2024-05-01')]

In [67]:
df_stock['Fecha'] = pd.to_datetime(df_stock['Fecha'])
ultimas_24_fechas = df_stock['Fecha'].drop_duplicates().nlargest(24)
df_stock = df_stock[df_stock['Fecha'].isin(ultimas_24_fechas)]

In [68]:
unique_dates_count = df_stock['Fecha'].nunique()
print("Cantidad de valores únicos en la columna Fecha:", unique_dates_count)
valores_unicos = ultimas_24_fechas.sort_values(ascending=False).tolist()
print("Valores únicos de las últimas 24 fechas:", valores_unicos)

Cantidad de valores únicos en la columna Fecha: 24
Valores únicos de las últimas 24 fechas: [Timestamp('2024-07-01 00:00:00'), Timestamp('2024-06-01 00:00:00'), Timestamp('2024-05-01 00:00:00'), Timestamp('2024-04-01 00:00:00'), Timestamp('2024-03-01 00:00:00'), Timestamp('2024-02-01 00:00:00'), Timestamp('2024-01-01 00:00:00'), Timestamp('2023-12-01 00:00:00'), Timestamp('2023-11-01 00:00:00'), Timestamp('2023-10-01 00:00:00'), Timestamp('2023-09-01 00:00:00'), Timestamp('2023-08-01 00:00:00'), Timestamp('2023-07-01 00:00:00'), Timestamp('2023-06-01 00:00:00'), Timestamp('2023-05-01 00:00:00'), Timestamp('2023-04-01 00:00:00'), Timestamp('2023-03-01 00:00:00'), Timestamp('2023-02-01 00:00:00'), Timestamp('2023-01-01 00:00:00'), Timestamp('2022-12-01 00:00:00'), Timestamp('2022-11-01 00:00:00'), Timestamp('2022-10-01 00:00:00'), Timestamp('2022-09-01 00:00:00'), Timestamp('2022-08-01 00:00:00')]

Cruzar Stock y multiplicar por el "%"

In [69]:
df_stock_pivot = df_stock.pivot(index='Ultimo Eslabón', columns='Fecha', values='Stock').reset_index()
df_stock_pivot.columns = df_stock_pivot.columns.map(str)
df_stock_pivot.columns = ['Ultimo Eslabón'] + [str(col)[:10] + '_stock' for col in df_stock_pivot.columns[1:]]
df_siso_combined = df_siso.merge(df_stock_pivot, on='Ultimo Eslabón', how='left')
df_siso_combined = df_siso_combined.fillna(0)

for column in df_stock_pivot.columns[1:]:
    df_siso_combined[column] = df_siso_combined[column] * df_siso_combined['%']

In [70]:
columnas = df_siso_combined.columns.tolist()
for columna in columnas:
    print(columna)

Ultimo Eslabón
Canal 3
01-01-2018 0:00.1
01-02-2018 0:00.1
01-03-2018 0:00.1
01-04-2018 0:00.1
01-05-2018 0:00.1
01-06-2018 0:00.1
01-07-2018 0:00.1
01-08-2018 0:00.1
01-09-2018 0:00.1
01-10-2018 0:00.1
01-11-2018 0:00.1
01-12-2018 0:00.1
01-01-2019 0:00.1
01-02-2019 0:00.1
01-03-2019 0:00.1
01-04-2019 0:00.1
01-05-2019 0:00.1
01-06-2019 0:00.1
01-07-2019 0:00.1
01-08-2019 0:00.1
01-09-2019 0:00.1
01-10-2019 0:00.1
01-11-2019 0:00.1
01-12-2019 0:00.1
01-01-2020 0:00.1
01-02-2020 0:00.1
01-03-2020 0:00.1
01-04-2020 0:00.1
01-05-2020 0:00.1
01-06-2020 0:00.1
01-07-2020 0:00.1
01-08-2020 0:00.1
01-09-2020 0:00.1
01-10-2020 0:00.1
01-11-2020 0:00.1
01-12-2020 0:00.1
01-01-2021 0:00.1
01-02-2021 0:00.1
01-03-2021 0:00.1
01-04-2021 0:00.1
01-05-2021 0:00.1
01-06-2021 0:00.1
01-07-2021 0:00.1
01-08-2021 0:00.1
01-09-2021 0:00.1
01-10-2021 0:00.1
01-11-2021 0:00.1
01-12-2021 0:00.1
01-01-2022 0:00.1
01-02-2022 0:00.1
01-03-2022 0:00.1
01-04-2022 0:00.1
01-05-2022 0:00.1
01-06-2022 0:00.1
01-07-2022 0:00.1
01-08-2022 0:00.1
01-09-2022 0:00.1
01-10-2022 0:00.1
01-11-2022 0:00.1
01-12-2022 0:00.1
01-01-2023 0:00.1
01-02-2023 0:00.1
01-03-2023 0:00.1
01-04-2023 0:00.1
01-05-2023 0:00.1
01-06-2023 0:00.1
01-07-2023 0:00.1
01-08-2023 0:00.1
01-09-2023 0:00.1
01-10-2023 0:00.1
01-11-2023 0:00.1
01-12-2023 0:00.1
01-01-2024 0:00.1
01-02-2024 0:00.1
01-03-2024 0:00.1
01-04-2024 0:00.1
01-05-2024 0:00.1
01-06-2024 0:00.1
01-07-2024 0:00.1
SI/SO
ALERTA
Total
Venta Sku
%
2022-08-01_stock
2022-09-01_stock
2022-10-01_stock
2022-11-01_stock
2022-12-01_stock
2023-01-01_stock
2023-02-01_stock
2023-03-01_stock
2023-04-01_stock
2023-05-01_stock
2023-06-01_stock
2023-07-01_stock
2023-08-01_stock
2023-09-01_stock
2023-10-01_stock
2023-11-01_stock
2023-12-01_stock
2024-01-01_stock
2024-02-01_stock
2024-03-01_stock
2024-04-01_stock
2024-05-01_stock
2024-06-01_stock
2024-07-01_stock

In [71]:
col_start = df_siso_combined.columns.get_loc('Canal 3') + 1
col_end = df_siso_combined.columns.get_loc('SI/SO')
num_columns = col_end - col_start

df_siso_combined['ALERTA 2'] = 'Fin_Cruce_Stock'

cols_to_copy = df_siso_combined.columns[col_start:col_end]
new_column_names = [col[:10] + '_Correc_Outliers' for col in cols_to_copy]
new_columns = df_siso_combined[cols_to_copy].copy()
new_columns.columns = new_column_names

df_siso_combined = pd.concat([df_siso_combined, new_columns], axis=1)

In [72]:
new_column_names

['01-01-2018_Correc_Outliers',
 '01-02-2018_Correc_Outliers',
 '01-03-2018_Correc_Outliers',
 '01-04-2018_Correc_Outliers',
 '01-05-2018_Correc_Outliers',
 '01-06-2018_Correc_Outliers',
 '01-07-2018_Correc_Outliers',
 '01-08-2018_Correc_Outliers',
 '01-09-2018_Correc_Outliers',
 '01-10-2018_Correc_Outliers',
 '01-11-2018_Correc_Outliers',
 '01-12-2018_Correc_Outliers',
 '01-01-2019_Correc_Outliers',
 '01-02-2019_Correc_Outliers',
 '01-03-2019_Correc_Outliers',
 '01-04-2019_Correc_Outliers',
 '01-05-2019_Correc_Outliers',
 '01-06-2019_Correc_Outliers',
 '01-07-2019_Correc_Outliers',
 '01-08-2019_Correc_Outliers',
 '01-09-2019_Correc_Outliers',
 '01-10-2019_Correc_Outliers',
 '01-11-2019_Correc_Outliers',
 '01-12-2019_Correc_Outliers',
 '01-01-2020_Correc_Outliers',
 '01-02-2020_Correc_Outliers',
 '01-03-2020_Correc_Outliers',
 '01-04-2020_Correc_Outliers',
 '01-05-2020_Correc_Outliers',
 '01-06-2020_Correc_Outliers',
 '01-07-2020_Correc_Outliers',
 '01-08-2020_Correc_Outliers',
 '01-09-2020_Correc_Outliers',
 '01-10-2020_Correc_Outliers',
 '01-11-2020_Correc_Outliers',
 '01-12-2020_Correc_Outliers',
 '01-01-2021_Correc_Outliers',
 '01-02-2021_Correc_Outliers',
 '01-03-2021_Correc_Outliers',
 '01-04-2021_Correc_Outliers',
 '01-05-2021_Correc_Outliers',
 '01-06-2021_Correc_Outliers',
 '01-07-2021_Correc_Outliers',
 '01-08-2021_Correc_Outliers',
 '01-09-2021_Correc_Outliers',
 '01-10-2021_Correc_Outliers',
 '01-11-2021_Correc_Outliers',
 '01-12-2021_Correc_Outliers',
 '01-01-2022_Correc_Outliers',
 '01-02-2022_Correc_Outliers',
 '01-03-2022_Correc_Outliers',
 '01-04-2022_Correc_Outliers',
 '01-05-2022_Correc_Outliers',
 '01-06-2022_Correc_Outliers',
 '01-07-2022_Correc_Outliers',
 '01-08-2022_Correc_Outliers',
 '01-09-2022_Correc_Outliers',
 '01-10-2022_Correc_Outliers',
 '01-11-2022_Correc_Outliers',
 '01-12-2022_Correc_Outliers',
 '01-01-2023_Correc_Outliers',
 '01-02-2023_Correc_Outliers',
 '01-03-2023_Correc_Outliers',
 '01-04-2023_Correc_Outliers',
 '01-05-2023_Correc_Outliers',
 '01-06-2023_Correc_Outliers',
 '01-07-2023_Correc_Outliers',
 '01-08-2023_Correc_Outliers',
 '01-09-2023_Correc_Outliers',
 '01-10-2023_Correc_Outliers',
 '01-11-2023_Correc_Outliers',
 '01-12-2023_Correc_Outliers',
 '01-01-2024_Correc_Outliers',
 '01-02-2024_Correc_Outliers',
 '01-03-2024_Correc_Outliers',
 '01-04-2024_Correc_Outliers',
 '01-05-2024_Correc_Outliers',
 '01-06-2024_Correc_Outliers',
 '01-07-2024_Correc_Outliers']

In [73]:
# Añadir la columna 'ALERTA 3' con el dato 'INI_CORRECCIÓN_DISPO'
df_siso_combined['ALERTA 3'] = 'INI_CORRECCIÓN_DISPO'

# Seleccionar las columnas que terminan en _stock y _Correc_Outliers
stock_cols = [col for col in df_siso_combined.columns if col.endswith('_stock')]
correc_outliers_cols = [col for col in df_siso_combined.columns if col.endswith('_Correc_Outliers')]

# Determinar el rango de columnas para el cálculo del promedio (18 columnas antes de 'SI/SO')
index_siso = df_siso_combined.columns.get_loc('SI/SO')
cols_promedio = df_siso_combined.columns[index_siso-18:index_siso]

# Calcular el promedio una sola vez para todas las filas
promedios = df_siso_combined[cols_promedio].mean(axis=1)

# Mostrar las columnas utilizadas para el promedio
print("Columnas utilizadas para el promedio:", cols_promedio)

Columnas utilizadas para el promedio: Index(['01-02-2023 0:00.1', '01-03-2023 0:00.1', '01-04-2023 0:00.1',
       '01-05-2023 0:00.1', '01-06-2023 0:00.1', '01-07-2023 0:00.1',
       '01-08-2023 0:00.1', '01-09-2023 0:00.1', '01-10-2023 0:00.1',
       '01-11-2023 0:00.1', '01-12-2023 0:00.1', '01-01-2024 0:00.1',
       '01-02-2024 0:00.1', '01-03-2024 0:00.1', '01-04-2024 0:00.1',
       '01-05-2024 0:00.1', '01-06-2024 0:00.1', '01-07-2024 0:00.1'],
      dtype='object')

In [74]:
# Iterar sobre cada par de columnas _stock y _Correc_Outliers
result_cols = []
for stock_col in stock_cols:
    # Encontrar la columna correspondiente de _Correc_Outliers
    correc_outliers_col = stock_col.replace('_stock', '_Correc_Outliers')
    
    if correc_outliers_col in correc_outliers_cols:
        # Crear una nueva columna con el resultado de la fórmula
        nueva_columna = stock_col.replace('_stock', '_result')
        result_cols.append(nueva_columna)
        df_siso_combined[nueva_columna] = df_siso_combined.apply(
            lambda row: promedios[row.name] if row[stock_col] < promedios[row.name] and row[correc_outliers_col] < promedios[row.name] else row[correc_outliers_col],
            axis=1
        )

In [75]:
df_siso_combined.columns

Index(['Ultimo Eslabón', 'Canal 3', '01-01-2018 0:00.1', '01-02-2018 0:00.1',
       '01-03-2018 0:00.1', '01-04-2018 0:00.1', '01-05-2018 0:00.1',
       '01-06-2018 0:00.1', '01-07-2018 0:00.1', '01-08-2018 0:00.1',
       ...
       '01-11-2023_Correc_Outliers', '01-12-2023_Correc_Outliers',
       '01-01-2024_Correc_Outliers', '01-02-2024_Correc_Outliers',
       '01-03-2024_Correc_Outliers', '01-04-2024_Correc_Outliers',
       '01-05-2024_Correc_Outliers', '01-06-2024_Correc_Outliers',
       '01-07-2024_Correc_Outliers', 'ALERTA 3'],
      dtype='object', length=191)

In [76]:
# Crear un diccionario que mapea cada columna _stock a su correspondiente columna _Correc_Outliers
column_mapping = {
    '2022-08-01_stock': '01-08-2022_Correc_Outliers',
    '2022-09-01_stock': '01-09-2022_Correc_Outliers',
    '2022-10-01_stock': '01-10-2022_Correc_Outliers',
    '2022-11-01_stock': '01-11-2022_Correc_Outliers',
    '2022-12-01_stock': '01-12-2022_Correc_Outliers',
    '2023-01-01_stock': '01-01-2023_Correc_Outliers',
    '2023-02-01_stock': '01-02-2023_Correc_Outliers',
    '2023-03-01_stock': '01-03-2023_Correc_Outliers',
    '2023-04-01_stock': '01-04-2023_Correc_Outliers',
    '2023-05-01_stock': '01-05-2023_Correc_Outliers',
    '2023-06-01_stock': '01-06-2023_Correc_Outliers',
    '2023-07-01_stock': '01-07-2023_Correc_Outliers',
    '2023-08-01_stock': '01-08-2023_Correc_Outliers',
    '2023-09-01_stock': '01-09-2023_Correc_Outliers',
    '2023-10-01_stock': '01-10-2023_Correc_Outliers',
    '2023-11-01_stock': '01-11-2023_Correc_Outliers',
    '2023-12-01_stock': '01-12-2023_Correc_Outliers',
    '2024-01-01_stock': '01-01-2024_Correc_Outliers',
    '2024-02-01_stock': '01-02-2024_Correc_Outliers',
    '2024-03-01_stock': '01-03-2024_Correc_Outliers',
    '2024-04-01_stock': '01-04-2024_Correc_Outliers',
    '2024-05-01_stock': '01-05-2024_Correc_Outliers',
    '2024-06-01_stock': '01-06-2024_Correc_Outliers',
    '2024-07-01_stock': '01-07-2024_Correc_Outliers'
}

result_cols = []
for stock_col, correc_outliers_col in column_mapping.items():
    if correc_outliers_col in df_siso_combined.columns:
        # Crear una nueva columna con el resultado de la fórmula
        nueva_columna = stock_col.replace('_stock', '_result')
        result_cols.append(nueva_columna)
        df_siso_combined[nueva_columna] = df_siso_combined.apply(
            lambda row: promedios[row.name] if row[stock_col] < promedios[row.name] and row[correc_outliers_col] < promedios[row.name] else row[correc_outliers_col],
            axis=1
        )
    else:
        print(f"Columna no encontrada para {stock_col}: {correc_outliers_col}")

# Mostrar las columnas creadas con _result
print("Columnas creadas con _result:", result_cols)

# Eliminar las últimas 24 columnas que contienen _Correc_Outliers
cols_to_drop = list(column_mapping.values())[-24:]
df_siso_combined.drop(columns=cols_to_drop, inplace=True)

# Mostrar las columnas eliminadas
print("Columnas eliminadas:", cols_to_drop)

Columnas creadas con _result: ['2022-08-01_result', '2022-09-01_result', '2022-10-01_result', '2022-11-01_result', '2022-12-01_result', '2023-01-01_result', '2023-02-01_result', '2023-03-01_result', '2023-04-01_result', '2023-05-01_result', '2023-06-01_result', '2023-07-01_result', '2023-08-01_result', '2023-09-01_result', '2023-10-01_result', '2023-11-01_result', '2023-12-01_result', '2024-01-01_result', '2024-02-01_result', '2024-03-01_result', '2024-04-01_result', '2024-05-01_result', '2024-06-01_result', '2024-07-01_result']
Columnas eliminadas: ['01-08-2022_Correc_Outliers', '01-09-2022_Correc_Outliers', '01-10-2022_Correc_Outliers', '01-11-2022_Correc_Outliers', '01-12-2022_Correc_Outliers', '01-01-2023_Correc_Outliers', '01-02-2023_Correc_Outliers', '01-03-2023_Correc_Outliers', '01-04-2023_Correc_Outliers', '01-05-2023_Correc_Outliers', '01-06-2023_Correc_Outliers', '01-07-2023_Correc_Outliers', '01-08-2023_Correc_Outliers', '01-09-2023_Correc_Outliers', '01-10-2023_Correc_Outliers', '01-11-2023_Correc_Outliers', '01-12-2023_Correc_Outliers', '01-01-2024_Correc_Outliers', '01-02-2024_Correc_Outliers', '01-03-2024_Correc_Outliers', '01-04-2024_Correc_Outliers', '01-05-2024_Correc_Outliers', '01-06-2024_Correc_Outliers', '01-07-2024_Correc_Outliers']

In [77]:
df_siso_combined.columns

Index(['Ultimo Eslabón', 'Canal 3', '01-01-2018 0:00.1', '01-02-2018 0:00.1',
       '01-03-2018 0:00.1', '01-04-2018 0:00.1', '01-05-2018 0:00.1',
       '01-06-2018 0:00.1', '01-07-2018 0:00.1', '01-08-2018 0:00.1',
       ...
       '2023-10-01_result', '2023-11-01_result', '2023-12-01_result',
       '2024-01-01_result', '2024-02-01_result', '2024-03-01_result',
       '2024-04-01_result', '2024-05-01_result', '2024-06-01_result',
       '2024-07-01_result'],
      dtype='object', length=191)

In [78]:
import pandas as pd

# Suponiendo que tienes el DataFrame original antes de eliminar las columnas
df_original = df_siso_combined.copy()

# Aquí va tu código de procesamiento y eliminación de columnas
# ...

# Lista de columnas después de eliminar
columnas_despues = df_siso_combined.columns.tolist()

# Lista de columnas antes de eliminar
columnas_antes = df_original.columns.tolist()

# Columnas eliminadas
columnas_eliminadas = [col for col in columnas_antes if col not in columnas_despues]

# Columnas que quedaron
columnas_quedaron = [col for col in columnas_despues if col in columnas_antes]

# Mostrar las columnas eliminadas y las que quedaron
print("Columnas eliminadas:")
print(columnas_eliminadas)

print("\nColumnas que quedaron:")
print(columnas_quedaron)

Columnas eliminadas:
[]

Columnas que quedaron:
['Ultimo Eslabón', 'Canal 3', '01-01-2018 0:00.1', '01-02-2018 0:00.1', '01-03-2018 0:00.1', '01-04-2018 0:00.1', '01-05-2018 0:00.1', '01-06-2018 0:00.1', '01-07-2018 0:00.1', '01-08-2018 0:00.1', '01-09-2018 0:00.1', '01-10-2018 0:00.1', '01-11-2018 0:00.1', '01-12-2018 0:00.1', '01-01-2019 0:00.1', '01-02-2019 0:00.1', '01-03-2019 0:00.1', '01-04-2019 0:00.1', '01-05-2019 0:00.1', '01-06-2019 0:00.1', '01-07-2019 0:00.1', '01-08-2019 0:00.1', '01-09-2019 0:00.1', '01-10-2019 0:00.1', '01-11-2019 0:00.1', '01-12-2019 0:00.1', '01-01-2020 0:00.1', '01-02-2020 0:00.1', '01-03-2020 0:00.1', '01-04-2020 0:00.1', '01-05-2020 0:00.1', '01-06-2020 0:00.1', '01-07-2020 0:00.1', '01-08-2020 0:00.1', '01-09-2020 0:00.1', '01-10-2020 0:00.1', '01-11-2020 0:00.1', '01-12-2020 0:00.1', '01-01-2021 0:00.1', '01-02-2021 0:00.1', '01-03-2021 0:00.1', '01-04-2021 0:00.1', '01-05-2021 0:00.1', '01-06-2021 0:00.1', '01-07-2021 0:00.1', '01-08-2021 0:00.1', '01-09-2021 0:00.1', '01-10-2021 0:00.1', '01-11-2021 0:00.1', '01-12-2021 0:00.1', '01-01-2022 0:00.1', '01-02-2022 0:00.1', '01-03-2022 0:00.1', '01-04-2022 0:00.1', '01-05-2022 0:00.1', '01-06-2022 0:00.1', '01-07-2022 0:00.1', '01-08-2022 0:00.1', '01-09-2022 0:00.1', '01-10-2022 0:00.1', '01-11-2022 0:00.1', '01-12-2022 0:00.1', '01-01-2023 0:00.1', '01-02-2023 0:00.1', '01-03-2023 0:00.1', '01-04-2023 0:00.1', '01-05-2023 0:00.1', '01-06-2023 0:00.1', '01-07-2023 0:00.1', '01-08-2023 0:00.1', '01-09-2023 0:00.1', '01-10-2023 0:00.1', '01-11-2023 0:00.1', '01-12-2023 0:00.1', '01-01-2024 0:00.1', '01-02-2024 0:00.1', '01-03-2024 0:00.1', '01-04-2024 0:00.1', '01-05-2024 0:00.1', '01-06-2024 0:00.1', '01-07-2024 0:00.1', 'SI/SO', 'ALERTA', 'Total', 'Venta Sku', '%', '2022-08-01_stock', '2022-09-01_stock', '2022-10-01_stock', '2022-11-01_stock', '2022-12-01_stock', '2023-01-01_stock', '2023-02-01_stock', '2023-03-01_stock', '2023-04-01_stock', '2023-05-01_stock', '2023-06-01_stock', '2023-07-01_stock', '2023-08-01_stock', '2023-09-01_stock', '2023-10-01_stock', '2023-11-01_stock', '2023-12-01_stock', '2024-01-01_stock', '2024-02-01_stock', '2024-03-01_stock', '2024-04-01_stock', '2024-05-01_stock', '2024-06-01_stock', '2024-07-01_stock', 'ALERTA 2', '01-01-2018_Correc_Outliers', '01-02-2018_Correc_Outliers', '01-03-2018_Correc_Outliers', '01-04-2018_Correc_Outliers', '01-05-2018_Correc_Outliers', '01-06-2018_Correc_Outliers', '01-07-2018_Correc_Outliers', '01-08-2018_Correc_Outliers', '01-09-2018_Correc_Outliers', '01-10-2018_Correc_Outliers', '01-11-2018_Correc_Outliers', '01-12-2018_Correc_Outliers', '01-01-2019_Correc_Outliers', '01-02-2019_Correc_Outliers', '01-03-2019_Correc_Outliers', '01-04-2019_Correc_Outliers', '01-05-2019_Correc_Outliers', '01-06-2019_Correc_Outliers', '01-07-2019_Correc_Outliers', '01-08-2019_Correc_Outliers', '01-09-2019_Correc_Outliers', '01-10-2019_Correc_Outliers', '01-11-2019_Correc_Outliers', '01-12-2019_Correc_Outliers', '01-01-2020_Correc_Outliers', '01-02-2020_Correc_Outliers', '01-03-2020_Correc_Outliers', '01-04-2020_Correc_Outliers', '01-05-2020_Correc_Outliers', '01-06-2020_Correc_Outliers', '01-07-2020_Correc_Outliers', '01-08-2020_Correc_Outliers', '01-09-2020_Correc_Outliers', '01-10-2020_Correc_Outliers', '01-11-2020_Correc_Outliers', '01-12-2020_Correc_Outliers', '01-01-2021_Correc_Outliers', '01-02-2021_Correc_Outliers', '01-03-2021_Correc_Outliers', '01-04-2021_Correc_Outliers', '01-05-2021_Correc_Outliers', '01-06-2021_Correc_Outliers', '01-07-2021_Correc_Outliers', '01-08-2021_Correc_Outliers', '01-09-2021_Correc_Outliers', '01-10-2021_Correc_Outliers', '01-11-2021_Correc_Outliers', '01-12-2021_Correc_Outliers', '01-01-2022_Correc_Outliers', '01-02-2022_Correc_Outliers', '01-03-2022_Correc_Outliers', '01-04-2022_Correc_Outliers', '01-05-2022_Correc_Outliers', '01-06-2022_Correc_Outliers', '01-07-2022_Correc_Outliers', 'ALERTA 3', '2022-08-01_result', '2022-09-01_result', '2022-10-01_result', '2022-11-01_result', '2022-12-01_result', '2023-01-01_result', '2023-02-01_result', '2023-03-01_result', '2023-04-01_result', '2023-05-01_result', '2023-06-01_result', '2023-07-01_result', '2023-08-01_result', '2023-09-01_result', '2023-10-01_result', '2023-11-01_result', '2023-12-01_result', '2024-01-01_result', '2024-02-01_result', '2024-03-01_result', '2024-04-01_result', '2024-05-01_result', '2024-06-01_result', '2024-07-01_result']

YYYY-MM Correccion Disponibilidad MM-YY

Guarda en CSV con rutas que detectan fechas

In [79]:
import os
import pandas as pd
from datetime import datetime, timedelta

meses_espanol_abreviado = {1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Ago', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dic'}
meses_espanol_completo = {1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'}

usuario = os.getlogin()
fecha_actual = datetime.now()
fecha_siguiente = fecha_actual + timedelta(days=30)
fecha_anterior = fecha_actual - timedelta(days=30)

mes_siguiente = fecha_siguiente.month
mes_anterior = fecha_anterior.month

anio_mes_guardar = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
nombre_archivo = fecha_actual.strftime(f"%Y.%m Correccion Disponibilidad {meses_espanol_completo[mes_anterior]}-%y")

ruta_guardar_csv = f"C:\\Users\\{usuario}.dercoparts\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_guardar}\\AFM\\Correccion Dispo\\Python_Correcion\\{nombre_archivo}.csv"

os.makedirs(os.path.dirname(ruta_guardar_csv), exist_ok=True)
df_siso_combined.to_csv(ruta_guardar_csv, sep=';', decimal=',', index=False)

In [80]:
ruta_guardar_csv

'C:\\Users\\etorres.dercoparts\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-08 Ciclo Sep-24\\AFM\\Correccion Dispo\\Python_Correcion\\2024.08 Correccion Disponibilidad Julio-24.csv'

Guarda en PARQUET con rutas que detectan fechas

In [81]:
import os
import pandas as pd
from datetime import datetime, timedelta

meses_espanol_abreviado = {1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Ago', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dic'}
meses_espanol_completo = {1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'}

usuario = os.getlogin()
fecha_actual = datetime.now()
fecha_siguiente = fecha_actual + timedelta(days=30)
fecha_anterior = fecha_actual - timedelta(days=30)

mes_siguiente = fecha_siguiente.month
mes_anterior = fecha_anterior.month

anio_mes_guardar = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
nombre_archivo = fecha_actual.strftime(f"%Y.%m Correccion Disponibilidad {meses_espanol_completo[mes_anterior]}-%y")

ruta_guardar = f"C:\\Users\\{usuario}.dercoparts\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_guardar}\\AFM\\Correccion Dispo\\Python_Correcion\\CLUSTERING{nombre_archivo}.parquet"

os.makedirs(os.path.dirname(ruta_guardar), exist_ok=True)
df_siso_combined.to_parquet(ruta_guardar, index=False)

In [82]:
columnas = df_siso_combined.columns.tolist()
columnas[50:80]

['01-01-2022 0:00.1',
 '01-02-2022 0:00.1',
 '01-03-2022 0:00.1',
 '01-04-2022 0:00.1',
 '01-05-2022 0:00.1',
 '01-06-2022 0:00.1',
 '01-07-2022 0:00.1',
 '01-08-2022 0:00.1',
 '01-09-2022 0:00.1',
 '01-10-2022 0:00.1',
 '01-11-2022 0:00.1',
 '01-12-2022 0:00.1',
 '01-01-2023 0:00.1',
 '01-02-2023 0:00.1',
 '01-03-2023 0:00.1',
 '01-04-2023 0:00.1',
 '01-05-2023 0:00.1',
 '01-06-2023 0:00.1',
 '01-07-2023 0:00.1',
 '01-08-2023 0:00.1',
 '01-09-2023 0:00.1',
 '01-10-2023 0:00.1',
 '01-11-2023 0:00.1',
 '01-12-2023 0:00.1',
 '01-01-2024 0:00.1',
 '01-02-2024 0:00.1',
 '01-03-2024 0:00.1',
 '01-04-2024 0:00.1',
 '01-05-2024 0:00.1',
 '01-06-2024 0:00.1']

Incio formato ANASTASIA DESDE PARQUET

In [83]:
import os
import pandas as pd
from datetime import datetime, timedelta

meses_espanol_abreviado = {1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Ago', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dic'}
meses_espanol_completo = {1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'}

usuario = os.getlogin()
fecha_actual = datetime.now()
fecha_siguiente = fecha_actual + timedelta(days=30)
fecha_anterior = fecha_actual - timedelta(days=30)

mes_siguiente = fecha_siguiente.month
mes_anterior = fecha_anterior.month

anio_mes_leer = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
nombre_archivo = fecha_actual.strftime(f"%Y.%m Correccion Disponibilidad {meses_espanol_completo[mes_anterior]}-%y")

ruta_leer = f"C:\\Users\\{usuario}.dercoparts\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_leer}\\AFM\\Correccion Dispo\\Python_Correcion\\CLUSTERING{nombre_archivo}.parquet"

df_siso_combined = pd.read_parquet(ruta_leer)

In [84]:
ruta_leer

'C:\\Users\\etorres.dercoparts\\derco chile repuestos spa\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-08 Ciclo Sep-24\\AFM\\Correccion Dispo\\Python_Correcion\\CLUSTERING2024.08 Correccion Disponibilidad Julio-24.parquet'

Inicio formato ANASTASIA DESDE CSV

In [85]:
# import os
# import pandas as pd
# from datetime import datetime, timedelta

# meses_espanol_abreviado = {1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun', 7: 'Jul', 8: 'Ago', 9: 'Sep', 10: 'Oct', 11: 'Nov', 12: 'Dic'}
# meses_espanol_completo = {1: 'Enero', 2: 'Febrero', 3: 'Marzo', 4: 'Abril', 5: 'Mayo', 6: 'Junio', 7: 'Julio', 8: 'Agosto', 9: 'Septiembre', 10: 'Octubre', 11: 'Noviembre', 12: 'Diciembre'}

# usuario = os.getlogin()
# fecha_actual = datetime.now()
# fecha_siguiente = fecha_actual + timedelta(days=30)
# fecha_anterior = fecha_actual - timedelta(days=30)

# mes_siguiente = fecha_siguiente.month
# mes_anterior = fecha_anterior.month

# anio_mes_leer = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
# nombre_archivo = fecha_actual.strftime(f"%Y.%m Correccion Disponibilidad {meses_espanol_completo[mes_anterior]}-%y")

# ruta_leer_csv = f"C:\\Users\\{usuario}\\Inchcape\\Planificación y abastecimiento AFM - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_leer}\\AFM\\Correccion Dispo\\{nombre_archivo}.csv"

# df_siso_combined = pd.read_csv(ruta_leer_csv, sep=';', decimal=',')

In [86]:
df_siso_combined.dtypes

Ultimo Eslabón        object
Canal 3               object
01-01-2018 0:00.1    float64
01-02-2018 0:00.1    float64
01-03-2018 0:00.1    float64
                      ...
2024-03-01_result    float64
2024-04-01_result    float64
2024-05-01_result    float64
2024-06-01_result    float64
2024-07-01_result    float64
Length: 191, dtype: object

Achicar DF solo a las columnas corregidas por Disponibilidad para dar Formato Anastasia

In [87]:
import pandas as pd

alerta2_index = df_siso_combined.columns.get_loc('ALERTA 2')
selected_columns = df_siso_combined.columns[:2].tolist() + df_siso_combined.columns[alerta2_index+1:].tolist()
df_filtered = df_siso_combined.loc[:, selected_columns]

if 'ALERTA 3' in df_filtered.columns:
    df_filtered = df_filtered.drop(columns=['ALERTA 3'])

In [88]:
df_melted = pd.melt(df_filtered, id_vars=df_filtered.columns[:2], var_name='Fecha', value_name='Venta')
df_melted['Fecha'] = df_melted['Fecha'].str.replace('_Correc_Outliers', '').str.replace('_result', '')

In [89]:
suma = df_melted['Venta'].sum()
suma

75961851.3488622

In [90]:
df_melted['ID transacción'] = ['TR' + str(i) for i in range(1, len(df_melted) + 1)]
df_melted['idSKU_R3'] = ['SKU' + str(i) for i in range(1, len(df_melted) + 1)]
cols = df_melted.columns.tolist()
cols.insert(cols.index('Fecha') + 1, cols.pop(cols.index('ID transacción')))
cols.insert(cols.index('Fecha') + 2, cols.pop(cols.index('idSKU_R3')))
df_melted = df_melted[cols]
df_melted.rename(columns={'Ultimo Eslabón': 'idSKU'}, inplace=True)
df_melted.rename(columns={'Canal 3': 'Canal'}, inplace=True)
df_melted.rename(columns={'Venta': 'Cantidad'}, inplace=True)
df_melted['Unidad Medida'] = 'UN'
df_melted['Pais'] = 'CL'
df_melted['valor_trn'] = 0

condiciones = [
    df_melted['Canal'].isin(['CL WALMART', 'CL EASY', 'CL SMU', 'CL TOTTUS', 'CL SODIMAC']),
    df_melted['Canal'].isin(['CL MAYORISTA', 'CL CES 01']),
    df_melted['Canal'] == 'CL RETAIL'
]


resultados = ['SO', 'SI', 'SO']
df_melted['Tipo_Venta'] = np.select(condiciones, resultados, default=np.nan)
#REDONDEAR CANTIDAD
df_melted['Cantidad'] = df_melted['Cantidad'].round()

Se pierden unidades al redondear

In [91]:
sumax = df_melted['Cantidad'].sum()
sumax

75945229.0

In [92]:
cols = ['Fecha', 'ID transacción', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn', 'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta']
df_melted = df_melted[cols]

df_melted

,Fecha,ID transacción,idSKU,idSKU_R3,Cantidad,valor_trn,Canal,Unidad Medida,Pais,Tipo_Venta
0,01-01-2018,TR1,1000078,SKU1,0.0,0,CL MAYORISTA,UN,CL,SI
1,01-01-2018,TR2,1000144,SKU2,0.0,0,CL MAYORISTA,UN,CL,SI
2,01-01-2018,TR3,1000147,SKU3,0.0,0,CL CES 01,UN,CL,SI
3,01-01-2018,TR4,1000147,SKU4,0.0,0,CL MAYORISTA,UN,CL,SI
4,01-01-2018,TR5,1000148,SKU5,0.0,0,CL CES 01,UN,CL,SI
...,...,...,...,...,...,...,...,...,...,...
4852017,2024-07-01,TR4852018,750797,SKU4852018,1.0,0,CL RETAIL,UN,CL,SO
4852018,2024-07-01,TR4852019,750803,SKU4852019,4.0,0,CL RETAIL,UN,CL,SO
4852019,2024-07-01,TR4852020,750809,SKU4852020,3.0,0,CL RETAIL,UN,CL,SO
4852020,2024-07-01,TR4852021,750816,SKU4852021,4.0,0,CL RETAIL,UN,CL,SO
4852021,2024-07-01,TR4852022,752466,SKU4852022,4.0,0,CL RETAIL,UN,CL,SO

In [93]:
print(df_melted['Fecha'].unique())

['01-01-2018' '01-02-2018' '01-03-2018' '01-04-2018' '01-05-2018'
 '01-06-2018' '01-07-2018' '01-08-2018' '01-09-2018' '01-10-2018'
 '01-11-2018' '01-12-2018' '01-01-2019' '01-02-2019' '01-03-2019'
 '01-04-2019' '01-05-2019' '01-06-2019' '01-07-2019' '01-08-2019'
 '01-09-2019' '01-10-2019' '01-11-2019' '01-12-2019' '01-01-2020'
 '01-02-2020' '01-03-2020' '01-04-2020' '01-05-2020' '01-06-2020'
 '01-07-2020' '01-08-2020' '01-09-2020' '01-10-2020' '01-11-2020'
 '01-12-2020' '01-01-2021' '01-02-2021' '01-03-2021' '01-04-2021'
 '01-05-2021' '01-06-2021' '01-07-2021' '01-08-2021' '01-09-2021'
 '01-10-2021' '01-11-2021' '01-12-2021' '01-01-2022' '01-02-2022'
 '01-03-2022' '01-04-2022' '01-05-2022' '01-06-2022' '01-07-2022'
 '2022-08-01' '2022-09-01' '2022-10-01' '2022-11-01' '2022-12-01'
 '2023-01-01' '2023-02-01' '2023-03-01' '2023-04-01' '2023-05-01'
 '2023-06-01' '2023-07-01' '2023-08-01' '2023-09-01' '2023-10-01'
 '2023-11-01' '2023-12-01' '2024-01-01' '2024-02-01' '2024-03-01'
 '2024-04-01' '2024-05-01' '2024-06-01' '2024-07-01']

In [94]:
df_melted['Fecha'] = df_melted['Fecha'].apply(lambda fecha: f'{fecha[8:10]}-{fecha[5:7]}-{fecha[:4]}' if fecha.startswith('2022-') else fecha)

In [95]:
df_melted['Fecha'] = df_melted['Fecha'].apply(lambda fecha: f'{fecha[8:10]}-{fecha[5:7]}-{fecha[:4]}' if fecha.startswith('2023-') else fecha)

In [96]:
df_melted['Fecha'] = df_melted['Fecha'].apply(lambda fecha: f'{fecha[8:10]}-{fecha[5:7]}-{fecha[:4]}' if fecha.startswith('2024-') else fecha)

In [97]:
df_melted

,Fecha,ID transacción,idSKU,idSKU_R3,Cantidad,valor_trn,Canal,Unidad Medida,Pais,Tipo_Venta
0,01-01-2018,TR1,1000078,SKU1,0.0,0,CL MAYORISTA,UN,CL,SI
1,01-01-2018,TR2,1000144,SKU2,0.0,0,CL MAYORISTA,UN,CL,SI
2,01-01-2018,TR3,1000147,SKU3,0.0,0,CL CES 01,UN,CL,SI
3,01-01-2018,TR4,1000147,SKU4,0.0,0,CL MAYORISTA,UN,CL,SI
4,01-01-2018,TR5,1000148,SKU5,0.0,0,CL CES 01,UN,CL,SI
...,...,...,...,...,...,...,...,...,...,...
4852017,01-07-2024,TR4852018,750797,SKU4852018,1.0,0,CL RETAIL,UN,CL,SO
4852018,01-07-2024,TR4852019,750803,SKU4852019,4.0,0,CL RETAIL,UN,CL,SO
4852019,01-07-2024,TR4852020,750809,SKU4852020,3.0,0,CL RETAIL,UN,CL,SO
4852020,01-07-2024,TR4852021,750816,SKU4852021,4.0,0,CL RETAIL,UN,CL,SO
4852021,01-07-2024,TR4852022,752466,SKU4852022,4.0,0,CL RETAIL,UN,CL,SO

_________________________________________________________

In [98]:
df_melted.columns

Index(['Fecha', 'ID transacción', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn',
       'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta'],
      dtype='object')

División de DF's para tener uno por Tipo De Venta

In [99]:
df_melted.rename(columns={'ID transacción': 'ID transaccion'}, inplace=True)
df_si = df_melted[df_melted['Tipo_Venta']== 'SI'].copy()
df_so = df_melted[df_melted['Tipo_Venta'] == 'SO'].copy()
df_si_so = df_melted

In [100]:
df_siso.columns

Index(['Ultimo Eslabón', 'Canal 3', '01-01-2018 0:00.1', '01-02-2018 0:00.1',
       '01-03-2018 0:00.1', '01-04-2018 0:00.1', '01-05-2018 0:00.1',
       '01-06-2018 0:00.1', '01-07-2018 0:00.1', '01-08-2018 0:00.1',
       '01-09-2018 0:00.1', '01-10-2018 0:00.1', '01-11-2018 0:00.1',
       '01-12-2018 0:00.1', '01-01-2019 0:00.1', '01-02-2019 0:00.1',
       '01-03-2019 0:00.1', '01-04-2019 0:00.1', '01-05-2019 0:00.1',
       '01-06-2019 0:00.1', '01-07-2019 0:00.1', '01-08-2019 0:00.1',
       '01-09-2019 0:00.1', '01-10-2019 0:00.1', '01-11-2019 0:00.1',
       '01-12-2019 0:00.1', '01-01-2020 0:00.1', '01-02-2020 0:00.1',
       '01-03-2020 0:00.1', '01-04-2020 0:00.1', '01-05-2020 0:00.1',
       '01-06-2020 0:00.1', '01-07-2020 0:00.1', '01-08-2020 0:00.1',
       '01-09-2020 0:00.1', '01-10-2020 0:00.1', '01-11-2020 0:00.1',
       '01-12-2020 0:00.1', '01-01-2021 0:00.1', '01-02-2021 0:00.1',
       '01-03-2021 0:00.1', '01-04-2021 0:00.1', '01-05-2021 0:00.1',
       '01-06-2021 0:00.1', '01-07-2021 0:00.1', '01-08-2021 0:00.1',
       '01-09-2021 0:00.1', '01-10-2021 0:00.1', '01-11-2021 0:00.1',
       '01-12-2021 0:00.1', '01-01-2022 0:00.1', '01-02-2022 0:00.1',
       '01-03-2022 0:00.1', '01-04-2022 0:00.1', '01-05-2022 0:00.1',
       '01-06-2022 0:00.1', '01-07-2022 0:00.1', '01-08-2022 0:00.1',
       '01-09-2022 0:00.1', '01-10-2022 0:00.1', '01-11-2022 0:00.1',
       '01-12-2022 0:00.1', '01-01-2023 0:00.1', '01-02-2023 0:00.1',
       '01-03-2023 0:00.1', '01-04-2023 0:00.1', '01-05-2023 0:00.1',
       '01-06-2023 0:00.1', '01-07-2023 0:00.1', '01-08-2023 0:00.1',
       '01-09-2023 0:00.1', '01-10-2023 0:00.1', '01-11-2023 0:00.1',
       '01-12-2023 0:00.1', '01-01-2024 0:00.1', '01-02-2024 0:00.1',
       '01-03-2024 0:00.1', '01-04-2024 0:00.1', '01-05-2024 0:00.1',
       '01-06-2024 0:00.1', '01-07-2024 0:00.1', 'SI/SO', 'ALERTA', 'Total',
       'Venta Sku', '%'],
      dtype='object')

In [101]:
df_si = df_si[['Fecha', 'ID transaccion', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn', 'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta']]
df_so = df_so[['Fecha', 'ID transaccion', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn', 'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta']]
df_si_so = df_si_so[['Fecha', 'ID transaccion', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn', 'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta']]

In [102]:
df_si_so.columns

Index(['Fecha', 'ID transaccion', 'idSKU', 'idSKU_R3', 'Cantidad', 'valor_trn',
       'Canal', 'Unidad Medida', 'Pais', 'Tipo_Venta'],
      dtype='object')

In [103]:
df_si_so['Cantidad'] = df_si_so['Cantidad'].astype(str).str.replace('.0', '', regex=False)

In [104]:
df_si_so['idSKU'] = df_si_so['idSKU'].astype(str)

In [105]:
df_si_so.dtypes

Fecha             object
ID transaccion    object
idSKU             object
idSKU_R3          object
Cantidad          object
valor_trn          int64
Canal             object
Unidad Medida     object
Pais              object
Tipo_Venta        object
dtype: object

In [106]:
ers = df_si_so[df_si_so['Fecha'] == "2023-08-01"]
ers

Empty DataFrame
Columns: [Fecha, ID transaccion, idSKU, idSKU_R3, Cantidad, valor_trn, Canal, Unidad Medida, Pais, Tipo_Venta]
Index: []

In [107]:
# df_si_so['Fecha'] = pd.to_datetime(df_si_so['Fecha'], dayfirst=True, errors='coerce')

# df_si_so[['Día', 'Mes', 'Año']] = df_si_so['Fecha'].str.split('-', expand=True)
# df_si_so['Fecha'] = df_si_so['Año'] + '-' + df_si_so['Mes'] + '-' + df_si_so['Día']
# df_si_so = df_si_so.drop(columns=['Día', 'Mes', 'Año'])

In [108]:
# df_si_so['Fecha'] = df_si_so['Fecha'].dt.strftime('%Y-%m-%d')

In [109]:
# df_si_so['Cantidad'].astype(int)

In [110]:
df_si_so.dtypes

Fecha             object
ID transaccion    object
idSKU             object
idSKU_R3          object
Cantidad          object
valor_trn          int64
Canal             object
Unidad Medida     object
Pais              object
Tipo_Venta        object
dtype: object

In [111]:
df_si_so['Cantidad'] = pd.to_numeric(df_si_so['Cantidad'], errors='coerce')
df_si_so= df_si_so[df_si_so['Cantidad'] > 0].copy()
df_si_so.shape

(1073351, 10)

In [112]:
df_si_so

,Fecha,ID transaccion,idSKU,idSKU_R3,Cantidad,valor_trn,Canal,Unidad Medida,Pais,Tipo_Venta
143,01-01-2018,TR144,1004078,SKU144,2,0,CL MAYORISTA,UN,CL,SI
159,01-01-2018,TR160,1004224,SKU160,140,0,CL MAYORISTA,UN,CL,SI
161,01-01-2018,TR162,1004226,SKU162,2,0,CL MAYORISTA,UN,CL,SI
163,01-01-2018,TR164,1004227,SKU164,5,0,CL MAYORISTA,UN,CL,SI
173,01-01-2018,TR174,1004237,SKU174,3,0,CL MAYORISTA,UN,CL,SI
...,...,...,...,...,...,...,...,...,...,...
4852017,01-07-2024,TR4852018,750797,SKU4852018,1,0,CL RETAIL,UN,CL,SO
4852018,01-07-2024,TR4852019,750803,SKU4852019,4,0,CL RETAIL,UN,CL,SO
4852019,01-07-2024,TR4852020,750809,SKU4852020,3,0,CL RETAIL,UN,CL,SO
4852020,01-07-2024,TR4852021,750816,SKU4852021,4,0,CL RETAIL,UN,CL,SO
4852021,01-07-2024,TR4852022,752466,SKU4852022,4,0,CL RETAIL,UN,CL,SO

In [113]:
import pandas as pd

# Suponiendo que ya tienes tu DataFrame df_si_so cargado
# Ejemplo: df_si_so = pd.read_csv('ruta_al_archivo.csv')

# Resetear el índice del DataFrame
df_si_so.reset_index(drop=True, inplace=True)

# Crear los nuevos valores incrementales para 'idSKU_R3' e 'ID transaccion'
df_si_so['idSKU_R3'] = 'SKU' + (df_si_so.index + 1).astype(str)
df_si_so['ID transaccion'] = 'TR' + (df_si_so.index + 1).astype(str)

# Mostrar el DataFrame modificado
print(df_si_so)

# Guardar el DataFrame si es necesario
# df_si_so.to_csv('ruta_al_archivo_actualizado.csv', index=False)

              Fecha ID transaccion    idSKU    idSKU_R3  Cantidad  valor_trn  \
0        01-01-2018            TR1  1004078        SKU1         2          0
1        01-01-2018            TR2  1004224        SKU2       140          0
2        01-01-2018            TR3  1004226        SKU3         2          0
3        01-01-2018            TR4  1004227        SKU4         5          0
4        01-01-2018            TR5  1004237        SKU5         3          0
...             ...            ...      ...         ...       ...        ...
1073346  01-07-2024      TR1073347   750797  SKU1073347         1          0
1073347  01-07-2024      TR1073348   750803  SKU1073348         4          0
1073348  01-07-2024      TR1073349   750809  SKU1073349         3          0
1073349  01-07-2024      TR1073350   750816  SKU1073350         4          0
1073350  01-07-2024      TR1073351   752466  SKU1073351         4          0

                Canal Unidad Medida Pais Tipo_Venta
0        CL MAYORISTA            UN   CL         SI
1        CL MAYORISTA            UN   CL         SI
2        CL MAYORISTA            UN   CL         SI
3        CL MAYORISTA            UN   CL         SI
4        CL MAYORISTA            UN   CL         SI
...               ...           ...  ...        ...
1073346     CL RETAIL            UN   CL         SO
1073347     CL RETAIL            UN   CL         SO
1073348     CL RETAIL            UN   CL         SO
1073349     CL RETAIL            UN   CL         SO
1073350     CL RETAIL            UN   CL         SO

[1073351 rows x 10 columns]

In [114]:
ax=df_si_so['Fecha'].unique()
ax

array(['01-01-2018', '01-02-2018', '01-03-2018', '01-04-2018',
       '01-05-2018', '01-06-2018', '01-07-2018', '01-08-2018',
       '01-09-2018', '01-10-2018', '01-11-2018', '01-12-2018',
       '01-01-2019', '01-02-2019', '01-03-2019', '01-04-2019',
       '01-05-2019', '01-06-2019', '01-07-2019', '01-08-2019',
       '01-09-2019', '01-10-2019', '01-11-2019', '01-12-2019',
       '01-01-2020', '01-02-2020', '01-03-2020', '01-04-2020',
       '01-05-2020', '01-06-2020', '01-07-2020', '01-08-2020',
       '01-09-2020', '01-10-2020', '01-11-2020', '01-12-2020',
       '01-01-2021', '01-02-2021', '01-03-2021', '01-04-2021',
       '01-05-2021', '01-06-2021', '01-07-2021', '01-08-2021',
       '01-09-2021', '01-10-2021', '01-11-2021', '01-12-2021',
       '01-01-2022', '01-02-2022', '01-03-2022', '01-04-2022',
       '01-05-2022', '01-06-2022', '01-07-2022', '01-08-2022',
       '01-09-2022', '01-10-2022', '01-11-2022', '01-12-2022',
       '01-01-2023', '01-02-2023', '01-03-2023', '01-04-2023',
       '01-05-2023', '01-06-2023', '01-07-2023', '01-08-2023',
       '01-09-2023', '01-10-2023', '01-11-2023', '01-12-2023',
       '01-01-2024', '01-02-2024', '01-03-2024', '01-04-2024',
       '01-05-2024', '01-06-2024', '01-07-2024'], dtype=object)

In [115]:
# Diccionario para reemplazar las fechas
reemplazos = {
    '01-01-2018': '2018-01-01',
    '01-02-2018': '2018-02-01',
    '01-03-2018': '2018-03-01',
    '01-04-2018': '2018-04-01',
    '01-05-2018': '2018-05-01',
    '01-06-2018': '2018-06-01',
    '01-07-2018': '2018-07-01',
    '01-08-2018': '2018-08-01',
    '01-09-2018': '2018-09-01',
    '01-10-2018': '2018-10-01',
    '01-11-2018': '2018-11-01',
    '01-12-2018': '2018-12-01',
    '01-01-2019': '2019-01-01',
    '01-02-2019': '2019-02-01',
    '01-03-2019': '2019-03-01',
    '01-04-2019': '2019-04-01',
    '01-05-2019': '2019-05-01',
    '01-06-2019': '2019-06-01',
    '01-07-2019': '2019-07-01',
    '01-08-2019': '2019-08-01',
    '01-09-2019': '2019-09-01',
    '01-10-2019': '2019-10-01',
    '01-11-2019': '2019-11-01',
    '01-12-2019': '2019-12-01',
    '01-01-2020': '2020-01-01',
    '01-02-2020': '2020-02-01',
    '01-03-2020': '2020-03-01',
    '01-04-2020': '2020-04-01',
    '01-05-2020': '2020-05-01',
    '01-06-2020': '2020-06-01',
    '01-07-2020': '2020-07-01',
    '01-08-2020': '2020-08-01',
    '01-09-2020': '2020-09-01',
    '01-10-2020': '2020-10-01',
    '01-11-2020': '2020-11-01',
    '01-12-2020': '2020-12-01',
    '01-01-2021': '2021-01-01',
    '01-02-2021': '2021-02-01',
    '01-03-2021': '2021-03-01',
    '01-04-2021': '2021-04-01',
    '01-05-2021': '2021-05-01',
    '01-06-2021': '2021-06-01',
    '01-07-2021': '2021-07-01',
    '01-08-2021': '2021-08-01',
    '01-09-2021': '2021-09-01',
    '01-10-2021': '2021-10-01',
    '01-11-2021': '2021-11-01',
    '01-12-2021': '2021-12-01',
    '01-01-2022': '2022-01-01',
    '01-02-2022': '2022-02-01',
    '01-03-2022': '2022-03-01',
    '01-04-2022': '2022-04-01',
    '01-05-2022': '2022-05-01',
    '01-06-2022': '2022-06-01',
    '01-07-2022': '2022-07-01',
    '01-08-2022': '2022-08-01',
    '01-09-2022': '2022-09-01',
    '01-10-2022': '2022-10-01',
    '01-11-2022': '2022-11-01',
    '01-12-2022': '2022-12-01',
    '01-01-2023': '2023-01-01',
    '01-02-2023': '2023-02-01',
    '01-03-2023': '2023-03-01',
    '01-04-2023': '2023-04-01',
    '01-05-2023': '2023-05-01',
    '01-06-2023': '2023-06-01',
    '01-07-2023': '2023-07-01',
    '01-08-2023': '2023-08-01',
    '01-09-2023': '2023-09-01',
    '01-10-2023': '2023-10-01',
    '01-11-2023': '2023-11-01',
    '01-12-2023': '2023-12-01',
    '01-01-2024': '2024-01-01',
    '01-02-2024': '2024-02-01',
    '01-03-2024': '2024-03-01',
    '01-04-2024': '2024-04-01',
    '01-05-2024': '2024-05-01',
    '01-06-2024': '2024-06-01',
    '01-07-2024': '2024-07-01'
}

# Reemplazar las fechas en el DataFrame
df_si_so['Fecha'] = df_si_so['Fecha'].replace(reemplazos)

In [116]:
df_si_so

,Fecha,ID transaccion,idSKU,idSKU_R3,Cantidad,valor_trn,Canal,Unidad Medida,Pais,Tipo_Venta
0,2018-01-01,TR1,1004078,SKU1,2,0,CL MAYORISTA,UN,CL,SI
1,2018-01-01,TR2,1004224,SKU2,140,0,CL MAYORISTA,UN,CL,SI
2,2018-01-01,TR3,1004226,SKU3,2,0,CL MAYORISTA,UN,CL,SI
3,2018-01-01,TR4,1004227,SKU4,5,0,CL MAYORISTA,UN,CL,SI
4,2018-01-01,TR5,1004237,SKU5,3,0,CL MAYORISTA,UN,CL,SI
...,...,...,...,...,...,...,...,...,...,...
1073346,2024-07-01,TR1073347,750797,SKU1073347,1,0,CL RETAIL,UN,CL,SO
1073347,2024-07-01,TR1073348,750803,SKU1073348,4,0,CL RETAIL,UN,CL,SO
1073348,2024-07-01,TR1073349,750809,SKU1073349,3,0,CL RETAIL,UN,CL,SO
1073349,2024-07-01,TR1073350,750816,SKU1073350,4,0,CL RETAIL,UN,CL,SO
1073350,2024-07-01,TR1073351,752466,SKU1073351,4,0,CL RETAIL,UN,CL,SO

In [117]:
anio_mes_leer = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
nombre_archivosi = fecha_actual.strftime(f"SI Ciclo {meses_espanol_abreviado[mes_siguiente]}-%Y")
nombre_archivoso = fecha_actual.strftime(f"SO Ciclo {meses_espanol_abreviado[mes_siguiente]}-%Y")
nombre_archivosi_so = fecha_actual.strftime(f"SI_SO Ciclo {meses_espanol_abreviado[mes_siguiente]}-%Y")
anio_mes_guardar = fecha_actual.strftime(f"%Y-%m Ciclo {meses_espanol_abreviado[mes_siguiente]}-%y")
ruta_guardar_csvsi = f"C:\\Users\\{usuario}.dercoparts\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_guardar}\\AFM\\Correccion Dispo\\Python_Correcion\\{nombre_archivosi}2.csv"
ruta_guardar_csvso = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_guardar}\\AFM\\Correccion Dispo\\Python_Correcion\\{nombre_archivoso}2.csv"
ruta_guardar_csvsi_so = f"C:\\Users\\{usuario}.dercoparts\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\{anio_mes_guardar}\\AFM\\Correccion Dispo\\Python_Correcion\\{nombre_archivosi_so}AE.csv"
os.makedirs(os.path.dirname(ruta_guardar_csvsi), exist_ok=True)
df_si_so.to_csv(ruta_guardar_csvsi_so, sep=',', index=False, encoding='utf-8')

# os.makedirs(os.path.dirname(ruta_guardar_csvso), exist_ok=True)
# df_so.to_csv(ruta_guardar_csvso, sep=',', index=False, encoding='utf-8')

In [118]:
ruta_guardar_csvso

'C:\\Users\\etorres\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\2024-08 Ciclo Sep-24\\AFM\\Correccion Dispo\\Python_Correcion\\SO Ciclo Sep-20242.csv'

CONTINUAR CON METODOS POR DEMAND TYPE, CODIGO MODELOS_DEMAND_TYPE.ipynb >>>>>>>>>>>>>>>