In [15]:
import os
from datetime import datetime
import pandas as pd

usuario = os.getlogin()

ruta_manual = os.path.join(
    os.path.expanduser('~'),
    'DERCO CHILE REPUESTOS SpA',
    'Planificación y abastecimiento - Documentos',
    'Planificación y Compras AFM',
    'S&OP Demanda',
    'Codigos Demanda',
    'Parquets',
    'Historia_Sell_Out.parquet'
)

two_months_ago = (datetime.now() - pd.DateOffset(months=2)).strftime('%Y-%m')

ruta_automatica = os.path.join(
    os.path.expanduser('~'),
    'DERCO CHILE REPUESTOS SpA',
    'Planificación y abastecimiento - Documentos',
    'Planificación y Compras AFM',
    'S&OP Demanda',
    'Codigos Demanda',
    'Parquets',
    f'Historia_Sell_Out ({two_months_ago}).parquet'
)

sellout_concat = pd.read_parquet(ruta_automatica)

print(sellout_concat.shape)
print(sellout_concat.dtypes)
# (1349525, 11) SHAPE
# Canal                     object
# Material                  object
# Venta UMB                float64
# Mes               datetime64[ns]
# SI/SO                     object
# Ultimo Eslabón            object
# Tipo                      object
# Fuente                    object
# Canal 2                   object
# Canal 3                   object
# Canal 2                   object
# dtype: object

(1380003, 10)
Mes               datetime64[ns]
Material                  object
Canal                     object
Venta UMB                float64
Fuente                    object
Ultimo Eslabón            object
Tipo                      object
Canal 2                   object
Nombre Sector             object
Canal 3                   object
dtype: object

In [16]:
sellout_concat

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
...,...,...,...,...,...,...,...,...,...,...
1379998,2024-06-01,1171486,Retail,3.0,Sell Out RTL Jun-24,1171486,None,Retail,BAT,CL RETAIL
1379999,2024-06-01,118236,Retail,1.0,Sell Out RTL Jun-24,118236,None,Retail,ACC,CL RETAIL
1380000,2024-06-01,367092,Retail,1.0,Sell Out RTL Jun-24,367092,None,Retail,BAT,CL RETAIL
1380001,2024-06-01,488676,Retail,1.0,Sell Out RTL Jun-24,488676,None,Retail,RMAQ,CL RETAIL
1380002,2024-06-01,625127,Retail,1.0,Sell Out RTL Jun-24,625127,None,Retail,JCB,CL RETAIL

Historia Terminada, agregando SellOUT GT y luego Sellout

In [17]:
import os
import pandas as pd
import datetime as datetime
# Obtener el año y mes actual en el formato YYYY y MM
fecha_actual = pd.Timestamp.now()
año_actual = fecha_actual.year
mes_actual = fecha_actual.strftime("%m")

# Construir la ruta completa al directorio que contiene los archivos
ruta_base_usuario = os.path.expanduser("~")
ruta_directorio_base = os.path.join(ruta_base_usuario, "DERCO CHILE REPUESTOS SpA", "Planificación y abastecimiento - Documentos", "Planificación y Compras Ventas", "Venta Historica Mensual")
ruta_directorio = os.path.join(ruta_directorio_base, str(año_actual), f"{año_actual}-{mes_actual}")

# Verificar si el directorio existe
if os.path.exists(ruta_directorio):
    archivo_selloutGT = None
    for archivoGT in os.listdir(ruta_directorio):
        if "Sell Out" in archivoGT and "GT" in archivoGT:
            archivo_selloutGT = archivoGT
            break

    if archivo_selloutGT:
        ruta_archivo_selloutGT = os.path.join(ruta_directorio, archivo_selloutGT)
        try:
            # Leer el archivo de Excel desde la tercera fila como encabezado
            selloutGT = pd.read_excel(ruta_archivo_selloutGT, sheet_name="Sell Out GT", header=2)
            print("Se leyó el archivo de Sell Out:", ruta_archivo_selloutGT)
        except Exception as e:
            print("Error al leer el archivo de Excel:", e)
    else:
        print("No se encontró ningún archivo con 'Sell Out' en su nombre.")
else:
    print(f"El directorio {ruta_directorio} no existe.")

Se leyó el archivo de Sell Out: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Ventas\Venta Historica Mensual\2024\2024-08\2024.08 Sell Out GT Histórico Jul-24.xlsx

In [18]:
sumaconcat = sellout_concat['Venta UMB'].sum()
sumaconcat
#58.554.466

60456084.08033332

In [19]:
selloutGT.head(1)

,Material S4,Cliente,SO Sep-22,SO Oct-22,SO Nov-22,SO Dic-22,SO Ene-23,SO Feb-23,SO Mar-23,SO Abr-23,...,SO NOV-23,SO DIC-23,SO ENE-24,SO FEB-24,SO MAR-24,SO ABR-24,SO MAY-24,SO JUN-24,SO JUL-24,ID
0,1001562,Walmart,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1001562Walmart

In [20]:
# Asumiendo que selloutGT ya ha sido leído correctamente en el DataFrame

# Reordenar las columnas para que la penúltima, última, primera y segunda sean las únicas que permanezcan
columnas_a_mantener = [selloutGT.columns[-2], selloutGT.columns[-1], selloutGT.columns[0], selloutGT.columns[1]]
selloutGT1 = selloutGT[columnas_a_mantener]
selloutGT1.head(1)

   SO JUL-24              ID Material S4  Cliente
0          0  1001562Walmart     1001562  Walmart

In [21]:
# Renombrar la primera columna a 'Venta' y convertirla a tipo int
selloutGT1 = selloutGT1.rename(columns={selloutGT1.columns[0]: 'Venta'})
selloutGT1.loc[:, 'Venta'] = selloutGT1['Venta'].astype(int)

# Filtrar solo los valores mayores a 0
selloutGT1 = selloutGT1[selloutGT1['Venta'] > 0].copy()

# Mostrar una muestra del DataFrame y la suma de la columna 'Venta'
muestra = selloutGT1.head(1)  # Muestra de los primeros 5 registros
suma_ventas = selloutGT1['Venta'].sum()

print("Muestra del DataFrame:")
print(muestra)
print(f"\nSuma de la columna 'Venta': {suma_ventas}")

Muestra del DataFrame:
   Venta           ID Material S4 Cliente
5    208  1004224Easy     1004224    Easy

Suma de la columna 'Venta': 127220

In [22]:
selloutGT1 = selloutGT1[~selloutGT1['Material S4'].str.contains('Total', case=False, na=False)]
# Mostrar el DataFrame resultante
suma_ventas = selloutGT1['Venta'].sum()

print("Muestra del DataFrame:")
print(muestra)
print(f"\nSuma de la columna 'Venta': {suma_ventas}")

Muestra del DataFrame:
   Venta           ID Material S4 Cliente
5    208  1004224Easy     1004224    Easy

Suma de la columna 'Venta': 63610

In [23]:
selloutGT1.shape

(302, 4)

In [24]:
import pandas as pd
from datetime import datetime, timedelta
# Agregar las nuevas columnas utilizando .loc para evitar SettingWithCopyWarning
selloutGT1.loc[:, 'Fuente'] = 'Sell Out MB51 - SISO'
selloutGT1.loc[:, 'SI/SO'] = 'SO'

# Calcular el primer día del mes anterior
primer_dia_mes_anterior = (fecha_actual.replace(day=1) - timedelta(days=1)).replace(day=1)

# Crear una columna 'Mes' con el formato especificado
selloutGT1.loc[:, 'Mes'] = primer_dia_mes_anterior.strftime('%Y-%m-%d')
selloutGT1.head(1)

,Venta,ID,Material S4,Cliente,Fuente,SI/SO,Mes
5,208,1004224Easy,1004224,Easy,Sell Out MB51 - SISO,SO,2024-07-01

In [25]:
selloutGT1.dtypes

Venta           int64
ID             object
Material S4    object
Cliente        object
Fuente         object
SI/SO          object
Mes            object
dtype: object

In [26]:
sellout_concat.tail(1)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1380002,2024-06-01,625127,Retail,1.0,Sell Out RTL Jun-24,625127,None,Retail,JCB,CL RETAIL

In [27]:
v1 = selloutGT1['Venta'].sum()
v1

63610

In [28]:
sellout_concat.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3'],
      dtype='object')

In [29]:
selloutGT1.columns

Index(['Venta', 'ID', 'Material S4', 'Cliente', 'Fuente', 'SI/SO', 'Mes'], dtype='object')

In [30]:
v1 = sellout_concat['Venta UMB'].sum()
v1

60456084.08033332

In [31]:

selloutGT1.rename(columns={'Material S4': 'Material', 'Venta': 'Venta UMB', 'Cliente': 'Canal'}, inplace=True)

# Seleccionar todas las columnas de selloutGT1 que coincidan con las de sellout_concat
columnas_comunes = [col for col in selloutGT1.columns if col in sellout_concat.columns]
selloutGT1 = selloutGT1[columnas_comunes]

In [32]:
columnas_comunes

['Venta UMB', 'Material', 'Canal', 'Fuente', 'Mes']

In [33]:

suma_ventas = sellout_concat['Venta UMB'].sum()

# Mostrar el DataFrame resultante y la suma de la columna 'Venta UMB'
print("DataFrame concatenado:")
print(sellout_concat.head(1))
print(f"\nSuma de la columna 'Venta UMB': {suma_ventas}")

DataFrame concatenado:
         Mes Material Canal  Venta UMB                Fuente Ultimo Eslabón  \
0 2021-06-01  1000147    AP       52.0  Sell Out MB51 - SISO        1000147

  Tipo Canal 2 Nombre Sector    Canal 3
0  ACC  Retail           ACC  CL RETAIL

Suma de la columna 'Venta UMB': 60456084.08033332

In [34]:
v3 = sellout_concat['Venta UMB'].sum()
v3
#58624420.08033333
#59807395.08033334

60456084.08033332

In [35]:
sellout_concat.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [36]:
sellout_concat.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1380001,2024-06-01,488676,Retail,1.0,Sell Out RTL Jun-24,488676,None,Retail,RMAQ,CL RETAIL
1380002,2024-06-01,625127,Retail,1.0,Sell Out RTL Jun-24,625127,None,Retail,JCB,CL RETAIL

leer solo sellout

In [37]:
# Obtener el año y mes actual en el formato YYYY y MM
fecha_actual = pd.Timestamp.now()
año_actual = fecha_actual.year
mes_actual = fecha_actual.strftime("%m")

# Construir la ruta completa al directorio que contiene los archivos
ruta_base_usuario = os.path.expanduser("~")
ruta_directorio_base = os.path.join(ruta_base_usuario, "DERCO CHILE REPUESTOS SpA", "Planificación y abastecimiento - Documentos", "Planificación y Compras Ventas", "Venta Historica Mensual")
ruta_directorio = os.path.join(ruta_directorio_base, str(año_actual), f"{año_actual}-{mes_actual}")
archivo_sellout = None
for archivo in os.listdir(ruta_directorio):
    if "Sell Out" in archivo and "GT" not in archivo:
        archivo_sellout = archivo
        break

if archivo_sellout:
    ruta_archivo_sellout = os.path.join(ruta_directorio, archivo_sellout)
    sellout = pd.read_excel(ruta_archivo_sellout, sheet_name="Sheet1")  # Leer la hoja "Sheet1"
    print("Se leyó el archivo de Sell Out:", ruta_archivo_sellout)
else:
    print("No se encontró ningún archivo con 'Sell Out' en su nombre.")

Se leyó el archivo de Sell Out: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Ventas\Venta Historica Mensual\2024\2024-08\2024.08 Sell Out MB51 RTL Julio S4.xlsx

In [38]:
sellout.columns

Index(['Ce.', 'Material', 'Texto breve de material', 'CMv', 'Doc.mat.',
       'Fe.contab.', '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.',
       'Cantidad', 'Ctd.en', 'Ctd.UMPP', 'Pedido', 'Txt clase-mov.', 'UMP',
       'UMB', 'UMP.1', 'Cliente', 'Ult.Eslabón', 'Nombre Sector', 'Sector_MU',
       'Canal', 'Tipo', 'Forecast AFM', 'Forecast OEM', 'Venta UMB', 'Semana',
       'Canal 2', 'ID'],
      dtype='object')

In [39]:
sellout.shape

(363850, 30)

In [40]:
sellin = sellout

In [41]:
sellin.columns

Index(['Ce.', 'Material', 'Texto breve de material', 'CMv', 'Doc.mat.',
       'Fe.contab.', '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.',
       'Cantidad', 'Ctd.en', 'Ctd.UMPP', 'Pedido', 'Txt clase-mov.', 'UMP',
       'UMB', 'UMP.1', 'Cliente', 'Ult.Eslabón', 'Nombre Sector', 'Sector_MU',
       'Canal', 'Tipo', 'Forecast AFM', 'Forecast OEM', 'Venta UMB', 'Semana',
       'Canal 2', 'ID'],
      dtype='object')

Achicar Sellin & SellOut

In [42]:
# sellout = sellout[['Ce.', 'Material', 'Texto breve de material', 'Fe.contab.', 'Cliente', 'Ult.EslabÃ³n', 'Nombre Sector', 'Canal', 'Tipo', 'Forecast AFM', 'Venta UMB', 'Semana ISO', 'Canal 2', 'ID']]
sellin = sellin[['Ce.', 'Material', 'Texto breve de material', 'Fe.contab.', 'Cliente', 'Ult.Eslabón', 'Nombre Sector', 'Canal', 'Tipo', 'Forecast AFM', 'Venta UMB', 'Semana', 'Canal 2', 'ID']]

In [43]:
# sellin_filtrado = sellin[sellin['Venta UMB'] >= 0]
# sellin_filtrado.head(10)

In [44]:
df_sellin=sellin

In [45]:
df_sellin = df_sellin.copy()
df_sellin.rename(columns={'Ult.EslabÃ³n': 'Ult.Eslabón'}, inplace=True)

In [46]:
df_sellin.columns

Index(['Ce.', 'Material', 'Texto breve de material', 'Fe.contab.', 'Cliente',
       'Ult.Eslabón', 'Nombre Sector', 'Canal', 'Tipo', 'Forecast AFM',
       'Venta UMB', 'Semana', 'Canal 2', 'ID'],
      dtype='object')

Esto hay que cambiarlo ya que el sellin semanal ya viene con Nuevo Canal como columna y el mensual igual debería

In [47]:
df_sellin = df_sellin.copy()
# df_sellin.rename(columns={'Canal 2': 'Nuevo Canal'}, inplace=True)

EVALUAR SI SE MODIFICA Y SE SACA EL FORECAST AFM = SI YA QUE MAS ADELANTES NOS QUEDAMOS CON LOS CANALES"

In [48]:
sellin.head(1)

,Ce.,Material,Texto breve de material,Fe.contab.,Cliente,Ult.Eslabón,Nombre Sector,Canal,Tipo,Forecast AFM,Venta UMB,Semana,Canal 2,ID
0,466,434664,LBY SOPORTE DE CUELLO BEBE,08.07.2024,TI0466,434664,ACC,Retail,AFM,SI,-4782,28,CL RETAIL,434664CL RETAIL

In [49]:
last_column = sellin.columns[-4]

# Calcular la suma de la última columna
sum_last_column = sellin[last_column].sum()

# Mostrar la suma
print(f"La suma de la última columna ({last_column}) es: {sum_last_column}")

La suma de la última columna (Venta UMB) es: 548623

In [50]:
# df_sellin_filtered = df_sellin[df_sellin['Forecast AFM'].str.lower() == 'si']
df_sellin_filtered = df_sellin


# EVALUAR SI SE MODIFICA ESTA PARTE!!!!!!!!!!!!!!!!

In [51]:
df_sellin_filtered.shape

(363850, 14)

In [52]:
df_sellin_filtered.head(100)

,Ce.,Material,Texto breve de material,Fe.contab.,Cliente,Ult.Eslabón,Nombre Sector,Canal,Tipo,Forecast AFM,Venta UMB,Semana,Canal 2,ID
0,466,434664,LBY SOPORTE DE CUELLO BEBE,08.07.2024,TI0466,434664,ACC,Retail,AFM,SI,-4782,28,CL RETAIL,434664CL RETAIL
1,466,434664,LBY SOPORTE DE CUELLO BEBE,04.07.2024,TI0466,434664,ACC,Retail,AFM,SI,-4125,27,CL RETAIL,434664CL RETAIL
2,466,434664,LBY SOPORTE DE CUELLO BEBE,03.07.2024,TI0466,434664,ACC,Retail,AFM,SI,-3018,27,CL RETAIL,434664CL RETAIL
3,466,434664,LBY SOPORTE DE CUELLO BEBE,18.07.2024,TI0466,434664,ACC,Retail,AFM,SI,-1583,29,CL RETAIL,434664CL RETAIL
4,466,434664,LBY SOPORTE DE CUELLO BEBE,01.07.2024,TI0466,434664,ACC,Retail,AFM,SI,-1143,27,CL RETAIL,434664CL RETAIL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,466,1125613,NEMESIS ALARMA CONNECT+ 401,08.07.2024,TI0466,1125613,ACC,Retail,AFM,SI,-24,28,CL RETAIL,1125613CL RETAIL
96,491,127954,PERNO BIELA,17.07.2024,19971,127954,RMAQ,Retail,AFM,SI,-24,29,CL RETAIL,127954CL RETAIL
97,466,433417,SACO DE TRANSPORTE PARA BEBE LUCKIBUY,08.07.2024,TI0466,433417,ACC,Retail,AFM,SI,-23,28,CL RETAIL,433417CL RETAIL
98,472,111967,ENVASE BATERIA PUNTO VERDE,24.07.2024,NaN,111967,Sector Comun,Retail,Otros,NO,-23,30,CL RETAIL,111967CL RETAIL
99,415,111967,ENVASE BATERIA PUNTO VERDE,16.07.2024,NaN,111967,Sector Comun,Retail,Otros,NO,-22,29,CL RETAIL,111967CL RETAIL

In [53]:
df_sellin_filtered['Material'] = df_sellin_filtered['Material'].astype(str).str.replace('.0', '', regex=False)

In [54]:
td_sellin = df_sellin_filtered.groupby(['Material', 'Canal'])['Venta UMB'].sum().reset_index()
# Asegurarse de que la columna 'Venta' es numérica

td_sellin.head(1)

  Material   Canal  Venta UMB
0  1000147  Retail         30

In [55]:
td_sellin.dtypes

Material     object
Canal        object
Venta UMB     int64
dtype: object

In [56]:
td_sellin['Material'] = td_sellin['Material'].astype(str)
td_sellin['Venta UMB'] = td_sellin['Venta UMB'].astype(int)

In [57]:
td_sellin=td_sellin.copy()

In [58]:
td_sellin['Venta UMB'] = pd.to_numeric(td_sellin['Venta UMB'], errors='coerce')

In [59]:
td_sellin.dtypes

Material     object
Canal        object
Venta UMB     int32
dtype: object

In [60]:
td_filtered = td_sellin.loc[td_sellin['Venta UMB'] > 0]

In [61]:
td_sellin=td_filtered

In [62]:
td_sellin.shape

(9399, 3)

In [63]:
last_column = td_sellin.columns[-1]

# Calcular la suma de la última columna
sum_last_column = td_sellin[last_column].sum()

# Mostrar la suma
print(f"La suma de la última columna ({last_column}) es: {sum_last_column}")

La suma de la última columna (Venta UMB) es: 548806

CORREGIR PARA QUE LA USE CUALQUIER USUARIO

In [64]:
td_sellin.columns

Index(['Material', 'Canal', 'Venta UMB'], dtype='object')

In [65]:
valores_unicos_nuevo_canal = td_sellin['Canal'].unique()
print("Valores únicos en la columna 'Canal':")
print(valores_unicos_nuevo_canal)

Valores únicos en la columna 'Canal':
['Retail']

EVALUAR SI SE SACA ESTE BLOQUE

In [66]:
# valores_deseados = ['CES 01', 'Mayorista']
# td_sellin = td_sellin[td_sellin['Nuevo Canal'].isin(valores_deseados)]
td_sellin.head(2)
#evaluar si sacar este bloque!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

  Material   Canal  Venta UMB
0  1000147  Retail         30
1  1000148  Retail         82

Sellout_concat es la historia en Parquet, y le cambiamos el nombre a df_combinado para seguir con el código

In [67]:
df_combinado = sellout_concat

In [68]:
df_combinado.shape

(1380003, 10)

In [69]:
canal_mapping = {
    'AP': 'Retail',
    'Sergo': 'Retail',
    'Easy': 'Easy',
    'TOTTUS': 'TOTTUS',
    'Walmart': 'Walmart',
    'Sodimac': 'Sodimac',
    'SMU': 'SMU',
    'Retail': 'Retail'
}

# Aplicar el mapeo a la columna Canal 2
df_combinado['Canal 2'] = df_combinado['Canal'].map(canal_mapping)

In [70]:
valores_unicos_nuevo_canal = df_combinado['Canal 2'].unique()
print("Valores únicos en la columna 'Nuevo Canal':")
print(valores_unicos_nuevo_canal)

Valores únicos en la columna 'Nuevo Canal':
['Retail' 'Sodimac' 'Easy' 'Walmart' 'SMU' 'TOTTUS']

In [71]:
td_sellin.shape

(9399, 3)

In [72]:
suma_venta_umb = td_sellin['Venta UMB'].sum()
print("La suma de la columna 'venta_umb' es:", suma_venta_umb)
# La suma de la columna 'venta_umb' es: 86635289 es: 569188

La suma de la columna 'venta_umb' es: 548806

In [73]:
df_combinado.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3'],
      dtype='object')

In [74]:
df_combinado.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [75]:
df_combinado.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1380001,2024-06-01,488676,Retail,1.0,Sell Out RTL Jun-24,488676,None,Retail,RMAQ,CL RETAIL
1380002,2024-06-01,625127,Retail,1.0,Sell Out RTL Jun-24,625127,None,Retail,JCB,CL RETAIL

Buscar Cod_Actual del año y mes actual EN EXCEL

Buscar Cod_Actual del año y mes actual EN CSV

In [76]:
import glob
import os
import pandas as pd
from datetime import datetime

# Obtener el directorio del usuario
user_dir = os.path.expanduser("~")
user_name = os.getlogin()
now = datetime.now()
year_month = now.strftime('%Y-%m')

# Construir la ruta base utilizando el directorio del usuario
base_path = os.path.join(user_dir, 'DERCO CHILE REPUESTOS SpA', 'Planificación y abastecimiento - Documentos', 
                         'Planificación y Compras Maestros', str(now.year), year_month, 'MaestrosCSV')

# Patrón de búsqueda para los archivos
pattern = os.path.join(base_path, '*COD_ACTUAL*.csv')

# Obtener la lista de archivos que coinciden con el patrón, excluyendo los que contienen 'R3'
files = [f for f in glob.glob(pattern) if 'R3' not in os.path.basename(f)]

if not files:
    raise FileNotFoundError("No se encontraron archivos.")

# Encontrar el archivo más reciente basado en la fecha de modificación
latest_file = max(files, key=os.path.getmtime)

# Leer el archivo CSV
df = pd.read_csv(latest_file, delimiter=',', decimal=',', low_memory=False, dtype=str)
print(f"Archivo leído: {latest_file}")

# Seleccionar las columnas y renombrar
eslabon = df[['Nro_pieza_fabricante_1', 'Cod_Actual_1']].copy()
eslabon.rename(columns={'Nro_pieza_fabricante_1': 'Material'}, inplace=True)

# Mostrar las primeras filas del DataFrame resultante
print(eslabon.head(2))

Archivo leído: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Maestros\2024\2024-08\MaestrosCSV\COD_ACTUAL_S4_20240801.csv
  Material Cod_Actual_1
0   102288       582655
1   501216       582655

In [77]:
eslabon['Material'] = eslabon['Material'].astype(str)
td_sellin['Material'] = td_sellin['Material'].astype(str)

In [78]:
# td_sellin = pd.merge(td_sellin, eslabon, on='Material', how='left')
# # Si hay valores que no coinciden, rellenarlos con el valor original de "Material"
# td_sellin['Cod_Actual_1'].fillna(td_sellin['Material'], inplace=True)

In [79]:
# # Dropear la columna "Material" original
# td_sellin.drop('Material', axis=1, inplace=True)

In [80]:
# # Renombrar la columna resultante como "Material"
# td_sellin.rename(columns={'Cod_Actual_1': 'Material'}, inplace=True)
# td_sellin.head(2)

In [81]:
td_sellin.shape

(9399, 3)

In [82]:
td_sellin.head(1)

  Material   Canal  Venta UMB
0  1000147  Retail         30

In [83]:
td_sellin['Material'] = td_sellin['Material'].astype(str).str.replace('.0', '', regex=False)

In [84]:
td_sellin = td_sellin.groupby(['Material', 'Canal']).agg({'Venta UMB': 'sum'}).reset_index()

In [85]:
td_sellin.head(1)

  Material   Canal  Venta UMB
0  1000147  Retail         30

In [86]:
td_sellin.shape

(9399, 3)

Agregando Sellin AÑO/MES ACTUAL a la historia y poniendo que tipo de venta es

In [87]:
df_combinado.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1380001,2024-06-01,488676,Retail,1.0,Sell Out RTL Jun-24,488676,None,Retail,RMAQ,CL RETAIL
1380002,2024-06-01,625127,Retail,1.0,Sell Out RTL Jun-24,625127,None,Retail,JCB,CL RETAIL

In [88]:
td_sellin.head(2)

  Material   Canal  Venta UMB
0  1000147  Retail         30
1  1000148  Retail         82

In [89]:
df_combinado.shape

(1380003, 10)

In [90]:
from datetime import datetime, timedelta

# Diccionario de meses abreviados en español
meses_abreviados = {
    1: 'Ene', 2: 'Feb', 3: 'Mar', 4: 'Abr', 5: 'May', 6: 'Jun',
    7: 'Jul', 8: 'Ago', 9: 'Sept', 10: 'Oct', 11: 'Nov', 12: 'Dic'
}

nuevas_filas = td_sellin.copy()


# Obtener las fechas relevantes
fecha_actual = datetime.now().replace(day=1)  # Primer día del mes actual
fecha_mes_anterior = fecha_actual - timedelta(days=1)  # Retrocede un día para llegar al mes anterior
fecha_mes_anterior = fecha_mes_anterior.replace(day=1)  # Primer día del mes anterior

# Formatear fechas para columnas específicas
fecha_mes_anterior_str = fecha_mes_anterior.strftime('%d-%m-%Y')
mes_numero = fecha_mes_anterior.month  # Obtiene el número del mes anterior
mes_abreviado = meses_abreviados[mes_numero]  # Usa el diccionario para obtener la abreviatura en español
ano_actual_yy = fecha_mes_anterior.strftime('%y')  # Año actual en formato YY


# Añadir la columna 'Fuente' con el formato requerido
nuevas_filas['Fuente'] = f"Sell Out RTL {mes_abreviado}-{ano_actual_yy}"

# Asegurar que todas las columnas de df_combinado estén en nuevas_filas
for col in df_combinado.columns:
    if col not in nuevas_filas:
        nuevas_filas[col] = None  # Añade columnas faltantes como None o un valor por defecto

In [91]:
df_combinado.tail(10)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1379993,2024-06-01,1171477,Retail,4.0,Sell Out RTL Jun-24,1171477,None,Retail,BAT,CL RETAIL
1379994,2024-06-01,1171478,Retail,122.0,Sell Out RTL Jun-24,1171478,None,Retail,BAT,CL RETAIL
1379995,2024-06-01,1171481,Retail,12.0,Sell Out RTL Jun-24,1171481,None,Retail,BAT,CL RETAIL
1379996,2024-06-01,1171484,Retail,6.0,Sell Out RTL Jun-24,1171484,None,Retail,BAT,CL RETAIL
1379997,2024-06-01,1171485,Retail,1.0,Sell Out RTL Jun-24,1171485,None,Retail,BAT,CL RETAIL
1379998,2024-06-01,1171486,Retail,3.0,Sell Out RTL Jun-24,1171486,None,Retail,BAT,CL RETAIL
1379999,2024-06-01,118236,Retail,1.0,Sell Out RTL Jun-24,118236,None,Retail,ACC,CL RETAIL
1380000,2024-06-01,367092,Retail,1.0,Sell Out RTL Jun-24,367092,None,Retail,BAT,CL RETAIL
1380001,2024-06-01,488676,Retail,1.0,Sell Out RTL Jun-24,488676,None,Retail,RMAQ,CL RETAIL
1380002,2024-06-01,625127,Retail,1.0,Sell Out RTL Jun-24,625127,None,Retail,JCB,CL RETAIL

In [92]:
nuevas_filas.head(1)

,Material,Canal,Venta UMB,Fuente,Mes,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,1000147,Retail,30,Sell Out RTL Jul-24,None,None,None,None,None,None

In [93]:
nuevas_filas.shape

(9399, 10)

In [94]:
sumafilas=nuevas_filas['Venta UMB'].sum()
sumafilas

548806

In [95]:
df_combinado.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3'],
      dtype='object')

In [96]:
nuevas_filas.columns

Index(['Material', 'Canal', 'Venta UMB', 'Fuente', 'Mes', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3'],
      dtype='object')

In [97]:
# Reordenar las columnas de nuevas_filas para que coincidan con df_combinado
nuevas_filas = nuevas_filas[['Canal', 'Material', 'Venta UMB', 'Mes', 'Ultimo Eslabón',
                             'Tipo', 'Fuente', 'Canal 2', 'Canal 3']]

In [98]:
nuevas_filas.head(2)

,Canal,Material,Venta UMB,Mes,Ultimo Eslabón,Tipo,Fuente,Canal 2,Canal 3
0,Retail,1000147,30,None,None,None,Sell Out RTL Jul-24,None,None
1,Retail,1000148,82,None,None,None,Sell Out RTL Jul-24,None,None

In [99]:
import pandas as pd
from datetime import datetime, timedelta
nuevas_filas['SI/SO'] = 'SO'
nuevas_filas['Canal'] = 'Retail'
nuevas_filas['Canal 2'] = 'Retail'


primer_dia_mes_anterior = (fecha_actual.replace(day=1) - timedelta(days=1)).replace(day=1)

# Crear una columna 'Mes' con el formato especificado
nuevas_filas['Mes'] = primer_dia_mes_anterior.strftime('%Y-%m-%d')
nuevas_filas.head(1)

,Canal,Material,Venta UMB,Mes,Ultimo Eslabón,Tipo,Fuente,Canal 2,Canal 3,SI/SO
0,Retail,1000147,30,2024-07-01,None,None,Sell Out RTL Jul-24,Retail,None,SO

In [100]:
sumanf=nuevas_filas['Venta UMB'].sum()
sumanf

548806

In [101]:
sumadca2=df_combinado['Venta UMB'].sum()
sumadca2

60456084.08033332

In [102]:
nuevas_filas.shape

(9399, 10)

In [103]:
df_combinado.shape

(1380003, 10)

In [104]:
sumadfcombinado = df_combinado['Venta UMB'].sum()
sumadfcombinado

60456084.08033332

In [105]:
# Concatenar el DataFrame original con las nuevas filas
df_combinado_actualizado2 = pd.concat([df_combinado, nuevas_filas], ignore_index=True)

In [106]:
sumadfcombinado = df_combinado_actualizado2['Venta UMB'].sum()
sumadfcombinado

61004890.08033332

In [107]:
df_combinado_actualizado2.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
1389400,2024-07-01,750816,Retail,4.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO
1389401,2024-07-01,752466,Retail,1.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO

In [108]:
df_combinado_actualizado2['Material'] = df_combinado_actualizado2['Material'].astype(str).str.replace('.0', '', regex=False)

In [109]:
df_combinado_actualizado2

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01 00:00:00,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
1,2021-05-01 00:00:00,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
2,2021-04-01 00:00:00,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
3,2021-03-01 00:00:00,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
4,2021-02-01 00:00:00,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1389397,2024-07-01,750797,Retail,1.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO
1389398,2024-07-01,750803,Retail,12.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO
1389399,2024-07-01,750809,Retail,3.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO
1389400,2024-07-01,750816,Retail,4.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO
1389401,2024-07-01,752466,Retail,1.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO

In [110]:
df_combinado_actualizado2['Material'] = df_combinado_actualizado2['Material'].astype(str)
ax = df_combinado_actualizado2['Mes'].unique()
ax

array([Timestamp('2021-06-01 00:00:00'), Timestamp('2021-05-01 00:00:00'),
       Timestamp('2021-04-01 00:00:00'), Timestamp('2021-03-01 00:00:00'),
       Timestamp('2021-02-01 00:00:00'), Timestamp('2021-01-01 00:00:00'),
       Timestamp('2020-12-01 00:00:00'), Timestamp('2020-11-01 00:00:00'),
       Timestamp('2020-10-01 00:00:00'), Timestamp('2020-08-01 00:00:00'),
       Timestamp('2020-07-01 00:00:00'), Timestamp('2020-06-01 00:00:00'),
       Timestamp('2020-05-01 00:00:00'), Timestamp('2020-04-01 00:00:00'),
       Timestamp('2020-03-01 00:00:00'), Timestamp('2020-02-01 00:00:00'),
       Timestamp('2020-01-01 00:00:00'), Timestamp('2020-09-01 00:00:00'),
       Timestamp('2021-08-01 00:00:00'), Timestamp('2021-07-01 00:00:00'),
       Timestamp('2021-09-01 00:00:00'), Timestamp('2021-10-01 00:00:00'),
       Timestamp('2021-11-01 00:00:00'), Timestamp('2021-12-01 00:00:00'),
       Timestamp('2022-01-01 00:00:00'), Timestamp('2022-02-01 00:00:00'),
       Timestamp('2022-03-01 00:00:00'), Timestamp('2022-04-01 00:00:00'),
       Timestamp('2022-05-01 00:00:00'), Timestamp('2022-06-01 00:00:00'),
       Timestamp('2022-07-01 00:00:00'), Timestamp('2022-08-01 00:00:00'),
       Timestamp('2022-09-01 00:00:00'), Timestamp('2022-10-01 00:00:00'),
       Timestamp('2022-11-01 00:00:00'), Timestamp('2022-12-01 00:00:00'),
       Timestamp('2023-01-01 00:00:00'), Timestamp('2023-02-01 00:00:00'),
       Timestamp('2023-03-01 00:00:00'), Timestamp('2023-04-01 00:00:00'),
       Timestamp('2023-05-01 00:00:00'), Timestamp('2023-06-01 00:00:00'),
       Timestamp('2023-07-01 00:00:00'), Timestamp('2023-08-01 00:00:00'),
       Timestamp('2023-09-01 00:00:00'), Timestamp('2023-10-01 00:00:00'),
       Timestamp('2023-11-01 00:00:00'), Timestamp('2023-12-01 00:00:00'),
       Timestamp('2024-01-01 00:00:00'), Timestamp('2024-02-01 00:00:00'),
       Timestamp('2024-03-01 00:00:00'), Timestamp('2024-04-01 00:00:00'),
       Timestamp('2024-05-01 00:00:00'), Timestamp('2024-06-01 00:00:00'),
       Timestamp('2019-09-01 00:00:00'), Timestamp('2019-07-01 00:00:00'),
       Timestamp('2019-08-01 00:00:00'), Timestamp('2019-10-01 00:00:00'),
       Timestamp('2019-11-01 00:00:00'), Timestamp('2019-12-01 00:00:00'),
       Timestamp('2019-04-01 00:00:00'), Timestamp('2019-05-01 00:00:00'),
       Timestamp('2019-06-01 00:00:00'), Timestamp('2018-04-01 00:00:00'),
       Timestamp('2018-01-01 00:00:00'), Timestamp('2018-02-01 00:00:00'),
       Timestamp('2018-05-01 00:00:00'), Timestamp('2018-06-01 00:00:00'),
       Timestamp('2018-07-01 00:00:00'), Timestamp('2019-02-01 00:00:00'),
       Timestamp('2018-03-01 00:00:00'), Timestamp('2018-08-01 00:00:00'),
       Timestamp('2018-09-01 00:00:00'), Timestamp('2018-10-01 00:00:00'),
       Timestamp('2018-12-01 00:00:00'), Timestamp('2019-03-01 00:00:00'),
       Timestamp('2018-11-01 00:00:00'), Timestamp('2019-01-01 00:00:00'),
       '2024-07-01'], dtype=object)

In [111]:
# Asegurarse de que la columna 'Mes' sea del tipo datetime
df_combinado_actualizado2['Mes'] = pd.to_datetime(df_combinado_actualizado2['Mes'])

# Contar las filas que tienen 'Mes' igual a "2024-04-01"
lineas_con_mes_abril = df_combinado_actualizado2[df_combinado_actualizado2['Mes'] == "2024-04-01"].shape[0]

lineas_con_mes_abril

10813

In [112]:
# Contar las filas que contienen "Abr-24" en la columna 'Fuente'
lineas_con_abr_24 = df_combinado_actualizado2[df_combinado_actualizado2['Fuente'].str.contains("Abr-24", na=False)].shape[0]

lineas_con_abr_24

0

In [113]:
sumadca23=df_combinado_actualizado2['Venta UMB'].sum()
sumadca23

61004890.08033332

In [114]:

# df_filtrado = df_combinado_actualizado2[df_combinado_actualizado2['Fuente'] == 'Sell In Abr-24']

# # Verificar si hay filas filtradas
# if not df_filtrado.empty:
#     # Guardar el DataFrame filtrado en un archivo CSV
#     ruta_archivo = r'C:\Users\etorres\Desktop\df_filtrado.csv'
#     df_filtrado.to_csv(ruta_archivo, sep=';', decimal=',', index=False)
#     print(f"Se ha guardado el DataFrame filtrado en '{ruta_archivo}'")
# else:
#     print("No hay filas que cumplan con el criterio de filtrado.")

In [115]:
df_combinado_actualizado2.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
1389400,2024-07-01,750816,Retail,4.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO
1389401,2024-07-01,752466,Retail,1.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO

In [116]:
df_combinado_actualizado2

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1389397,2024-07-01,750797,Retail,1.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO
1389398,2024-07-01,750803,Retail,12.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO
1389399,2024-07-01,750809,Retail,3.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO
1389400,2024-07-01,750816,Retail,4.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO
1389401,2024-07-01,752466,Retail,1.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO

PONIENDOLE EL CANAL 3 CORREPSONDIENTE

In [117]:
df_combinado_actualizado2.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
1389400,2024-07-01,750816,Retail,4.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO
1389401,2024-07-01,752466,Retail,1.0,Sell Out RTL Jul-24,None,None,Retail,NaN,None,SO

In [118]:
# merged_df2 = pd.merge(totalsellin, canales, left_on='Canal', right_on='Nuevo Canal', how='left')
# totalsellin['Nuevo Canal'] = merged_df2['Canal SAP']

In [119]:
# Asegurar que todos los valores en la columna 'Mes' de df_combinado_actualizado2 sean del tipo datetime
df_combinado_actualizado2['Mes'] = pd.to_datetime(df_combinado_actualizado2['Mes'], errors='coerce')

# Obtener los valores únicos de la columna 'Mes'
valores_unicos_actualizado2 = df_combinado_actualizado2['Mes'].unique()

# Imprimir los valores únicos de la columna 'Mes'
print(valores_unicos_actualizado2)

<DatetimeArray>
['2021-06-01 00:00:00', '2021-05-01 00:00:00', '2021-04-01 00:00:00',
 '2021-03-01 00:00:00', '2021-02-01 00:00:00', '2021-01-01 00:00:00',
 '2020-12-01 00:00:00', '2020-11-01 00:00:00', '2020-10-01 00:00:00',
 '2020-08-01 00:00:00', '2020-07-01 00:00:00', '2020-06-01 00:00:00',
 '2020-05-01 00:00:00', '2020-04-01 00:00:00', '2020-03-01 00:00:00',
 '2020-02-01 00:00:00', '2020-01-01 00:00:00', '2020-09-01 00:00:00',
 '2021-08-01 00:00:00', '2021-07-01 00:00:00', '2021-09-01 00:00:00',
 '2021-10-01 00:00:00', '2021-11-01 00:00:00', '2021-12-01 00:00:00',
 '2022-01-01 00:00:00', '2022-02-01 00:00:00', '2022-03-01 00:00:00',
 '2022-04-01 00:00:00', '2022-05-01 00:00:00', '2022-06-01 00:00:00',
 '2022-07-01 00:00:00', '2022-08-01 00:00:00', '2022-09-01 00:00:00',
 '2022-10-01 00:00:00', '2022-11-01 00:00:00', '2022-12-01 00:00:00',
 '2023-01-01 00:00:00', '2023-02-01 00:00:00', '2023-03-01 00:00:00',
 '2023-04-01 00:00:00', '2023-05-01 00:00:00', '2023-06-01 00:00:00',
 '2023-07-01 00:00:00', '2023-08-01 00:00:00', '2023-09-01 00:00:00',
 '2023-10-01 00:00:00', '2023-11-01 00:00:00', '2023-12-01 00:00:00',
 '2024-01-01 00:00:00', '2024-02-01 00:00:00', '2024-03-01 00:00:00',
 '2024-04-01 00:00:00', '2024-05-01 00:00:00', '2024-06-01 00:00:00',
 '2019-09-01 00:00:00', '2019-07-01 00:00:00', '2019-08-01 00:00:00',
 '2019-10-01 00:00:00', '2019-11-01 00:00:00', '2019-12-01 00:00:00',
 '2019-04-01 00:00:00', '2019-05-01 00:00:00', '2019-06-01 00:00:00',
 '2018-04-01 00:00:00', '2018-01-01 00:00:00', '2018-02-01 00:00:00',
 '2018-05-01 00:00:00', '2018-06-01 00:00:00', '2018-07-01 00:00:00',
 '2019-02-01 00:00:00', '2018-03-01 00:00:00', '2018-08-01 00:00:00',
 '2018-09-01 00:00:00', '2018-10-01 00:00:00', '2018-12-01 00:00:00',
 '2019-03-01 00:00:00', '2018-11-01 00:00:00', '2019-01-01 00:00:00',
 '2024-07-01 00:00:00']
Length: 79, dtype: datetime64[ns]

In [120]:
# df_combinado_actualizado2.tail(2)

Eliminar y Cruzar ultimo eslabón

In [121]:
consolidado = df_combinado_actualizado2

In [122]:
consolidado.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3', 'SI/SO'],
      dtype='object')

In [123]:
# eslabon.columns

In [124]:
consolidado.head(1)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN

Eliminar cruce de UE para ponerlo despues de GT

In [125]:
consolidado['Ultimo Eslabón'] = None
merged_df = pd.merge(consolidado, eslabon, on='Material', how='left')
merged_df['Ultimo Eslabón'] = merged_df['Cod_Actual_1'].fillna(merged_df['Material'])
merged_df = merged_df[consolidado.columns]

In [126]:
merged_df.shape

(1389402, 11)

In [127]:
totalsellin = merged_df
merged_df.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3', 'SI/SO'],
      dtype='object')

Validar descargando un CSV con el año especifico en este caso el 2024 para ver si el sellin que se agregó está correcto

In [128]:
# filtered_totalsellin = totalsellin[totalsellin['Año/Mes natural'].astype(str).str.contains(r'\b2024\b', case=False, regex=True)]

# # Definir la ruta de guardado
# path = r"C:\Users\Etorres\Desktop\Codigos Demanda\Corrección VTA\totalsellin_2024.csv"

# # Guardar el DataFrame filtrado como CSV en la ruta especificada, con punto y coma como separador y coma para los decimales
# filtered_totalsellin.to_csv(path, sep=';', decimal=',', index=False)

# # Imprimir mensaje de confirmación
# print("Archivo CSV guardado con éxito en:", path)

------------------------------------

In [129]:
totalsellin.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3', 'SI/SO'],
      dtype='object')

In [130]:
totalsellin.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
1389400,2024-07-01,750816,Retail,4.0,Sell Out RTL Jul-24,750816,None,Retail,NaN,None,SO
1389401,2024-07-01,752466,Retail,1.0,Sell Out RTL Jul-24,752466,None,Retail,NaN,None,SO

In [131]:
totalsellin.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3', 'SI/SO'],
      dtype='object')

cruzar gt

In [132]:
asd=selloutGT1['Venta UMB'].sum()
asd

63610

In [133]:
selloutGT1.columns

Index(['Venta UMB', 'Material', 'Canal', 'Fuente', 'Mes'], dtype='object')

In [134]:
selloutGT1.head(1)

   Venta UMB Material Canal                Fuente         Mes
5        208  1004224  Easy  Sell Out MB51 - SISO  2024-07-01

In [135]:
selloutGT1['Mes'] = pd.to_datetime(selloutGT1['Mes'])

In [136]:
totalsellin.head(1)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN

CONCATENACION

In [137]:
import pandas as pd

# Supongamos que ya tienes tus DataFrames `totalsellin` y `selloutGT1`

# Realizamos la concatenación
concatenated_df = pd.concat([totalsellin, selloutGT1], ignore_index=True)
concatenated_df

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1389699,2024-07-01,454487,Sodimac,41.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1389700,2024-07-01,124236,Sodimac,192.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1389701,2024-07-01,1143391,Walmart,880.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1389702,2024-07-01,360795,Walmart,182.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1389703,2024-07-01,360783,Easy,2.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
totalsellin = concatenated_df.copy()
totalsellin

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1389699,2024-07-01,454487,Sodimac,41.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1389700,2024-07-01,124236,Sodimac,192.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1389701,2024-07-01,1143391,Walmart,880.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1389702,2024-07-01,360795,Walmart,182.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN
1389703,2024-07-01,360783,Easy,2.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,NaN,NaN

ENCONTRAR Y LEER MARA EN LOS PROXIMOS BLOQUES PARA LUEGO CRUZAR LOS SECTORES, Y ADEMAS EN ESTA PARTE CRUZAMOS LA MAESTRA CANALES PARA SABER LOS CANALES ANASTASIA

In [139]:
import os
from datetime import datetime

# Obtener el directorio del usuario
usuario_dir = os.path.expanduser("~")

# Obtener el año y mes actuales
año_actual = datetime.now().year
mes_actual = datetime.now().strftime('%m')

# Construir la ruta de archivo
ruta = os.path.join(
    usuario_dir,
    "DERCO CHILE REPUESTOS SpA",
    "Planificación y abastecimiento - Documentos",
    "Planificación y Compras Maestros",
    str(año_actual),
    f"{año_actual}-{mes_actual}",
    "MaestrosCSV"
)

# Inicializar variables
archivo_mara = None
fecha_modificacion = None

# Imprimir la ruta para verificar
print(f"La ruta construida es: {ruta}")

La ruta construida es: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Maestros\2024\2024-08\MaestrosCSV

In [140]:
ruta

'C:\\Users\\etorres.DERCOPARTS\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\2024\\2024-08\\MaestrosCSV'

LEER MARA NE EXCEL

In [141]:
# for archivo in os.listdir(ruta):
#     if 'MARA' in archivo and 'S4' in archivo and archivo.endswith('.xlsx'):
#         ruta_completa = os.path.join(ruta, archivo)
#         modificacion_actual = os.path.getmtime(ruta_completa)
#         if fecha_modificacion is None or modificacion_actual > fecha_modificacion:
#             archivo_mara = ruta_completa
#             fecha_modificacion = modificacion_actual
# if archivo_mara:
#     dfmara = pd.read_excel(archivo_mara)
#     print("Archivo cargado correctamente.")
# else:
#     print("No se encontró un archivo que contenga 'MARA' y 'S4' en su nombre.")

leer mara en CSV

In [142]:
for archivo in os.listdir(ruta):
    if 'MARA' in archivo and 'S4' in archivo and archivo.endswith('.csv'):
        ruta_completa = os.path.join(ruta, archivo)
        modificacion_actual = os.path.getmtime(ruta_completa)
        if fecha_modificacion is None or modificacion_actual > fecha_modificacion:
            archivo_mara = ruta_completa
            fecha_modificacion = modificacion_actual
if archivo_mara:
    dfmara = pd.read_csv(archivo_mara, delimiter=',', decimal=',', low_memory=False, dtype=str)
    print("Archivo cargado correctamente.")
else:
    print("No se encontró un archivo que contenga 'MARA' y 'S4' en su nombre.")

Archivo cargado correctamente.

In [143]:
dfmara['Material_S4'] = dfmara['Material_S4'].astype(str)
mara_reducido = dfmara[['Material_S4', 'Nombre Sector', 'Sector_MU']]

In [144]:
mara_reducido.columns

Index(['Material_S4', 'Nombre Sector', 'Sector_MU'], dtype='object')

In [145]:
totalsellin.head(1)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL,NaN

REPASAR UE antes de Cruzar Mara

In [146]:
totalsellin = totalsellin.drop(columns=['Ultimo Eslabón'])
totalsellin = totalsellin.merge(eslabon, on='Material', how='left')
totalsellin['Cod_Actual_1'] = totalsellin['Cod_Actual_1'].fillna(totalsellin['Material'])
totalsellin = totalsellin.rename(columns={'Cod_Actual_1': 'Ultimo Eslabón'})
totalsellin.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Tipo,Canal 2,Nombre Sector,Canal 3,SI/SO,Ultimo Eslabón
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,ACC,Retail,ACC,CL RETAIL,NaN,1000147
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,ACC,Retail,ACC,CL RETAIL,NaN,1000147

In [147]:
totalsellin.drop('Nombre Sector', axis=1, inplace=True)

In [148]:
totalsellin.shape

(1389704, 10)

In [149]:
totalsellin['Ultimo Eslabón'] = totalsellin['Ultimo Eslabón'].astype(str)
mara_reducido.loc[:, 'Material_S4'] = mara_reducido['Material_S4'].astype(str)

In [150]:
totalsellin

,Mes,Material,Canal,Venta UMB,Fuente,Tipo,Canal 2,Canal 3,SI/SO,Ultimo Eslabón
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,ACC,Retail,CL RETAIL,NaN,1000147
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,ACC,Retail,CL RETAIL,NaN,1000147
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,ACC,Retail,CL RETAIL,NaN,1000147
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,ACC,Retail,CL RETAIL,NaN,1000147
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,ACC,Retail,CL RETAIL,NaN,1000147
...,...,...,...,...,...,...,...,...,...,...
1389699,2024-07-01,454487,Sodimac,41.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,454487
1389700,2024-07-01,124236,Sodimac,192.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,124236
1389701,2024-07-01,1143391,Walmart,880.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,165731
1389702,2024-07-01,360795,Walmart,182.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,360795
1389703,2024-07-01,360783,Easy,2.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,360783

In [151]:
merged_df4 = pd.merge(totalsellin, mara_reducido, left_on='Ultimo Eslabón', right_on='Material_S4')

In [152]:
merged_df4.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Tipo,Canal 2,Canal 3,SI/SO,Ultimo Eslabón,Material_S4,Nombre Sector,Sector_MU
1389702,2024-07-01,360795,Walmart,182.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,360795,360795,ACC,48
1389703,2024-07-01,360783,Easy,2.0,Sell Out MB51 - SISO,NaN,NaN,NaN,NaN,360783,360783,ACC,48

ACA PODRÍA GUARDAR LA HISTORIA ----------------------------

In [153]:
final_df = merged_df4[['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón', 'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3']]
final_df.head(1)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [154]:
# Inicializar 'Canal 3' con None para borrar cualquier valor existente
final_df.loc[:, 'Canal 3'] = None

# Definir el diccionario de mapeo incluyendo las nuevas condiciones
mapa_canal_3 = {
    'AP': 'CL RETAIL',
    'Sergo': 'CL RETAIL',
    'Easy': 'CL EASY',
    'SMU': 'CL SMU',
    'TOTTUS': 'CL TOTTUS',
    'Walmart': 'CL WALMART',
    'Sodimac': 'CL SODIMAC',
    'Retail': 'CL RETAIL',
    'RETAIL': 'CL RETAIL'
}

# Asignar valores a 'Canal 3' usando el diccionario de mapeo
final_df.loc[:, 'Canal 3'] = final_df['Canal'].map(mapa_canal_3).fillna(final_df['Canal 3'])

# Imprimir las primeras filas del DataFrame actualizado para verificar los cambios
final_df.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [155]:
# Contar las filas con NaN en la columna 'Canal 3'
filas_con_nan = final_df['Canal 3'].isna().sum()

# Imprimir el resultado
print(f"Hay {filas_con_nan} filas con NaN en la columna 'Canal 3'.")

Hay 0 filas con NaN en la columna 'Canal 3'.

In [156]:
# Filtrar las filas donde 'Canal 3' es NaN
filas_con_nan_en_canal_3 = final_df[final_df['Canal 3'].isna()]

# Obtener los valores únicos en la columna 'Canal' para estas filas
valores_unicos_canal = filas_con_nan_en_canal_3['Canal'].unique()

# Imprimir los valores únicos
print("Valores únicos en la columna 'Canal' cuando 'Canal 3' es NaN:")
print(valores_unicos_canal)

Valores únicos en la columna 'Canal' cuando 'Canal 3' es NaN:
[]

In [157]:
canalesf = final_df['Canal'].unique()
canalesf

array(['AP', 'Retail', 'Sergo', 'Sodimac', 'Easy', 'Walmart', 'SMU',
       'TOTTUS'], dtype=object)

In [158]:
final_df.shape

(1389704, 10)

In [159]:
final_df.tail(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
1389702,2024-07-01,360795,Walmart,182.0,Sell Out MB51 - SISO,360795,NaN,NaN,ACC,CL WALMART
1389703,2024-07-01,360783,Easy,2.0,Sell Out MB51 - SISO,360783,NaN,NaN,ACC,CL EASY

In [160]:
sectores = final_df['Nombre Sector'].unique()
canalesf = final_df['Canal 3'].unique()
sectores

array(['ACC', 'BAT', 'NEU', 'Suzuki', 'Mazda', 'RALT', 'LUB', 'Renault',
       'JAC Cars', 'RMAQ', 'AXS', 'Changan', 'Great Wall', 'Sector Comun',
       'JAC Truck', 'Samsung', 'Implemento Agrícola', 'Geely', '0',
       'Otras Marcas', 'Valtra', 'Still', 'Landini', 'Hangcha', 'JCB'],
      dtype=object)

In [161]:
final_df

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
2,2021-04-01,1000147,AP,18.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
3,2021-03-01,1000147,AP,34.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
4,2021-02-01,1000147,AP,41.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
...,...,...,...,...,...,...,...,...,...,...
1389699,2024-07-01,454487,Sodimac,41.0,Sell Out MB51 - SISO,454487,NaN,NaN,LUB,CL SODIMAC
1389700,2024-07-01,124236,Sodimac,192.0,Sell Out MB51 - SISO,124236,NaN,NaN,LUB,CL SODIMAC
1389701,2024-07-01,1143391,Walmart,880.0,Sell Out MB51 - SISO,165731,NaN,NaN,LUB,CL WALMART
1389702,2024-07-01,360795,Walmart,182.0,Sell Out MB51 - SISO,360795,NaN,NaN,ACC,CL WALMART
1389703,2024-07-01,360783,Easy,2.0,Sell Out MB51 - SISO,360783,NaN,NaN,ACC,CL EASY

AHORA EVALUAR SI GUARDAR NUEVO PARQUET

In [162]:
final_df['Nombre Sector'] = final_df['Nombre Sector'].astype(str)
# mara_reducido.loc[:, 'Material_S4'] = mara_reducido['Material_S4'].astype(str)
final_df.dtypes

C:\Users\etorres.DERCOPARTS\AppData\Local\Temp\ipykernel_21088\358599988.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['Nombre Sector'] = final_df['Nombre Sector'].astype(str)

Mes               datetime64[ns]
Material                  object
Canal                     object
Venta UMB                float64
Fuente                    object
Ultimo Eslabón            object
Tipo                      object
Canal 2                   object
Nombre Sector             object
Canal 3                   object
dtype: object

In [163]:
import pandas as pd
import os
from datetime import datetime, timedelta

# Obtener el directorio del usuario
usuario_dir = os.path.expanduser("~")

# Obtener la fecha de hoy
hoy = datetime.today()

# Obtener el primer día del mes actual
primer_dia_mes_actual = hoy.replace(day=1)

# Obtener el último día del mes pasado
mes_pasado = primer_dia_mes_actual - timedelta(days=1)
mes_pasado_str = mes_pasado.strftime("%Y-%m")

# Construir la ruta de archivo
ruta = os.path.join(
    usuario_dir,
    "DERCO CHILE REPUESTOS SpA",
    "Planificación y abastecimiento - Documentos",
    "Planificación y Compras AFM",
    "S&OP Demanda",
    "Codigos Demanda",
    "Parquets",
    f"Historia_Sell_Out ({mes_pasado_str}).parquet"
)

# Guardar el DataFrame en formato Parquet
final_df.to_parquet(ruta)

# Imprimir la ruta para verificar
print(f"El archivo se ha guardado en: {ruta}")

El archivo se ha guardado en: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Parquets\Historia_Sell_Out (2024-07).parquet

In [164]:
canalesf

array(['CL RETAIL', 'CL SODIMAC', 'CL EASY', 'CL WALMART', 'CL SMU',
       'CL TOTTUS'], dtype=object)

In [165]:
final_df.shape

(1389704, 10)

In [166]:
final_df.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [167]:

sectores_deseados = ['ACC', 'BAT', 'NEU', 'LUB', 'RALT', 'RMAQ']

final_df = final_df.loc[
       (final_df['Nombre Sector'].isin(sectores_deseados))
]
final_df.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Ultimo Eslabón,Tipo,Canal 2,Nombre Sector,Canal 3
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,1000147,ACC,Retail,ACC,CL RETAIL

In [168]:
final_df.shape

(1372752, 10)

Descargar el 2024 en csv para validar si va todo OK

In [169]:
final_df.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3'],
      dtype='object')

In [170]:
eslabon

      Material Cod_Actual_1
0       102288       582655
1       501216       582655
2       582655       582655
3       167639       580659
4       580659       580659
...        ...          ...
93351  1171254      1171254
93352   135321      1171220
93353  1171220      1171220
93354   127515      1038018
93355  1038018      1038018

[93356 rows x 2 columns]

Repasar Ult Eslabon

In [171]:
final_df = final_df.drop(columns=['Ultimo Eslabón'])
final_df = final_df.merge(eslabon, on='Material', how='left')
final_df['Cod_Actual_1'] = final_df['Cod_Actual_1'].fillna(final_df['Material'])
final_df = final_df.rename(columns={'Cod_Actual_1': 'Ultimo Eslabón'})
final_df.head(2)

,Mes,Material,Canal,Venta UMB,Fuente,Tipo,Canal 2,Nombre Sector,Canal 3,Ultimo Eslabón
0,2021-06-01,1000147,AP,52.0,Sell Out MB51 - SISO,ACC,Retail,ACC,CL RETAIL,1000147
1,2021-05-01,1000147,AP,40.0,Sell Out MB51 - SISO,ACC,Retail,ACC,CL RETAIL,1000147

Trabajamos con UE

In [172]:
sellinreducido = final_df[['Mes', 'Ultimo Eslabón', 'Canal 3', 'Venta UMB']]

In [173]:
sellinreducido.dtypes

Mes               datetime64[ns]
Ultimo Eslabón            object
Canal 3                   object
Venta UMB                float64
dtype: object

In [174]:
# Crear una copia del DataFrame original
sellinreducido_ = sellinreducido.copy()

# Renombrar una columna para claridad
sellinreducido_.rename(columns={'Mes': 'Fecha'}, inplace=True)

In [175]:
sellinreducido_

             Fecha Ultimo Eslabón     Canal 3  Venta UMB
0       2021-06-01        1000147   CL RETAIL       52.0
1       2021-05-01        1000147   CL RETAIL       40.0
2       2021-04-01        1000147   CL RETAIL       18.0
3       2021-03-01        1000147   CL RETAIL       34.0
4       2021-02-01        1000147   CL RETAIL       41.0
...            ...            ...         ...        ...
1372747 2024-07-01         454487  CL SODIMAC       41.0
1372748 2024-07-01         124236  CL SODIMAC      192.0
1372749 2024-07-01         165731  CL WALMART      880.0
1372750 2024-07-01         360795  CL WALMART      182.0
1372751 2024-07-01         360783     CL EASY        2.0

[1372752 rows x 4 columns]

In [176]:
# Asegurarse de que la columna 'Venta' es numérica
sellinreducido_['Venta UMB'] = pd.to_numeric(sellinreducido_['Venta UMB'], errors='coerce')

In [177]:
merged_df.columns

Index(['Mes', 'Material', 'Canal', 'Venta UMB', 'Fuente', 'Ultimo Eslabón',
       'Tipo', 'Canal 2', 'Nombre Sector', 'Canal 3', 'SI/SO'],
      dtype='object')

BORRAR EL RENAME DESPUES Y EL SEGUNDO Q VIENE IGUAL

In [178]:
sellinreducido_.rename(columns={'Ultimo Eslabón': 'Material'}, inplace=True)

In [179]:
eslabon.columns

Index(['Material', 'Cod_Actual_1'], dtype='object')

In [180]:
sellinreducido_.shape

(1372752, 4)

REVISAAA

In [181]:
merged_df1=sellinreducido_

In [182]:
merged_df1.head(2)

       Fecha Material    Canal 3  Venta UMB
0 2021-06-01  1000147  CL RETAIL       52.0
1 2021-05-01  1000147  CL RETAIL       40.0

In [183]:
sellinreducido1=merged_df1

In [184]:
sellinreducido1.shape

(1372752, 4)

In [185]:
sellinreducido1.rename(columns={'Material': 'Ultimo Eslabón'}, inplace=True)

In [186]:
# Crear un pivot table
pivot_df = sellinreducido1.pivot_table(index=['Ultimo Eslabón', 'Canal 3'], 
                                       columns='Fecha', values='Venta UMB', 
                                       aggfunc='sum').reset_index()

In [187]:
pivot_df.shape

(87027, 81)


Reemplazar los NaN por 0 y los valores negativos por 0

In [188]:
pivot_df.fillna(0, inplace=True)

In [189]:
pivot_df.head(2)

Fecha,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0

In [190]:
import pandas as pd

cols = pivot_df.columns.drop(['Ultimo Eslabón', 'Canal 3'])  # Excluye las columnas de índices

# Asegurarse de que los valores son numéricos
pivot_df[cols] = pivot_df[cols].apply(pd.to_numeric, errors='coerce')

# Reemplaza los NaNs por 0 si es necesario
pivot_df[cols] = pivot_df[cols].fillna(0)

# Ahora aplica clip para establecer los valores menores a 0 como 0
pivot_df[cols] = pivot_df[cols].clip(lower=0)
pivot_df.head(2)

Fecha,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0

In [191]:
pivot_df.head()

Fecha,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
2,1000147,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,53.0,64.0,46.0,45.0,51.0,64.0,36.0,28.0,30.0,30.0
3,1000148,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,75.0,50.0,67.0,120.0,76.0,75.0,64.0,37.0,73.0,82.0
4,1000149,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,184.0,117.0,104.0,172.0,125.0,168.0,188.0,159.0,170.0,178.0

In [192]:
pivot_df.shape

(87027, 81)

In [193]:
pivot_df.dtypes

Fecha
Ultimo Eslabón          object
Canal 3                 object
2018-01-01 00:00:00    float64
2018-02-01 00:00:00    float64
2018-03-01 00:00:00    float64
                        ...
2024-03-01 00:00:00    float64
2024-04-01 00:00:00    float64
2024-05-01 00:00:00    float64
2024-06-01 00:00:00    float64
2024-07-01 00:00:00    float64
Length: 81, dtype: object

In [194]:
pivot_df.columns

Index([   'Ultimo Eslabón',           'Canal 3', 2018-01-01 00:00:00,
       2018-02-01 00:00:00, 2018-03-01 00:00:00, 2018-04-01 00:00:00,
       2018-05-01 00:00:00, 2018-06-01 00:00:00, 2018-07-01 00:00:00,
       2018-08-01 00:00:00, 2018-09-01 00:00:00, 2018-10-01 00:00:00,
       2018-11-01 00:00:00, 2018-12-01 00:00:00, 2019-01-01 00:00:00,
       2019-02-01 00:00:00, 2019-03-01 00:00:00, 2019-04-01 00:00:00,
       2019-05-01 00:00:00, 2019-06-01 00:00:00, 2019-07-01 00:00:00,
       2019-08-01 00:00:00, 2019-09-01 00:00:00, 2019-10-01 00:00:00,
       2019-11-01 00:00:00, 2019-12-01 00:00:00, 2020-01-01 00:00:00,
       2020-02-01 00:00:00, 2020-03-01 00:00:00, 2020-04-01 00:00:00,
       2020-05-01 00:00:00, 2020-06-01 00:00:00, 2020-07-01 00:00:00,
       2020-08-01 00:00:00, 2020-09-01 00:00:00, 2020-10-01 00:00:00,
       2020-11-01 00:00:00, 2020-12-01 00:00:00, 2021-01-01 00:00:00,
       2021-02-01 00:00:00, 2021-03-01 00:00:00, 2021-04-01 00:00:00,
       2021-05-01 00:00:00, 2021-06-01 00:00:00, 2021-07-01 00:00:00,
       2021-08-01 00:00:00, 2021-09-01 00:00:00, 2021-10-01 00:00:00,
       2021-11-01 00:00:00, 2021-12-01 00:00:00, 2022-01-01 00:00:00,
       2022-02-01 00:00:00, 2022-03-01 00:00:00, 2022-04-01 00:00:00,
       2022-05-01 00:00:00, 2022-06-01 00:00:00, 2022-07-01 00:00:00,
       2022-08-01 00:00:00, 2022-09-01 00:00:00, 2022-10-01 00:00:00,
       2022-11-01 00:00:00, 2022-12-01 00:00:00, 2023-01-01 00:00:00,
       2023-02-01 00:00:00, 2023-03-01 00:00:00, 2023-04-01 00:00:00,
       2023-05-01 00:00:00, 2023-06-01 00:00:00, 2023-07-01 00:00:00,
       2023-08-01 00:00:00, 2023-09-01 00:00:00, 2023-10-01 00:00:00,
       2023-11-01 00:00:00, 2023-12-01 00:00:00, 2024-01-01 00:00:00,
       2024-02-01 00:00:00, 2024-03-01 00:00:00, 2024-04-01 00:00:00,
       2024-05-01 00:00:00, 2024-06-01 00:00:00, 2024-07-01 00:00:00],
      dtype='object', name='Fecha')

Guardar como CSV

In [195]:
import os
import pandas as pd
from datetime import datetime

# Columnas que no son fechas
non_date_cols = ['Ultimo Eslabón', 'Canal 3']

# Extraer columnas que son fechas
date_cols = [col for col in pivot_df.columns if col not in non_date_cols]

# Convertir las columnas de fecha a tipo datetime para poder ordenarlas
date_cols_sorted = sorted(date_cols, key=lambda x: pd.to_datetime(x, format='mixed'))

# Crear un nuevo orden de columnas
new_order = non_date_cols + date_cols_sorted

# Reordenar el DataFrame
pivot_df = pivot_df[new_order]

# Filtrar las columnas que no contienen los años 2015, 2016 o 2017
columns_to_keep = [col for col in pivot_df.columns if not any(year in str(col) for year in ['2015', '2016', '2017'])]
pivot_df = pivot_df[columns_to_keep]

# Obtener el directorio del usuario
user_dir = os.path.expanduser('~')

# Obtener la fecha actual y formatear las partes necesarias
now = datetime.now()
current_year = now.strftime('%Y')
current_month = now.strftime('%m')
previous_month = (now.replace(day=1) - pd.DateOffset(months=1)).strftime('%B-%y')
cycle_month = (now + pd.DateOffset(months=1)).strftime('%b-%y')

# Construir la ruta base
base_path = os.path.join(user_dir, 'DERCO CHILE REPUESTOS SpA', 'Planificación y abastecimiento - Documentos', 
                         'Planificación y Compras Anastasia', 'Carga Historia de Venta', 
                         f'{current_year}-{current_month} Ciclo {cycle_month}', 'AFM', 'SELL OUT')
os.makedirs(base_path, exist_ok=True)

# Construir las rutas de los archivos CSV y Excel
csv_path = os.path.join(base_path, f'{current_month}.{current_year} Sell_Out {previous_month} Corregido.csv')
excel_path = os.path.join(base_path, f'{current_month}.{current_year} Sell_Out {previous_month} Corregido.xlsx')

# Guardar el DataFrame en formato CSV
pivot_df.to_csv(csv_path, index=False)

# Guardar el DataFrame en formato Excel
pivot_df.to_excel(excel_path, index=False)

print("Archivos guardados correctamente en:", base_path)

Archivos guardados correctamente en: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Anastasia\Carga Historia de Venta\2024-08 Ciclo Sep-24\AFM\SELL OUT

In [196]:
pivot_df.columns

Index([   'Ultimo Eslabón',           'Canal 3', 2018-01-01 00:00:00,
       2018-02-01 00:00:00, 2018-03-01 00:00:00, 2018-04-01 00:00:00,
       2018-05-01 00:00:00, 2018-06-01 00:00:00, 2018-07-01 00:00:00,
       2018-08-01 00:00:00, 2018-09-01 00:00:00, 2018-10-01 00:00:00,
       2018-11-01 00:00:00, 2018-12-01 00:00:00, 2019-01-01 00:00:00,
       2019-02-01 00:00:00, 2019-03-01 00:00:00, 2019-04-01 00:00:00,
       2019-05-01 00:00:00, 2019-06-01 00:00:00, 2019-07-01 00:00:00,
       2019-08-01 00:00:00, 2019-09-01 00:00:00, 2019-10-01 00:00:00,
       2019-11-01 00:00:00, 2019-12-01 00:00:00, 2020-01-01 00:00:00,
       2020-02-01 00:00:00, 2020-03-01 00:00:00, 2020-04-01 00:00:00,
       2020-05-01 00:00:00, 2020-06-01 00:00:00, 2020-07-01 00:00:00,
       2020-08-01 00:00:00, 2020-09-01 00:00:00, 2020-10-01 00:00:00,
       2020-11-01 00:00:00, 2020-12-01 00:00:00, 2021-01-01 00:00:00,
       2021-02-01 00:00:00, 2021-03-01 00:00:00, 2021-04-01 00:00:00,
       2021-05-01 00:00:00, 2021-06-01 00:00:00, 2021-07-01 00:00:00,
       2021-08-01 00:00:00, 2021-09-01 00:00:00, 2021-10-01 00:00:00,
       2021-11-01 00:00:00, 2021-12-01 00:00:00, 2022-01-01 00:00:00,
       2022-02-01 00:00:00, 2022-03-01 00:00:00, 2022-04-01 00:00:00,
       2022-05-01 00:00:00, 2022-06-01 00:00:00, 2022-07-01 00:00:00,
       2022-08-01 00:00:00, 2022-09-01 00:00:00, 2022-10-01 00:00:00,
       2022-11-01 00:00:00, 2022-12-01 00:00:00, 2023-01-01 00:00:00,
       2023-02-01 00:00:00, 2023-03-01 00:00:00, 2023-04-01 00:00:00,
       2023-05-01 00:00:00, 2023-06-01 00:00:00, 2023-07-01 00:00:00,
       2023-08-01 00:00:00, 2023-09-01 00:00:00, 2023-10-01 00:00:00,
       2023-11-01 00:00:00, 2023-12-01 00:00:00, 2024-01-01 00:00:00,
       2024-02-01 00:00:00, 2024-03-01 00:00:00, 2024-04-01 00:00:00,
       2024-05-01 00:00:00, 2024-06-01 00:00:00, 2024-07-01 00:00:00],
      dtype='object', name='Fecha')

{{{{{{{{{{{{{{{{{{{{{{{}}}}}}}}}}}}}}}}}}}}}}}

In [197]:
# Crear la columna con la suma de las filas excluyendo 'Ultimo Eslabón' y 'Canal 3'
pivot_df['Suma'] = pivot_df.drop(columns=['Ultimo Eslabón', 'Canal 3']).sum(axis=1)

# Filtrar filas donde la suma es diferente de 0
pivot_df = pivot_df[pivot_df['Suma'] != 0]

# Eliminar la columna 'Suma'
pivot_df = pivot_df.drop(columns=['Suma'])

# Mostrar el DataFrame resultante
pivot_df.head()

Fecha,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
2,1000147,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,53.0,64.0,46.0,45.0,51.0,64.0,36.0,28.0,30.0,30.0
3,1000148,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,75.0,50.0,67.0,120.0,76.0,75.0,64.0,37.0,73.0,82.0
4,1000149,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,184.0,117.0,104.0,172.0,125.0,168.0,188.0,159.0,170.0,178.0

In [198]:
pivot_df.shape

(47771, 81)

In [199]:
# Identificar la penúltima columna
penultima_columna = pivot_df.columns[-1]

# Calcular la suma de la penúltima columna
suma_penultima_columna = pivot_df[penultima_columna].sum()
suma_penultima_columna

608331.0

In [200]:
pivot_df.shape

(47771, 81)

A CSV

In [201]:
# pivot_df.to_csv(csv_path, sep=';', decimal=',', index=False)
# print(f"Archivo CSV guardado en: {csv_path}")

A EXCEL

In [202]:
# pivot_df.to_excel(excel_path, index=False)
# print(f"Archivo Excel guardado en: {excel_path}")

agregar las columnas "Clasificación", "PROMEDIO", "DESV EST", "Z", "LIM SUP", "LIM INF", "FRECUENCIA", "Outliers SUP", "Outliers INF" y "Suma Outliers"

In [203]:
import pandas as pd
import numpy as np

# Crear nuevas columnas con valores iniciales (pueden ser NaN o ceros, según lo que necesites)
nuevas_columnas = ['Clasificación', 'PROMEDIO', 'DESV EST', 'Z', 'LIM SUP', 'LIM INF', 'FRECUENCIA', 'Outliers SUP', 'Outliers INF', 'Suma Outliers']

for col in nuevas_columnas:
    pivot_df[col] = np.nan  # O usa 0 en lugar de np.nan si prefieres

# Mostrar el DataFrame con las nuevas columnas añadidas
pivot_df.columns

Index([   'Ultimo Eslabón',           'Canal 3', 2018-01-01 00:00:00,
       2018-02-01 00:00:00, 2018-03-01 00:00:00, 2018-04-01 00:00:00,
       2018-05-01 00:00:00, 2018-06-01 00:00:00, 2018-07-01 00:00:00,
       2018-08-01 00:00:00, 2018-09-01 00:00:00, 2018-10-01 00:00:00,
       2018-11-01 00:00:00, 2018-12-01 00:00:00, 2019-01-01 00:00:00,
       2019-02-01 00:00:00, 2019-03-01 00:00:00, 2019-04-01 00:00:00,
       2019-05-01 00:00:00, 2019-06-01 00:00:00, 2019-07-01 00:00:00,
       2019-08-01 00:00:00, 2019-09-01 00:00:00, 2019-10-01 00:00:00,
       2019-11-01 00:00:00, 2019-12-01 00:00:00, 2020-01-01 00:00:00,
       2020-02-01 00:00:00, 2020-03-01 00:00:00, 2020-04-01 00:00:00,
       2020-05-01 00:00:00, 2020-06-01 00:00:00, 2020-07-01 00:00:00,
       2020-08-01 00:00:00, 2020-09-01 00:00:00, 2020-10-01 00:00:00,
       2020-11-01 00:00:00, 2020-12-01 00:00:00, 2021-01-01 00:00:00,
       2021-02-01 00:00:00, 2021-03-01 00:00:00, 2021-04-01 00:00:00,
       2021-05-01 00:00:00, 2021-06-01 00:00:00, 2021-07-01 00:00:00,
       2021-08-01 00:00:00, 2021-09-01 00:00:00, 2021-10-01 00:00:00,
       2021-11-01 00:00:00, 2021-12-01 00:00:00, 2022-01-01 00:00:00,
       2022-02-01 00:00:00, 2022-03-01 00:00:00, 2022-04-01 00:00:00,
       2022-05-01 00:00:00, 2022-06-01 00:00:00, 2022-07-01 00:00:00,
       2022-08-01 00:00:00, 2022-09-01 00:00:00, 2022-10-01 00:00:00,
       2022-11-01 00:00:00, 2022-12-01 00:00:00, 2023-01-01 00:00:00,
       2023-02-01 00:00:00, 2023-03-01 00:00:00, 2023-04-01 00:00:00,
       2023-05-01 00:00:00, 2023-06-01 00:00:00, 2023-07-01 00:00:00,
       2023-08-01 00:00:00, 2023-09-01 00:00:00, 2023-10-01 00:00:00,
       2023-11-01 00:00:00, 2023-12-01 00:00:00, 2024-01-01 00:00:00,
       2024-02-01 00:00:00, 2024-03-01 00:00:00, 2024-04-01 00:00:00,
       2024-05-01 00:00:00, 2024-06-01 00:00:00, 2024-07-01 00:00:00,
           'Clasificación',          'PROMEDIO',          'DESV EST',
                       'Z',           'LIM SUP',           'LIM INF',
              'FRECUENCIA',      'Outliers SUP',      'Outliers INF',
           'Suma Outliers'],
      dtype='object', name='Fecha')

FRECUENCIA

In [204]:
# Obtener el índice de la columna 'Clasificación'
index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]

# Contar cuántas veces los valores en las columnas especificadas son mayores a 0
pivot_df['FRECUENCIA'] = (pivot_df[columnas_conteo] > 0).sum(axis=1)

PROMEDIO

In [205]:
# Obtener el índice de la columna 'Clasificación'
index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]

# Calcular el promedio de los valores en las columnas especificadas
pivot_df['PROMEDIO'] = pivot_df[columnas_conteo].mean(axis=1)

'DESV EST'

In [206]:
# Obtener el índice de la columna 'Clasificación'
index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]

# Calcular la desviación estándar de los valores en las columnas especificadas
pivot_df['DESV EST'] = pivot_df[columnas_conteo].std(ddof=1, axis=1)

In [207]:

# Definir la función personalizada
def clasificar_frecuencia(frecuencia):
    if frecuencia == 0:
        return "Sin Venta"
    elif 0 < frecuencia <= 3:
        return "Muy Baja"
    elif 3 < frecuencia <= 6:
        return "Baja"
    elif 6 < frecuencia <= 12:
        return "Media"
    elif 12 < frecuencia <= 15:
        return "Alta"
    elif 15 < frecuencia <= 18:
        return "Muy Alta"
    else:
        return "Fuera de Rango"  # Por si acaso hay algún valor fuera del rango esperado

# Aplicar la función a la columna 'FRECUENCIA' y crear una nueva columna 'Clasificación'
pivot_df['Clasificación'] = pivot_df['FRECUENCIA'].apply(clasificar_frecuencia)

Z

In [208]:

# Definir la función personalizada
def calcular_z(clasificacion):
    if clasificacion == "Muy Alta":
        return 1.96
    elif clasificacion == "Alta":
        return 1.28
    elif clasificacion in ["Baja", "Muy Baja"]:
        return 0.67
    else:
        return 0.84

# Aplicar la función a la columna 'Clasificación' y crear una nueva columna 'Z'
pivot_df['Z'] = pivot_df['Clasificación'].apply(calcular_z)

LIM SUP

In [209]:

# Calcular la columna LIM SUP
pivot_df['LIM SUP'] = pivot_df['PROMEDIO'] + pivot_df['Z'] * pivot_df['DESV EST']

LIM INF

In [210]:
def calcular_lim_inf(row):
    clasificacion = row['Clasificación']
    promedio = row['PROMEDIO']
    z = row['Z']
    desv_est = row['DESV EST']
    
    if clasificacion in ["Alta", "Muy Alta"]:
        resultado = promedio - z * desv_est
        return max(resultado, 0.01)
    else:
        return promedio - z * desv_est

# Aplicar la función a cada fila del DataFrame y crear una nueva columna 'LIM INF'
pivot_df['LIM INF'] = pivot_df.apply(calcular_lim_inf, axis=1)

OUT SUP

In [211]:

index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]

# Definir la función personalizada para calcular Outliers SUP
def calcular_outliers_sup(row):
    lim_sup = row['LIM SUP']
    return (row[columnas_conteo] > lim_sup).sum()

# Aplicar la función a cada fila del DataFrame y crear una nueva columna 'Outliers SUP'
pivot_df['Outliers SUP'] = pivot_df.apply(calcular_outliers_sup, axis=1)

lim inf

In [212]:
# Obtener el índice de la columna 'Clasificación'
index_clasificacion = pivot_df.columns.get_loc('Clasificación')

# Obtener las 18 columnas antes de 'Clasificación'
columnas_conteo = pivot_df.columns[index_clasificacion-18:index_clasificacion]

# Definir la función personalizada para calcular Outliers INF
def calcular_outliers_inf(row):
    lim_inf = row['LIM INF']
    return (row[columnas_conteo] < lim_inf).sum()

# Aplicar la función a cada fila del DataFrame y crear una nueva columna 'Outliers INF'
pivot_df['Outliers INF'] = pivot_df.apply(calcular_outliers_inf, axis=1)

SUM OUTLIERS

In [213]:
pivot_df['Suma Outliers'] = pivot_df['Outliers INF'] + pivot_df['Outliers SUP']

COPIAR LAS VENTAS ALFINAL

In [214]:
# # Encontrar la posición de la columna "Clasificación"
# clasificacion_index = pivot_df.columns.get_loc("Clasificación")

# # Seleccionar todas las columnas antes de "Clasificación" excepto "idSKU" y "Canal"
# columns_to_copy = [col for col in pivot_df.columns[:clasificacion_index] if col not in ["idSKU", "Canal"]]

# # Copiar las columnas seleccionadas al final
# for col in columns_to_copy:
#     pivot_df[f'{col}_copy'] = pivot_df[col]

# pivot_df

clasificacion_index = pivot_df.columns.get_loc("Clasificación")
columns_to_copy = [col for col in pivot_df.columns[:clasificacion_index] if col not in ["idSKU", "Canal"]]
copied_columns = pivot_df[columns_to_copy].copy()
copied_columns.columns = [f'{col}_copy' for col in copied_columns.columns]
pivot_df = pd.concat([pivot_df, copied_columns], axis=1)
pivot_df

,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-10-01 00:00:00_copy,2023-11-01 00:00:00_copy,2023-12-01 00:00:00_copy,2024-01-01 00:00:00_copy,2024-02-01 00:00:00_copy,2024-03-01 00:00:00_copy,2024-04-01 00:00:00_copy,2024-05-01 00:00:00_copy,2024-06-01 00:00:00_copy,2024-07-01 00:00:00_copy
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,2.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0
2,1000147,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,53.0,64.0,46.0,45.0,51.0,64.0,36.0,28.0,30.0,30.0
3,1000148,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,75.0,50.0,67.0,120.0,76.0,75.0,64.0,37.0,73.0,82.0
4,1000149,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,184.0,117.0,104.0,172.0,125.0,168.0,188.0,159.0,170.0,178.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87021,750797,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,3.0,0.0,0.0,0.0,1.0,1.0,3.0,2.0,1.0
87022,750803,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,7.0,3.0,0.0,3.0,5.0,1.0,1.0,12.0
87023,750809,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,26.0,4.0,0.0,2.0,0.0,0.0,0.0,0.0,1.0,3.0
87024,750816,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.0,3.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0,4.0
87026,752466,CL RETAIL,7.0,1.0,2.0,1.0,11.0,1.0,1.0,9.0,...,2.0,4.0,3.0,0.0,1.0,3.0,3.0,3.0,10.0,4.0

CORREGIR OUTLIERS PARA LAS ULTIMAS 18 COLUMNAS

In [215]:
# Obtener los nombres de las últimas 18 columnas
last_18_columns = pivot_df.columns[-18:]

# Aplicar las condiciones a las últimas 18 columnas
for col in last_18_columns:
    pivot_df[col] = pivot_df.apply(
        lambda row: row['PROMEDIO'] if row[col] > row['LIM SUP'] or row[col] < row['LIM INF'] else row[col],
        axis=1
    )

# Mostrar el DataFrame resultante
pivot_df.head(2)

,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-10-01 00:00:00_copy,2023-11-01 00:00:00_copy,2023-12-01 00:00:00_copy,2024-01-01 00:00:00_copy,2024-02-01 00:00:00_copy,2024-03-01 00:00:00_copy,2024-04-01 00:00:00_copy,2024-05-01 00:00:00_copy,2024-06-01 00:00:00_copy,2024-07-01 00:00:00_copy
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.055556,0.0,0.0,0.0,0.0,0.0,0.0
1,1000144,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.0,3.0,2.0,1.000000,1.0,1.0,0.0,0.0,0.0,0.0

In [216]:
last_column = pivot_df.columns[-1]

# Calcular la suma de la última columna
sum_last_column = pivot_df[last_column].sum()

# Mostrar la suma
print(f"La suma de la última columna ({last_column}) es: {sum_last_column}")

La suma de la última columna (2024-07-01 00:00:00_copy) es: 584170.3888888889

In [217]:
# pivot_df.to_csv(csv_path, sep=';', decimal=',', index=False)
# print(f"Archivo CSV guardado en: {csv_path}")

In [218]:
pivot_df.tail(10)

,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-10-01 00:00:00_copy,2023-11-01 00:00:00_copy,2023-12-01 00:00:00_copy,2024-01-01 00:00:00_copy,2024-02-01 00:00:00_copy,2024-03-01 00:00:00_copy,2024-04-01 00:00:00_copy,2024-05-01 00:00:00_copy,2024-06-01 00:00:00_copy,2024-07-01 00:00:00_copy
87011,750324,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.666667,0.000000,0.0,1.0,0.000000,0.0,1.0,0.666667,1.000000,0.000000
87014,750403,CL RETAIL,2.0,6.0,4.0,8.0,0.0,4.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000
87017,750406,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000
87018,750406,CL SODIMAC,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0,0.000000,0.0,0.0,0.000000,0.000000,0.000000
87020,750791,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.000000,2.000000,2.0,6.0,2.000000,1.0,3.0,1.000000,7.555556,7.555556
87021,750797,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.833333,0.0,0.0,0.000000,1.0,1.0,0.833333,0.833333,1.000000
87022,750803,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,3.000000,3.000000,7.0,3.0,3.722222,3.0,5.0,1.000000,1.000000,3.722222
87023,750809,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.500000,4.000000,0.0,2.0,0.000000,0.0,0.0,0.000000,1.000000,3.000000
87024,750816,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.888889,3.000000,0.0,2.0,0.000000,0.0,2.0,0.000000,0.000000,4.000000
87026,752466,CL RETAIL,7.0,1.0,2.0,1.0,11.0,1.0,1.0,9.0,...,2.000000,4.000000,3.0,3.5,1.000000,3.0,3.0,3.000000,3.500000,4.000000

In [219]:
index_suma_outliers = pivot_df.columns.get_loc("Suma Outliers")

# Detectar y eliminar columnas que empiezan con "Ul" o "Ca" después de "Suma Outliers"
cols_to_drop = [col for col in pivot_df.columns[index_suma_outliers+1:] if col.startswith("Ul") or col.startswith("Ca")]
pivot_df.drop(columns=cols_to_drop, inplace=True)

# Renombrar columnas que terminan en "_copy" adyacentes a "Suma Outliers"
new_columns = pivot_df.columns.tolist()
for i in range(index_suma_outliers + 1, len(new_columns)):
    if new_columns[i].endswith("_copy"):
        new_columns[i] = new_columns[i].replace("_copy", "")

pivot_df.columns = new_columns

# Mostrar el DataFrame modificado
pivot_df.head(1)

,Ultimo Eslabón,Canal 3,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00,2018-07-01 00:00:00,2018-08-01 00:00:00,...,2023-10-01 00:00:00,2023-11-01 00:00:00,2023-12-01 00:00:00,2024-01-01 00:00:00,2024-02-01 00:00:00,2024-03-01 00:00:00,2024-04-01 00:00:00,2024-05-01 00:00:00,2024-06-01 00:00:00,2024-07-01 00:00:00
0,1000078,CL RETAIL,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.055556,0.0,0.0,0.0,0.0,0.0,0.0

In [220]:
pivot_df.shape

(47771, 170)

In [221]:
pivot_df.to_csv(csv_path, sep=';', decimal=',', index=False)
print(f"Archivo CSV guardado en: {csv_path}")
pivot_df.to_excel(excel_path, index=False)
print(f"Archivo Excel guardado en: {excel_path}")

Archivo CSV guardado en: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Anastasia\Carga Historia de Venta\2024-08 Ciclo Sep-24\AFM\SELL OUT\08.2024 Sell_Out July-24 Corregido.csv
Archivo Excel guardado en: C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras Anastasia\Carga Historia de Venta\2024-08 Ciclo Sep-24\AFM\SELL OUT\08.2024 Sell_Out July-24 Corregido.xlsx

GUARDAR NUEVA HISTORIA

In [222]:
# import os
# import datetime

# # Obtener el usuario automáticamente
# user = os.getlogin()

# # Definir la ruta base y agregar la fecha actual
# ruta_base = f"C:\\Users\\{user}\\Inchcape\\Planificación y abastecimiento AFM - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta"
# fecha_actual = datetime.datetime.now().strftime("%Y-%m-%d")
# nombre_archivo = f"Historia_Sell_In"

# # Definir las rutas completas para cada formato
# ruta_csv = os.path.join(ruta_base, f"{nombre_archivo}.csv")
# ruta_parquet = os.path.join(ruta_base, f"{nombre_archivo}.parquet")
# ruta_feather = os.path.join(ruta_base, f"{nombre_archivo}.feather")

# # Guardar el DataFrame en cada formato
## df_combinado_actualizado2.to_csv(ruta_csv, sep=';', decimal=',', index=False)
# df_combinado_actualizado2.to_parquet(ruta_parquet)
## df_combinado_actualizado2.to_feather(ruta_feather)