In [1]:
import os
import pandas as pd
import datetime as datetime

In [2]:
ruta_base_usuario1 = os.path.expanduser("~")
ruta_directorio_base1 = os.path.join(ruta_base_usuario1, "Inchcape", "Planificación y abastecimiento AFM - Documentos", "Planificación y Compras AFM", "S&OP Demanda", "Codigos Demanda", "Corrección VTA")
ruta_archivo1 = os.path.join(ruta_directorio_base1, "Part1SellOut.xlsx")
sellout1 = pd.read_excel(ruta_archivo1) # Leer la hoja "Sheet1"
sellout1.head(2)

,Canal,Material,Venta UMB,Mes,SI/SO,Ultimo Eslabón,Tipo,Fuente,Canal 2,Canal 3
0,AP,1000147,52,2021-06-01,SO,1000147,ACC,Sell Out MB51 - SISO,Retail,CL RETAIL
1,AP,1000148,75,2021-06-01,SO,1000148,ACC,Sell Out MB51 - SISO,Retail,CL RETAIL

In [3]:
Ventas =sellout1["Venta UMB"].sum()
Ventas
# 36287376

36287376

In [4]:
sellout1['Venta UMB'] = pd.to_numeric(sellout1['Venta UMB'], errors='coerce')
sellout1['Material'] = sellout1['Material'].astype(str)

# Verifica la conversión
print(sellout1.dtypes)

Canal                     object
Material                  object
Venta UMB                  int64
Mes               datetime64[ns]
SI/SO                     object
Ultimo Eslabón             int64
Tipo                      object
Fuente                    object
Canal 2                   object
Canal 3                   object
dtype: object

In [6]:
ruta_base_usuario1 = os.path.expanduser("~")
ruta_directorio_base1 = os.path.join(ruta_base_usuario1, "Inchcape", "Planificación y abastecimiento AFM - Documentos", "Planificación y Compras AFM", "S&OP Demanda", "Codigos Demanda", "Corrección VTA")
ruta_archivo1 = os.path.join(ruta_directorio_base1, "Part2SellOut.xlsx")
sellout2 = pd.read_excel(ruta_archivo1)  # Leer la hoja "Sheet1"
sellout2.head(2)

,Canal,Material,Venta UMB,Mes,SI/SO,Ultimo Eslabón,Tipo,Fuente,Canal 2,Canal 3
0,AP,1000144,110.0,2021-12-01,SO,1000144,ACC,Sell Out MB51 - SISO,Retail,CL RETAIL
1,AP,1000147,44.0,2021-12-01,SO,1000147,ACC,Sell Out MB51 - SISO,Retail,CL RETAIL

In [7]:
sellout1.columns

Index(['Canal', 'Material', 'Venta UMB', 'Mes', 'SI/SO', 'Ultimo Eslabón',
       'Tipo', 'Fuente', 'Canal 2 ', 'Canal 3'],
      dtype='object')

In [8]:
sellout2['Venta UMB'] = pd.to_numeric(sellout2['Venta UMB'], errors='coerce')
sellout2['Material'] = sellout2['Material'].astype(str)
# Verifica la conversión
print(sellout2.dtypes)

Canal                     object
Material                  object
Venta UMB                float64
Mes               datetime64[ns]
SI/SO                     object
Ultimo Eslabón             int64
Tipo                      object
Fuente                    object
Canal 2                   object
Canal 3                   object
dtype: object

In [9]:
Ventas2 =sellout2["Venta UMB"].sum()
Ventas2
# 22903480.080333337
# 22267090.080333337

22267090.080333337

In [10]:
sellout2.columns

Index(['Canal', 'Material', 'Venta UMB', 'Mes', 'SI/SO', 'Ultimo Eslabón',
       'Tipo', 'Fuente', 'Canal 2', 'Canal 3'],
      dtype='object')

In [11]:

sellout1.rename(columns={'Canal 2 ': 'Canal 2'}, inplace=True)

In [12]:
sellout_concat = pd.concat([sellout1, sellout2], ignore_index=True)
sellout_concat.head(2)

,Canal,Material,Venta UMB,Mes,SI/SO,Ultimo Eslabón,Tipo,Fuente,Canal 2,Canal 3
0,AP,1000147,52.0,2021-06-01,SO,1000147,ACC,Sell Out MB51 - SISO,Retail,CL RETAIL
1,AP,1000148,75.0,2021-06-01,SO,1000148,ACC,Sell Out MB51 - SISO,Retail,CL RETAIL

In [13]:
sellout_concat.tail(2)

,Canal,Material,Venta UMB,Mes,SI/SO,Ultimo Eslabón,Tipo,Fuente,Canal 2,Canal 3
1349523,Sodimac,454487,15.0,2024-03-01,SO,454487,LUB,Sell Out GT abr-24,Sodimac,CL SODIMAC
1349524,Sodimac,124236,40.0,2024-03-01,SO,124236,LUB,Sell Out GT abr-24,Sodimac,CL SODIMAC

In [14]:
Ventas3 =sellout_concat["Venta UMB"].sum()
Ventas3

58554466.08033333

In [15]:
# Asegurar que todas las columnas tengan el tipo correcto
sellout_concat['Canal'] = sellout_concat['Canal'].astype('object')
sellout_concat['Material'] = sellout_concat['Material'].astype('object')
sellout_concat['Venta UMB'] = sellout_concat['Venta UMB'].astype('float64')
sellout_concat['Mes'] = pd.to_datetime(sellout_concat['Mes'])
sellout_concat['SI/SO'] = sellout_concat['SI/SO'].astype('object')
sellout_concat['Ultimo Eslabón'] = sellout_concat['Ultimo Eslabón'].astype('str')
sellout_concat['Tipo'] = sellout_concat['Tipo'].astype('object')
sellout_concat['Fuente'] = sellout_concat['Fuente'].astype('object')
sellout_concat['Canal 2'] = sellout_concat['Canal 2'].astype('object')
sellout_concat['Canal 3'] = sellout_concat['Canal 3'].astype('object')

In [16]:
# Convertir todas las columnas a string para evitar problemas de tipo de datos
sellout_concat = sellout_concat.astype(str)

# Asegurar que las columnas tengan los tipos específicos necesarios después de la conversión a str
sellout_concat['Venta UMB'] = sellout_concat['Venta UMB'].astype(float)
sellout_concat['Mes'] = pd.to_datetime(sellout_concat['Mes'])

In [17]:
sellout_concat.dtypes

Canal                     object
Material                  object
Venta UMB                float64
Mes               datetime64[ns]
SI/SO                     object
Ultimo Eslabón            object
Tipo                      object
Fuente                    object
Canal 2                   object
Canal 3                   object
dtype: object

In [18]:

# Obtener el nombre del usuario actual del sistema
usuario = os.getlogin()

# Definir la ruta completa
ruta = f'C:\\Users\\{usuario}\\Inchcape\\Planificación y abastecimiento AFM - Documentos\\Planificación y Compras Anastasia\\Carga Historia de Venta\\Historia_Sell_Out.parquet'

# Exportar a archivo Parquet
sellout_concat.to_parquet(ruta)

print("Archivo Parquet exportado exitosamente en:", ruta)

Archivo Parquet exportado exitosamente en: C:\Users\etorres\Inchcape\Planificación y abastecimiento AFM - Documentos\Planificación y Compras Anastasia\Carga Historia de Venta\Historia_Sell_Out.parquet

Historia Terminada, agregando SellOUT GT y luego Sellout

In [ ]:
import os
import pandas as pd

# Obtener el año y mes actual en el formato YYYY y MM
fecha_actual = pd.Timestamp.now()
año_actual = fecha_actual.year
mes_actual = fecha_actual.strftime("%m")

# Construir la ruta completa al directorio que contiene los archivos
ruta_base_usuario = os.path.expanduser("~")
ruta_directorio_base = os.path.join(ruta_base_usuario, "Inchcape", "Planificación y abastecimiento AFM - Documentos", "Planificación y Compras Ventas", "Venta Historica Mensual")
ruta_directorio = os.path.join(ruta_directorio_base, str(año_actual), f"{año_actual}-{mes_actual}")

# Verificar si el directorio existe
if os.path.exists(ruta_directorio):
    archivo_selloutGT = None
    for archivoGT in os.listdir(ruta_directorio):
        if "Sell Out" in archivoGT and "GT" in archivoGT:
            archivo_selloutGT = archivoGT
            break

    if archivo_selloutGT:
        ruta_archivo_selloutGT = os.path.join(ruta_directorio, archivo_selloutGT)
        try:
            # Leer el archivo de Excel desde la tercera fila como encabezado
            selloutGT = pd.read_excel(ruta_archivo_selloutGT, sheet_name="Sell Out GT", header=2)
            print("Se leyó el archivo de Sell Out:", ruta_archivo_selloutGT)
        except Exception as e:
            print("Error al leer el archivo de Excel:", e)
    else:
        print("No se encontró ningún archivo con 'Sell Out' en su nombre.")
else:
    print(f"El directorio {ruta_directorio} no existe.")

In [ ]:
selloutGT

In [ ]:
# Asumiendo que selloutGT ya ha sido leído correctamente en el DataFrame

# Reordenar las columnas para que la penúltima, última, primera y segunda sean las únicas que permanezcan
columnas_a_mantener = [selloutGT.columns[-2], selloutGT.columns[-1], selloutGT.columns[0], selloutGT.columns[1]]
selloutGT1 = selloutGT[columnas_a_mantener]


selloutGT1

In [ ]:
# Asumiendo que selloutGT ya ha sido filtrado y tiene las columnas deseadas

# Renombrar la primera columna a 'Venta' y convertirla a tipo int
selloutGT1.rename(columns={selloutGT1.columns[0]: 'Venta'}, inplace=True)
selloutGT1['Venta'] = selloutGT1['Venta'].astype(int)

# Filtrar solo los valores mayores a 0
selloutGT1 = selloutGT1[selloutGT1['Venta'] > 0]

# Mostrar una muestra del DataFrame y la suma de la columna 'Venta'
muestra = selloutGT1.head()  # Muestra de los primeros 5 registros
suma_ventas = selloutGT1['Venta'].sum()

print("Muestra del DataFrame:")
print(muestra)
print(f"\nSuma de la columna 'Venta': {suma_ventas}")

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
selloutGT1['Fuente'] = 'Sell Out MB51 - SISO'
selloutGT1['SI/SO'] = 'SO'

primer_dia_mes_anterior = (fecha_actual.replace(day=1) - timedelta(days=1)).replace(day=1)

# Crear una columna 'Mes' con el formato especificado
selloutGT1['Mes'] = primer_dia_mes_anterior.strftime('%Y-%m-%d')
selloutGT1.head(1)

In [ ]:
selloutGT1.dtypes

In [ ]:
sellout_concat.columns

In [ ]:
sellout_concat.tail(1)

In [ ]:
v1 = selloutGT1['Venta'].sum()
v1

In [ ]:
v1 = sellout_concat['Venta UMB'].sum()
v1

In [ ]:
# Renombrar columnas de selloutGT1 para facilitar el concatenado
selloutGT1.rename(columns={'Material S4': 'Material', 'Venta': 'Venta UMB', 'Cliente': 'Canal'}, inplace=True)

# Seleccionar solo las columnas necesarias de selloutGT1
selloutGT1 = selloutGT1[['Material', 'Venta UMB', 'Canal']]

# Concatenar los DataFrames
sellout_concat = pd.concat([sellout_concat, selloutGT1], ignore_index=True)

# Mostrar el DataFrame resultante
v3 = sellout_concat['Venta UMB'].sum()
v3

In [ ]:
sellout_concat.head(2)

In [ ]:
sellout_concat.tail(2)

SELLOUT MES ANTERIOR

In [ ]:
# Obtener el año y mes actual en el formato YYYY y MM
fecha_actual = pd.Timestamp.now()
año_actual = fecha_actual.year
mes_actual = fecha_actual.strftime("%m")

# Construir la ruta completa al directorio que contiene los archivos
ruta_base_usuario = os.path.expanduser("~")
ruta_directorio_base = os.path.join(ruta_base_usuario, "Inchcape", "Planificación y abastecimiento AFM - Documentos", "Planificación y Compras Ventas", "Venta Historica Mensual")
ruta_directorio = os.path.join(ruta_directorio_base, str(año_actual), f"{año_actual}-{mes_actual}")

# # Buscar el archivo que contiene "Sell In" en su nombre
# archivo_sellin = None
# for archivo in os.listdir(ruta_directorio):
#     if "Sell In" in archivo:
#         archivo_sellin = archivo
#         break

# Buscar el archivo que contiene "Sell Out" en su nombre
archivo_sellout = None
for archivo in os.listdir(ruta_directorio):
    if "Sell Out" in archivo and "GT" not in archivo:
        archivo_sellout = archivo
        break

# # Leer los archivos en dataframes si se encontraron
# if archivo_sellin:
#     ruta_archivo_sellin = os.path.join(ruta_directorio, archivo_sellin)
#     sellin = pd.read_excel(ruta_archivo_sellin, sheet_name="Sheet1")  # Leer la hoja "Sheet1"
#     print("Se leyó el archivo de Sell In:", ruta_archivo_sellin)
# else:
#     print("No se encontró ningún archivo con 'Sell In' en su nombre.")

if archivo_sellout:
    ruta_archivo_sellout = os.path.join(ruta_directorio, archivo_sellout)
    sellout = pd.read_excel(ruta_archivo_sellout, sheet_name="Sheet1")  # Leer la hoja "Sheet1"
    print("Se leyó el archivo de Sell Out:", ruta_archivo_sellout)
else:
    print("No se encontró ningún archivo con 'Sell Out' en su nombre.")

In [ ]:
sellout.columns