In [1]:
import pandas as pd

df = pd.read_csv("C:\\Users\\etorres.DERCOPARTS\\OneDrive - DERCO CHILE REPUESTOS SpA\\Downloads\\results.csv", delimiter=',', decimal=',')

In [2]:
df

,date,item,model,units,rmse,smape,accuracy,bias,lower,upper
0,2024-08-01,1007142|CL RETAIL|SO,anastasia,1.0,NaN,NaN,NaN,NaN,0.8726519,1.1273481
1,2024-09-01,1007142|CL RETAIL|SO,anastasia,1.0,NaN,NaN,NaN,NaN,0.8726519,1.1273481
2,2024-10-01,1007142|CL RETAIL|SO,anastasia,1.0,NaN,NaN,NaN,NaN,0.8726519,1.1273481
3,2024-11-01,1007142|CL RETAIL|SO,anastasia,1.0,NaN,NaN,NaN,NaN,0.8726519,1.1273481
4,2024-12-01,1007142|CL RETAIL|SO,anastasia,1.0,NaN,NaN,NaN,NaN,0.8726519,1.1273481
...,...,...,...,...,...,...,...,...,...,...
773612,2025-04-01,431078|CL CES 01|SI,anastasia,0.0,NaN,NaN,NaN,NaN,-0.072565526,0.072565526
773613,2025-05-01,431078|CL CES 01|SI,anastasia,0.0,NaN,NaN,NaN,NaN,-0.072565526,0.072565526
773614,2025-06-01,431078|CL CES 01|SI,anastasia,0.0,NaN,NaN,NaN,NaN,-0.072565526,0.072565526
773615,2025-07-01,431078|CL CES 01|SI,anastasia,0.0,NaN,NaN,NaN,NaN,-0.072565526,0.072565526
773616,2025-08-01,431078|CL CES 01|SI,anastasia,0.0,NaN,NaN,NaN,NaN,-0.072565526,0.072565526

In [3]:
df.to_excel("C:\\Users\\etorres.DERCOPARTS\\OneDrive - DERCO CHILE REPUESTOS SpA\\Downloads\\results.xlsx", index=False)