V1

In [1]:
# import pandas as pd
# from databricks import sql

# connection = sql.connect(
#     server_hostname="adb-8914414801116949.9.azuredatabricks.net",
#     http_path="/sql/1.0/warehouses/001e7dd02e3b1957",
#     access_token="dapi1629a7ae6bdcd3599400c554c4343e2f-3"
# )

# query = """
# WITH ventas_union AS (
#     SELECT 
#         CONCAT('01', SUBSTRING(`Fecha de Emision2`, 3)) AS `Fecha de Emision2_Modificada`, 
#         `Cod. Tienda`, 
#         `Tienda`, 
#         `Moneda local`, 
#         `Material RT`, 
#         `Descr Material RT`, 
#         `Total Sin Descuento`, 
#         `Venta Neta`, 
#         `Importe del impuesto`, 
#         `Total con Descuento 09`, 
#         `Precio Unitario`, 
#         `Margen Contribución`, 
#         `Costo Neto`, 
#         `Margen Contrib. %`, 
#         `Cantidad de Venta`, 
#         `Concepto de Venta`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN `Venta Neta` / `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Precio UN`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN `Costo Neto` / `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Costo UN`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN (`Venta Neta` / `Cantidad de Venta`) * `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Precio Total`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN (`Costo Neto` / `Cantidad de Venta`) * `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Costo Total`
#     FROM sapbw.public.car_cp001_q001_2023
#     WHERE `Concepto de Venta` != 'Devolución' AND `Cantidad de Venta` > 0

#     UNION ALL

#     SELECT 
#         CONCAT('01', SUBSTRING(`Fecha de Emision2`, 3)) AS `Fecha de Emision2_Modificada`, 
#         `Cod. Tienda`, 
#         `Tienda`, 
#         `Moneda local`, 
#         `Material RT`, 
#         `Descr Material RT`, 
#         `Total Sin Descuento`, 
#         `Venta Neta`, 
#         `Importe del impuesto`, 
#         `Total con Descuento 09`, 
#         `Precio Unitario`, 
#         `Margen Contribución`, 
#         `Costo Neto`, 
#         `Margen Contrib. %`, 
#         `Cantidad de Venta`, 
#         `Concepto de Venta`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN `Venta Neta` / `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Precio UN`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN `Costo Neto` / `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Costo UN`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN (`Venta Neta` / `Cantidad de Venta`) * `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Precio Total`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN (`Costo Neto` / `Cantidad de Venta`) * `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Costo Total`
#     FROM sapbw.public.car_cp001_q001_2024
#     WHERE `Concepto de Venta` != 'Devolución' AND `Cantidad de Venta` > 0
# )

# SELECT 
#     v.*, 
#     SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`) AS `UN Total Mes`,
#     CASE 
#         WHEN SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`) > 0 
#         THEN v.`Costo Total` / SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`)
#         ELSE 0
#     END AS `Costo Total Ponderado`,
#     CASE 
#         WHEN SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`) > 0 
#         THEN v.`Precio Total` / SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`)
#         ELSE 0
#     END AS `Precio Total Ponderado`
# FROM ventas_union v;
# """

# df = pd.read_sql(query, connection)
# connection.close()

## V2 = TIPO DE CLIENTE = TODOS

In [1]:
import pandas as pd
from databricks import sql

connection = sql.connect(
    server_hostname="adb-8914414801116949.9.azuredatabricks.net",
    http_path="/sql/1.0/warehouses/001e7dd02e3b1957",
    access_token="dapi1629a7ae6bdcd3599400c554c4343e2f-3"
)

query = """
WITH ventas_union AS (
    SELECT 
        CONCAT('01', SUBSTRING(`Fecha de Emision2`, 3)) AS `Fecha de Emision2_Modificada`, 
        `Cod. Tienda`, 
        `Tienda`, 
        `Moneda local`, 
        sap.`Material RT` AS `RT1`,  -- Renamed 'Material RT' to 'RT1'
        COALESCE(picps.`Ultimo_eslabon`, sap.`Material RT`) AS `Material RT`,  -- Brought in 'Ultimo_eslabon' and renamed it to 'Material RT'
        `Descr Material RT`, 
        `Total Sin Descuento`, 
        `Venta Neta`, 
        `Importe del impuesto`, 
        `Total con Descuento 09`, 
        `Precio Unitario`, 
        `Margen Contribución`, 
        `Costo Neto`, 
        `Margen Contrib. %`, 
        `Cantidad de Venta`, 
        `Concepto de Venta`, 
        CASE 
            WHEN `Cantidad de Venta` > 0 THEN `Venta Neta` / `Cantidad de Venta`
            ELSE NULL 
        END AS `Precio UN`, 
        CASE 
            WHEN `Cantidad de Venta` > 0 THEN `Costo Neto` / `Cantidad de Venta`
            ELSE NULL 
        END AS `Costo UN`, 
        CASE 
            WHEN `Cantidad de Venta` > 0 THEN (`Venta Neta` / `Cantidad de Venta`) * `Cantidad de Venta`
            ELSE NULL 
        END AS `Precio Total`, 
        CASE 
            WHEN `Cantidad de Venta` > 0 THEN (`Costo Neto` / `Cantidad de Venta`) * `Cantidad de Venta`
            ELSE NULL 
        END AS `Costo Total`
    FROM sapbw.public.car_cp001_q001_2023 AS sap
    LEFT JOIN dercoparts.curated.tbl_saprt_f_picps AS picps
        ON sap.`Material RT` = picps.`Material`
    WHERE `Concepto de Venta` != 'Devolución' AND `Cantidad de Venta` > 0

    UNION ALL

    SELECT 
        CONCAT('01', SUBSTRING(`Fecha de Emision2`, 3)) AS `Fecha de Emision2_Modificada`, 
        `Cod. Tienda`, 
        `Tienda`, 
        `Moneda local`, 
        sap.`Material RT` AS `RT1`,  -- Renamed 'Material RT' to 'RT1'
        COALESCE(picps.`Ultimo_eslabon`, sap.`Material RT`) AS `Material RT`,  -- Brought in 'Ultimo_eslabon' and renamed it to 'Material RT'
        `Descr Material RT`, 
        `Total Sin Descuento`, 
        `Venta Neta`, 
        `Importe del impuesto`, 
        `Total con Descuento 09`, 
        `Precio Unitario`, 
        `Margen Contribución`, 
        `Costo Neto`, 
        `Margen Contrib. %`, 
        `Cantidad de Venta`, 
        `Concepto de Venta`, 
        CASE 
            WHEN `Cantidad de Venta` > 0 THEN `Venta Neta` / `Cantidad de Venta`
            ELSE NULL 
        END AS `Precio UN`, 
        CASE 
            WHEN `Cantidad de Venta` > 0 THEN `Costo Neto` / `Cantidad de Venta`
            ELSE NULL 
        END AS `Costo UN`, 
        CASE 
            WHEN `Cantidad de Venta` > 0 THEN (`Venta Neta` / `Cantidad de Venta`) * `Cantidad de Venta`
            ELSE NULL 
        END AS `Precio Total`, 
        CASE 
            WHEN `Cantidad de Venta` > 0 THEN (`Costo Neto` / `Cantidad de Venta`) * `Cantidad de Venta`
            ELSE NULL 
        END AS `Costo Total`
    FROM sapbw.public.car_cp001_q001_2024 AS sap
    LEFT JOIN dercoparts.curated.tbl_saprt_f_picps AS picps
        ON sap.`Material RT` = picps.`Material`
    WHERE `Concepto de Venta` != 'Devolución' AND `Cantidad de Venta` > 0
)

SELECT 
    v.*, 
    SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`) AS `UN Total Mes`,
    CASE 
        WHEN SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`) > 0 
        THEN v.`Costo Total` / SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`)
        ELSE 0
    END AS `Costo Total Ponderado`,
    CASE 
        WHEN SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`) > 0 
        THEN v.`Precio Total` / SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`)
        ELSE 0
    END AS `Precio Total Ponderado`
FROM ventas_union v;
"""

df = pd.read_sql(query, connection)
connection.close()

C:\Users\etorres.DERCOPARTS\AppData\Local\Temp\ipykernel_26468\2243008713.py:109: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, connection)

## V3 = TIPO DE CLIENTE = "NORMAL" y NONE

In [3]:
# import pandas as pd
# from databricks import sql

# # Conexión a Databricks
# connection = sql.connect(
#     server_hostname="adb-8914414801116949.9.azuredatabricks.net",
#     http_path="/sql/1.0/warehouses/001e7dd02e3b1957",
#     access_token="dapi1629a7ae6bdcd3599400c554c4343e2f-3"
# )

# # Consulta SQL ajustada para incluir 'NORMAL' y None en el tipo de cliente
# query = """
# WITH ventas_union AS (
#     SELECT 
#         CONCAT('01', SUBSTRING(`Fecha de Emision2`, 3)) AS `Fecha de Emision2_Modificada`, 
#         `Cod. Tienda`, 
#         `Tienda`, 
#         `Moneda local`, 
#         sap.`Material RT` AS `RT1`,  
#         COALESCE(picps.`Ultimo_eslabon`, sap.`Material RT`) AS `Material RT`,  
#         `Descr Material RT`, 
#         `Total Sin Descuento`, 
#         `Venta Neta`, 
#         `Importe del impuesto`, 
#         `Total con Descuento 09`, 
#         `Precio Unitario`, 
#         `Margen Contribución`, 
#         `Costo Neto`, 
#         `Margen Contrib. %`, 
#         `Cantidad de Venta`, 
#         `Concepto de Venta`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN `Venta Neta` / `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Precio UN`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN `Costo Neto` / `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Costo UN`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN (`Venta Neta` / `Cantidad de Venta`) * `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Precio Total`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN (`Costo Neto` / `Cantidad de Venta`) * `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Costo Total`
#     FROM sapbw.public.car_cp001_q001_2023 AS sap
#     LEFT JOIN dercoparts.curated.tbl_saprt_f_picps AS picps
#         ON sap.`Material RT` = picps.`Material`
#     WHERE `Concepto de Venta` != 'Devolución' 
#       AND `Cantidad de Venta` > 0 
#       AND (`Tipo de cliente` = 'NORMAL' OR `Tipo de cliente` IS NULL)

#     UNION ALL

#     SELECT 
#         CONCAT('01', SUBSTRING(`Fecha de Emision2`, 3)) AS `Fecha de Emision2_Modificada`, 
#         `Cod. Tienda`, 
#         `Tienda`, 
#         `Moneda local`, 
#         sap.`Material RT` AS `RT1`,  
#         COALESCE(picps.`Ultimo_eslabon`, sap.`Material RT`) AS `Material RT`,  
#         `Descr Material RT`, 
#         `Total Sin Descuento`, 
#         `Venta Neta`, 
#         `Importe del impuesto`, 
#         `Total con Descuento 09`, 
#         `Precio Unitario`, 
#         `Margen Contribución`, 
#         `Costo Neto`, 
#         `Margen Contrib. %`, 
#         `Cantidad de Venta`, 
#         `Concepto de Venta`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN `Venta Neta` / `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Precio UN`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN `Costo Neto` / `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Costo UN`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN (`Venta Neta` / `Cantidad de Venta`) * `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Precio Total`, 
#         CASE 
#             WHEN `Cantidad de Venta` > 0 THEN (`Costo Neto` / `Cantidad de Venta`) * `Cantidad de Venta`
#             ELSE NULL 
#         END AS `Costo Total`
#     FROM sapbw.public.car_cp001_q001_2024 AS sap
#     LEFT JOIN dercoparts.curated.tbl_saprt_f_picps AS picps
#         ON sap.`Material RT` = picps.`Material`
#     WHERE `Concepto de Venta` != 'Devolución' 
#       AND `Cantidad de Venta` > 0 
#       AND (`Tipo de cliente` = 'NORMAL' OR `Tipo de cliente` IS NULL)
# )

# SELECT 
#     v.*, 
#     SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`) AS `UN Total Mes`,
#     CASE 
#         WHEN SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`) > 0 
#         THEN v.`Costo Total` / SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`)
#         ELSE 0
#     END AS `Costo Total Ponderado`,
#     CASE 
#         WHEN SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`) > 0 
#         THEN v.`Precio Total` / SUM(v.`Cantidad de Venta`) OVER (PARTITION BY v.`Fecha de Emision2_Modificada`, v.`Material RT`)
#         ELSE 0
#     END AS `Precio Total Ponderado`
# FROM ventas_union v;
# """

# # Ejecutar la consulta y almacenar los resultados en un DataFrame
# df = pd.read_sql(query, connection)

# # Cerrar la conexión
# connection.close()

In [2]:
df['Material RT'] = df['Material RT'].astype(str).str.lstrip('0')
# 7514281 rows × 24 columns
# 9806986 rows × 24 columns
df.head(1)

,Fecha de Emision2_Modificada,Cod. Tienda,Tienda,Moneda local,RT1,Material RT,Descr Material RT,Total Sin Descuento,Venta Neta,Importe del impuesto,...,Margen Contrib. %,Cantidad de Venta,Concepto de Venta,Precio UN,Costo UN,Precio Total,Costo Total,UN Total Mes,Costo Total Ponderado,Precio Total Ponderado
0,01.01.2023,TI0447,AP0039-San Fernando,CLP,000000000000100780,100780,FILTRO AIRE MANN C2483,9990.0,7555.0,1436.0,...,55.857048,1.0,2001,7555.0,3335.0,7555.0,3335.0,2.0,1667.5,3777.5

In [5]:
# df_bruto=df
# ruta_excel2 = r"C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Scripts\Prices\Margen\df_bruto.xlsx"
# df_bruto.to_excel(ruta_excel2)

In [3]:
df_agrupado = df.groupby(['Fecha de Emision2_Modificada', 'Material RT']).agg(
    Precio_Total_Ponderado=('Precio Total Ponderado', 'sum'),
    Costo_Total_Ponderado=('Costo Total Ponderado', 'sum')
).reset_index()
df_agrupado['Margen'] = (df_agrupado['Precio_Total_Ponderado'] - df_agrupado['Costo_Total_Ponderado']) / df_agrupado['Precio_Total_Ponderado']

In [7]:
df_agrupado

,Fecha de Emision2_Modificada,Material RT,Precio_Total_Ponderado,Costo_Total_Ponderado,Margen
0,01.01.2023,1000144,3467.519481,1486.389610,0.571339
1,01.01.2023,1000147,4527.456790,4300.296296,0.050174
2,01.01.2023,1000148,3936.162791,3814.947674,0.030795
3,01.01.2023,1000149,8441.392453,3529.652830,0.581864
4,01.01.2023,1000150,8361.901468,4065.129979,0.513851
...,...,...,...,...,...
240800,01.12.2023,747528,5706.000000,3139.000000,0.449877
240801,01.12.2023,750791,15117.500000,5829.000000,0.614420
240802,01.12.2023,750803,9037.428571,2887.285714,0.680519
240803,01.12.2023,752466,359655.666667,253962.000000,0.293875
240804,01.12.2023,999997,1.000000,0.000000,1.000000

# GUARDAR Agrupado

In [4]:
df_agrupers= df_agrupado
ruta_excel2 = r"C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentoss\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Scripts\Prices\Margen\Margen_Todos_Clientes02-12-2024.xlsx"
df_agrupers.to_excel(ruta_excel2)

In [9]:
ruta_parquet_agrupado = r"C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentoss\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Scripts\Prices\Margen\Margen_Todos_Clientes.parquet"
df_agrupado.to_parquet(ruta_parquet_agrupado)

# GUARDADO

In [5]:
ruta_parquet = r"C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentoss\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Scripts\Prices\Margen\datos_completos.parquet"
df.to_parquet(ruta_parquet)

In [ ]:
# df_subset = df.head(100000)
# ruta_excel_subset = r"C:\Users\etorres.DERCOPARTS\DERCO CHILE REPUESTOS SpA\Planificación y abastecimiento - Documentos\Planificación y Compras AFM\S&OP Demanda\Codigos Demanda\Scripts\Prices\Margen\primeras_100000_filas.xlsx"
# df_subset.to_excel(ruta_excel_subset, index=False)
# print("Primeras 100,000 filas guardadas en:", ruta_excel_subset)