Librerías a Utilizar para Sell In

In [1]:
import pandas as pd
import datetime
import os
import numpy as np
import os
import pandas as pd
import datetime
import glob

In [2]:
usuario = os.path.expanduser('~').split('\\')[-1]
año_actual = datetime.datetime.now().year
mes_actual = datetime.datetime.now().strftime('%m')

ruta_directorio = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\{año_actual}\\{año_actual}-{mes_actual}\\MaestrosCSV\\"
archivos_mara = glob.glob(os.path.join(ruta_directorio, "*MARA*.csv"))

if archivos_mara:
    archivo_mara = archivos_mara[0]
    mara = pd.read_csv(archivo_mara, sep=';')
else:
    print("No se encontró ningún archivo que contenga 'MARA' en el nombre en el directorio especificado.")

C:\Users\idiazo.DERCOPARTS\AppData\Local\Temp\ipykernel_16504\1294233254.py:10: DtypeWarning: Columns (3,11) have mixed types. Specify dtype option on import or set low_memory=False.
  mara = pd.read_csv(archivo_mara, sep=';')

In [4]:
mara

,Material_S4,Material_dsc,Tipo_material,Grupo_articulos,Material_R3,UM_base,Sector_MU,Nombre Sector,Tipo_material_mu,Part_number,...,Jquia_prod_MU,Jquia_prod,Art_familia,Art_subfamilia,Art_categoria,Art_subcategoria,GpoArt_grupo,L,GpoArt_subcategoria,GpoArt_partype
0,165571,"CABLE MINI AUDIO EXTREME 3,5MM 6FT AZUL",ZART,10101001,50901,UN,48,ACC,ZREP,[#]50901,...,3E+16,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
1,672246,CODIGO MALO,ZART,10101001,CODIGO MALO 672246,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672246,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
2,672252,CODIGO MALO,ZART,10101001,CODIGO MALO 672252,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672252,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
3,672253,CODIGO MALO,ZART,10101001,CODIGO MALO 672253,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672253,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
4,672543,CODIGO MALO,ZART,10101001,CODIGO MALO 672543,UN,48,ACC,ZREP,[#]PARTNUMBER MALO 672543,...,CODIGO MALO,NaN,NaN,NaN,NaN,NaN,ACCESORIOS,ACCESORIOS,ACCESORIOS ELECTRONICOS,ADAPTADOR CARGADOR DE CELULAR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
451590,4000191,ALIANZA GASCO,ZSEV,SERVICIOS,ALIANZA_GASCO,UN,SV,Sin Info,NaN,[#]ALIANZA_GASCO,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIOS DE VENTA,GIF CARD,NaN,NaN,NaN,NaN
451591,4000192,VENTA MERCADOLIBRE,ZSEV,SERVICIOS,VENTA_MERCADOLIBRE,UN,SV,Sin Info,NaN,[#]VENTA_MERCADOLIBRE,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIOS DE VENTA,GIF CARD,NaN,NaN,NaN,NaN
451592,4000163,INSTALACION DE PLUMILLAS TIENDAS,ZSEV,SERVICIOS,INST_PLUM_TIENDA,UN,0,Sector Comun,NaN,[#]INST_PLUM_TIENDA,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIO TALLER,INSTALACION DE PLUMILLAS,NaN,NaN,NaN,NaN
451593,4000164,INSTALACION DE AMPOLLETAS TIENDAS,ZSEV,SERVICIOS,INST_AMP_TIENDA,UN,SV,Sin Info,NaN,[#]INST_AMP_TIENDA,...,NaN,NaN,INSUMOS Y SERVICIOS,SERVICIOS,SERVICIO TALLER,INSTALACION DE AMPOLLETAS,NaN,NaN,NaN,NaN
451594,4000140,AJUSTE POR PROMOCION,ZSEV,SERVICIOS,AJUSTEPORPROMOCION,UN,0,Sector Comun,ZSEV,[#]432170,...,432170,NaN,INSUMOS Y SERVICIOS,INSUMOS,INSUMOS VARIOS,INSUMOS VARIOS,NaN,NaN,NaN,NaN

In [3]:
archivo_mara

'C:\\Users\\idiazo.DERCOPARTS\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\2024\\2024-10\\MaestrosCSV\\MARA_S4_20241001.csv'

In [5]:
usuario = os.path.expanduser('~').split('\\')[-1]
fecha_baja = "14102024"
fecha_alta = "20102024"

vbssellin = f"C:\\Users\\{usuario}\\OneDrive - DERCO CHILE REPUESTOS SpA\\Escritorio\\MB51SELLIN.vbs"

vbsscript = f"""
If Not IsObject(application) Then
   Set SapGuiAuto  = GetObject("SAPGUI")
   Set application = SapGuiAuto.GetScriptingEngine
End If
If Not IsObject(connection) Then
   Set connection = application.Children(0)
End If
If Not IsObject(session) Then
   Set session    = connection.Children(0)
End If
If IsObject(WScript) Then
   WScript.ConnectObject session,     "on"
   WScript.ConnectObject application, "on"
End If
session.findById("wnd[0]").maximize
session.findById("wnd[0]/tbar[0]/okcd").text = "mb51"
session.findById("wnd[0]").sendVKey 0
session.findById("wnd[0]/tbar[1]/btn[17]").press
session.findById("wnd[1]/usr/txtV-LOW").text = "vtasellin"
session.findById("wnd[1]/usr/txtENAME-LOW").text = "etorres"
session.findById("wnd[1]/usr/txtV-LOW").caretPosition = 9
session.findById("wnd[1]/tbar[0]/btn[8]").press
session.findById("wnd[0]/usr/ctxtBUDAT-LOW").text = "{fecha_baja}"
session.findById("wnd[0]/usr/ctxtBUDAT-HIGH").text = "{fecha_alta}"
session.findById("wnd[0]/usr/ctxtBUDAT-HIGH").setFocus
session.findById("wnd[0]/usr/ctxtBUDAT-HIGH").caretPosition = 8
session.findById("wnd[0]/tbar[1]/btn[8]").press
session.findById("wnd[0]/mbar/menu[0]/menu[1]/menu[2]").select
session.findById("wnd[1]/usr/subSUBSCREEN_STEPLOOP:SAPLSPO5:0150/sub:SAPLSPO5:0150/radSPOPLI-SELFLAG[1,0]").select
session.findById("wnd[1]/usr/subSUBSCREEN_STEPLOOP:SAPLSPO5:0150/sub:SAPLSPO5:0150/radSPOPLI-SELFLAG[1,0]").setFocus
session.findById("wnd[1]/tbar[0]/btn[0]").press
session.findById("wnd[1]/usr/ctxtDY_PATH").text = "C:\\Users\\{usuario}\\OneDrive - DERCO CHILE REPUESTOS SpA\\Escritorio\\"
session.findById("wnd[1]/usr/ctxtDY_FILENAME").text = "VENTASELLIN.CSV"
session.findById("wnd[1]/usr/ctxtDY_FILENAME").caretPosition = 15
session.findById("wnd[1]/tbar[0]/btn[11]").press
session.findById("wnd[0]").sendVKey 3
session.findById("wnd[0]").sendVKey 3
"""

with open(vbssellin, 'w') as file:
    file.write(vbsscript)

print("Script VBA guardado exitosamente en:", vbssellin)

os.system(f'start "" "{vbssellin}"')

Script VBA guardado exitosamente en: C:\Users\idiazo.DERCOPARTS\OneDrive - DERCO CHILE REPUESTOS SpA\Escritorio\MB51SELLIN.vbs

0

In [6]:
import os
import pandas as pd

usuario = os.path.expanduser('~').split('\\')[-1]
archivo = f"C:\\Users\\{usuario}\\OneDrive - DERCO CHILE REPUESTOS SpA\\Escritorio\\VENTASELLIN.CSV"

df = pd.read_csv(
    archivo,
    delimiter='\t',
    skiprows=2,
    encoding='latin-1',
    low_memory=False,
    thousands='.',   # Especifica el separador de miles
    decimal=',',     # Especifica el separador decimal
    dtype={'Fe.contab.': str}  # Especifica el tipo de dato de la columna
)

In [7]:
sumax=df['Cantidad'].sum()
sumax

np.float64(-255907.0)

In [8]:
df.head(1)

,Unnamed: 0,Unnamed: 1,Ce.,Material,Texto breve de material,CMv,Doc.mat.,Fe.contab.,Ctd.en UME,UME,...,Mon.,Cantidad,Ctd.en,Ctd.UMPP,Pedido,Texto de clase-mov.,UMP,UMB,UMP.1,Cliente
0,NaN,NaN,714.0,100494.0,W920/21 F.AC.MANN,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN

In [9]:

df['Cantidad'] = df['Cantidad'].astype(float)
total_cantidad = df['Cantidad'].sum()
total_cantidad

np.float64(-255907.0)

In [10]:
df = df.iloc[:-2]
df

,Unnamed: 0,Unnamed: 1,Ce.,Material,Texto breve de material,CMv,Doc.mat.,Fe.contab.,Ctd.en UME,UME,...,Mon.,Cantidad,Ctd.en,Ctd.UMPP,Pedido,Texto de clase-mov.,UMP,UMB,UMP.1,Cliente
0,NaN,NaN,714.0,100494.0,W920/21 F.AC.MANN,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
1,NaN,NaN,714.0,100842.0,FILTRO.COMB MANN FILTER WK66,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
2,NaN,NaN,714.0,100842.0,FILTRO.COMB MANN FILTER WK66,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
3,NaN,NaN,714.0,101083.0,FIL COMB MANN PU1021X,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
4,NaN,NaN,714.0,101086.0,FILTRO.COMB MANN FILTER P732X,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28076,NaN,NaN,714.0,1171261.0,NEUM KUMHO 225/60R17 V04L HP71,643.0,4.905949e+09,20.10.2024,-4,UN,...,CLP,-4.0,-4.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
28077,NaN,NaN,714.0,1171264.0,NEUM KUMHO 205/60R16 H04L ES31,643.0,4.905949e+09,20.10.2024,-3,UN,...,CLP,-3.0,-3.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
28078,NaN,NaN,714.0,1171264.0,NEUM KUMHO 205/60R16 H04L ES31,643.0,4.905949e+09,20.10.2024,-4,UN,...,CLP,-4.0,-4.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
28079,NaN,NaN,714.0,1171400.0,NEUM KUMHO 175/70R14 T04L ES31,643.0,4.905949e+09,20.10.2024,-4,UN,...,CLP,-4.0,-4.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
28080,NaN,NaN,714.0,1171585.0,DISCO DE FRENOS RFC 0301040RBD067,643.0,4.905949e+09,20.10.2024,-2,UN,...,CLP,-2.0,-2.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN

In [11]:
df.dtypes

Unnamed: 0                 float64
Unnamed: 1                  object
Ce.                        float64
Material                   float64
Texto breve de material     object
CMv                        float64
Doc.mat.                   float64
Fe.contab.                  object
   Ctd.en UME                int64
UME                         object
     Importe ML            float64
Mon.                        object
Cantidad                   float64
 Ctd.en                    float64
Ctd.UMPP                   float64
Pedido                     float64
Texto de clase-mov.         object
UMP                        float64
UMB                         object
UMP.1                       object
Cliente                     object
dtype: object

In [12]:
df_sellin=df

# Filtrar y sumar la columna 'Cantidad' cuando 'Material' es igual a 120813
suma_cantidad = df_sellin[df_sellin['Material'] == 120813]['Cantidad'].sum()

print(f"La suma de 'Cantidad' cuando 'Material' es igual a 120813 es: {suma_cantidad}")

La suma de 'Cantidad' cuando 'Material' es igual a 120813 es: -132.0

In [13]:
import pandas as pd

# Supongamos que ya tienes el DataFrame df_sellin cargado y limpio

# Convertir la columna 'Material' a numérica para poder hacer la comparación
df_sellin['Material'] = pd.to_numeric(df_sellin['Material'], errors='coerce')

# Filtrar y sumar la columna 'Cantidad' cuando 'Material' es igual a 120813
suma_cantidad = df_sellin[df_sellin['Material'] == 1019615]['Cantidad'].sum()

print(f"La suma de 'Cantidad' cuando 'Material' es igual a es: {suma_cantidad}")

La suma de 'Cantidad' cuando 'Material' es igual a es: 0.0

In [14]:
df_sellin.head()

,Unnamed: 0,Unnamed: 1,Ce.,Material,Texto breve de material,CMv,Doc.mat.,Fe.contab.,Ctd.en UME,UME,...,Mon.,Cantidad,Ctd.en,Ctd.UMPP,Pedido,Texto de clase-mov.,UMP,UMB,UMP.1,Cliente
0,NaN,NaN,714.0,100494.0,W920/21 F.AC.MANN,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
1,NaN,NaN,714.0,100842.0,FILTRO.COMB MANN FILTER WK66,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
2,NaN,NaN,714.0,100842.0,FILTRO.COMB MANN FILTER WK66,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
3,NaN,NaN,714.0,101083.0,FIL COMB MANN PU1021X,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
4,NaN,NaN,714.0,101086.0,FILTRO.COMB MANN FILTER P732X,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN

In [15]:
df_sellin['Material'] = df_sellin['Material'].astype(str).str.replace(r'\.0$', '', regex=True)
df_sellin['Material'] = df_sellin['Material'].astype(str)
df_sellin.head(2)

,Unnamed: 0,Unnamed: 1,Ce.,Material,Texto breve de material,CMv,Doc.mat.,Fe.contab.,Ctd.en UME,UME,...,Mon.,Cantidad,Ctd.en,Ctd.UMPP,Pedido,Texto de clase-mov.,UMP,UMB,UMP.1,Cliente
0,NaN,NaN,714.0,100494,W920/21 F.AC.MANN,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN
1,NaN,NaN,714.0,100842,FILTRO.COMB MANN FILTER WK66,643.0,4.905942e+09,14.10.2024,-1,UN,...,CLP,-1.0,-1.0,NaN,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN

In [16]:
num_filas = len(df_sellin)

print("El número de filas en el DataFrame es:", num_filas)

El número de filas en el DataFrame es: 28081

In [17]:
import os
import pandas as pd
import datetime
import glob

usuario = os.path.expanduser('~').split('\\')[-1]
año_actual = datetime.datetime.now().year
mes_actual = datetime.datetime.now().strftime('%m')

ruta_directorio = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\{año_actual}\\{año_actual}-{mes_actual}\\MaestrosCSV\\"
archivos_cod = glob.glob(os.path.join(ruta_directorio, "*COD*.csv"))

if archivos_cod:
    archivo_cod = archivos_cod[0]
    ultimoeslabon = pd.read_csv(archivo_cod, delimiter=';', encoding='latin-1', decimal=',')
else:
    print("No se encontró ningún archivo que contenga 'COD' en el nombre en el directorio especificado.")

In [18]:
ruta_directorio

'C:\\Users\\idiazo.DERCOPARTS\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\2024\\2024-10\\MaestrosCSV\\'

In [19]:
archivos_cod

['C:\\Users\\idiazo.DERCOPARTS\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\2024\\2024-10\\MaestrosCSV\\COD_ACTUAL_S4_20241001.csv']

In [20]:
ultimoeslabon

,Clave PIC,NÂº sec.,Nro_pieza_fabricante_1,Cod_Actual_1,Nro_pieza_fabricante,Cod_actual,VÃ¡l.desde,Estado
0,0050569B923C1ED9918211FCBAC87849,1,102288,582655,[#]102288,[#]582655,NaN,INACT
1,0050569B923C1ED9918211FCBAC87849,2,501216,582655,[#]501216,[#]582655,13.08.2009,INACT
2,0050569B923C1ED9918211FCBAC87849,3,582655,582655,[#]582655,[#]582655,19.04.2018,ACT
3,0050569B923C1ED991821218F7489849,1,167639,580659,[#]167639,[#]580659,NaN,INACT
4,0050569B923C1ED991821218F7489849,2,580659,580659,[#]580659,[#]580659,11.09.2015,ACT
...,...,...,...,...,...,...,...,...
93412,0050569BA1371EEF9ABE0B069552D23E,2,1171603,1171603,[#]1171603,[#]1171603,03.09.2024,ACT
93413,0050569BA1371EEF9ABE269A79B4D23E,1,120398,1171609,[#]120398,[#]1171609,NaN,INACT
93414,0050569BA1371EEF9ABE269A79B4D23E,2,1171609,1171609,[#]1171609,[#]1171609,03.09.2024,ACT
93415,0050569BA1371EEF9ABE57ED1929123E,1,1006570,1171610,[#]1006570,[#]1171610,NaN,INACT
93416,0050569BA1371EEF9ABE57ED1929123E,2,1171610,1171610,[#]1171610,[#]1171610,03.09.2024,ACT

In [21]:
ultimoeslabon['Nro_pieza_fabricante_1'] = ultimoeslabon['Nro_pieza_fabricante_1'].astype(str)
ultimoeslabon['Cod_Actual_1'] = ultimoeslabon['Cod_Actual_1'].astype(str)

In [22]:
ultimoeslabon = ultimoeslabon.loc[:, ['Nro_pieza_fabricante_1', 'Cod_Actual_1']]
ultimoeslabon.head(1)

  Nro_pieza_fabricante_1 Cod_Actual_1
0                 102288       582655

In [23]:
df_sellin = df_sellin.merge(ultimoeslabon[['Nro_pieza_fabricante_1', 'Cod_Actual_1']], how='left', left_on='Material', right_on='Nro_pieza_fabricante_1')

In [24]:
df_sellin['Cod_Actual_1'] = df_sellin['Cod_Actual_1'].fillna(df_sellin['Material'])
df_sellin = df_sellin.drop(columns=['Nro_pieza_fabricante_1'])

In [25]:
df_sellin.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Ce.', 'Material',
       'Texto breve de material', 'CMv', 'Doc.mat.', 'Fe.contab.',
       '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.', 'Cantidad',
       ' Ctd.en', 'Ctd.UMPP', 'Pedido', 'Texto de clase-mov.', 'UMP', 'UMB',
       'UMP.1', 'Cliente', 'Cod_Actual_1'],
      dtype='object')

In [26]:

df_sellin.rename(columns={'Cod_Actual_1': 'Ult.Eslabón'}, inplace=True)

In [27]:
# mara.rename(columns={'Nombre_Sector': 'Nombre Sector'}, inplace=True)
# mara

In [28]:
mara2 = mara[['Material_S4', 'Sector_MU', 'Nombre Sector']]

In [29]:
mara2.columns

Index(['Material_S4', 'Sector_MU', 'Nombre Sector'], dtype='object')

Continuamos con el merge de la mara y los demás pasos

In [30]:
df_sellin = pd.merge(df_sellin, mara2, left_on='Ult.Eslabón', right_on='Material_S4', how='left')

In [31]:
df_sellin.head(2)

,Unnamed: 0,Unnamed: 1,Ce.,Material,Texto breve de material,CMv,Doc.mat.,Fe.contab.,Ctd.en UME,UME,...,Pedido,Texto de clase-mov.,UMP,UMB,UMP.1,Cliente,Ult.Eslabón,Material_S4,Sector_MU,Nombre Sector
0,NaN,NaN,714.0,100494,W920/21 F.AC.MANN,643.0,4.905942e+09,14.10.2024,-1,UN,...,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN,100494,100494,29,RALT
1,NaN,NaN,714.0,100842,FILTRO.COMB MANN FILTER WK66,643.0,4.905942e+09,14.10.2024,-1,UN,...,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,NaN,100842,100842,29,RALT

In [32]:
num_filas = len(df_sellin)

print("El número de filas en el DataFrame es:", num_filas)

El número de filas en el DataFrame es: 28081

In [33]:
df_sellin.drop(columns=['Material_S4'], inplace=True)
df_sellin.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Ce.', 'Material',
       'Texto breve de material', 'CMv', 'Doc.mat.', 'Fe.contab.',
       '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.', 'Cantidad',
       ' Ctd.en', 'Ctd.UMPP', 'Pedido', 'Texto de clase-mov.', 'UMP', 'UMB',
       'UMP.1', 'Cliente', 'Ult.Eslabón', 'Sector_MU', 'Nombre Sector'],
      dtype='object')

In [34]:
df_sellin.drop(columns=['Unnamed: 0', 'Unnamed: 1'], inplace=True)

In [35]:
num_filas = len(df_sellin)
num_filas

28081

In [39]:


usuario = os.path.expanduser('~').split('\\')[-1]
año_actual = datetime.datetime.now().year
mes_actual = datetime.datetime.now().strftime('%m')
dia_actual = datetime.datetime.now().strftime('%d')

ruta_directorio = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\{año_actual}\\{año_actual}-{mes_actual}\\"
archivo_excel = f"01.{mes_actual}.{año_actual} Cliente - Canal - Sector.xlsx"

ruta_excel_completa = os.path.join(ruta_directorio, archivo_excel)

df_basecliente = pd.read_excel(ruta_excel_completa, sheet_name='BaseCliente')

In [41]:
df_basecliente

,Solicitante RT,N S,Oficina de ventas,N Of,Canal,Sociedad R3,No Cambiar Canal,Oficina de ventas Enero,Oficina de ventas Enero.1,Canal Update Enero,...,Canal Update Julio,Oficina de ventas Agosto,N Of Agosto,Canal Update Agosto,Oficina de ventas Septiembre,N Of Septiembre,Canal Update Septiembre,Oficina de ventas Octubre,N Of Octubre,Canal Update Octubre
0,3243,Ilustre Municipalidad De Cañete,M003,Convenios,FyC 03,NaN,NaN,M003,Convenios,FyC 03,...,FyC 03,M003,Convenios,FyC 03,M003,Convenios,FyC 03,M003,Convenios,FyC 03
1,3247,AUTOMOTRIZ NICOLAS LTDA.,M001,Concesionarios,CES 01,C025,NaN,M001,Concesionarios,CES 01,...,CES 01,M001,Concesionarios,CES 01,M001,Concesionarios,CES 01,M001,Concesionarios,CES 01
2,3249,Soc De Gestion Mediterranea Ltda,M004,May Aftermarket,May AFM,NaN,NaN,M004,May Aftermarket,May AFM,...,May AFM,M004,May Aftermarket,May AFM,M004,May Aftermarket,May AFM,M004,May Aftermarket,May AFM
3,3256,CAR LEASING S.A.,M004,May Aftermarket,May AFM,NaN,NaN,M004,May Aftermarket,May AFM,...,May AFM,M004,May Aftermarket,May AFM,M004,May Aftermarket,May AFM,M004,May Aftermarket,May AFM
4,3262,Soc Comercial Acevedo Limitada,M004,May Aftermarket,May AFM,NaN,NaN,M004,May Aftermarket,May AFM,...,May AFM,M004,May Aftermarket,May AFM,M004,May Aftermarket,May AFM,M004,May Aftermarket,May AFM
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2813,61497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,M004,May Aftermarket,May AFM,M004,May Aftermarket,May AFM
2814,57626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,M004,May Aftermarket,May AFM,M004,May Aftermarket,May AFM
2815,61637,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,M004,May Aftermarket,May AFM,M004,May Aftermarket,May AFM
2816,59901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,M004,May Aftermarket,May AFM,M004,May Aftermarket,May AFM
2817,3779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,M004,May Aftermarket,May AFM,M004,May Aftermarket,May AFM

In [42]:
df_basecliente.columns

Index(['Solicitante RT', 'N S', 'Oficina de ventas', 'N Of', 'Canal',
       'Sociedad R3', 'No Cambiar Canal', 'Oficina de ventas Enero',
       'Oficina de ventas Enero.1', 'Canal Update Enero',
       'Oficina de ventas Febrero', 'N Of Febrero', 'Canal Update Febrero',
       'Oficina de ventas Marzo', 'N Of Marzo', 'Canal Update Marzo',
       'Oficina de ventas Abril', 'N Of Abril', 'Canal Update Abril',
       'Oficina de ventas Mayo', 'N Of Mayo', 'Canal Update Mayo',
       'Oficina de ventas Junio', 'N Of Junio', 'Canal Update Junio',
       'Oficina de ventas Julio', 'N Of Julio', 'Canal Update Julio',
       'Oficina de ventas Agosto', 'N Of Agosto', 'Canal Update Agosto',
       'Oficina de ventas Septiembre', 'N Of Septiembre',
       'Canal Update Septiembre', 'Oficina de ventas Octubre', 'N Of Octubre',
       'Canal Update Octubre'],
      dtype='object')

In [43]:

df_basecliente.rename(columns={'Canal Update Octubre': 'Canal Update Final'}, inplace=True)
df_basecliente.columns

Index(['Solicitante RT', 'N S', 'Oficina de ventas', 'N Of', 'Canal',
       'Sociedad R3', 'No Cambiar Canal', 'Oficina de ventas Enero',
       'Oficina de ventas Enero.1', 'Canal Update Enero',
       'Oficina de ventas Febrero', 'N Of Febrero', 'Canal Update Febrero',
       'Oficina de ventas Marzo', 'N Of Marzo', 'Canal Update Marzo',
       'Oficina de ventas Abril', 'N Of Abril', 'Canal Update Abril',
       'Oficina de ventas Mayo', 'N Of Mayo', 'Canal Update Mayo',
       'Oficina de ventas Junio', 'N Of Junio', 'Canal Update Junio',
       'Oficina de ventas Julio', 'N Of Julio', 'Canal Update Julio',
       'Oficina de ventas Agosto', 'N Of Agosto', 'Canal Update Agosto',
       'Oficina de ventas Septiembre', 'N Of Septiembre',
       'Canal Update Septiembre', 'Oficina de ventas Octubre', 'N Of Octubre',
       'Canal Update Final'],
      dtype='object')

In [44]:
basecliente1 = df_basecliente[['Solicitante RT', 'Canal Update Final']]
basecliente = basecliente1[['Solicitante RT', 'Canal Update Final']].drop_duplicates()

In [45]:
basecliente.head(2)

  Solicitante RT Canal Update Final
0           3243             FyC 03
1           3247             CES 01

In [46]:
df_sellin.columns

Index(['Ce.', 'Material', 'Texto breve de material', 'CMv', 'Doc.mat.',
       'Fe.contab.', '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.',
       'Cantidad', ' Ctd.en', 'Ctd.UMPP', 'Pedido', 'Texto de clase-mov.',
       'UMP', 'UMB', 'UMP.1', 'Cliente', 'Ult.Eslabón', 'Sector_MU',
       'Nombre Sector'],
      dtype='object')

In [47]:
num_filas = len(df_sellin)
num_filas

28081

In [48]:
df_sellin.columns

Index(['Ce.', 'Material', 'Texto breve de material', 'CMv', 'Doc.mat.',
       'Fe.contab.', '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.',
       'Cantidad', ' Ctd.en', 'Ctd.UMPP', 'Pedido', 'Texto de clase-mov.',
       'UMP', 'UMB', 'UMP.1', 'Cliente', 'Ult.Eslabón', 'Sector_MU',
       'Nombre Sector'],
      dtype='object')

In [49]:
import pandas as pd

# Convertir ambas columnas al mismo tipo (en este caso, string)
df_sellin['Cliente'] = df_sellin['Cliente'].astype(str)
basecliente['Solicitante RT'] = basecliente['Solicitante RT'].astype(str)

# Realizar la fusión
df_sellin = pd.merge(df_sellin, basecliente, left_on='Cliente', right_on='Solicitante RT', how='left')

In [50]:

num_filas = len(df_sellin)
num_filas

28081

In [51]:
df_sellin.drop(columns=['Solicitante RT'], inplace=True)
df_sellin.rename(columns={'Canal Update Final': 'Canal'}, inplace=True)

In [52]:
# df_sellin['Canal'].fillna('Retail', inplace=True)
df_sellin.head(5)

,Ce.,Material,Texto breve de material,CMv,Doc.mat.,Fe.contab.,Ctd.en UME,UME,Importe ML,Mon.,...,Pedido,Texto de clase-mov.,UMP,UMB,UMP.1,Cliente,Ult.Eslabón,Sector_MU,Nombre Sector,Canal
0,714.0,100494,W920/21 F.AC.MANN,643.0,4.905942e+09,14.10.2024,-1,UN,-3453.0,CLP,...,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,nan,100494,29,RALT,NaN
1,714.0,100842,FILTRO.COMB MANN FILTER WK66,643.0,4.905942e+09,14.10.2024,-1,UN,-4765.0,CLP,...,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,nan,100842,29,RALT,NaN
2,714.0,100842,FILTRO.COMB MANN FILTER WK66,643.0,4.905942e+09,14.10.2024,-1,UN,-4765.0,CLP,...,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,nan,100842,29,RALT,NaN
3,714.0,101083,FIL COMB MANN PU1021X,643.0,4.905942e+09,14.10.2024,-1,UN,-3773.0,CLP,...,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,nan,101083,29,RALT,NaN
4,714.0,101086,FILTRO.COMB MANN FILTER P732X,643.0,4.905942e+09,14.10.2024,-1,UN,-5190.0,CLP,...,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,nan,101086,29,RALT,NaN

In [53]:
df_sellin.head(2)

,Ce.,Material,Texto breve de material,CMv,Doc.mat.,Fe.contab.,Ctd.en UME,UME,Importe ML,Mon.,...,Pedido,Texto de clase-mov.,UMP,UMB,UMP.1,Cliente,Ult.Eslabón,Sector_MU,Nombre Sector,Canal
0,714.0,100494,W920/21 F.AC.MANN,643.0,4.905942e+09,14.10.2024,-1,UN,-3453.0,CLP,...,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,nan,100494,29,RALT,NaN
1,714.0,100842,FILTRO.COMB MANN FILTER WK66,643.0,4.905942e+09,14.10.2024,-1,UN,-4765.0,CLP,...,4.600080e+09,Tr.a multisociedades,NaN,UN,UN,nan,100842,29,RALT,NaN

In [54]:
df_sellin['Cliente'] = df_sellin['Cliente'].astype(str)
df_sellin['Cliente'] = df_sellin['Cliente'].replace('nan', np.nan)
df_sellin.loc[df_sellin['Cliente'].isna(), 'Canal'] = 'Retail'
print(df_sellin['Cliente'].isna().sum())

26365

In [55]:
df_sellin['Canal 2'] = df_sellin['Canal']

In [56]:
Valores = ['May AP', 'May AFM', 'May OEM', 'Flotas', 'FyC 03']

In [57]:
df_sellin['Canal 2'].unique

<bound method Series.unique of 0        Retail
1        Retail
2        Retail
3        Retail
4        Retail
          ...
28076    Retail
28077    Retail
28078    Retail
28079    Retail
28080    Retail
Name: Canal 2, Length: 28081, dtype: object>

In [58]:
df_sellin['Canal'] = df_sellin['Canal'].astype(str)
df_sellin['Ce.'] = df_sellin['Ce.'].astype(str)
df_sellin['Cliente'] = df_sellin['Cliente'].astype(str)

In [59]:
df_sellin['Canal 2'] = np.where(df_sellin['Canal 2'].isin(['May AP', 'May AFM', 'May OEM', 'Flotas', 'FyC 03']),'Mayorista', df_sellin['Canal 2'])

In [60]:
df_sellin['Canal 2'] = np.where((df_sellin['Ce.']=='710.0') &  (df_sellin['Canal'] == 'Recasur'), 'CES 01', df_sellin['Canal 2'])

In [61]:
df_sellin.columns

Index(['Ce.', 'Material', 'Texto breve de material', 'CMv', 'Doc.mat.',
       'Fe.contab.', '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.',
       'Cantidad', ' Ctd.en', 'Ctd.UMPP', 'Pedido', 'Texto de clase-mov.',
       'UMP', 'UMB', 'UMP.1', 'Cliente', 'Ult.Eslabón', 'Sector_MU',
       'Nombre Sector', 'Canal', 'Canal 2'],
      dtype='object')

In [62]:
df_sellin['Venta UMB'] = df_sellin['Cantidad']*-1

In [63]:
buscarValoresAFM = ["RALT", "ACC", "BAT", "LUB", "NEU", "RMAQ"]
buscarValoresOEM = ["Great Wall", "Suzuki", "Renault", "Mazda", "Samsung", "Changan", "JAC Cars"]
df_sellin['Tipo' ] = 'Otros'
df_sellin['Forecast AFM'] = 'NO'
canales = ["Mayorista", ]

In [64]:
for i, valor in df_sellin['Nombre Sector'].items():
    if valor == 'AXS':
            df_sellin.at[i, 'Tipo'] = 'AXS'
    elif valor in buscarValoresAFM:
            df_sellin.at[i, 'Tipo'] = 'AFM'
            if df_sellin.at[i, 'Canal 2'] in ['Retail', 'CES 01', 'Mayorista', 'Easy', 'SMU', 'Sodimac', 'Tottus', 'Walmart']:
                df_sellin.at[i, 'Forecast AFM'] = 'SI'
    elif valor in buscarValoresOEM:
            df_sellin.at[i, 'Tipo'] = 'OEM'


    # elif valor in buscarValoresAFM and df_sellin.at[i, 'Canal 2'].isin(['Retail', 'CES 01', 'Mayorista', 'Easy', 'SMU', 'Sodimac', 'Tottus', 'Walmart']): 
    #         df_sellin.at[i, 'Forecast AFM'] = 'SI'

In [65]:
df_sellin.columns

Index(['Ce.', 'Material', 'Texto breve de material', 'CMv', 'Doc.mat.',
       'Fe.contab.', '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.',
       'Cantidad', ' Ctd.en', 'Ctd.UMPP', 'Pedido', 'Texto de clase-mov.',
       'UMP', 'UMB', 'UMP.1', 'Cliente', 'Ult.Eslabón', 'Sector_MU',
       'Nombre Sector', 'Canal', 'Canal 2', 'Venta UMB', 'Tipo',
       'Forecast AFM'],
      dtype='object')

In [66]:
df_sellin['Material'] = df_sellin['Material'].astype(str)
df_sellin['Canal 2'] = df_sellin['Canal 2'].astype(str)
df_sellin['ID']= df_sellin['Material'] + df_sellin['Canal 2']

In [67]:
df_sellin.shape

(28081, 28)

In [68]:
import pandas as pd

# Convertir la columna a string para asegurarnos de que todas las entradas sean tratadas como texto
df_sellin['Fe.contab.'] = df_sellin['Fe.contab.'].astype(str)

# Intentar convertir a datetime con el formato especificado, y forzar las entradas incorrectas a NaT
df_sellin['Fe.contab.'] = pd.to_datetime(df_sellin['Fe.contab.'], format='%d.%m.%Y', errors='coerce')

# Verificar cuántos valores fueron convertidos a NaT
print(df_sellin['Fe.contab.'].isna().sum())

# Mostrar algunas filas con valores NaT para inspección
print(df_sellin[df_sellin['Fe.contab.'].isna()].head())

# Aquí podrías definir una lógica adicional para corregir o eliminar los valores NaT.
# Por ejemplo, podrías intentar un formato diferente o eliminar estas filas:
# df_sellin = df_sellin.dropna(subset=['Fe.contab.'])

# Continuar con la extracción de año, mes y semana
df_sellin['Año'] = df_sellin['Fe.contab.'].dt.year
df_sellin['Mes'] = df_sellin['Fe.contab.'].dt.month
df_sellin['Semana'] = df_sellin['Fe.contab.'].dt.isocalendar().week

0
Empty DataFrame
Columns: [Ce., Material, Texto breve de material, CMv, Doc.mat., Fe.contab.,    Ctd.en UME, UME,      Importe ML, Mon., Cantidad,  Ctd.en, Ctd.UMPP, Pedido, Texto de clase-mov., UMP, UMB, UMP.1, Cliente, Ult.Eslabón, Sector_MU, Nombre Sector, Canal, Canal 2, Venta UMB, Tipo, Forecast AFM, ID]
Index: []

[0 rows x 28 columns]

In [69]:
df_sellin.shape

(28081, 31)

In [70]:
# eliminar = df_sellin.index[-2:]
# df_sellin = df_sellin.drop(eliminar)

In [71]:
df_sellin.columns

Index(['Ce.', 'Material', 'Texto breve de material', 'CMv', 'Doc.mat.',
       'Fe.contab.', '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.',
       'Cantidad', ' Ctd.en', 'Ctd.UMPP', 'Pedido', 'Texto de clase-mov.',
       'UMP', 'UMB', 'UMP.1', 'Cliente', 'Ult.Eslabón', 'Sector_MU',
       'Nombre Sector', 'Canal', 'Canal 2', 'Venta UMB', 'Tipo',
       'Forecast AFM', 'ID', 'Año', 'Mes', 'Semana'],
      dtype='object')

In [72]:

df_sellin.rename(columns={'Semana': 'Semana ISO'}, inplace=True)
df_sellin.rename(columns={'Canal 2': 'Nuevo Canal'}, inplace=True)
df_sellin.head(2)

,Ce.,Material,Texto breve de material,CMv,Doc.mat.,Fe.contab.,Ctd.en UME,UME,Importe ML,Mon.,...,Nombre Sector,Canal,Nuevo Canal,Venta UMB,Tipo,Forecast AFM,ID,Año,Mes,Semana ISO
0,714.0,100494,W920/21 F.AC.MANN,643.0,4.905942e+09,2024-10-14,-1,UN,-3453.0,CLP,...,RALT,Retail,Retail,1.0,AFM,SI,100494Retail,2024,10,42
1,714.0,100842,FILTRO.COMB MANN FILTER WK66,643.0,4.905942e+09,2024-10-14,-1,UN,-4765.0,CLP,...,RALT,Retail,Retail,1.0,AFM,SI,100842Retail,2024,10,42

In [73]:
df_sellin.shape

(28081, 31)

In [76]:
usuario = os.getlogin()
fecha_actual = datetime.datetime.now()
año_actual = fecha_actual.year
mes_actual = fecha_actual.strftime('%m')
dia_actual = fecha_actual.strftime('%d')
semana_actual = fecha_actual.isocalendar()[1]

desktop_dir = os.path.join(os.path.expanduser('~'), 'OneDrive - DERCO CHILE REPUESTOS SpA', 'Downloads')
nombre_archivo = f'{año_actual}-{mes_actual}-{dia_actual} - Semana {semana_actual} Venta Sell In.csv'
ruta_archivo = os.path.join(desktop_dir, nombre_archivo)

df_sellin.to_csv(ruta_archivo, sep=';', decimal=',', index=False)

guardar como excel

In [77]:

desktop_dir = os.path.join(os.path.expanduser('~'), 'OneDrive - DERCO CHILE REPUESTOS SpA', 'Downloads')
nombre_archivo = f'{año_actual}-{mes_actual}-{dia_actual} - Semana {semana_actual} Venta Sell In.xlsx'
ruta_archivo = os.path.join(desktop_dir, nombre_archivo)

df_sellin.to_excel(ruta_archivo, index=False)