In [25]:
import datetime
import os

# Función para encontrar el lunes de la semana pasada y el domingo de esa semana
def obtener_rango_fechas():
    hoy = datetime.date.today()
    # Día de la semana como número, donde lunes es 0 y domingo es 6
    dia_semana = hoy.weekday()
    
    # Calcular el lunes de la semana pasada
    lunes_pasado = hoy - datetime.timedelta(days=dia_semana + 7)
    # Calcular el domingo de la misma semana del lunes pasado
    domingo_pasado = lunes_pasado + datetime.timedelta(days=6)
    
    return lunes_pasado.strftime('%d%m%Y'), domingo_pasado.strftime('%d%m%Y')

# Obtener las fechas de inicio y fin formateadas
fecha_baja, fecha_alta = obtener_rango_fechas()
# fecha_baja = '01042024'
# fecha_alta = '30042024'
usuario = os.path.expanduser('~').split('\\')[-1]

ruta_archivo = f"C:\\Users\\{usuario}\\OneDrive - DERCO CHILE REPUESTOS SpA\\Escritorio\\MB51SELLOUT.vbs"

fecha_baja = "01112024"
fecha_alta = "30112024"

# Crear directorio si no existe
os.makedirs(os.path.dirname(ruta_archivo), exist_ok=True)

# Script VBA con fechas actualizadas
vba_script = f"""
If Not IsObject(application) Then
   Set SapGuiAuto  = GetObject("SAPGUI")
   Set application = SapGuiAuto.GetScriptingEngine
End If
If Not IsObject(connection) Then
   Set connection = application.Children(0)
End If
If Not IsObject(session) Then
   Set session    = connection.Children(0)
End If
If IsObject(WScript) Then
   WScript.ConnectObject session,     "on"
   WScript.ConnectObject application, "on"
End If
session.findById("wnd[0]").maximize
session.findById("wnd[0]/tbar[0]/okcd").text = "mb51"
session.findById("wnd[0]").sendVKey 0
session.findById("wnd[0]/tbar[1]/btn[17]").press
session.findById("wnd[1]/usr/txtV-LOW").text = "/ddasellout"
session.findById("wnd[1]/usr/txtENAME-LOW").text = "etorres"
session.findById("wnd[1]/usr/txtV-LOW").caretPosition = 11
session.findById("wnd[1]/tbar[0]/btn[8]").press
session.findById("wnd[0]/usr/ctxtBUDAT-LOW").text = "{fecha_baja}"
session.findById("wnd[0]/usr/ctxtBUDAT-HIGH").text = "{fecha_alta}"
session.findById("wnd[0]/usr/ctxtBUDAT-HIGH").setFocus
session.findById("wnd[0]/usr/ctxtBUDAT-HIGH").caretPosition = 8
session.findById("wnd[0]/tbar[1]/btn[8]").press
session.findById("wnd[0]/mbar/menu[0]/menu[1]/menu[2]").select
session.findById("wnd[1]/usr/subSUBSCREEN_STEPLOOP:SAPLSPO5:0150/sub:SAPLSPO5:0150/radSPOPLI-SELFLAG[1,0]").select
session.findById("wnd[1]/usr/subSUBSCREEN_STEPLOOP:SAPLSPO5:0150/sub:SAPLSPO5:0150/radSPOPLI-SELFLAG[1,0]").setFocus
session.findById("wnd[1]/tbar[0]/btn[0]").press
session.findById("wnd[1]/usr/ctxtDY_PATH").text = "C:\\Users\\{usuario}\\OneDrive - DERCO CHILE REPUESTOS SpA\\Escritorio\\"
session.findById("wnd[1]/usr/ctxtDY_FILENAME").text = "VtaSellout.csv"
session.findById("wnd[1]/usr/ctxtDY_FILENAME").caretPosition = 15
session.findById("wnd[1]/tbar[0]/btn[11]").press
session.findById("wnd[0]").sendVKey 3
session.findById("wnd[0]").sendVKey 3
"""

# Guardar el script VBA
with open(ruta_archivo, 'w') as file:
    file.write(vba_script)

print("Script VBA guardado exitosamente en:", ruta_archivo)
ruta_archivo = f"C:\\Users\\{usuario}\\OneDrive - DERCO CHILE REPUESTOS SpA\\Escritorio\\MB51SELLOUT.vbs"

# Comando para abrir el archivo VBS con el intérprete predeterminado
os.system(f'start "" "{ruta_archivo}"')

Script VBA guardado exitosamente en: C:\Users\etorres.DERCOPARTS\OneDrive - DERCO CHILE REPUESTOS SpA\Escritorio\MB51SELLOUT.vbs

0

In [26]:
import datetime
import os

In [27]:
import os
import pandas as pd

ruta_csv = os.path.join(os.path.expanduser('~'), 'OneDrive - DERCO CHILE REPUESTOS SpA', 'Escritorio', 'VtaSellout.csv')

# Leer el archivo CSV una vez
df_temp = pd.read_csv(
    ruta_csv,
    sep='\t',
    decimal=',',
    encoding='ISO-8859-1',
    skiprows=2,  # Saltar las dos primeras filas
    usecols=lambda column: column not in [0, 1]  # Excluir columnas 0 y 1
)

SO_MB51 = df_temp

C:\Users\etorres.DERCOPARTS\AppData\Local\Temp\ipykernel_4536\613487620.py:7: DtypeWarning: Columns (1,8,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df_temp = pd.read_csv(

In [28]:

if 'Cantidad' not in SO_MB51.columns:
    for col in SO_MB51.columns:
        if 'Cantidad' in col:
            SO_MB51.rename(columns={col: 'Cantidad'}, inplace=True)
            break

SO_MB51.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Ce.', 'Material',
       'Texto breve de material', 'CMv', 'Doc.mat.', 'Fe.contab.',
       '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.', 'Cantidad', 'Ctd.en',
       'Ctd.UMPP', 'Pedido', 'Txt clase-mov.', 'UMP', 'UMB', 'UMP.1',
       'Cliente'],
      dtype='object')

In [29]:
SO_MB51.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Ce.', 'Material',
       'Texto breve de material', 'CMv', 'Doc.mat.', 'Fe.contab.',
       '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.', 'Cantidad', 'Ctd.en',
       'Ctd.UMPP', 'Pedido', 'Txt clase-mov.', 'UMP', 'UMB', 'UMP.1',
       'Cliente'],
      dtype='object')

In [30]:
SO_MB51

,Unnamed: 0,Unnamed: 1,Ce.,Material,Texto breve de material,CMv,Doc.mat.,Fe.contab.,Ctd.en UME,UME,...,Mon.,Cantidad,Ctd.en,Ctd.UMPP,Pedido,Txt clase-mov.,UMP,UMB,UMP.1,Cliente
0,NaN,NaN,0445,100487.0,W68/80 F.AC.MANN,251.0,4.905961e+09,01.11.2024,-1,UN,...,CLP,-1,NaN,NaN,NaN,SM para ventas,NaN,UN,NaN,TI0445
1,NaN,NaN,0411,100498.0,W712/12 F.AC.MANN,251.0,4.905961e+09,01.11.2024,-1,UN,...,CLP,-1,NaN,NaN,NaN,SM para ventas,NaN,UN,NaN,TI0411
2,NaN,NaN,0448,100505.0,FIL ACEITE MANN WP928/83,251.0,4.905961e+09,01.11.2024,-1,UN,...,CLP,-1,NaN,NaN,NaN,SM para ventas,NaN,UN,NaN,TI0448
3,NaN,NaN,0475,100540.0,FIL ACEITE MANN W718,251.0,4.905961e+09,01.11.2024,-1,UN,...,CLP,-1,NaN,NaN,NaN,SM para ventas,NaN,UN,NaN,TI0475
4,NaN,NaN,0428,100842.0,FILTRO.COMB MANN FILTER WK66,251.0,4.905961e+09,01.11.2024,-1,UN,...,CLP,-1,NaN,NaN,NaN,SM para ventas,NaN,UN,NaN,TI0428
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
374638,NaN,NaN,0472,1171968.0,PACK SIMONIZ BASICO SET 3 PC,251.0,4.905991e+09,30.11.2024,-1,UN,...,CLP,-1.0,NaN,NaN,NaN,SM para ventas,NaN,UN,NaN,TI0472
374639,NaN,NaN,0472,1171969.0,PACK SIMONIZ INTERMEDIO SET 4 PC,251.0,4.905991e+09,30.11.2024,-1,UN,...,CLP,-1.0,NaN,NaN,NaN,SM para ventas,NaN,UN,NaN,TI0472
374640,NaN,NaN,0448,1171970.0,PACK SIMONIZ AVANZADO SET 5 PC,252.0,4.905991e+09,30.11.2024,1,UN,...,CLP,1.0,NaN,NaN,NaN,DM para ventas,NaN,UN,NaN,TI0448
374641,NaN,NaN,0448,1171970.0,PACK SIMONIZ AVANZADO SET 5 PC,251.0,4.905991e+09,30.11.2024,-2,UN,...,CLP,-2.0,NaN,NaN,NaN,SM para ventas,NaN,UN,NaN,TI0448
374642,NaN,*,NaN,NaN,NaN,NaN,NaN,NaN,-570.827,UN,...,CLP,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
# Calcular la suma de la columna 'Ctd.en UME'
SO_MB51['Cantidad']=SO_MB51['Cantidad'].astype(float)
suma_cantidad = SO_MB51['Cantidad'].sum()
# Mostrar la suma
print("La suma de la columna 'cantidad' es:", suma_cantidad)

La suma de la columna 'cantidad' es: -569758.0700000001

In [32]:

# import pandas as pd

# # Lista con los nombres de las nuevas columnas
# nuevas_columnas = [
#     'Canal', 'Venta UMB', 'R3 Mara', 'Sector Mara', 'Nombre Sector', 'Tipo',
#     'R3 Vigencia', 'Sector Vigencia', 'VF', 'ID', 'BVA', 'BVN',
#     'Forecast AFM?', 'Forecast OEM', 'Forecast AXS?', 'División',
#     'Valor Libro', 'Costo', 'BV', 'Ult. Eslabón', 'ID', 'Canal 2', 'Semana'
# ]

# # Agregar las nuevas columnas al DataFrame con valores NaN o cualquier otro valor por defecto
# for columna in nuevas_columnas:
#     SO_MB51[columna] = pd.NA  # o puedes usar np.nan si prefieres

# # Ahora el DataFrame SO_MB51 tiene las nuevas columnas añadidas al final

In [33]:
SO_MB51.head(2)

,Unnamed: 0,Unnamed: 1,Ce.,Material,Texto breve de material,CMv,Doc.mat.,Fe.contab.,Ctd.en UME,UME,...,Mon.,Cantidad,Ctd.en,Ctd.UMPP,Pedido,Txt clase-mov.,UMP,UMB,UMP.1,Cliente
0,NaN,NaN,0445,100487.0,W68/80 F.AC.MANN,251.0,4.905961e+09,01.11.2024,-1,UN,...,CLP,-1.0,NaN,NaN,NaN,SM para ventas,NaN,UN,NaN,TI0445
1,NaN,NaN,0411,100498.0,W712/12 F.AC.MANN,251.0,4.905961e+09,01.11.2024,-1,UN,...,CLP,-1.0,NaN,NaN,NaN,SM para ventas,NaN,UN,NaN,TI0411

In [34]:
import os
import pandas as pd
import datetime
import glob

usuario = os.path.expanduser('~').split('\\')[-1]
año_actual = datetime.datetime.now().year
mes_actual = datetime.datetime.now().strftime('%m')

ruta_directorio = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\{año_actual}\\{año_actual}-{mes_actual}\\MaestrosCSV\\"
archivos_mara = glob.glob(os.path.join(ruta_directorio, "*MARA*.csv"))

if archivos_mara:
    archivo_mara = archivos_mara[0]
    mara = pd.read_csv(archivo_mara, sep=';')
else:
    print("No se encontró ningún archivo que contenga 'MARA' en el nombre en el directorio especificado.")

In [35]:
ruta_directorio

'C:\\Users\\etorres.DERCOPARTS\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\2024\\2024-12\\MaestrosCSV\\'

In [36]:
SO_MB51.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Ce.', 'Material',
       'Texto breve de material', 'CMv', 'Doc.mat.', 'Fe.contab.',
       '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.', 'Cantidad', 'Ctd.en',
       'Ctd.UMPP', 'Pedido', 'Txt clase-mov.', 'UMP', 'UMB', 'UMP.1',
       'Cliente'],
      dtype='object')

In [37]:
# Calcular la suma de la columna 'Ctd.en UME'
suma_cantidad = SO_MB51['Cantidad'].sum()
# Mostrar la suma
print("La suma de la columna 'cantidad' es:", suma_cantidad)

La suma de la columna 'cantidad' es: -569758.0700000001

In [38]:
SO_MB51['Material'] = SO_MB51['Material'].astype(str).str.replace(r'\.0$', '', regex=True)
sellout = SO_MB51
# Ruta del archivo Excel
import os
import pandas as pd
import datetime
import glob

usuario = os.path.expanduser('~').split('\\')[-1]
año_actual = datetime.datetime.now().year
mes_actual = datetime.datetime.now().strftime('%m')

ruta_directorio = f"C:\\Users\\{usuario}\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\{año_actual}\\{año_actual}-{mes_actual}\\MaestrosCSV\\"
archivos_cod = glob.glob(os.path.join(ruta_directorio, "*COD*.csv"))

if archivos_cod:
    archivo_cod = archivos_cod[0]
    ultimoeslabon = pd.read_csv(archivo_cod, delimiter=';', encoding='latin-1', decimal=',')
else:
    print("No se encontró ningún archivo que contenga 'COD' en el nombre en el directorio especificado.")


ulteslabon = ultimoeslabon.loc[:, ['Nro_pieza_fabricante_1', 'Cod_Actual_1']]
# Combinar los DataFrames mediante la columna 'Material' en 'sellout' y 'Nro_pieza_fabricante_1' en 'ulteslabon'
sellout = sellout.merge(ulteslabon[['Nro_pieza_fabricante_1', 'Cod_Actual_1']], how='left', left_on='Material', right_on='Nro_pieza_fabricante_1')

# Llenar los valores faltantes en 'Cod_Actual_1' con los valores de 'Material'
sellout['Cod_Actual_1'].fillna(sellout['Material'], inplace=True)

# Eliminar la columna 'Nro_pieza_fabricante_1' ya que ya no es necesaria
sellout.drop(columns=['Nro_pieza_fabricante_1'], inplace=True)
# Renombrar la columna 'Cod_Actual_1' a 'Ult.Eslabón'
sellout.rename(columns={'Cod_Actual_1': 'Ult.Eslabón'}, inplace=True)

C:\Users\etorres.DERCOPARTS\AppData\Local\Temp\ipykernel_4536\3410330401.py:28: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  sellout['Cod_Actual_1'].fillna(sellout['Material'], inplace=True)

In [39]:
ruta_directorio

'C:\\Users\\etorres.DERCOPARTS\\DERCO CHILE REPUESTOS SpA\\Planificación y abastecimiento - Documentos\\Planificación y Compras Maestros\\2024\\2024-12\\MaestrosCSV\\'

In [40]:
# Calcular la suma de la columna 'Ctd.en UME'
suma_cantidad = SO_MB51['Cantidad'].sum()
# Mostrar la suma
print("La suma de la columna 'cantidad' es:", suma_cantidad)

La suma de la columna 'cantidad' es: -569758.0700000001

In [41]:
mara

,Material_S4,Creado_el,Sector_MU,Nombre_Sector,Marca,Marca_txt,Texto_breve_material
0,159081,2019-04-02,54,RMAQ,636.0,NEXEN,CAMARA 7.50X16 VALVULA TR218A
1,1143617,2022-08-03,48,ACC,1371.0,NOMADE,CAJA PORTAEQUIPAJE PARA AUTO 450 LTS
2,1172010,2024-11-13,48,ACC,13.0,MOTORLIFE,PARAGUA AUTOPLANET TEMPORADA 2025
3,154856,2019-04-02,29,RALT,580.0,ASAHI,JG. MET. BAN MS1208A STD
4,341259,2019-02-16,48,ACC,146.0,AUTOSTYLE,AMP HB3/9005 12V65W(P20D)STD-BL1 CJ10UN
...,...,...,...,...,...,...,...
451814,1127257,2021-12-27,48,ACC,1163.0,SMART CHOICE,CAMARA DE RETROCESO SMART CHOICE 1
451815,151262,2019-02-16,54,RMAQ,100.0,AGPO,CHAPA CONTACTO C/ENCENDIDO FRI
451816,121722,2019-02-16,29,RALT,17.0,DGP,CRR AUX DGP SZ SAMURAI 1.3 87/96
451817,155909,2019-03-31,54,RMAQ,46.0,KOYO,ROD KOYO 6003 ZZ UN
451818,1040176,2019-11-06,54,RMAQ,1267.0,MARCA ALTERNATIVA,TAPA GRASA

In [42]:
mara.rename(columns={'Nombre_Sector': 'Nombre Sector'}, inplace=True)
mara['Material_S4'] = mara['Material_S4'].astype(str)
mara_reducido = mara[['Material_S4', 'Nombre Sector', 'Sector_MU']]

# Realizar el merge
sellout = pd.merge(sellout, mara_reducido, left_on='Ult.Eslabón', right_on='Material_S4', how='left')

In [43]:
sellout.drop(columns=['Material_S4'], inplace=True)
# Mostrar las primeras filas del DataFrame resultante para verificarcomo puedo saber cuantas columna tiene mi dataframe sellout
sellout.shape
sellout.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Ce.', 'Material',
       'Texto breve de material', 'CMv', 'Doc.mat.', 'Fe.contab.',
       '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.', 'Cantidad', 'Ctd.en',
       'Ctd.UMPP', 'Pedido', 'Txt clase-mov.', 'UMP', 'UMB', 'UMP.1',
       'Cliente', 'Ult.Eslabón', 'Nombre Sector', 'Sector_MU'],
      dtype='object')

In [44]:
import pandas as pd

# Asegúrate de que el DataFrame está cargado correctamente
if 'sellout' in globals() and 'Nombre Sector' in sellout.columns:
    # Asumiendo que 'sellout' es tu DataFrame ya cargado

    # Paso 1: Preparar los datos, asegurando que no hay valores NaN en la columna 'Nombre Sector'
    sellout['Nombre Sector'] = sellout['Nombre Sector'].fillna('')  # Asegurar que no hay valores NaN

    # Paso 2: Crear nuevas columnas con valores predeterminados
    sellout['Canal'] = 'Retail'
    sellout['Tipo'] = 'Otros'
    sellout['Forecast AFM'] = 'NO'
    sellout['Forecast OEM'] = 'NO'
    sellout['Venta UMB'] = sellout['Cantidad']*-1

    # Definir las listas de valores a buscar
    buscarValoresAFM = ["RALT", "ACC", "BAT", "LUB", "NEU", "RMAQ"]
    buscarValoresOEM = ["Great Wall", "Suzuki", "Renault", "Mazda", "Samsung", "Changan", "JAC Cars"]

In [45]:
# Calcular la suma de la columna 'Ctd.en UME'
suma_cantidad = SO_MB51['Cantidad'].sum()
# Mostrar la suma
print("La suma de la columna 'cantidad' es:", suma_cantidad)

La suma de la columna 'cantidad' es: -569758.0700000001

In [46]:
sellout.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Ce.', 'Material',
       'Texto breve de material', 'CMv', 'Doc.mat.', 'Fe.contab.',
       '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.', 'Cantidad', 'Ctd.en',
       'Ctd.UMPP', 'Pedido', 'Txt clase-mov.', 'UMP', 'UMB', 'UMP.1',
       'Cliente', 'Ult.Eslabón', 'Nombre Sector', 'Sector_MU', 'Canal', 'Tipo',
       'Forecast AFM', 'Forecast OEM', 'Venta UMB'],
      dtype='object')

In [47]:
for i, valor in sellout['Nombre Sector'].items():
    if valor == 'AXS':
            sellout.at[i, 'Tipo'] = 'AXS'
    elif valor in buscarValoresAFM:
            sellout.at[i, 'Tipo'] = 'AFM'
            sellout.at[i, 'Forecast AFM'] = 'SI'
    elif valor in buscarValoresOEM:
            sellout.at[i, 'Tipo'] = 'OEM'
            sellout.at[i, 'Forecast OEM'] = 'SI'

In [48]:
sellout.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Ce.', 'Material',
       'Texto breve de material', 'CMv', 'Doc.mat.', 'Fe.contab.',
       '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.', 'Cantidad', 'Ctd.en',
       'Ctd.UMPP', 'Pedido', 'Txt clase-mov.', 'UMP', 'UMB', 'UMP.1',
       'Cliente', 'Ult.Eslabón', 'Nombre Sector', 'Sector_MU', 'Canal', 'Tipo',
       'Forecast AFM', 'Forecast OEM', 'Venta UMB'],
      dtype='object')

In [49]:
# # Asumiendo que 'sellout' ya está definido y tiene las columnas correctas
# if 'sellout' in globals() and 'Nombre Sector' in sellout.columns:
#     # Paso 4: Calcular la semana en una nueva columna 'Semana'
#     # Especifica el formato correcto de la fecha
#     sellout['Semana'] = pd.to_datetime(sellout['Fe.contabilización'], format='%d-%m-%Y').dt.isocalendar().week

#     # Paso 5: Llenar la columna 'Canal 2' con "CL RETAIL"
#     sellout['Canal 2'] = 'CL RETAIL'
    
# else:
#     print("El DataFrame 'sellout' no está definido o la columna 'Nombre Sector' no existe.")
# sellout['ID'] = sellout['Ult.Eslabón'].astype(str) + sellout['Canal 2']

In [50]:
# Calcular la suma de la columna 'Ctd.en UME'
suma_cantidad = SO_MB51['Cantidad'].sum()
# Mostrar la suma
print("La suma de la columna 'cantidad' es:", suma_cantidad)

La suma de la columna 'cantidad' es: -569758.0700000001

In [51]:
selloutx=SO_MB51['Fe.contab.'].unique()
selloutx

array(['01.11.2024', '02.11.2024', '03.11.2024', '04.11.2024',
       '05.11.2024', '06.11.2024', '07.11.2024', '08.11.2024',
       '09.11.2024', '10.11.2024', '11.11.2024', '12.11.2024',
       '13.11.2024', '14.11.2024', '15.11.2024', '16.11.2024',
       '17.11.2024', '18.11.2024', '19.11.2024', '20.11.2024',
       '21.11.2024', '22.11.2024', '23.11.2024', '24.11.2024',
       '25.11.2024', '26.11.2024', '27.11.2024', '28.11.2024',
       '29.11.2024', '30.11.2024', nan], dtype=object)

In [52]:
# Asumiendo que 'sellout' ya está definido y tiene las columnas correctas
if 'sellout' in globals() and 'Nombre Sector' in sellout.columns:
    # Paso 4: Calcular la semana en una nueva columna 'Semana'
    # Especifica el formato correcto de la fecha
    sellout['Semana'] = pd.to_datetime(sellout['Fe.contab.'], format='%d.%m.%Y').dt.isocalendar().week

    # Paso 5: Llenar la columna 'Canal 2' con "CL RETAIL"
    sellout['Canal 2'] = 'CL RETAIL'
    
else:
    print("El DataFrame 'sellout' no está definido o la columna 'Nombre Sector' no existe.")
sellout['ID'] = sellout['Ult.Eslabón'].astype(str) + sellout['Canal 2']

In [53]:
# Calcular la suma de la columna 'Ctd.en UME'
suma_cantidad = SO_MB51['Cantidad'].sum()
# Mostrar la suma
print("La suma de la columna 'cantidad' es:", suma_cantidad)

La suma de la columna 'cantidad' es: -569758.0700000001

crear ID

In [54]:
sellout.head(2)

,Unnamed: 0,Unnamed: 1,Ce.,Material,Texto breve de material,CMv,Doc.mat.,Fe.contab.,Ctd.en UME,UME,...,Nombre Sector,Sector_MU,Canal,Tipo,Forecast AFM,Forecast OEM,Venta UMB,Semana,Canal 2,ID
0,NaN,NaN,0445,100487,W68/80 F.AC.MANN,251.0,4.905961e+09,01.11.2024,-1,UN,...,RALT,29,Retail,AFM,SI,NO,1.0,44,CL RETAIL,100487CL RETAIL
1,NaN,NaN,0411,100498,W712/12 F.AC.MANN,251.0,4.905961e+09,01.11.2024,-1,UN,...,RALT,29,Retail,AFM,SI,NO,1.0,44,CL RETAIL,100498CL RETAIL

In [55]:
sellout.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'Ce.', 'Material',
       'Texto breve de material', 'CMv', 'Doc.mat.', 'Fe.contab.',
       '   Ctd.en UME', 'UME', '     Importe ML', 'Mon.', 'Cantidad', 'Ctd.en',
       'Ctd.UMPP', 'Pedido', 'Txt clase-mov.', 'UMP', 'UMB', 'UMP.1',
       'Cliente', 'Ult.Eslabón', 'Nombre Sector', 'Sector_MU', 'Canal', 'Tipo',
       'Forecast AFM', 'Forecast OEM', 'Venta UMB', 'Semana', 'Canal 2', 'ID'],
      dtype='object')

In [56]:
# # Especifica la ruta donde deseas guardar el archivo Excel
# ruta_excel2 = r'C:\Users\Etorres\Desktop\CicloMay24\VentaSellOut\datos_sellout2.xlsx'
# # Guardar el DataFrame como un archivo Excel
# try:
#     sellout.to_excel(ruta_excel2, index=False, engine='openpyxl')
#     print(f"Archivo guardado exitosamente en: {ruta_excel2}")
# except Exception as e:
#     print(f"Error al guardar el archivo: {e}")

In [57]:
from datetime import datetime
import os
current_month = datetime.now().strftime("%B")
desktop_dir = os.path.join(os.path.expanduser("~"), 'Downloads')


sellout_csv = sellout

# Eliminar ".0" al final de los valores en las columnas 'Cantidad' y 'Venta UMB' solo si terminan en ".0"
sellout_csv['Cantidad'] = sellout_csv['Cantidad'].apply(lambda x: str(x)[:-2] if str(x).endswith('.0') else x)
sellout_csv['Venta UMB'] = sellout_csv['Venta UMB'].apply(lambda x: str(x)[:-2] if str(x).endswith('.0') else x)

# Guardar el DataFrame modificado en un archivo CSV
sellout_csv.to_csv(os.path.join(desktop_dir, f'Sell Out {current_month}.csv'), sep=';', index=False)

In [58]:
desktop_dir

'C:\\Users\\etorres.DERCOPARTS\\Downloads'

In [59]:
import os
import pandas as pd
from datetime import datetime

current_month = datetime.now().strftime("%B")
desktop_dir = os.path.join(os.path.expanduser("~"), 'Downloads')

# Suponiendo que 'sellout' es el DataFrame que contiene la columna 'Cantidad'
sellout['Cantidad'] = sellout['Cantidad'].astype(str).str.replace(',', '')
sellout['Venta UMB'] = sellout['Venta UMB'].astype(str).str.replace(',', '')
sellout['Cantidad'] = pd.to_numeric(sellout['Cantidad'], errors='coerce')

# Reemplazar valores NaN o infinitos con 0
sellout['Cantidad'] = sellout['Cantidad'].fillna(0)

# Redondear los valores antes de convertir a enteros
sellout['Cantidad'] = sellout['Cantidad'].round().astype(int)
# Guardar el DataFrame modificado en un archivo Excel
sellout.to_excel(os.path.join(desktop_dir, f'Sell Out {current_month}.xlsx'), index=False)

In [60]:
desktop_dir

'C:\\Users\\etorres.DERCOPARTS\\Downloads'

In [61]:


# # Convertir los valores a float primero para manejar decimales
# sellout['Cantidad'] = sellout['Cantidad'].astype(float)

# # Redondear los valores antes de convertir a enteros
# sellout['Cantidad'] = sellout['Cantidad'].round().astype(int)

# # Guardar el DataFrame modificado en un archivo Excel
# sellout.to_excel(os.path.join(desktop_dir, f'Sell Out {current_month}.xlsx'), index=False)